<%= form_for @generic_file, :url => generic_file_path, :html => {:multipart => true, :class => 'form-horizontal', :id => 'fileupload'} do |f| %>
<%= hidden_field_tag('generic_file[terms_of_service]', '1') %>
<div id="descriptions_display">
  <h2 class="non lower">Descriptions</h2>
    <div class="well">

      <div class="control-group">
        <%= f.label :resource_type, "Resource Types", :class=>"control-label", :for=>"resource_type" %>
        <div class="controls">
          <%= f.select "resource_type", options_for_select(ScholarSphere::Application::config.resource_types.keys, @generic_file.resource_type.to_a), {}, {:multiple=>true, :size=>7} %>
          <p class="help-block">You may select multiple types to apply<p>
        </div>
      </div><!-- /control-group -->

      <% @terms.each do |t| %>
        <% next if t.empty? %>
        <% key = t.to_s.split("generic_file__").last %>
        <%# consider these fields to be uneditable via the web form %>
        <% next if ['part_of', 'date_modified', 'date_uploaded', 'format', 'resource_type'].include?(key) %>
        <% logger.info "!!!! Generic file has no method #{key}" unless @generic_file.respond_to?(key) %>
        <% if @generic_file.respond_to?(key) %>
          <% vals =  @generic_file.send(key) %>
          <% # not an arry lets just shove it in one %>
          <% vals = [vals] unless vals.is_a?(Array) %>
          <%# if vals is zero we create an empty array to loop over for output %>
          <% vals = [''] if vals.count == 0 %>
          <% vals.each_with_index do |v, index| %>
            <%# a hacky way to change selected fields' labels %>
            <% label = nil %>
            <% label = "Location" if key == "based_near" %>
            <% label = "Keyword" if key == "tag" %>
            <div class="control-group">
              <% if label %>
                <%= f.label key, label, :class=>"control-label" %>
              <% else %>
                <%= f.label key, :class=>"control-label" %>
              <% end %>
              <div class="controls" <% if index == 0%> id="additional_<%= key %>_clone" <% end %>>
                <% if key == "description" %>
                  <%= f.text_area :description, :name=>"generic_file[#{key}][]", :id => "generic_file_"+key, :value=>v, :class => "input-large" %>
                <% elsif key == "rights" %>
                  <%= f.select "rights", options_for_select(ScholarSphere::Application::config.cc_licenses, @generic_file.rights.to_a) %>
                <% else %>
                  <%= f.text_field :title, :name=>"generic_file[#{key}][]", :id => "generic_file_"+key, :value=>v, :class => "input-large" %>
                <% end %>
                <% if index == 0 %>
                  <%= f.submit :value => "+", :name=> "additional_#{key}", :id => "additional_#{key}_submit", :class => "adder btn"  %>&nbsp;
                  <a href="#" id="generic_file_<%= key %>_help" rel="popover" data-content="<%= ScholarSphere::Application.config.metadata_help['generic_file_' + key] %>" data-original-title="<%= key.humanize %>">Help</a>
                <% end %>
              </div><!-- /controls -->
              <div id="additional_<%= key %>_elements"></div>
            </div><!-- /control-group -->
          <% end %>
        <% end %>
      <% end %>

    </div><!-- /well -->
  <div class="row">
    <div class="form-actions"><%= f.submit "Save Descriptions", :name => "update_descriptions", :id => "upload_submit", :class => "btn-primary" %></div>
  </div>
</div><!-- /row /span6 -->
<% end %>
