<% render_req ||= true # render_req is true for single file edit, false for batch edit %>

<% record = generic_file %>

<div class="batch-group">
  <% required = render_req && record.required?(key) %>
  <% single = f.object.class.unique?(key) %>

  <% if render_req && required?(key) %>
    <% tmp = '<span class="required-field">*</span>' + get_label(key) %>
    <%= f.label key, tmp.html_safe  %>
  <% else %>
    <%= f.label key, get_label(key) %>
  <% end %>
  <%= help_icon(key) %>

  <% if partial_exists?("generic_files/edit_fields/_#{key}") ||
        partial_exists?("records/edit_fields/_#{key}") %>
    <%= render_edit_field_partial(key, f: f, record: record, required: required, label_for_field: false, single: single) %>
  <% else %>
    <% opts = { label: false, required: required } %>

    <% if single %>
      <% opts = opts.merge(input_html: { class: 'listing' }) %>
      <div class='single_value'>
        <%= f.input key, opts %>
      </div>
    <% else %>
      <% opts = opts.merge(as: :multi_value) %>
      <%= f.input key, opts %>
    <% end %>

  <% end %>
</div>
