<tr class="document <%= cycle("even","odd") %>">
  <td>
    <%#= link_to document[:title_t], generic_file_path(document[:id]) %> 
    <%= link_to document[:label_t], generic_file_path(document[:id]) %> 
    <%#= document.inspect %>
  </td>
  <td>

  </td>
  <td>
    <%= DateTime.parse(document.fetch(:system_create_dt,nil)).to_time %>
  </td>
  <td>
    <%= (document.fetch(:medium_t,nil) || document_type(document)).gsub("Hydrangea","") %>
  </td>
  <td>
    <%= get_file_asset_count(document)%>
  </td>
  <td>
    Created
  </td>
</tr>
<tr class="document detail">
  <td colspan="6">
    <dl>
      <dt>Title</dd>
      <dd>
        <%= link_to document[:title_t], generic_file_path(document[:id]) %> 
      </dd>
      <dt>Creator</dd>
      <dd>
        <%= document[:creator_t] %> 
      </dd>
      <dt>Contributor</dd>
      <dd>
        <%= document[:contributor_t] %> 
      </dd>
    </dl>
  </td>
</tr>
