<% public_included = false %>
<% registered_included = false %>
<% depositor = gf.depositor || GenericFile.find(:is_part_of_s => "info:fedora/#{batch.pid}").first.depositor %>
<h2>Share With</h2>
  <div class="control-group" id="owner_permissions">
    <div class="controls">
      <%= label_tag :owner_access, "Owner (#{depositor}) Access", :class=>"control-label" %>
      <%= select_tag "owner", options_for_select(ScholarSphere::Application::config.owner_permission_levels), {:disabled => true} %>
      <span>You may not change your edit permission</span>
    </div>
  </div>

<% gf.permissions.each do |permission| %>
  <% public_included = true if permission[:name].downcase == 'public' %>
  <% registered_included = true if permission[:name].downcase == 'registered' %>

  <% next if depositor == permission[:name] %>
    <div class="control-group">
      <div class="controls">
      <%
         label = case permission[:name]
         when "public"
           "Public"
         when "registered"
           "Penn State"
         else
           permission[:name]
         end
      %>
      <%= label_tag "generic_file[permissions][#{permission[:type]}][#{permission[:name]}]", label, :class=>"control-label" %>
      <% if ['public', 'registered'].include?(permission[:name].downcase) %>
        <%= select_tag "generic_file[permissions][#{permission[:type]}][#{permission[:name]}]", options_for_select(ScholarSphere::Application::config.public_permission_levels, permission[:access]), :class=>'small' %>
      <% else %>
        <%= select_tag "generic_file[permissions][#{permission[:type]}][#{permission[:name]}]", options_for_select(ScholarSphere::Application::config.permission_levels, permission[:access]), :class=>'small' %>
      <% end %>
      </div>
    </div>
<% end %>
<%# handle special groups %>
<% unless public_included %>
    <div class="control-group">
      <div class="controls">
        <%= label_tag "generic_file[permissions][group][public]", "Public", :class=>"control-label" %>
        <%= select_tag "generic_file[permissions][group][public]", options_for_select(ScholarSphere::Application::config.public_permission_levels, "No Access"), :class=>'small' %>
      </div>
    </div> 
<% end %>
<% unless registered_included %>
    <div class="control-group"> 
      <div class="controls">
        <%= label_tag "generic_file[permissions][group][registered]", "Penn State", :class=>"control-label" %>
        <%= select_tag "generic_file[permissions][group][registered]", options_for_select(ScholarSphere::Application::config.public_permission_levels, "No Access"), :class=>'small' %>
      </div>
    </div> 
<% end %>

  <div class="control-group" id="new-group"> 
    <%= label_tag 'new_group_name_skel', "Group", :class=>"control-label" %>
    <div class="controls">
      <%= text_field_tag 'new_group_name_skel' %>
      <%= select_tag 'new_group_permission_skel', options_for_select(ScholarSphere::Application::config.permission_levels) %>
      <span id="directory_group_result"></span>
    </div>
    <div id="new_group_list">
  </div>

  <div class="control-group" id="new-user"> 
    <%= label_tag 'new_user_name_skel', "User", :class=>"control-label" %>
    <div class="controls">
      <%= text_field_tag 'new_user_name_skel' %>
      <%= select_tag 'new_user_permission_skel', options_for_select(ScholarSphere::Application::config.permission_levels) %>
      <span id="directory_user_result"></span>
    </div>
  </div>
  <div id="new_user_list">
  </div>

