<% depositor = gf.depositor || GenericFile.find(:is_part_of_s => "info:fedora/#{batch.pid}").first.depositor %>
<% public_perm = gf.permissions.map { |perm| perm[:access] if perm[:name] == "public"}.compact.first %>
<% psu_perm = gf.permissions.map { |perm| perm[:access] if perm[:name] == "registered"}.compact.first %>
  <div id="permissions_display">
<input type="hidden" name="generic_file[permissions][group][public]" value="1" />
<input type="hidden" name="generic_file[permissions][group][registered]" value="2" />
<h2>Permissions</h2>
<div class="alert hide" id="save_perm_note">Permissions are <strong>not</strong> saved until the &quot;Save Permissions&quot; button is pressed.</div>
<div class="well">
  <div class="control-group">
    <label for="" class="control-label"><h3>Visibility</h3></label> 
      <div class="controls">
<% ua = request.env['HTTP_USER_AGENT'] %>
<% if !!(ua =~ /Chrome/) %>
      <div class="btn-group" data-toggle="buttons-radio" >
        <button type="button" class="btn btn-success<% if !public_perm.blank? %> active<% end %>" data-toggle="button">
          Open Access 
          <input type="radio" name="visibility" value="open" <% if !public_perm.blank? %> checked="true"<% end %>/>
        </button>
        <button type="button" class="btn btn-primary<% if !psu_perm.blank? %> active<% end %> " data-toggle="button">
          Penn State 
          <input type="radio" name="visibility" value="psu" <% if !psu_perm.blank? %> checked="true"<% end %> />
        </button>
        <button type="button" class="btn btn-danger<% if psu_perm.blank? and public_perm.blank?%> active<% end %>" data-toggle="button">
          Private
          <input type="radio" name="visibility" value="restricted"<% if psu_perm.blank? and public_perm.blank?%> checked="true"<% end %> /> 
        </button>
      </div>
<% else %>
        <label class="radio">
          <input type="radio" name="visibility" value="open" <% if !public_perm.blank? %> checked="true"<% end %>/> <span class="label label-success">Open Access</span>
        </label>
        <label class="radio">
          <input type="radio" name="visibility" value="psu" <% if !psu_perm.blank? %> checked="true"<% end %> /><span class="label label-info">Penn State</span>
        </label>
        <label class="radio">
          <input type="radio" name="visibility" value="restricted"<% if psu_perm.blank? and public_perm.blank?%> checked="true"<% end %> /> <span class="label label-important">Private</span>
        </label>
<% end %>
    </div><!-- /.controls -->
  </div><!-- /.control-group --> 
  <div class="row">
    <label class="control-label"><h3>Share With</h3></label>
  </div>
  <div class="row control-group">
    <div id="new-group" >
      <% @groups.unshift('Select a group') %>
      <%= select_tag 'new_group_name_skel', options_for_select(@groups), :class => 'span40' %>
      <%= select_tag 'new_group_permission_skel', options_for_select(ScholarSphere::Application::config.permission_levels), :class => 'span20' %>
      <br /><span id="directory_group_result"></span>
    </div>
  </div>
  <div class="control-group">
    <div id="new-user"> 
      <div class="input-append">
      
        <%= text_field_tag 'new_user_name_skel', nil, :class => "span31" %><span class="add-on">@psu.edu</span>
          <%= select_tag 'new_user_permission_skel', options_for_select(ScholarSphere::Application::config.permission_levels), :class=> 'span20' %>
         <br /> <span id="directory_user_result"></span> 
        <p class="help-block">Enter Penn State Access Account Id (one at a time)</p>
      </div>
    </div>
  </div>
</div><!-- /.well -->
<table class="table table-bordered"> 
  <tr> 
    <th>Person/Group</th>
    <th>Access Level</th>
  </tr>
  <tr id="file_permissions">
    <td><%= label_tag :owner_access, "Owner (#{depositor})", :class=>"control-label" %></td>
    <td>
    <%= ScholarSphere::Application::config.owner_permission_levels.keys[0] %>
    </td>
  </tr>
  <% gf.permissions.each do |permission| %>
    <%-# skip the public, penn state (aka registered), and depositor perms as they are displayed first at the top -%>
    <% next if permission[:name].downcase == 'public' %>
    <% next if permission[:name].downcase == 'registered' %>
    <% next if permission[:name].downcase == depositor %>
    <tr>
      <td><%= label_tag "generic_file[permissions][#{permission[:type]}][#{permission[:name]}]", permission[:name], :class=>"control-label" %></td>
      <td>
      <div class="span30">
                <%= select_tag "generic_file[permissions][#{permission[:type]}][#{permission[:name]}]", options_for_select(ScholarSphere::Application::config.permission_levels, permission[:access]), :class=>'span20' %>
      </div>
      </td>
    </tr>
  <% end %>
</table>
</div><!-- /#permissions_display -->
<div class="row" id="permissions_submit">
  <div class="form-actions">
    <%= submit_tag "Save Permissions", :name => "update_permission", :id => "upload_submit", :class => "btn-primary" %>
  </div>
</div>
