<h2>Share With</h2>
  <div class="control-group" id="owner_permissions">
    <div class="controls">
      <%= label_tag :owner_access, "Owner (" +request.env['HTTP_REMOTE_USER'] + ") Access", :class=>"control-label" %>
      <%= select_tag "owner", options_for_select(ScholarSphere::Application::config.owner_permission_levels), {:disabled => true} %>
      <span>You may not change your edit permission</span>
    </div>
  </div>
  <div class="control-group" id="public_permissions">
    <div class="controls">
      <%= label_tag :public_group_access, "Public Access", :class=>"control-label" %>
      <%= select_tag "permission_group", options_for_select(ScholarSphere::Application::config.public_permission_levels), {:name=>"generic_file[permissions][group][public]"} %>
    </div>
  </div>
  <div class="control-group" id="penn_state_permissions">
    <div class="controls">
      <%= label_tag :registered_group_access, "Penn State Access", :class=>"control-label" %>
      <%= select_tag "permission_group", options_for_select(ScholarSphere::Application::config.public_permission_levels), {:name=>"generic_file[permissions][group][registered]"} %>
    </div>
  </div>

<% gf.permissions.each do |permission| %>
  <% next if ["public", "registered", request.env['HTTP_REMOTE_USER']].include?(permission[:name]) %>
    <div class="control-group"> 
      <div class="controls">
      <%
         label = case permission[:name]
         when "public"
           "Public"
         when "registered"
           "Penn State"
         else
           permission[:name]
         end
      %>
      <%= label_tag "generic_file[permissions][#{permission[:type]}][#{permission[:name]}]", label, :class=>"control-label" %>
      <% if ['public', 'registered'].include?(permission[:name].downcase) %>
        <%= select_tag "generic_file[permissions][#{permission[:type]}][#{permission[:name]}]", options_for_select(ScholarSphere::Application::config.public_permission_levels, permission[:access]), :class=>'small' %>
      <% else %>
        <%= select_tag "generic_file[permissions][#{permission[:type]}][#{permission[:name]}]", options_for_select(ScholarSphere::Application::config.permission_levels, permission[:access]), :class=>'small' %>
      <% end %> 
      <%= f.submit :value => "Update", :name=> "update_permission", :id => "update_permission"  %> 
      </div>
    </div> 
<% end %>
<%# handle special groups %>
<% unless public_included %>
  <%= form_for gf, :url => permissions_generic_file_path, :method => :post, :html => {:id => 'public_update_form', :class => 'form-horizontal'} do |f| %>
    <%= hidden_field_tag('generic_file[terms_of_service]', '1') %>
    <div class="control-group"> 
      <div class="controls">
        <%= label_tag "generic_file[permissions][group][public]", "Public", :class=>"control-label" %>
        <%= select_tag "generic_file[permissions][group][public]", options_for_select(ScholarSphere::Application::config.public_permission_levels, "No Access"), :class=>'small' %>
        <%= f.submit :value => "Update", :name=> "update_permission", :id => "update_permission"  %>
      </div>
    </div> 
  <% end %>
<% end %>
<% unless registered_included %>
  <%= form_for gf, :url => permissions_generic_file_path, :method => :post, :html => {:id => 'registered_update_form', :class => 'form-horizontal'} do |f| %>
    <%= hidden_field_tag('generic_file[terms_of_service]', '1') %>
    <div class="control-group"> 
      <div class="controls">
        <%= label_tag "generic_file[permissions][group][registered]", "Penn State", :class=>"control-label" %>
        <%= select_tag "generic_file[permissions][group][registered]", options_for_select(ScholarSphere::Application::config.public_permission_levels, "No Access"), :class=>'small' %>
        <%= f.submit :value => "Update", :name=> "update_permission", :id => "update_permission"  %>
      </div>
    </div> 
  <% end %>
<% end %>

  <div class="control-group" id="new-group"> 
    <%= label_tag 'new_group_name_skel', "Group", :class=>"control-label" %>
    <div class="controls">
      <%= text_field_tag 'new_group_name_skel' %>
      <%= select_tag 'new_group_permission_skel', options_for_select(ScholarSphere::Application::config.permission_levels) %>
      <span id="directory_group_result"></span>
    </div>
    <div id="new_group_list">
  </div>

<%# form_for gf, :url => permissions_generic_file_path, :method => :post, :html => {:id => 'generic_file[permissions][new_user_name]_form', :class => 'form-horizontal'} do |f| %>
  <div class="control-group" id="new-user"> 
    <%= label_tag 'new_user_name_skel', "User", :class=>"control-label" %>
    <div class="controls">
      <%= text_field_tag 'new_user_name_skel' %>
      <%= select_tag 'new_user_permission_skel', options_for_select(ScholarSphere::Application::config.permission_levels) %>
      <span id="directory_user_result"></span>
    </div>
  </div>
  <div id="new_user_list">
  </div>

