<% depositor = gf.depositor || batch.generic_files.first.depositor %>
<% public_perm = gf.permissions.map { |perm| perm[:access] if perm[:name] == "public"}.compact.first %>
<% public_perm = true if params[:controller] == 'batch' %>
<% registered_perm = gf.permissions.map { |perm| perm[:access] if perm[:name] == "registered"}.compact.first %>


<input type="hidden" name="generic_file[permissions][group][public]" value="1" />
<input type="hidden" name="generic_file[permissions][group][registered]" value="2" />
<h2><% if params[:controller] == 'batch' %>Bulk <% end %>Permissions <% if params[:controller] == 'batch' %><small>(applied to all files just uploaded)</small><% end %></h2>
<div class="alert hide" id="save_perm_note">Permissions are <strong>not</strong> saved until the &quot;Save&quot; button is pressed at the bottom of the page.</div>
<div class="alert alert-error hide" id="permissions_error"><a class="close" data-dismiss="alert" href="#">×</a><span id="permissions_error_text"></span></div>
<div class="well">
  <div class="row">
    <p class="pull-right">
    <!-- Button to trigger modal -->
    <a href="#myModal" role="button" class="btn btn-warning" data-toggle="modal">What's this <i class="glyphicon glyphicon-question-sign large-icon"></i></a>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h2 id="myModalLabel"><%=t('sufia.product_name') %> Permissions</h2>
      </div>
      <div class="modal-body">
        <h3>Visibility</h3>
        <p>This setting will determine who can view your file, and the associated metadata. Setting
        the visibility to <span class="label label-success">Open Access</span> will allow your content to be discovered in Google and viewed by anyone.
        The visibility setting <span class="label label-info"><%=t('sufia.institution_name') %></span> will only allow users who are logged into <%=t('sufia.product_name') %>
        (via WebAccess) to view the content.  Files that are marked <span class="label label-danger">Private</span> are only able to be viewed
        by users and/or groups that have been given specific access in the &quot;Share With&quot; section.
        </p>

        <p>
        Permissions in <%=t('sufia.product_name') %> are hierarchical.  This means that you cannot set the visibility of a file to <span class="label label-success">Open Access</span> or
        <span class="label label-info"><%=t('sufia.institution_name') %></span> and simultaneously try to restrict the access of a single user. However, you may mark the visibility of
        a file as <span class="label label-danger">Private</span> and then grant access to particular users and/or groups for that file in the &quot;Share With&quot;
        section.
        </p>

        <h3>Share With</h3>
        <p>You may grant &quot;View/Download&quot; or &quot;Edit&quot;  access for specific users and/or groups to files. Enter
        a valid <%=t('sufia.account_name') %>, one at a time, select the access level for that user and click
        <button class="btn btn-mini btn-inverse" onclick="return false;"><i class="glyphicon glyphicon-plus" ></i>Add</button>.
        </p>

        <%= render partial: 'generic_files/groups_description' %>

        <h3>Permission Definitions</h3>
        <p>
        <strong>View/Download:</strong> this file (both contents and metadata) is accessible from within <%=t('sufia.product_name') %>.<br />
        <strong>Edit:</strong> this file (both contents and metadata) can be edited.  You may only grant this permission to <%=t('sufia.institution_name') %> users and/or groups.
        </p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    </p>
  </div>
  <h3>Visibility - <small>who should have the ability to read and download</small></h3>
  <div class="form-group">
     <div class="controls">
        <label class="radio">
          <input type="radio" id="visibility_open" name="visibility" value="<%=Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PUBLIC %>" <% if !public_perm.blank? %> checked="true"<% end %>/> <span class="label label-success">Open Access</span> Visible to the world.
        </label>
        <label class="radio">
          <input type="radio" id="visibility_psu" name="visibility" value="<%=Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_AUTHENTICATED %>" <% if !registered_perm.blank? %> checked="true"<% end %> /><span class="label label-info"><%=t('sufia.institution_name') %></span> Visible to all <%=t('sufia.institution_name') %> users.
        </label>
        <label class="radio">
          <input type="radio" id="visibility_restricted" name="visibility" value="<%=Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PRIVATE %>"<% if registered_perm.blank? and public_perm.blank?%> checked="true"<% end %> /> <span class="label label-danger">Private</span> Visible to users/groups specified below, if any.
        </label>
    </div><!-- /.controls -->
  </div><!-- /.control-group -->
  <div class="row">
      <h3>Share With <small>(optional)</small></h3>
  </div>
  <div class="row control-group">
    <div id="new-user">
      <div class="input-append">
        <p class="help-block">Enter <%=t('sufia.account_label') %> (one at a time)</p>
        <%= text_field_tag 'new_user_name_skel', nil, class: "span29" %><span class="add-on"><%=t('sufia.directory.suffix') %></span>
        <%= select_tag 'new_user_permission_skel', options_for_select(Sufia.config.permission_levels), class: 'span17' %>
        <button class="btn btn-mini btn-inverse" id="add_new_user_skel"><i class="glyphicon glyphicon-plus"></i> Add</button>
        <br /> <span id="directory_user_result"></span>
      </div>
    </div>
  </div>
  <div class="row control-group">
    <div id="new-group" >
      <div class="input-append">
        <%= select_tag 'new_group_name_skel', options_for_select(["Select a group"] + current_user.groups), class: 'span38' %>
        <%= select_tag 'new_group_permission_skel', options_for_select(Sufia.config.permission_levels), class: 'span17' %>
        <button class="btn btn-mini btn-inverse" id="add_new_group_skel" ><i class="glyphicon glyphicon-plus"></i> Add</button>
        <br /><span id="directory_group_result"></span>
      </div>
    </div>
  </div>
</div><!-- /.well -->
<table class="table table-bordered">
  <tr>
    <th width="60%">Person/Group</th>
    <th width="40%">Access Level</th>
  </tr>
  <tr id="file_permissions">
    <td><%= label_tag :owner_access, "Depositor (<span id=\"file_owner\">#{link_to_profile depositor}</span>)".html_safe, class: "control-label" %></td>
    <td>
    <%= Sufia.config.owner_permission_levels.keys[0] %>
    </td>
  </tr>
  <% gf.permissions.each do |permission| %>
    <%# skip the public, penn state (aka registered), and depositor perms as they are displayed first at the top %>
    <% next if permission[:name].downcase == 'public' %>
    <% next if permission[:name].downcase == 'registered' %>
    <% next if permission[:name].downcase == depositor %>
    <tr>
      <td><%= label_tag "generic_file[permissions][#{permission[:type]}][#{permission[:name]}]", permission[:name], class: "control-label" %></td>
      <td>
      <%= select_tag "generic_file[permissions][#{permission[:type]}][#{permission[:name]}]", options_for_select(Sufia.config.permission_levels, permission[:access]), class: 'span20 select_perm' %>
      <button class="btn close remove_perm">X</button>
      </td>
    </tr>
  <% end %>
</table>
