<h2>Update Current</h2>
<% public_included = false %>
<% gf.permissions.each do |permission| %>
  <% public_included = true if permission[:name].upcase == 'PUBLIC' %>
  <%= form_for gf, :url => permissions_generic_file_path, :method => :post, :html => {:id => permission[:name] + '_update_form', :class => 'form-horizontal'} do |f| %>
    <%= hidden_field_tag('generic_file[terms_of_service]', '1') %>
    <div class="control-group"> 
      <div class="controls">
      <%= label_tag "generic_file[permissions][#{permission[:type]}][#{permission[:name]}]", permission[:name], :class=>"control-label" %>
      <%= select_tag "generic_file[permissions][#{permission[:type]}][#{permission[:name]}]", options_for_select(ScholarSphere::Application::config.public_permission_levels, permission[:access]), :class=>'small' if permission[:name].upcase == 'PUBLIC'%>
      <%= select_tag "generic_file[permissions][#{permission[:type]}][#{permission[:name]}]", options_for_select(ScholarSphere::Application::config.permission_levels, permission[:access]), :class=>'small' unless permission[:name].upcase == 'PUBLIC' %>
      <%= f.submit :value => "Update", :name=> "update_permission", :id => "update_permission"  %> 
      </div>
    </div> 
  <% end %>
<% end %>
<% unless public_included %>
  <%= form_for gf, :url => permissions_generic_file_path, :method => :post, :html => {:id => 'public_update_form', :class => 'form-horizontal'} do |f| %>
    <%= hidden_field_tag('generic_file[terms_of_service]', '1') %>
    <div class="control-group"> 
      <div class="controls">
        <%= label_tag "generic_file[permissions][group][public]", "public", :class=>"control-label" %>
        <%= select_tag "generic_file[permissions][group][public]", options_for_select(ScholarSphere::Application::config.public_permission_levels, "No Access"), :class=>'small' %>
        <%= f.submit :value => "Update", :name=> "update_permission", :id => "update_permission"  %>
      </div>
    </div> 
  <% end %>
<% end %>

<h2>Save New</h2>
<%= form_for gf, :url => permissions_generic_file_path, :method => :post, :html => {:id => 'generic_file[permissions][new_group_name]_form', :class => 'form-horizontal'} do |f| %>
  <%= hidden_field_tag('generic_file[terms_of_service]', '1') %>
  <div class="control-group" id="new-group"> 
    <%= label_tag 'generic_file[permissions][new_group_name]', "Group", :class=>"control-label" %>
    <div class="controls">
      <%= text_field_tag 'generic_file[permissions][new_group_name]' %>
      <%= select_tag 'generic_file[permissions][new_group_permission]', options_for_select(ScholarSphere::Application::config.permission_levels) %>
      <%= f.submit :value => "Save", :name=> "new_permission", :id => "new_permission"  %>
    </div>
  </div>
<% end %>

<%= form_for gf, :url => permissions_generic_file_path, :method => :post, :html => {:id => 'generic_file[permissions][new_user_name]_form', :class => 'form-horizontal'} do |f| %>
  <div class="control-group" id="new-user"> 
    <%= label_tag 'generic_file[permissions][new_user_name]', "User", :class=>"control-label" %>
    <div class="controls">
      <%= text_field_tag 'generic_file[permissions][new_user_name]' %>
      <%= select_tag 'generic_file[permissions][new_user_permission]', options_for_select(ScholarSphere::Application::config.permission_levels) %>
      <%= f.submit :value => "Save", :name=> "new_permission", :id => "new_permission"  %>
    </div>
  </div>
<% end %>

