    <h2 class="non lower">Actions</h2>
    <p>
      <%= render_download_link %>
      <% if Sufia.config.analytics %>
        &nbsp;|&nbsp;
        <%= link_to "Analytics", sufia.stats_generic_file_path(@generic_file), id: 'stats' %>
      <% end %>
      <% if can? :edit, @generic_file %>
          &nbsp;|&nbsp;
          <% if @generic_file.processing? %>
            <%= t('sufia.upload.processing') %>
          <% else %>
            <%= link_to "Edit", sufia.edit_generic_file_path(@generic_file) %>
          <% end %>
      <% end %>
      <% if can?(:create, FeaturedWork) && @generic_file.public? %>
        <% if FeaturedWork.can_create_another? && !@generic_file.featured?%>
          &nbsp;|&nbsp;
          <%= link_to "Feature", sufia.featured_work_path(@generic_file, format: :json), data: {behavior: 'feature'} %>
        <% elsif @generic_file.featured? %>
          &nbsp;|&nbsp;
          Featured
        <% end %>
      <% end %>
    </p>
    <p>Export to:
      <%= link_to 'EndNote', sufia.generic_file_path(@generic_file, format: 'endnote') %>
      &nbsp;|&nbsp;
      <%= link_to 'Zotero', sufia.static_path('zotero'), {id: 'zoteroLink', name: 'zotero', class: 'lightboxLink'} %>
      &nbsp;|&nbsp;
      <%= link_to 'Mendeley', sufia.static_path('mendeley'), {id: 'mendeleyLink', name: 'mendeley', class: 'lightboxLink'} %>
    </p>
    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_default_style">
      <a class="addthis_button_preferred_1"></a>
      <a class="addthis_button_preferred_2"></a>
      <a class="addthis_button_preferred_3"></a>
      <a class="addthis_button_preferred_4"></a>
      <a class="addthis_button_compact"></a>
      <a class="addthis_counter addthis_bubble_style"></a>
    </div>
    <!-- AddThis Button END -->

    <!-- COinS hook for Zotero -->
    <span class="Z3988" title="<%= @generic_file.export_as_openurl_ctx_kev %>"></span>
