    <h2 class="non lower">Descriptions</h2>
    <table class="table table-striped"><!-- class="verticalheadings"> -->
      <tbody>
        <tr>
          <th>Title</th>
          <td>
            <% @generic_file.title.each do |title| %>
              <%= title %><br />
            <% end %>
          </td>
        </tr>
        <tr>
          <th>Creator</th>
          <td>
            <% @generic_file.creator.each do |creator| %>
              <%= link_to_facet(creator, 'desc_metadata__creator_facet') %><br />
            <% end %>
          </td>
        </tr>
        <tr>
          <th>Contributor</th>
          <td>
            <% @generic_file.contributor.each do |contributor| %>
              <%= link_to_field('contributor', contributor) %><br />
            <% end %>
          </td>
        </tr>
        <tr>
          <th>Related URL</th>
          <td>
            <% @generic_file.related_url.each do |url| %>
              <%= iconify_auto_link(url) %><br />
            <% end %>
          </td>
        </tr>
        <tr>
          <th>Location</th>
          <td>
            <% @generic_file.based_near.each do |bn| %>
              <%= link_to_facet(bn, 'desc_metadata__based_near_facet') %><br />
            <% end %>
          </td>
        </tr>
        <tr>
          <th>Abstract or Summary</th>
          <td>
            <% @generic_file.description.each do |desc| %>
              <%= iconify_auto_link(desc) %><br />
            <% end %>
          </td>
        </tr>
        <tr>
          <th>Language</th>
          <td>
            <% @generic_file.language.each do |lang| %>
              <%= link_to_facet(lang,'desc_metadata__language_facet') %><br />
            <% end %>
          </td>
        </tr>
        <tr>
          <th>Resource Type</th>
          <td>
            <% @generic_file.resource_type.each do |rtype| %>
              <%= link_to_facet(rtype, 'desc_metadata__resource_type_facet') %><br />
            <% end %>
          </td>
        </tr>
        <tr>
          <th>Publisher</th>
          <td>
            <% @generic_file.publisher.each do |pub| %>
              <%= link_to_facet(pub,'desc_metadata__publisher_facet') %><br />
            <% end %>
          </td>
        </tr>
        <tr>
          <th>Rights</th>
          <td>
            <% @generic_file.rights.each do |r| %>
              <%=link_to_field('rights',r, Sufia::Engine.config.cc_licenses_reverse[r])%> <%= iconify_auto_link(r,false) %><br />
            <% end %>
          </td>
        </tr>
        <tr>
          <th>Subject</th>
          <td>
            <% @generic_file.subject.each do |sub| %>
              <%= link_to_facet(sub, 'desc_metadata__subject_facet') %><br />
            <% end %>
          </td>
        </tr>
        <tr>
          <th>Keyword</th>
          <td>
            <% @generic_file.tag.each do |t| %>
              <%= link_to_facet(t, 'desc_metadata__tag_facet') %><br />
            <% end %>
          </td>
        </tr>
        <tr>
          <th>Identifier</th>
          <td>
            <% @generic_file.identifier.each do |id| %>
              <%= id %><br />
            <% end %>
          </td>
        </tr>
        <tr>
          <th>Date Created</th>
          <td>
            <% @generic_file.date_created.each do |dc| %>
              <%= dc %><br />
            <% end %>
          </td>
        </tr>
      </tbody>
    </table> <!-- /verticalheadings -->

