<h1 class="lower">Edit <%= @generic_file.title.join(' | ') %></h1>

<div class="columns two-b">
  <div class="column first">
    <%= render :partial => 'media_display' %>
  </div>
  <div class="column second">
    <h2 class="non lower">Actions</h2>
    <%= link_to "Browse view", generic_file_path %>
<%= form_for @generic_file, :url => generic_file_path, :html => {:multipart => true, :class => 'form-horizontal', :id => 'fileupload'} do |f| %>
    <table class="verticalheadings">
      <tbody>
        <tr>
          <th>Revisions</th>
          <td>
            <h3>Revision history</h3>
            <% @generic_file.content.versions.each_with_index do |version, index| %>
              <%= radio_button_tag(:revision, version.versionID, index == 0) %>
              <%= label_tag("revision_#{version.versionID}".to_sym, "Restore version from #{version.dsCreateDate}") %>
            <% end %>
            <h3>New revision</h3>
            <p>Upload a new version of this file from your computer.</p>
            <p id="upload_field">
            <%= file_field_tag "filedata"  %>
            </p>
          </td>
        </tr>
        <tr>
          <th>Audit</th>
          <td>
            Audit status: <%= @generic_file.audit_stat  %><br />
            Date Uploaded: <%= @generic_file.date_uploaded.first %> <br />
            Date Modified: <%= @generic_file.date_modified.first %> <br />
          </td>
        </tr>
      </tbody>
    </table>
    <h2 class="non lower">Descriptions</h2>
    <table class="verticalheadings">
      <tbody>
        <tr>
          <th>Share with...</th>
          <td>
            <div class="control-group" id="new-group"> 
              <%= label_tag 'generic_file[permissions][new_group_name]', "Group", :class=>"control-label" %>
              <div class="controls">
                <%= text_field_tag 'generic_file[permissions][new_group_name]' %>
                <%= select_tag 'generic_file[permissions][new_group_permission]', options_for_select(ScholarSphere::Application::config.permission_levels) %>
              </div>
            <div>
            <div class="control-group" id="new-user"> 
              <%= label_tag 'generic_file[permissions][new_user_name]', "User", :class=>"control-label" %>
              <div class="controls">
                <%= text_field_tag 'generic_file[permissions][new_user_name]' %>
                <%= select_tag 'generic_file[permissions][new_user_permission]', options_for_select(ScholarSphere::Application::config.permission_levels) %>
              </div>
            <div>
            <ul id="permissions">
              <%=render :partial=>"permission", :collection=>@generic_file.permissions%>
            </ul>
            </div>
          </td>
        </tr>
      <% @terms.each do |t| %>
        <% next if t.empty? %>
        <tr>
          <% key = t.to_s.split("generic_file__").last %>
          <% vals = @generic_file.send(key) %>
          <%# if vals is zero we create an empty array to loop over for output %>
          <% if vals.count == 0 %>
            <% vals = [''] %>
          <% end %>
          <% vals.each_with_index do |v, index| %>
          <th><%= f.label key, :class=>"control-label" %> </th>
          <td>
            <div class="control-group" <% if index == 0%> id="additional_<%= key %>_clone" <% end %>>
            <div class="controls">
            <%= f.text_field :title, :name=>"generic_file[#{key}][]", :value=>v %> 
            <% if index == 0 %>
              <%= f.submit :value => "+", :name=> "additional_#{key}", :id => "additional_#{key}_submit", :class => "adder"  %>
              <% end %>
            </div>
            </div>
            <div id="additional_<%= key %>_elements"></div>
          </td>
        </tr>
        <% end %>
      <% end %>
        <tr>
          <td colspan="2"> <%= f.submit "Save Changes", :name => "upload_submit", :id => "upload_submit", :class => "btn-primary btn-large" %> </td>
        </tr>
      </tbody>
    </table>
<% end %>
    <%= button_to "Delete File", generic_file_path(@generic_file), :confirm => "Do you really want to delete this file from ScholarSphere? This action is irreversible.", :method => :delete, :class => "btn-primary btn-large" %>
  </div> <!-- /column second -->
</div><!-- /columns two-b -->
