<%= javascript_tag do %>
  <%= render partial: "edit", formats: [:js] %>
<% end %>

<%= render_breadcrumbs builder: Sufia::BootstrapBreadcrumbsBuilder %>
<h1 class="lower">Edit <%= @generic_file %></h1>

<div class="row">
  <div class="col-xs-12 col-sm-4">
    <%= render partial: 'media_display' %>
  </div>
  <div class="col-xs-12 col-sm-8">
    <ul class="nav nav-tabs">
      <li id="edit_descriptions_link" class="active">
        <a href="#descriptions_display" data-toggle="tab"><i class="glyphicon glyphicon-tags"></i> Descriptions</a>
      </li>
      <li id="edit_versioning_link">
        <a href="#versioning_display" data-toggle="tab"><i class="glyphicon glyphicon-sitemap"></i> Versions</a>
      </li>
      <li id="edit_permissions_link"><a href="#permissions_display" data-toggle="tab">
        <i class="glyphicon glyphicon-key"></i> Permissions</a>
      </li>
    </ul>
    <div class="tab-content">
      <%= render "descriptions", form: @form %>
      <%= render "permission", generic_file: @generic_file %>
      <%= render "versioning", generic_file: @generic_file  %>
    </div>
  </div> <!-- /.col-sm-8 -->
</div><!-- /.row -->
