<% javascript 'video.js' %>
<% javascript 'audio.min.js' %>
<% javascript 'bootstrap-tooltip.js'%>
<% javascript 'bootstrap-popover.js'%>

<% stylesheet 'video-js.css' %>
<% stylesheet 'jquery-ui-1.8.1.custom' %>

<% content_for :local_js do %>
  audiojs.events.ready(function() {
    var as = audiojs.createAll();
    });

$('input[name=revision]:radio').on('click', function() {
    $('#save_version_note').fadeIn('slow');
    });

<% if params[:tab] == 'versions' %>
  versions_tab();
<% elsif params[:tab] == 'permissions' %>
  permissions_tab();
<% else %>
  descriptions_tab();
<% end %>

// only valid for perm tab
set_access_levels();

// initialize popover helpers
$("a[rel=popover]").popover();

<% end %>

<% content_for :local_css do %>
.audiojs {
  width: 338px;
}
<% end %>
<%= render :partial => 'breadcrumbs' %>

<h1 class="lower">Edit <%= display_title(@generic_file) %></h1>

<div class="row">
  <div class="span40">
    <%= render :partial => 'media_display' %>
  </div>
  <div class="span2">&nbsp;</div>
  <div class="span68">
    <%= link_to "&lt;&lt;Browse view".html_safe, generic_file_path %></li>
    <ul class="nav nav-tabs">
      <li id="edit_descriptions_link" ><a href="#">Descriptions</a></li>
      <li id="edit_versioning_link" ><a href="#">Versions</a></li>
      <li id="edit_permissions_link" ><a href="#">Permissions</a></li>
    </ul>
    <%= render :partial => "descriptions", :locals => { :generic_file => @generic_file } %>

    <%= form_for @generic_file, :url => generic_file_path, :html => {:multipart => true, :class => 'form-horizontal', :id => 'fileupload'} do |f| %>
      <%= render :partial => "permission", :locals => { :gf => @generic_file } %>
    <% end %>
    <%# form_for @generic_file, :url => generic_file_path, :html => {:multipart => true, :class => 'form-horizontal', :id => 'fileupload'} do |f| %>
      <%# render :partial => "permission_new", :locals => { :gf => @generic_file } %>
    <%# end %>

    <%= render :partial => "versioning", :locals => { :generic_file => @generic_file } %>
  </div> <!-- /.span68-->
</div><!-- /.row -->
