<h1>Edit <%= @generic_file.title.first %></h1>
<div class="viewing_context">
  <%= link_to "Browse view", url_for(@generic_file) %>
</div>


<%= form_for @generic_file do |f| %>

<div class="uploader-contents">
  <div class="row">
    <div class="span3">
      <h2>Audit</h2>
    </div>
    <div class="span9">
      Audit status: <%= @generic_file.audit_stat  %><br />
      Date Uploaded: <%= @generic_file.date_uploaded.first %> <br />
      Date Modified: <%= @generic_file.date_modified.first %> <br />
    </div>
  </div>
  <div class="row">
    <div class="span3">
        <h2>Description(s)</h2>
    </div>
    <div class="span9">
      <div class="control-group" id="public_permissions">
        <%= f.label :public_group_access, "Public Access", :class=>"control-label" %>
        <select id="generic_file_public_group_access" name="permission[group][public]" class="controls span2">
        <% choices = [{"No Access"=>"none"},{"Discover" => "discover"}, {"Read &amp; Download" => "read" }] %>
          <% choices.each do |choice| %>
            <% choice_label = choice.keys.first %>
            <% choice_name = choice.values.first %>
              <option value="<%=h choice_name %>">
                 <%= choice_label.html_safe %>
              </option>
        <% end %>
        </select> 
      </div><!-- close public_permissions -->
  <!-- loop over each term and output form vals -->
  <% @terms.each_with_index do |t| %>
    <% key = t.to_s.split("generic_file__").last %>
    <% vals = eval "@generic_file." +  t.to_s.split("generic_file__").last %><br />
    <% vals.each_with_index do |v, index| %>
      <div class="control-group" <% if index == 0%> id="additional_<%=key%>_clone" <% end %>>
        <%= f.label key, :class=>"control-label" %> 
        <%= f.text_field :title, :class=>"controls", :name=>"generic_file["+key+"][]", :value=>v %> 
        <% if index == 0 %>
          <%= f.submit :value => "+", :name=> "additional_"+key, :id => "additional_"+key+"_submit", :class => "adder btn-info btn-mini"  %>
        <% end %>
      </div>
    <% end %>
    <div id="additional_<%=key%>_elements"></div>
  <% end %>


    </div> <!-- close .span9 -->
  </div><!-- close .row description section -->

  <div class="form-actions">
    <%= f.submit :value => "Save Changes", :name => "upload_submit", :id => "upload_submit", :class => "btn-primary btn-large" %>
  </div>
</div><!-- close .uploader-contents -->
<% end %>
