<h1>Upload Files</h1>
<%= form_for(@generic_file, :html => {:multipart => true}) do |f| %>
<%= hidden_field_tag(:file_count, "1") %>
<%= hidden_field_tag(:extra_description_count, "1") %>

<h2>Choose File(s)</h2>
<div class="uploader-contents">

  <p id="upload_field_1">
  <label>Select a file to upload from your computer.  Click the <strong>Add Files</strong> button to upload more than one file.</label><br />
  <%= file_field_tag "Filedata[]" %>
  </p>
  <div id="additional_files"></div>
  <%= f.submit :value => "Add More Files", :name=> "additional_files_submit", :id => "additional_files_submit"  %><br />

</div>

<h2>Description(s)</h2>
<%= f.label :contributor%> <%= f.text_field :contributor %> <br />
<%= f.label :creator%> <%= f.text_field :creator %> <br />
<%= f.label :title%> <%= f.text_field :title %> <br />
<div id="more_descriptions">
  <div id="extra_description_1">
  <%= select_tag(:metadata_key_1, options_for_select(([['More Descriptions', '0']] | @dc_metadata))) %>
  <%= text_field_tag(:metadata_value_1) %><br />
  </div>
</div>
<%= f.submit :value => "Add More Descriptions", :name=> "additional_md_submit", :id => "additional_md_submit"  %><br />
<%= f.submit :value => "Upload", :name => "upload_submit", :id => "upload_submit"  %>
<% end %>
