<h2>Upload</h2>
<%= render partial: 'generic_files/upload/alerts' %>
<%# using partials rather than inlining, so implementers can add or change stuff on this page without much duplication %>
<ul class="nav nav-tabs" role="tablist" title="Data Source Selectors" id="upload_tabs">
  <li class="active" id="computer_tab" title="<%= t('sufia.upload.my_computer.sr_tab_label')+' '+ t('sufia.upload.my_computer.tab_label') %>"><a role="tab" href="#local" data-toggle="tab"><i class="glyphicon glyphicon-folder-open" aria-hidden="true"></i> <%= t('sufia.upload.my_computer.tab_label')%></a></li>
  <% if Sufia.config.browse_everything %>
    <li id="browse_everything_tab" title="<%= t('sufia.upload.browse_everything.sr_tab_label')+' '+ t('sufia.upload.browse_everything.tab_label') %>" aria-activedescendant="browse_everything_link"><a role="tab" href="#browse_everything" data-toggle="tab" id="browse_everything_link" ><i class="glyphicon glyphicon-cloud-download" aria-hidden="true"></i> <%= t('sufia.upload.browse_everything.tab_label')%></a></li>
  <% end %>
  <% if Sufia.config.enable_local_ingest %>
    <li role="tab" id="local_ingest_tab"><a href="#ingest" data-toggle="tab"><i class="glyphicon glyphicon-hdd" aria-hidden="true"></i> <%= t('sufia.upload.local_ingest.tab_label')%></a></li>
  <% end %>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="local" aria-labelledby="computer_tab" role="tabpanel">
    <span class="sr-only"><%= t("sufia.upload.my_computer.sr_instructions") %></span>
    <%= render partial: 'multiple_upload' %>
  </div>

  <% if Sufia.config.browse_everything %>
    <div class="tab-pane" id="browse_everything"  aria-labelledby="browse_everything_tab" role="tabpanel">
      <%= render partial: 'browse_everything' %>
    </div>
  <% end %>

  <% if Sufia.config.enable_local_ingest %>
    <div class="tab-pane" id="ingest" aria-labelledby="local_ingest_tab">
      <%= render partial: 'generic_files/local_file_import' %>
    </div>
  <% end %>

</div>