<% javascript 'video.js' %>
<% javascript 'audio.min.js' %>
<% stylesheet 'video-js.css' %>

<% content_for :local_js do %>
    audiojs.events.ready(function() {
      var as = audiojs.createAll();
    });
<% end %>

<% content_for :local_css do %>
.audiojs {
  width: 338px;
}
<% end %>

<%
  def zebra
     @zebra = !@zebra || false
     return " class='zebra'" if @zebra
  end
%>

<h1 class="lower"><%= @generic_file.title.join(' | ') %></h1>

<div class="columns two-b">
  <div class="column first">
    <%= render :partial => 'media_display' %>
  </div>
  <div class="column second">
    <h2 class="non lower">Actions</h2>
    <p>
    <a href="<%= download_path(@generic_file.noid) %>">Download File</a> &nbsp;|&nbsp; <%= link_to "Editor View", edit_generic_file_path %>
    </p>
    <!--
    <a href="#">Cite This</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Export to RefWorks</a>&nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="#">Export to Endnote</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Email This</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">SMS This</a></p>
    -->
    <!--
    <p>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="#">Run Audit Now</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">View Full Audit History</a></p>
    </p>
    -->

    <h2 class="non lower">Metadata</h2>
    <table class="verticalheadings">
      <tbody> 
        <tr<%= zebra %>>
          <th>Title</th>
          <td>
            <% @generic_file.title.each do |title| %>
              <%= title %><br />
            <% end %>
          </td>
        </tr>
        <tr<%= zebra %>>
          <th>Creator</th>
          <td>
            <% @generic_file.creator.each do |creator| %>
              <%= creator %><br />
            <% end %>
          </td>
        </tr>
        <tr<%= zebra %>>
          <th>Contributor</th>
          <td>
            <% @generic_file.contributor.each do |contributor| %>
              <%= contributor %><br />
            <% end %>
          </td>
        </tr>
        <tr<%= zebra %>>
          <th>Related URL</th>
          <td>
            <% @generic_file.related_url.each do |ru| %>
              <%= ru %><br />
            <% end %>
          </td>
        </tr>
        <tr<%= zebra %>>
          <th>Location</th>
          <td>
            <% @generic_file.based_near.each do |bn| %>
              <%= bn %><br />
            <% end %>
          </td>
        </tr>
        <tr<%= zebra %>>
          <th>Description</th>
          <td>
            <% @generic_file.description.each do |desc| %>
              <%= desc %><br />
            <% end %>
          </td>
        </tr>
        <tr<%= zebra %>>
          <th>Language</th>
          <td>
            <% @generic_file.language.each do |lang| %>
              <%= lang %><br />
            <% end %>
          </td>
        </tr>
        <tr<%= zebra %>>
          <th>Publisher</th>
          <td>
            <% @generic_file.publisher.each do |pub| %>
              <%= pub %><br />
            <% end %>
          </td>
        </tr>
        <tr<%= zebra %>>
          <th>Rights</th>
          <td>
            <% @generic_file.rights.each do |r| %>
              <%= r %><br />
            <% end %>
          </td>
        </tr>
        <tr<%= zebra %>>
          <th>Subject</th>
          <td>
            <% @generic_file.subject.each do |sub| %>
              <%= sub %><br />
            <% end %>
          </td>
        </tr>
        <tr<%= zebra %>>
          <th>Keyword</th>
          <td>
            <% @generic_file.tag.each do |t| %>
              <%= t %><br />
            <% end %>
          </td>
        </tr>
        <tr<%= zebra %>>
          <th>Identifier</th>
          <td>
            <% @generic_file.identifier.each do |id| %>
              <%= id %><br />
            <% end %>
          </td>
        </tr>
        <tr<%= zebra %>> 
          <th>Date Created</th>
          <td>
            <% @generic_file.date_created.each do |dc| %>
              <%= dc %><br />
            <% end %>
          </td>
        </tr>
      </tbody>
    </table> <!-- /verticalheadings -->

    <h2 class="non lower">Object Details</h2>
    <table class="verticalheadings">
      <tbody>
        <tr<%= zebra %>>
          <th>Date Uploaded</th>
          <td>
            <%= @generic_file.date_uploaded %>
          </td>
        </tr>
        <tr<%= zebra %>>
          <th>Date Modified</th>
          <td>
            <%= @generic_file.date_modified %>
          </td>
        </tr>
        <tr<%= zebra %>>
          <th>Audit Status</th>
          <td><%= @generic_file.audit_stat(false) == 1 ? "passing" : "failing" %> </td>
        </tr>
<% unless @generic_file.related_files.empty? %>
        <tr<%= zebra %>>
          <th>Related Files</th>
          <td>
              <% @generic_file.related_files.each do |f| %>
                <dd><%= link_to(f.label, generic_file_url(f.noid)) %></dd>
              <% end %>
          </td>
        </tr>
<% end %>
        <tr<%= zebra %>>
          <th>Characterization</th>
          <td>
            <%= "not yet characterized" if @generic_file.characterization_terms.values.flatten.map(&:empty?).reduce(true) { |sum, value| sum && value } %>
            <% @generic_file.characterization_terms.each_pair do |term, values| %>
              <% if values.is_a? Array %>
                <% values.each do |value| %>
                  <% next if value.empty? %>
                  <%= "#{term.to_s.humanize}: #{value}" %><br />
                <% end %>
              <% else %>
                <%= "#{term.to_s.humanize}: #{values}" %><br />
              <% end %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table> <!-- /verticalheadings -->
  </div><!-- /columns second -->
</div> <!-- /columns two-b -->
