<%= javascript_include_tag 'https://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4ff1d986721ebb24' %>

<%= javascript_tag do %>
  var addthis_config = {"data_track_addressbar":true};
  initialize_audio();
<% end %>

<%= render partial: 'generic_files/breadcrumbs' %>
<div class="container-fluid">
<div class="row">
  <div class="col-xs-12 col-sm-4">
    <%= render partial: 'generic_files/media_display' %>
    <%= render partial: 'show_actions' %>
  </div>
  <div itemscope itemtype="<%= @generic_file.itemtype %>" class="col-xs-12 col-sm-8">
    <h1><%= @generic_file %></h1>
    <%= render partial: 'show_descriptions' %>
    <%= render partial: 'show_details' %>
    <%= render partial: 'users/activity_log', locals: {events: @events} %>
  </div><!-- /columns second -->
</div> <!-- /.row -->
</div><!-- /.container-fluid -->