<%#
Copyright © 2012 The Pennsylvania State University

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
%>


<% content_for :js_head do  %>
  <% javascript_include_tag 'video.js' %>
  <% javascript_include_tag 'audio.min.js' %>
  <% javascript_include_tag 'https://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4ff1d986721ebb24' %>
  <% javascript_include_tag 'bootstrap-tooltip.js'%>
  <% javascript_include_tag 'bootstrap-popover.js'%>
  <% javascript_include_tag 'bootstrap-modal.js'%>
<% end %>
<% content_for :css_head do  %>
  <% stylesheet_link_tag 'video-js.css' %>
<% end %>

<% content_for :local_js do %>
initialize_audio();
var addthis_config = {"data_track_addressbar":true};
<% end %>

<% content_for :local_css do %>
.audiojs {
  width: 338px;
}
<% end %>
<%= render :partial => 'generic_files/breadcrumbs' %>

<h1 class="lower"><%= display_title(@generic_file) %></h1>

<div class="row">
  <div class="span40">
    <%= render :partial => 'generic_files/media_display' %>
  </div>
  <div class="span2">&nbsp;</div>
  <div class="span68"><!-- class="column second"> -->
    <h2 class="non lower">Actions</h2>
    <p>
      <%= link_to "Download", sufia.download_path(@generic_file.noid) %>
      <!-- &nbsp;|&nbsp; -->
      <%# link_to "Cite", citation_generic_file_path, {:id => 'citeLink', :name => 'citation', :class => 'lightboxLink'}, :action => 'citation' %>
      <% if @can_edit %>
          &nbsp;|&nbsp;
          <%= link_to "Edit", sufia.edit_generic_file_path unless @generic_file.processing?   %>
          <%= "File is being processed you may edit once it is complete" if @generic_file.processing?   %>
      <%end %>
    </p>
    <p>Export to:
      <%= link_to 'EndNote', sufia.generic_file_path(@generic_file.noid, :format => 'endnote') %>
      &nbsp;|&nbsp;
      <%= link_to 'Zotero', sufia.static_path('zotero'), {:id => 'zoteroLink', :name =>    'zotero', :class => 'lightboxLink'} %>
      &nbsp;|&nbsp;
      <%= link_to 'Mendeley', sufia.static_path('mendeley'), {:id => 'mendeleyLink', :name =>    'mendeley', :class => 'lightboxLink'} %>
      <!-- Disabling RefWorks export due to stakeholder deprioritization -->
      <%# link_to 'RefWorks', refworks_export_url(:id => @generic_file.noid) %>
      <!-- &nbsp;|&nbsp; -->
      <!-- Disabling Email This and SMS This links due to lack of use cases -->
      <%# link_to 'Email This', email_catalog_path(:id => @generic_file.persistent_url), {:id => 'emailLink', :name => 'email', :class => 'lightboxLink'} %>
    </p>
    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_default_style">
      <a class="addthis_button_preferred_1"></a>
      <a class="addthis_button_preferred_2"></a>
      <a class="addthis_button_preferred_3"></a>
      <a class="addthis_button_preferred_4"></a>
      <a class="addthis_button_compact"></a>
      <a class="addthis_counter addthis_bubble_style"></a>
    </div>
    <!-- AddThis Button END -->

    <!-- COinS hook for Zotero -->
    <span class="Z3988" title="<%= @generic_file.export_as_openurl_ctx_kev %>"></span>

    <!--
    <p>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="#">Run Audit Now</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">View Full Audit History</a></p>
    </p>
    -->

    <h2 class="non lower">Descriptions</h2>
    <table class="table table-striped"><!-- class="verticalheadings"> -->
      <tbody>
        <tr>
          <th>Title</th>
          <td>
            <% @generic_file.title.each do |title| %>
              <%= title %><br />
            <% end %>
          </td>
        </tr>
        <tr>
          <th>Creator</th>
          <td>
            <% @generic_file.creator.each do |creator| %>
              <%= link_to_facet(creator, 'generic_file__creator_facet') %><br />
            <% end %>
          </td>
        </tr>
        <tr>
          <th>Contributor</th>
          <td>
            <% @generic_file.contributor.each do |contributor| %>
              <%= link_to_field('contributor', contributor) %><br />
            <% end %>
          </td>
        </tr>
        <tr>
          <th>Related URL</th>
          <td>
            <% @generic_file.related_url.each do |url| %>
              <%= iconify_auto_link(url) %><br />
            <% end %>
          </td>
        </tr>
        <tr>
          <th>Location</th>
          <td>
            <% @generic_file.based_near.each do |bn| %>
              <%= link_to_facet(bn, 'generic_file__based_near_facet') %><br />
            <% end %>
          </td>
        </tr>
        <tr>
          <th>Abstract or Summary</th>
          <td>
            <% @generic_file.description.each do |desc| %>
              <%= iconify_auto_link(desc) %><br />
            <% end %>
          </td>
        </tr>
        <tr>
          <th>Language</th>
          <td>
            <% @generic_file.language.each do |lang| %>
              <%= link_to_facet(lang,'generic_file__language_facet') %><br />
            <% end %>
          </td>
        </tr>
        <tr>
          <th>Resource Type</th>
          <td>
            <% @generic_file.resource_type.each do |rtype| %>
              <%= link_to_facet(rtype, 'generic_file__resource_type_facet') %><br />
            <% end %>
          </td>
        </tr>
        <tr>
          <th>Publisher</th>
          <td>
            <% @generic_file.publisher.each do |pub| %>
              <%= link_to_facet(pub,'generic_file__publisher_facet') %><br />
            <% end %>
          </td>
        </tr>
        <tr>
          <th>Rights</th>
          <td>
            <% @generic_file.rights.each do |r| %>
              <%=link_to_field('rights',r, ScholarSphere::Application::config.cc_licenses_reverse[r])%> <%= iconify_auto_link(r,false) %><br />
            <% end %>
          </td>
        </tr>
        <tr>
          <th>Subject</th>
          <td>
            <% @generic_file.subject.each do |sub| %>
              <%= link_to_facet(sub, 'generic_file__subject_facet') %><br />
            <% end %>
          </td>
        </tr>
        <tr>
          <th>Keyword</th>
          <td>
            <% @generic_file.tag.each do |t| %>
              <%= link_to_facet(t, 'generic_file__tag_facet') %><br />
            <% end %>
          </td>
        </tr>
        <tr>
          <th>Identifier</th>
          <td>
            <% @generic_file.identifier.each do |id| %>
              <%= id %><br />
            <% end %>
          </td>
        </tr>
        <tr>
          <th>Date Created</th>
          <td>
            <% @generic_file.date_created.each do |dc| %>
              <%= dc %><br />
            <% end %>
          </td>
        </tr>
      </tbody>
    </table> <!-- /verticalheadings -->

    <h2 class="non lower">File Details</h2>
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>Depositor</th>
          <td><%= link_to_profile @generic_file.depositor %></td>
        </tr>
        <tr>
          <th>Date Uploaded</th>
          <td>
            <%= @generic_file.date_uploaded %>
          </td>
        </tr>
        <tr>
          <th>Date Modified</th>
          <td>
            <%= @generic_file.date_modified %>
          </td>
        </tr>
        <tr>
          <th>Audit Status</th>
          <%- stat= @generic_file.audit_stat(false)  %>
          <td> <%= (stat == 1 ? 'passing' : (stat == 0 ? 'failing' : stat)) %></td>
        </tr>
<% unless @generic_file.related_files.empty? %>
  <tr>
          <th>Related Files</th>
          <td>
              <% @generic_file.related_files.each do |f| %>
                <dd><%= link_to(f.label, generic_file_url(f.noid)) %></dd>
              <% end %>
          </td>
        </tr>
<% end %>
<tr>
          <th>Characterization</th>
          <td>
            <%= "not yet characterized" if @generic_file.characterization_terms.values.flatten.map(&:empty?).reduce(true) { |sum, value| sum && value } %>
            <% @generic_file.characterization_terms.each_pair do |term, values| %>
            <div>
              <% label = term.to_s %>
              <% if label == "format_label" %>
                 <% label = "File Format"  %>
                 <% values = @generic_file.file_format %>
              <% end %>
              <% label = label.humanize %>
              <% if values.is_a? Array %>
                <% length = values.length %>
                <% length = ScholarSphere::Application::config.fits_message_length-1  if term == :status_message && values.length > ScholarSphere::Application::config.fits_message_length-1  %>
                <% values[0..length].each_with_index do |value, idx| %>
                  <% next if value.empty? %>
                  <%= "#{label}: #{value.truncate(250)}" %>
                  <%= "<br />".html_safe unless idx == length %> 
                <% end %>
                <% if length != values.length %>
                   <%= render :partial => "generic_files/extra_fields_modal", :locals=>{:name=>term, :values=> values, :start=>ScholarSphere::Application::config.fits_message_length}%>
                <% end %>
              <% else %>
                <%= "#{label}: #{values.truncate(250)}" %><br />
              <% end %>
            </div>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table> <!-- /verticalheadings -->
    <%= render :partial => 'users/activity_log', :locals => {:events => @events} %>
  </div><!-- /columns second -->
</div> <!-- /columns two-b -->
