<h1><%= @generic_file.title.join(' | ') %></h1>

<%= render :partial => 'media_display' %>

<div class="viewing_context">
  <%= link_to "Edit view", edit_generic_file_path %>
</div>
<dl>
  <% unless @generic_file.related_files.empty? %>
    <dt>Related Files</dt>
    <% @generic_file.related_files.each do |f| %>
      <dd><%= link_to(f.label, generic_file_url(f.noid)) %></dd>
    <% end %>
  <% end %>

  <dt>Versions</dt>
  <% @generic_file.content.versions.each do |version| %>
    <dd>(<%= version.versionID %>) insert snazzy datastream URL here [<%= version.dsCreateDate %>]</dd>
  <% end %>

  <dt>Permission</dt>
  <dd>TODO?</dd>

  <dt>Characterization</dt>
  <% @generic_file.characterization_terms.each_pair do |term, values| %>
    <% if values.is_a? Array %>
      <% values.each do |value| %>
        <% next if value.empty? %>
        <dd><%= "#{term.to_s.humanize}: #{value}" %></dd>
      <% end %>
    <% else %>
        <dd><%= "#{term.to_s.humanize}: #{values}" %></dd>
    <% end %>
 <% end %>

  <dt>Title<dt>
  <% @generic_file.title.each do |title| %>
    <dd><%= title %></dd>
  <% end %>

  <dt>Creator<dt>
  <% @generic_file.creator.each do |creator| %>
    <dd><%= creator %></dd>
  <% end %>

  <dt>Contributor<dt>
  <% @generic_file.contributor.each do |contributor| %>
    <dd><%= contributor %></dd>
  <% end %>

  <dt>Related URL<dt>
  <% @generic_file.related_url.each do |ru| %>
    <dd><%= ru %></dd>
  <% end %>

  <dt>Based Near</dt>
  <% @generic_file.based_near.each do |bn| %>
    <dd><%= bn %></dd>
  <% end %>

  <dt>Description</dt>
  <% @generic_file.description.each do |desc| %>
    <dd><%= desc %></dd>
  <% end %>

  <dt>Date Created</dt>
  <% @generic_file.date_created.each do |dc| %>
    <dd><%= dc %></dd>
  <% end %>

  <dt>Date Uploaded</dt>
  <% @generic_file.date_uploaded.each do |du| %>
    <dd><%= du %></dd>
  <% end %>

  <dt>Date Modified</dt>
  <% @generic_file.date_modified.each do |dm| %>
    <dd><%= dm %></dd>
  <% end %>

  <dt>Identifier</dt>
  <% @generic_file.identifier.each do |id| %>
    <dd><%= id %></dd>
  <% end %>

  <dt>Language</dt>
  <% @generic_file.language.each do |lang| %>
    <dd><%= lang %></dd>
  <% end %>

  <dt>Publisher</dt>
  <% @generic_file.publisher.each do |pub| %>
    <dd><%= pub %></dd>
  <% end %>

  <dt>Rights</dt>
  <% @generic_file.rights.each do |r| %>
    <dd><%= r %></dd>
  <% end %>

  <dt>Subject</dt>
  <% @generic_file.subject.each do |sub| %>
    <dd><%= sub %></dd>
  <% end %>

  <dt>Tag</dt>
  <% @generic_file.tag.each do |t| %>
    <dd><%= t %></dd>
  <% end %>

</dl>
