<% javascript 'video.js' %>
<% javascript 'audio.min.js' %>
<% stylesheet 'video-js.css' %>

<h1 class="lower"><%= @generic_file.title.join(' | ') %></h1>

<div class="columns two-b">
  <div class="column first">
    <%= render :partial => 'media_display' %>
  </div>
  <div class="column second">
    <h2 class="non lower">Actions</h2>
    <p><a href="#">Cite This</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Export to RefWorks</a>&nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="#">Export to Endnote</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Email This</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">SMS This</a></p>
    <p><%= link_to "Editor View", edit_generic_file_path %>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Run Audit Now</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">View Full Audit History</a></p>

    <h2 class="non lower">Metadata</h2>
    <table class="verticalheadings">
      <tbody>
        <tr class="zebra">
          <th>Title</th>
          <td>
            <% @generic_file.title.each do |title| %>
              <%= title %><br />
            <% end %>
          </td>
        </tr>
        <tr>
          <th>Creator</th>
          <td>
            <% @generic_file.creator.each do |creator| %>
              <%= creator %><br />
            <% end %>
          </td>
        </tr>
        <tr>
          <th>Contributor</th>
          <td>
            <% @generic_file.contributor.each do |contributor| %>
              <%= contributor %><br />
            <% end %>
          </td>
        </tr>
        <tr>
          <th>Related URL</th>
          <td>
            <% @generic_file.related_url.each do |ru| %>
              <%= ru %><br />
            <% end %>
          </td>
        </tr>
        <tr>
          <th>Based Near</th>
          <td>
            <% @generic_file.based_near.each do |bn| %>
              <%= bn %><br />
            <% end %>
          </td>
        </tr>
        <tr>
          <th>Description</th>
          <td>
            <% @generic_file.description.each do |desc| %>
              <%= desc %><br />
            <% end %>
          </td>
        </tr>
        <tr>
          <th>Language</th>
          <td>
            <% @generic_file.language.each do |lang| %>
              <%= lang %><br />
            <% end %>
          </td>
        </tr>
        <tr>
          <th>Publisher</th>
          <td>
            <% @generic_file.publisher.each do |pub| %>
              <%= pub %><br />
            <% end %>
          </td>
        </tr>
        <tr>
          <th>Rights</th>
          <td>
            <% @generic_file.rights.each do |r| %>
              <%= r %><br />
            <% end %>
          </td>
        </tr>
        <tr>
          <th>Subject</th>
          <td>
            <% @generic_file.subject.each do |sub| %>
              <%= sub %><br />
            <% end %>
          </td>
        </tr>
        <tr>
          <th>Tag</th>
          <td>
            <% @generic_file.tag.each do |t| %>
              <%= t %><br />
            <% end %>
          </td>
        </tr>
      </tbody>
    </table> <!-- /verticalheadings -->

    <h2 class="non lower">Object Details</h2>
    <table class="verticalheadings">
      <tbody>
        <tr>
          <th>ID:</th>
          <td>
            <% @generic_file.identifier.each do |id| %>
              <%= id %><br />
            <% end %>
          </td>
        </tr>
        <tr class="zebra">
          <th>Versions</th>
          <td>
            <% @generic_file.content.versions.each do |version| %>
              (<%= version.versionID %>) insert snazzy datastream URL here [<%= version.dsCreateDate %>]<br />
            <% end %>
          </td>
        </tr>
<% unless @generic_file.related_files.empty? %>
        <tr>
          <th>Related Files</th>
          <td>
              <% @generic_file.related_files.each do |f| %>
                <dd><%= link_to(f.label, generic_file_url(f.noid)) %></dd>
              <% end %>
          </td>
        </tr>
<% end %>
        <tr class="zebra">
          <th>Permission</th>
          <td>TODO?</td>
        </tr>
        <tr>
          <th>Audit Status</th>
          <td><%= @generic_file.audit_stat(false)  %> </td>
        </tr>
        <tr class="zebra">
          <th>Characterization</th>
          <td>
            <% @generic_file.characterization_terms.each_pair do |term, values| %>
              <% if values.is_a? Array %>
                <% values.each do |value| %>
                  <% next if value.empty? %>
                  <%= "#{term.to_s.humanize}: #{value}" %><br />
                <% end %>
              <% else %>
                <%= "#{term.to_s.humanize}: #{values}" %><br />
              <% end %>
            <% end %>
          </td>
        </tr>
        <tr> 
          <th>Date Created</th>
          <td>
            <%= @generic_file.date_created %>
          </td>
        </tr>
        <tr class="zebra">
          <th>Date Modified</th>
          <td>
            <%= @generic_file.date_modified %>
          </td>
        </tr>
        <tr>
          <th>Date Uploaded</th>
          <td>
            <%= @generic_file.date_uploaded %>
          </td>
        </tr>
      </tbody>
    </table> <!-- /verticalheadings -->
  </div><!-- /columns second -->
</div> <!-- /columns two-b -->
