<%= render_breadcrumbs builder: Sufia::BootstrapBreadcrumbsBuilder %>

<!-- Adapted from jquery-flot examples https://github.com/flot/flot/blob/master/examples/visitors/index.html -->
<!--[if lte IE 8]><%= javascript_include_tag 'excanvas' %><![endif]-->
<%= javascript_tag do %>
  <%= render partial: 'generic_files/flot_stats', formats: [:js] %>
<% end %>

<%= content_tag :h1, @generic_file, class: "lower" %>

<div class="row">
  <div class="col-sm-12">
    <%= content_tag :h2, "Analytics" %>
    <div class="alert alert-info">
      <i class="glyphicon glyphicon-signal large-icon"></i>
      <%= content_tag :strong, @stats.total_pageviews %> views and <%= content_tag :strong, @stats.total_downloads %> downloads since <%= @stats.created.strftime("%B %-d, %Y") %>
    </div>
    <div class="stats-container">
        <div id="usage-stats" class="stats-placeholder"></div>
    </div>
    <div class="stats-container" style="height:150px;">
        <div id="overview" class="stats-placeholder"></div>
    </div>
  </div>
</div>
