<%# This is a search result view %>
<li id="document_<%= collection.noid %>" class="search-result">

  <%= render 'collections/identifier_and_action', document: collection, counter: collection_counter %>

  <div class="row">

    <div class="col-md-2">
      <%= render_thumbnail_tag collection %>
    </div>

    <div class="col-md-10">
      <dl class="attribute-list">
        <% if collection.has?('desc_metadata__description_tesim') %>
          <dt>Description:</dt>
          <dd><%= truncate(render_index_field_value(document: collection, field: 'desc_metadata__description_tesim'), length: 150, escape: false) %></dd>
        <% end %>

        <% if collection.has?('edit_access_person_ssim') %>
          <dt>Owner:</dt>
          <dd><%= render_index_field_value(document: collection, field: 'edit_access_person_ssim') %></dd>
        <% end %>
    </div>

  </div>

</li>
