<div id="set-access-controls">
  <fieldset>
    <legend>
      Access Rights
      <small>Who should be able to view your collection?</small>
    </legend>

    <section class="help-block">
      <p>
        <strong>Please note</strong>, making something visible to the world (i.e.
        marking this as <span class="label label-success">Open Access</span>) may be
        viewed as publishing which could impact your ability to:
      </p>
      <ul>
        <li>patent your work</li>
        <li>publish your work in a journal</li>
      </ul>
    </section>

    <div class="form-group">
      <label class="radio">
        <input type="radio" id="visibility_open" name="<%= f.object_name %>[visibility]" value="<%= Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PUBLIC %>" <% if @collection.open_access? %> checked="true"<% end %>/>
        <span class="label label-success">Open Access</span> Visible to the world.
      </label>
      <label class="radio">
        <input type="radio" id="visibility_ndu" name="<%= f.object_name %>[visibility]" value="<%= Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_AUTHENTICATED %>" <% if @collection.authenticated_only_access? %> checked="true"<% end %> />
        <span class="label label-info"><%=t('sufia.institution_name') %></span> Visible to all <%=t('sufia.institution_name') %> users.
      </label>
      <label class="radio">
        <input type="radio" id="visibility_restricted" name="<%= f.object_name %>[visibility]" value="<%= Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PRIVATE%>" <% if @collection.private_access? %> checked="true"<% end %>/>
        <span class="label label-danger">Private</span> Only visible to you and your delegates.
      </label>
    </div>

  </fieldset>
</div>
