<%= simple_form_for [collections, @form], html: {class: 'form-horizontal editor'} do |f| %>
  <div id="descriptions_display">
    <h2 class="non lower">Descriptions <small class="pull-right"><span class="error">*</span> indicates required fields</small> </h2>
    <div class="well">
      <% f.object.terms.each do |term| %>
        <%= render_edit_field_partial term, f: f %>
      <% end %>
    </div><!-- /well -->
  </div>
  <%= hidden_field_tag :type, params[:type] %>
  <% if params[:batch_document_ids].present? %>
    <% params[:batch_document_ids].each do |batch_item| %>
      <input type="hidden" name="batch_document_ids[]" value="<%= batch_item %>"/>
    <% end %>
  <% end %>

  <div class="primary-actions">
    <% if params[:action] == "new" %>
      <%= f.submit 'Create Collection', class: 'btn btn-primary', onclick: "confirmation_needed = false;", id: "create_submit", name: "create_collection" %>
    <% else %>
      <%= f.submit 'Update Collection', class: 'btn btn-primary', onclick: "confirmation_needed = false;", id: "update_submit", name: "update_collection" %>
    <% end %>
    <%= link_to t(:'helpers.action.cancel'), main_app.root_path, class: 'btn btn-link' %>
  </div>
<% end %>
