<div role="dialog" class="modal fade" id="collection-list-container" tabindex="-1" aria-labelledby="col_add_title" >
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="col_add_title">Add to collection</h4>
        </div>
        <div class="modal-body">
          <% if user_collections.blank? %>
            <em> You do not have access to any existing collections. You may create a new collection.</em><br><br><br><br>
          <% else %>
            Select the collection to add your files to:
            <div class="collection-list">
              <ul>
                <% user_collections.sort! { |c1,c2| c1['desc_metadata__date_modified_dtsi'] <=> c2['desc_metadata__date_modified_dtsi'] }  %>
                <% user_collections.each do |collection| %>
                  <li> <label for="<%= collection.id %>" class="sr-only">Add to <%=collection.title%></label>
                    <%= radio_button_tag(:id, collection.id, true, class: "collection-selector") %>
                    <%= label_tag(:collection, collection.title, "aria-hidden" =>true) %>
                  </li>
                <% end %>
              </ul>
            </div><!-- collection-list -->
          <% end %> <!-- else -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <% if user_collections.blank? %>
            <%= button_for_create_collection %>
          <% else %> 
            <%= button_for_update_collection %>
            <%= button_for_create_collection "Add to new Collection" %>
          <% end %> 
        </div>
      </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
