<h2 class="sr-only">Descriptions</h2>
<dl class="metadata-collections">
  <dt><%= get_label("total_items") %></dt>
  <dd><%= @collection.members.count %></dd>
  <dt><%= get_label("size") %></dt>
  <dd><%= number_to_human_size(@collection.bytes) %></dd>
  <% (@collection.terms_for_display).each do |term| %>
      <% if @collection.send(term).present? %>
      <dt><%= get_label(term) %></dt>
      <dd><%= render_show_field_partial_with_action("records", term, {record: @collection}) %></dd>
      <% end %>
  <% end %>
</dl>