<% provide :page_title, construct_page_title("Edit Collection #{@form.title.first}") %>

<%= provide :page_header do %>
  <h1>Edit Collection: <%= @form.title.first %></h1>
<% end %>

<% unless has_collection_search_parameters? %>
  <div class="row">
    <div class="col-xs-12 col-sm-10 pull-right">
      <%= render 'collections/form' %>
    </div>
    <div class="col-xs-12 col-sm-2">
      <%= render 'collections/media_display', presenter: @collection %>
      <%= render 'collections/edit_actions' %>
    </div>
  </div>
<% end %>

<div class="row m-t-3">
  <h2 class="col-xs-12 col-sm-6"><%= t('sufia.collection.edit.manage_items') %></h2>
  <div class="col-xs-12 col-sm-6">
    <%= render 'search_form', presenter: @collection %>
  </div>
</div>
<%= render 'sufia/my/did_you_mean' %>
<%= render 'sufia/my/facet_selected' %>
<%= render 'collections/sort_and_per_page', collection: @collection if @response.response['numFound'] > 0 %>
<%= render 'document_list', documents: @member_docs, document_list_format: "dashboard" %>
<%= render 'paginate' %>
