<% provide :page_title, construct_page_title("Edit Collection #{@form.title.first}") %>

<%= render_breadcrumbs builder: Sufia::BootstrapBreadcrumbsBuilder %>
<%= provide :page_header do %>
  <h1>Edit Collection: <%= @form.title.first %></h1>
<% end %>

<% unless has_collection_search_parameters? %>
  <div class="row">
    <div class="col-xs-12 col-sm-10 pull-right">
      <%= render 'collections/form' %>
    </div>
    <div class="col-xs-12 col-sm-2">
      <%= render 'collections/media_display', collection: @collection %>
      <%= render 'collections/edit_actions' %>
    </div>
  </div>
<% end %>

<h2>Manage Items in this Collection</h2>
<%= render 'search_collection_dashboard_form'%>
<%= render 'my/did_you_mean' %>
<%= render 'my/facet_selected' %>
<%= render 'collections/sort_and_per_page', collection: @collection %>
<%= render 'document_list', documents: @member_docs, document_list_format: "dashboard" %>
<%= render 'paginate' %>
