<% provide :page_title, curation_concern_page_title(@collection) %>

<h1>Edit <%= @collection.first_title %> <span class="human_readable_type">(<%= @collection.human_readable_type %>)</span></h1>

<% unless has_collection_search_parameters? %>
  <%= render 'collections/edit_actions' %>
  <%= render 'collections/form', record: @collection %>
<% end %>
<br />

<h2>Manage Items in this Collection</h2>
<%= render 'search_collection_dashboard_form'%>
<%= render 'catalog/did_you_mean' %>
<%= render 'catalog/constraints', localized_params: params %>
<%= render 'document_list', documents: @member_docs, document_list_format: "dashboard" %>
<%= render 'paginate' %>

