<% @page_title = "#{@collection.title} - #{application_name}" %>

<h1 class="lower"><%= @collection.title %></h1>

<%= render partial: 'curation_concern/base/representative_media', locals: {work: @collection} %>

<h3><%=@collection.description%> </h3>

<% unless has_collection_search_parameters? %>
  <%= render partial: 'collections/show_actions' %>
  <%= render 'attributes', curation_concern: @collection %>
<% end %>

<%= render partial: 'search_form'%>
<%= render 'sort_and_per_page' %>

<% if has_collection_search_parameters? %>
  <h2>Search Results within this Collection</h2>
<% else %>
  <h2>Items in this Collection</h2>
<% end %>
<%= render_document_index @member_docs %>

<%= render partial: 'paginate' %>
