<% @page_title = "#{@collection.title} - #{application_name}" %>

<%= render partial: 'generic_files/breadcrumbs', locals: {
  include_file: false, generic_file: GenericFile.new(title: @collection.title) } %>

<h1 class="lower"><%= @collection.title %></h1>

<h3><%=@collection.description%> </h3>

<% unless has_collection_search_parameters? %>
  <div itemscope itemtype="http://schema.org/CollectionPage" class="row">
    <div class="col-sm-4">
      <%= render partial: 'collections/media_display', locals: { generic_file: @collection } %>
    </div>
    <div class="col-sm-8"><!-- class="column second"> -->
      <%= render partial: 'collections/show_actions' %>
      <%= render partial: 'collections/show_descriptions', locals: { generic_file: @collection } %>
    </div><!-- /columns second -->
  </div> <!-- /columns two-b -->
<% end %>

<%= render 'sort_and_per_page' %>

<% if has_collection_search_parameters? %>
    <% header_title = "Search Results within this Collection" %>
<% else %>
    <% header_title = "Items in this Collection" %>
<% end %>

<div>
  <!-- Use CSS class h2 rather than HTML h2 tag to allow header and search box to align vertically -->
  <span class="h2"><%= header_title %></span>
  <%= render partial: 'search_form'%>
</div>

<%= render_document_index @member_docs %>
<%= render partial: 'paginate' %>


