<ul class="nav nav-pills nav-stacked">
  <li class="<%= 'active' if current_page? sufia.admin_stats_path %>">
    <%= link_to sufia.admin_stats_path do %>
      <span class="fa fa-bar-chart"></span> <%= t('sufia.admin.sidebar.statistics') %>
    <% end %>
  </li>
  <li class="<%= 'active' if current_page? sufia.admin_features_path %>">
    <%= link_to sufia.admin_features_path do %>
      <span class="fa fa-cog"></span> <%= t('sufia.admin.sidebar.settings') %>
    <% end %>
  </li>
  <li class="<%= 'active' if current_page? sufia.admin_admin_sets_path %>">
    <%= link_to sufia.admin_admin_sets_path do %>
      <span class="fa fa-sitemap"></span> <%= t('sufia.admin.sidebar.admin_sets') %>
    <% end %>
  </li>
</ul>
