<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading"><div class="h3 panel-title text-center"><%= t('.registered_users') %></div></div>
      <div class="panel-body text-center">
        Current
        <div class="h3"><%= @presenter.user_count %></div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading"><div class="h3 panel-title text-center"><%= t('.total_visitors') %></div></div>
      <div class="panel-body text-center">Past 30 days
        <div class="h3">n/a</div>
      </div>
    </div>
  </div>

    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading"><div class="h3 panel-title text-center"><%= t('.returning_visitors') %></div></div>
        <div class="panel-body text-center">Past 30 days
          <div class="h3">n/a</div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading"><div class="h3 panel-title text-center"><%= t('.new_visitors') %></div></div>
        <div class="panel-body text-center">Past 30 days
          <div class="h3">n/a</div>
        </div>
      </div>
    </div>
</div>
<%= render 'collections' %>
