<%- stylesheet_links << ['../infusion/framework/fss/css/fss-layout.css', {:plugin=>"fluid-infusion"}] %>
<%- field_tag_options = defined?(uploader_options) ? uploader_options : {} %>
<%- container_content_type_param = defined?(container_content_type) ? "?container_content_type=#{container_content_type}" : "" %>
<div id="uploader-contents">
    
    <!-- This form will be progressively enhanced by the Fluid Uploader component. -->    
    <form method="post" enctype="multipart/form-data" class="fl-uploader fl-progEnhance-basic" action="<%=h upload_url %>">
        <input type="hidden" name="container_id" value="<%=h container_id %>"/>
        <%= hidden_field_tag("container_content_type", container_content_type) if defined?(container_content_type) %>
        <p>Browse to upload a file.</p>
        <!-- <input name="Filedata-orig" type="file" /> -->
        <%= file_field_tag "Filedata", field_tag_options %>
        <div><input type="submit" value="Upload File"/></div>
    </form>
    
    <!-- This is the markup for the Fluid Uploader component itself. -->
    <form class="flc-uploader fl-uploader fl-progEnhance-enhanced" action="<%=h upload_url %>" method="get" enctype="multipart/form-data">
              
        <!-- The file queue -->
        <div class="fl-uploader-queue-wrapper">
            
            <!-- Scrollable view -->
            <div class="flc-scroller fl-scroller">
                <div class="fl-scroller-inner">
                    <table cellspacing="0" class="flc-uploader-queue fl-uploader-queue" summary="Queue of files to upload.">
                        <tbody>
                            <!-- Rows will be rendered in here. -->
                            
                            <!-- Template markup for the file queue rows -->
                            <tr class="flc-uploader-file-tmplt flc-uploader-file fl-uploader-hidden-templates">
                                <th class="flc-uploader-file-name fl-uploader-file-name" scope="row">File Name Placeholder</th>


                                <td class="flc-uploader-file-size fl-uploader-file-size">0 KB</td>
                                <td class="fl-uploader-file-actions">
                                    <button type="button" class="flc-uploader-file-action fl-uploader-file-action" title="Remove File" tabindex="-1">
                                        <span class="fl-uploader-button-text fl-uploader-hidden">Remove file from queue</span>
                                    </button>
                                </td>
                            </tr>
                            
                            <!-- Template for the file error info rows -->
                            <tr class="flc-uploader-file-error-tmplt fl-uploader-file-error fl-uploader-hidden-templates">
                                <td colspan="3" class="flc-uploader-file-error"></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="flc-uploader-file-progressor-tmplt fl-uploader-file-progress"><span class="fl-uploader-file-progress-text fl-uploader-hidden">76%</span></div>
                </div>
            </div>
            
            <div class="flc-uploader-browse-instructions fl-uploader-browse-instructions"></div>

            <!-- Foot of the queue -->
            <div class="flc-uploader-queue-footer fl-uploader-queue-footer">
                <table cellspacing="0" cellpadding="0" summary="Status of file queue.">

                        <tr>
                            <td class="flc-uploader-total-progress-text">
                                <!-- Total: <span class="fl-uploader-totalFiles">0</span> files 
                                (<span class="fl-uploader-totalBytes">0 KB</span>) -->
                            </td>
                            <td class=".fl-uploader-footer-buttons" align="right" >
                                <a href="#" class="flc-uploader-button-browse fl-uploader-browse">Add Files</a>
                            </td>
                        </tr>

                </table>
                <div class="flc-uploader-total-progress fl-uploader-total-progress-okay">&nbsp;</div>
            </div>

        </div>
        
        <!-- Action buttons -->
        <div class="fl-uploader-btns">
            <button type="button" class="flc-uploader-button-pause fl-uploader-pause fl-uploader-hidden">Stop Upload</button><button type="button" class="flc-uploader-button-upload fl-uploader-upload fl-uploader-button-default fl-uploader-dim ui-button ui-widget ui-state-default" disabled="disabled">Upload</button>
        </div>
    </form>
	
</div>
<div style="clear:both;"></div>
