<% menu = Hyrax::MenuPresenter.new(self) %>

<ul class="admin-sidebar nav nav-pills nav-stacked">
  <%= menu.nav_link(hyrax.admin_stats_path) do %>
    <span class="fa fa-bar-chart"></span> <%= t('hyrax.admin.sidebar.statistics') %>
  <% end %>

  <%= menu.nav_link(hyrax.admin_features_path) do %>
    <span class="fa fa-cog"></span> <%= t('hyrax.admin.sidebar.settings') %>
  <% end %>

  <%= menu.nav_link(hyrax.admin_admin_sets_path) do %>
    <span class="fa fa-sitemap"></span> <%= t('hyrax.admin.sidebar.admin_sets') %>
  <% end %>

  <li>
    <%= menu.collapsable_section t('hyrax.admin.sidebar.workflow'),
                                 icon_class: "fa fa-code-fork",
                                 id: 'collapseWorkflows',
                                 open: menu.workflows_section? do %>
      <%= menu.nav_link(hyrax.admin_workflows_path) do %>
        <span class="fa fa-flag"></span> <%= t('hyrax.admin.sidebar.workflow_review') %>
      <% end %>
      <%= menu.nav_link(hyrax.admin_workflow_roles_path) do %>
        <span class="fa fa-users"></span> <%= t('hyrax.admin.sidebar.workflow_roles') %>
      <% end %>
    <% end %>
  </li>

  <%= menu.nav_link(hyrax.admin_users_path) do %>
    <span class="fa fa-user"></span> <%= t('hyrax.admin.sidebar.users') %>
  <% end %>
</ul>
