      <h3>
        <%= link_to truncate(featured.title_or_label, length: 28, separator: ' '),
          sufia.generic_file_path(featured), title: featured.title_or_label  %>
      </h3>
      <div> 
        <%= link_to_profile featured.depositor("no depositor value") %>
      </div>
      <div> 
        <%= link_to truncate(featured.label, length: 25),
            sufia.generic_file_path(featured), title: featured.label %>
      </div>
      <div> 
        <%= link_to_facet_list(featured.resource_type, 'desc_metadata__resource_type', 'no resource specified') %>
      </div>
      <div> 
        <%= link_to_facet_list(featured.tags, 'desc_metadata__tag', 'no keywords specified') %>
      </div>

