en:
  sufia:
    icons:
      <%= file_name %>:     'fa fa-file-text-o'
    select_type:
      <%= file_name %>:
        name:               "<%= human_name.titleize %>"
        description:        "<%= human_name %> works"
  simple_form:
    labels:
      <%= file_name %>:
        based_near:       "Location"
        description:      "Abstract or Summary"
        keyword:          "Keyword"
        date_created:     "Date Created"
        related_url:      "Related URL"
        files:            "Upload a new version of this file from your computer"
        collection_ids:   "Add as member of collection"
        admin_set_id:     "Add as member of administrative set"

    hints:
      <%= file_name %>:
        resource: "Pre-defined categories to describe the type of content being uploaded, such as &quot;article&quot; or &quot;dataset.&quot;  More than one type may be selected."
        title: "A name to aid in identifying a work."
        keyword: "Words or phrases you select to describe what the work is about. These are used to search for content."
        subject: "Headings or index terms describing what the work is about; these do need to conform to an existing vocabulary."
        creator: "The person or group responsible for the work. Usually this is the author of the content. Personal names should be entered with the last name first, e.g. &quot;Smith, John.&quot;."
        related_url: "A link to a website or other specific content (audio, video, PDF document) related to the work. An example is the URL of a research project from which the work was derived."
        based_near: "A place name related to the work, such as its site of publication, or the city, state, or country the work contents are about. Calls upon the <a href='http://www.geonames.org'>GeoNames web service</a>."
        contributor: "A person or group you want to recognize for playing a role in the creation of the work, but not the primary role."
        date_created: "The date on which the work was generated."
        description: "Free-text notes about the work. Examples include abstracts of a paper or citation information for a journal article."
        identifier: "A unique handle identifying the work. An example would be a DOI for a journal article, or an ISBN or OCLC number for a book."
        language: "The language of the work's content."
        publisher: "The person or group making the work available. Generally this is the institution."
        rights: "Licensing and distribution information governing access to the work. Select from the provided drop-down list."

