<h3><%= t('.add_participants') %></h3>
<p><%= t('.instructions') %></p>
<% access_options = options_for_select([
    [t('hyrax.dashboard.collections.form_share.access_options.manager'), Hyrax::CollectionTypeParticipant::MANAGE_ACCESS],
    [t('hyrax.dashboard.collections.form_share.access_options.creator'), Hyrax::CollectionTypeParticipant::CREATE_ACCESS]]) %>
<% unless @collection_type_participant.nil? %>

  <section class="section-participants">
    <!-- Add group form -->
    <div class="form-add-participants-wrapper row spacer" data-id="<%= @form.id %>">
      <%= simple_form_for @collection_type_participant,
                          url: hyrax.admin_collection_type_participants_path,
                          html: { id: 'group-participants-form' },
                          as: :collection_type_participant do |f| %>
            <div class="form-inline add-participants-form">
            <label class="col-md-2 col-4 col-form-label"><%= t('.add_group') %>:</label>

            <div class="col-md-10 col-8 form-group">
              <%= f.hidden_field :hyrax_collection_type_id, value: @collection_type_participant.hyrax_collection_type_id %>
              <%= f.hidden_field :agent_type, value: Hyrax::CollectionTypeParticipant::GROUP_TYPE %>
              <%= f.text_field :agent_id,
                               placeholder: "Search for a group...",
                               class: 'form-control' %>
              <%= I18n.t("hyrax.admin.collection_types.form_participants.as", :default => "as") %>
              <%= f.select :access,
                           <%= I18n.t("hyrax.admin.collection_types.form_participants.access_options", :default => "access_options,") %>
                           { prompt: "Select a role..." },
                           class: 'form-control' %>

                         <%= f.submit t('.submit'), class: 'btn btn-info', :disabled => true %>
            </div>
          </div>
      <% end %>
    </div>

    <!-- Add user form -->
    <div class="form-add-participants-wrapper row" data-id="<%= @form.id %>">
      <%= simple_form_for @collection_type_participant,
                          url: hyrax.admin_collection_type_participants_path,
                          html: { id: 'user-participants-form' },
                          as: :collection_type_participant do |f| %>
            <div class="form-inline add-participants-form">
              <label class="col-md-2 col-4 col-form-label"><%= t('.add_user') %>:</label>

              <div class="col-md-10 col-8 form-group">
                <%= f.hidden_field :hyrax_collection_type_id, value: @collection_type_participant.hyrax_collection_type_id %>
                <%= f.hidden_field :agent_type, value: Hyrax::CollectionTypeParticipant::USER_TYPE %>
                <%= f.text_field :agent_id,
                                 placeholder: "Search for a user..." %>
                <%= I18n.t("hyrax.admin.collection_types.form_participants.as", :default => "as") %>
                <%= f.select :access,
                             <%= I18n.t("hyrax.admin.collection_types.form_participants.access_options", :default => "access_options,") %>
                             { prompt: "Select a role..." },
                             class: 'form-control' %>

                           <%= f.submit t('.submit'), class: 'btn btn-info', :disabled => true %>
              </div>
            </div>
      <% end %>
    </div>
  </section>

<% end %>
<section class="section-current-participants">
  <legend><%= t('.current_participants') %></legend>
  <%= render 'form_participant_table', access: 'managers', filter: :manager? %>
  <%= render 'form_participant_table', access: 'creators', filter: :creator? %>
</section>
