<%= content_for :heading do %>

  <%= render partial: "dashboard/_index_partials/heading_greetings" %>

  <%= render partial: "dashboard/_index_partials/heading_actions" %>

<% end %>

<%= content_for :sidebar do %>
  
  <div class="row">
    <div class="portal"><%= render partial: "dashboard/_index_partials/user_info" %></div>
  </div>

  <div class="row">
    <div class="portal"><%= render partial: "dashboard/_index_partials/stats" %></div>
  </div>

<% end %>

<%= render partial: "dashboard/_index_partials/contents" %>
