<%#
Copyright © 2012 The Pennsylvania State University

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
%>

<% javascript 'video.js' %>
<% javascript 'audio.min.js' %>
<% stylesheet 'video-js.css' %>
<% javascript 'dashboard.js' %>


<% content_for :local_js do %>
  initialize_audio();
  
  $(document).ready(function(){
      <% rurl = root_url %>
      <% rurl = rurl.slice(0,rurl.length-2) if rurl[rurl.length-1] == '/' %> 
      copy_links = $('a.copypaste');
      for(var i=0; i < copy_links.length; i++) 
      {
        $('#'+ copy_links[i].id).zclip({
          path: '/assets/ZeroClipboard.swf', 
          copy: function() {return '<%=rurl%>' + $('#src_'+this.id).attr('href'); }
        });
      }
  });

  // remove the existing toggle bittins and reinitialize with no labels
  $("[data-behavior='batch-add-form']").unbind("bl_checkbox_submit");
  $("input[type='checkbox'].batch_toggle").remove();
  $("label.batch_toggle").remove();
  $("[data-behavior='batch-add-form']").bl_checkbox_submit({
          checked_label: "",
          unchecked_label: "",
          css_class: "batch_toggle"
      }); 
  
  // hide or show the batch update buttons on page startup
  toggleButtons();
      
  // hide or show the batch update buttons file selections
  $(".batch_toggle").bind('click', function(e) {
        e.preventDefault();
        toggleButtons();
    });

    
  // function to hide or show the batch update buttons based on how may items are checked
  function toggleButtons( ){
      var n = $(".batch_toggle:checked").length;
      if (n>0) {
          $('.batch-select-all').show();
          $('.button_to').show();
      } else {
          $('.batch-select-all').hide();
          $('.button_to').hide();
      }
    }
<% end %>



<% content_for :local_css do %>
.audiojs {
  width: 38px;
  float: left;  
}

audio {
  width: 38px;
  float: left;
}

.batch-select-all, .button_to {
 
  float: right;
  padding-left: 6px;
  padding-top: 0px;
}

.bedit {
  width: 65%;
 }
 
.batch-select-all .btn-primary {
  background-color:#da4f49;background-image:-moz-linear-gradient(top, #ee5f5b, #bd362f);background-image:-ms-linear-gradient(top, #ee5f5b, #bd362f);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));background-image:-webkit-linear-gradient(top, #ee5f5b, #bd362f);background-image:-o-linear-gradient(top, #ee5f5b, #bd362f);background-image:linear-gradient(top, #ee5f5b, #bd362f);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0);border-color:#bd362f #bd362f #802420;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#bd362f;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btn-danger:hover,.btn-danger:active,.btn-danger.active,.btn-danger.disabled,.btn-danger[disabled]{background-color:#bd362f;*background-color:#a9302a;
}

.button_to .btn-primary {
background-color:#faa732;background-image:-moz-linear-gradient(top, #fbb450, #f89406);background-image:-ms-linear-gradient(top, #fbb450, #f89406);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));background-image:-webkit-linear-gradient(top, #fbb450, #f89406);background-image:-o-linear-gradient(top, #fbb450, #f89406);background-image:linear-gradient(top, #fbb450, #f89406);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89406', GradientType=0);border-color:#f89406 #f89406 #ad6704;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#f89406;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btn-warning:hover,.btn-warning:active,.btn-warning.active,.btn-warning.disabled,.btn-warning[disabled]{background-color:#f89406;*background-color:#df8505;
}
<% end %>

  <% @page_title = application_name + " Dashboard" %>

  <div class="row">
    <%= render :partial => 'search_form' %>
    <h2 class="heading1">My Dashboard</h2>
  </div>

  <% extra_head_content << render_opensearch_response_metadata.html_safe %>
  <% if params.has_key?("q") %>
    <div class="alert alert-info"><i class="icon-search icon-large"></i> You searched for: <strong><%= params[:q] %></strong></div>
  <% end %>

  <%= render :partial => 'did_you_mean' %>
  <%= render :partial => 'facet_selected' %>

	<%= render 'constraints', :localized_params=>params %>
  
  <% render_pagination_info @response, :entry_name=>'item' %>

  <%= render 'sort_and_per_page' %>

  <%= render :partial=>'dashboard/document_list'  %>  
	<% sidebar_items << capture do %>
	  <%= render :partial=>'facets' %>
	<%  end %>

  <%= render 'results_pagination' %>
  <%= render :partial => 'users/activity_log', :locals => {:events => @events} %>
