<% javascript 'video.js' %>
<% javascript 'audio.min.js' %>
<% stylesheet 'video-js.css' %>
<% javascript 'dashboard.js' %>


<% content_for :local_js do %>
    audiojs.events.ready(function() {
      var as = audiojs.createAll();
      });
  
  $(document).ready(function(){
      <% rurl = root_url %>
      <% rurl = rurl.slice(0,rurl.length-2) if rurl[rurl.length-1] == '/' %> 
      copy_links = $('a.copypaste');
      for(var i=0; i < copy_links.length; i++) 
      {
        $('#'+ copy_links[i].id).zclip({
          path: '/assets/ZeroClipboard.swf', 
          copy: function() {return '<%=rurl%>' + $('#src_'+this.id).attr('href'); }
        });
      }
  });

<% end %>

<% content_for :local_css do %>
.audiojs {
  width: 140px;
}
<% end %>

  <% @page_title = application_name + " Dashboard" %>

  <%= render :partial => 'search_form' %>
  <h2 class="heading1">Dashboard</h2>

        <% extra_head_content << render_opensearch_response_metadata.html_safe %>
  <% if params.has_key?("q") %>
    <p class="you-searched"><a class="itemicon itemsearch">search</a> You searched for: <%= params[:q] %></p> 
  <% end %>

  <%= render :partial => 'did_you_mean' %>
  <%= render :partial => 'facet_selected' %>

	<%= render 'constraints', :localized_params=>params %>
  
  <% render_pagination_info @response, :entry_name=>'item' %>

  <%= render 'sort_and_per_page' %>

  <%= render :partial=>'dashboard/document_list'  %>  
	<% sidebar_items << capture do %>
	  <%= render :partial=>'facets' %>
	<%  end %>

  <%= render 'results_pagination' %>
