<% content_for :head do %>
    <%= auto_discovery_link_tag(:rss, sufia.url_for(params.merge(:format => 'rss')), :title => "RSS for results") %>
    <%= auto_discovery_link_tag(:atom, sufia.url_for(params.merge(:format => 'atom')), :title => "Atom for results") %>
<% end %>

<% content_for :local_js do %>

    initialize_audio();

    // hide or show the batch update buttons on page startup
    window.batch_part_on_other_page = <%= @batch_part_on_other_page %>;
    window.batch_size_on_other_page = <%= @batch_size_on_other_page %>;
    window.result_set_size = <%= @result_set_size %>;
    window.document_list_count = <%= @document_list.count %>;
    toggleButtons(<%= !@empty_batch %>);

    // initialize hydra batch edit and set up select all button toggle after checkboxes have been created
    $('#documents').batchEdit({afterCheckboxUpdate: setup_buttontoggle});

<% end %>

<% @page_title = application_name + " Dashboard" %>

<% if params.has_key?("q") %>
    <div class="alert alert-info"><i class="glyphicon glyphicon-search icon-large"></i> You searched for:
      <strong><%= params[:q] %></strong></div>
<% end %>

<%= render :partial => 'did_you_mean' %>
<%= render :partial => 'facet_selected' %>

<%= render 'constraints', :localized_params => params %>

<%= render 'sort_and_per_page' %>

<%= render :partial => 'dashboard/document_list' %>
<% content_for :sidebar do %>
    <%= render :partial => 'facets' %>
<% end %>

<%= render 'results_pagination' %>
<% if @events.present? %>
    <%= render :partial => 'users/activity_log', :locals => {:events => @events} %>
<% end %>
