<% id = collection_presenter.id %>
<tr id="document_<%= id %>">
  <td></td>
  <td>
    <div class="media">
      <span class="<%= Hyrax::ModelIcon.css_class_for(::Collection) %> collection-icon-small pull-left"></span>
      <div class="media-body">
        <div class="media-heading">
          <%= link_to collection_presenter.show_path do %>
              <span class="sr-only"><%= t("hyrax.dashboard.my.sr.show_label") %> </span>
              <%= collection_presenter.title_or_label %>
          <% end %>
          <a href="#" class="small" title="Click for more details">
            <span id="expand_<%= id %>" class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only"> <%= "#{t("hyrax.dashboard.my.sr.detail_label")} #{collection_presenter.title_or_label}" %></span>
          </a>
        </div>
      </div>
    </div>
  </td>
  <td class="collection_type">
    <%= collection_presenter.collection_type_badge %>
  </td>
  <td class="text-center date"><%= collection_presenter.modified_date.try(:to_formatted_s, :standard) %> </td>
  <td class="text-center">
    <%= render_visibility_link(collection_presenter.solr_document) %>
  </td>
  <td class="text-center">
    <% if collection_presenter.solr_document.admin_set? %>
      <%= render 'admin_set_action_menu', admin_set_presenter: collection_presenter %>
    <% else %>
      <%= render 'collection_action_menu', collection_presenter: collection_presenter %>
    <% end %>
  </td>
</tr>
<tr id="detail_<%= id %>"> <!--  collection detail"> -->
  <td colspan="6">
    <dl class="expanded-details row">
      <dt class="col-xs-3 col-lg-2"><%= t("hyrax.dashboard.my.collection_list.description") %></dt>
      <dd class="col-xs-9 col-lg-10"><%= collection_presenter.description&.first %></dd>
      <dt class="col-xs-3 col-lg-2"><%= t("hyrax.dashboard.my.collection_list.edit_access") %></dt>
      <dd class="col-xs-9 col-lg-10">
      <% if collection_presenter.edit_groups.present? %>
        <%= t("hyrax.dashboard.my.collection_list.groups") %> <%= collection_presenter.edit_groups.join(', ') %>
        <br />
      <% end %>
        <%= t("hyrax.dashboard.my.collection_list.users") %> <%= collection_presenter.edit_people.join(', ') %>
      </dd>
    </dl>
  </td>
</tr>
