<% if show_sort_and_per_page? && collection_member_sort_fields.many? %>
  <%= form_tag collection_path(collection), method: :get, class: 'per_page form-horizontal' do %>
    <%= render 'view_type_group' %>
    <fieldset class="pull-left">
      <legend class="sr-only"><%= t('hyrax.sort_label') %></legend>
      <%= label_tag(:sort, t('.sort_by_html')) %>
      <%= select_tag(:sort, options_from_collection_for_select(collection_member_sort_fields, 'first', lambda {|field| field.last.label}, h(params[:sort]))) %>
      <%= label_tag(:per_page) do %>
        <span class="tiny-nudge"><%= t('.results_per_page') %></span>
        <%= select_tag(:per_page, options_for_select(Hyrax.config.range_for_number_of_results_to_display_per_page, h(params[:per_page])), title: t('.number_of_results_to_display_per_page')) %>
      <% end %>
      <%= render_hash_as_hidden_fields(search_state.params_for_search.except(:per_page, :sort)) %>
      &nbsp;<button class="btn btn-xs btn-default tiny-nudge"><span class="glyphicon glyphicon-refresh"></span> <%= t('helpers.action.refresh') %></button>
    </fieldset>
  <% end %>
<% end %>
