<% if show_sort_and_per_page? && active_sort_fields.many? %>
  <%= form_tag collection_path(collection), method: :get, class: 'per_page form-horizontal' do %>
    <%= render 'view_type_group' %>
    <fieldset class="pull-left">
      <legend class="sr-only"><%= t('hyrax.sort_label') %></legend>
      <%= label_tag(:sort, '<span>Sort by:</span>'.html_safe) %>
      <%= select_tag(:sort, options_from_collection_for_select(active_sort_fields, 'first', lambda {|field| field.last.label}, h(params[:sort]))) %>
      <%= label_tag(:per_page) do %>
        <span class="tiny-nudge">Results per page:</span>
        <%= select_tag(:per_page, options_for_select(['10', '20', '50', '100'], h(params[:per_page])), title: "Number of results to display per page") %>
      <% end %>
      <%= render_hash_as_hidden_fields(search_state.params_for_search.except(:per_page, :sort)) %>
      &nbsp;<button class="btn btn-xs btn-default tiny-nudge"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
    </fieldset>
  <% end %>
<% end %>
