<%
   provide :page_title, construct_page_title(@presenter.title)

   if banner_file(@presenter.id).blank?
     header_class = 'hyc-generic'
     header_data_attr = ''
	 else
	   header_class = 'hyc-banner'
	   header_data_attr = "data-background=\"#{banner_file(@presenter.id)}\""
	 end
%>

<div class="hyc-container" itemscope itemtype="http://schema.org/CollectionPage">
	<div class="row hyc-header">
		<div class="col-md-12">

		  <header class="<%=header_class%>" <%=header_data_attr%>>

				<div class="hyc-title">
					<h1><%=@presenter.title.first%></h1>
				  <span class="label label-success">Collection</span> <%# Ask Lynette where you can grab "User Collection" from  %>
				  <%= @presenter.permission_badge %>
				</div>

				<% unless logo_record(@presenter.id).blank? %>
					<div class="hyc-logos">
					  <% logo_record(@presenter.id).each_with_index  do |lr, i| %>

							<% if lr[:linkurl].blank? %>
					      <img alt="<%= lr[:alttext] %>" src="<%= lr[:file_location] %>">
							<% else %>
					      <a href="<%= lr[:linkurl] %>">
					        <img alt="<%= lr[:alttext] %>" src="<%= lr[:file_location] %>">
					      </a>
					    <% end %>

						<% end %>
					</div>
				<% end %>

			  <% unless @presenter.total_viewable_items.blank? %>
				  <div class="hyc-bugs">
				    <div class="hyc-item-count">
				      <b><%= @presenter.total_viewable_items %></b>
				      <%= 'Item'.pluralize(@presenter.total_viewable_items) %></div>

			      <% unless @presenter.creator.blank? %>
			        <div class="hyc-created-by">Created by: <%= @presenter.creator.first %></div> <%# Ask Lynette why lname, fname... this is hard to style in inline lists  %>
			      <% end %>

			      <% unless @presenter.modified_date.blank? %>
			        <div class="hyc-last-updated">Last Updated: <%= @presenter.modified_date %></div>
			      <% end %>
				  </div>
			  <% end %>

		  </header>

		</div>
	</div>

	<div class="row hyc-body">
		<div class="col-md-8 hyc-description">
			<%= render 'collection_description', presenter: @presenter %>
		</div>
    <div class="col-md-4 hyc-metadata">
      <% unless has_collection_search_parameters? %>
        <h2>Collection Details</h2>
        <%= render 'show_descriptions' %>
      <% end %>
    </div>
  </div>

  <!-- BL1 -->
	<div class="row hyc-blacklight hyc-bl-title">
	  <div class="col-md-12">
			<h2>
				<% if has_collection_search_parameters? %>
					Search Results within this Collection
				<% else %>
					<%= t('.works_in_collection') %>
				<% end %>
			</h2>
		</div>
	</div>

  <!-- BL2 -->
  <div class="row hyc-blacklight hyc-bl-search">
    <div class="col-md-6 col-md-offset-6">
      <%= render 'search_form', presenter: @presenter %>
    </div>
  </div>

	<!-- BL3 -->
	<div class="row hyc-blacklight hyc-bl-sort">
		<div class="col-md-12">
			<%= render 'sort_and_per_page', collection: @presenter %>
		</div>
	</div>

	<!-- BL4 -->
	<div class="row hyc-blacklight hyc-bl-results">
		<div class="col-md-12">
			<%= render_document_index @member_docs %>
		</div>
	</div>

  <!-- BL5 -->
	<div class="row hyc-blacklight hyc-bl-pager">
		<div class="col-md-12">
			<%= render 'paginate' %>
		</div>
	</div>

</div>


<%#= render 'collection_title', presenter: @presenter %>
<%#= render 'media_display', presenter: @presenter %>
