<table class="table table-striped">
  <caption class="sr-only"><%= t("hyrax.dashboard.my.sr.listing") %> <%= application_name %></caption>
  <% unless params[:display_type] == 'list' %>
    <thead>
    <tr>
      <th><%= t("hyrax.dashboard.my.heading.title") %></th>
      <th><%= t("hyrax.dashboard.my.heading.date_uploaded") %></th>
      <th><%= t("hyrax.dashboard.my.heading.visibility") %></th>
      <th><%= t("hyrax.dashboard.my.heading.action") %></th>
    </tr>
    </thead>
  <% end %>
  <tbody>
  <% docs.each_with_index do |document, counter| %>
    <%= render 'list_collections', document: document, counter: counter %>
  <% end %>
  </tbody>
</table>
