<div class="modal fade" id="collection-admin-set-empty-to-delete-modal-<%= id %>" tabindex="-1" role="dialog" aria-labelledby="delete-admin-set-collection-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form class="delete-admin-set-collection-form">
        <div class="modal-body">
          <p><%= t('hyrax.dashboard.my.action.collections_confirmation_no_items_html') %></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('helpers.action.cancel') %></button>
          <%= link_to hyrax.admin_admin_set_path(id),
                      class: 'btn btn-danger',
                      title: t("hyrax.dashboard.my.action.delete_collection"),
                      method: :delete do %>
            <%= t('helpers.action.delete') %>
          <% end %>
        </div>
      </form>
    </div>
  </div>
</div>
