<div class="modal collectiontypes fade" id="collectiontypes-to-create" tabindex="-1" role="dialog" aria-labelledby="select-collectiontype-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form class="new-collection-select">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="<%= t('hyrax.dashboard.collection_type_actions.close') %>"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="select-collectiontype-label"><%= t('hyrax.dashboard.collection_type_actions.select_type_of_collection') %></h4>
        </div>

        <div class="modal-body">
          <% @collection_type_list_presenter.each do |row_presenter| %>
            <div class="radio radio-button-list">
              <label>
                <input type="radio" name="collection_type" value="<%= row_presenter.title.gsub(/\s+/, '') %>"
                <% if row_presenter.admin_set? %>
                  data-path="<%= new_admin_admin_set_path %>"
                <% else %>
                  data-path="<%= append_collection_type_url(new_dashboard_collection_path, row_presenter.id) %>"
                <% end %> />
                <h4><%= row_presenter.title %></h4>
                <p><%= row_presenter.description %></p>
              </label>
            </div>
          <% end %>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('hyrax.dashboard.collection_type_actions.close') %>
          </button>
          <input type="submit" class="btn btn-primary" value="<%= t('hyrax.dashboard.collection_type_actions.create_collection') %>" />
        </div>
      </form>
    </div><!-- ./modal-content -->
  </div>
</div>
