<div class="modal fade" id="add-collection-to-collection-modal" tabindex="-1" role="dialog" aria-labelledby="add-collection-to-collection-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="<%= t('hyrax.dashboard.heading_actions.close') %>"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="add-collection-to-collection-label"><%= t("hyrax.dashboard.my.action.add_collection_to_collection") %></h2>
      </div>
      <form class="add-collection-to-collection-form">
        <div class="modal-body">
          <div class="form-group">
            <label><%= t("hyrax.dashboard.my.action.select_collection") %></label>
            <select class="form-control">
              <option><%= t("hyrax.dashboard.my.action.select") %></option>
              <option>Test collection hardcoded #1</option>
              <option>Test collection hardcoded #2</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('helpers.action.cancel') %></button>
          <button type="button" class="btn btn-primary"><%= t("hyrax.dashboard.my.action.add_to_collection") %></button>
        </div>
      </form>
    </div>
  </div>
</div>
