<ul class="nav nav-tabs" id="my_nav" role="navigation">
  <span class="sr-only">You are currently listing your collections.  You have <%= @response.docs.count %> <%= 'collecction'.pluralize(@response.docs.count)%> </span>
    <li<%= ' class="active"'.html_safe if current_page_except_defaults?(controller: 'dashboard/collections') %>>
    <%= link_to t('hyrax.dashboard.all.collections'), hyrax.dashboard_collections_path %>
  </li>
  <li<%= ' class="active"'.html_safe if current_page_except_defaults?(controller: 'my/collections') %>>
    <%= link_to t('hyrax.dashboard.my.collections'), hyrax.my_collections_path %>
  </li>
</ul>
