<% provide :page_title, t("hyrax.admin.sidebar.collections") %>

<% provide :head do %>
  <%= rss_feed_link_tag route_set: hyrax %>
  <%= atom_feed_link_tag route_set: hyrax %>
<% end %>

<%= javascript_tag do %>
  <%= render partial: 'scripts', formats: [:js] %>
<% end %>

<% provide :page_header do %>
  <h1><span class="fa fa-folder-open"></span> <%= t("hyrax.admin.sidebar.collections") %></h1>
<% end %>

<div class="collections-wrapper">
  <section class="tabs-row">
    <!-- Page tabs -->
    <nav><%= render 'tabs' %></nav>

    <% if can?(:create, Collection) && @collection_type_list_presenter.any? %>
      <% if @collection_type_list_presenter.many? %>
        <% # modal to select type %>
        <button type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#collectiontypes-to-create"
          data-behavior="select-collection">
          <%= t(:'helpers.action.collection.new')%>
        </button>
      <% else @collection_type_list_presenter.any? %>
        <% # link directly to create collection form with type %>
        <%= link_to(t('helpers.action.collection.new'), "#{new_dashboard_collection_path}&collection_type_id=#{@collection_type_list_presenter.first_collection_type.id}", class: 'btn btn-primary') %>
      <% end %>
    <% end %>
  </section>

  <%# Collections list %>
  <div class="panel panel-default collections-panel-wrapper">
    <div class="panel-heading">
      <h3 class="panel-title"><strong><%= @response.docs.count %> collections</strong> in the repository</h3>
    </div>
    <div class="panel-body">
      <h2 class="sr-only">Collections listing</h2>
      <%= render 'search_header' %>
      <%= render 'hyrax/my/document_list' %>
      <%= render 'results_pagination' %>
    </div>
  </div>

  <!-- Render Modals -->
  <%= render 'modal_add_collection_to_collection' %>
  <%= render 'modal_add_collection_to_collection_deny' %>
  <%= render 'modal_collection_types_to_create' %>
  <%= render 'modal_delete_deny' %>
  <%= render 'modal_delete_selected_collections' %>

</div><!-- /collections-wrapper -->
