<% provide :page_header do %>
  <h1><span class="fa fa-paint-brush" aria-hidden="true"></span> <%= t('.header') %></h1>
<% end %>

<div class="panel panel-default">
  <div class="panel-body">
    <%= simple_form_for @form, url: admin_appearance_path do |f| %>
      <%= f.input :header_background_color, required: false, input_html: { type: 'color' } %>
      <%= f.input :header_text_color, required: false, input_html: { type: 'color' } %>
      <%= f.input :link_color, required: false, input_html: { type: 'color' } %>
      <%= f.input :footer_link_color, required: false, input_html: { type: 'color' } %>
      <%= f.input :primary_button_background_color, required: false, input_html: { type: 'color' } %>
      <%= f.submit class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
