<div class="panel panel-default tabs">
  <ul class="nav nav-tabs" role="tablist">
    <li class="active">
      <a href="#about" role="tab" data-toggle="tab"><%= t(:'hyrax.pages.tabs.about_page') %></a>
    </li>
    <li>
      <a href="#help" role="tab" data-toggle="tab"><%= t(:'hyrax.pages.tabs.help_page') %></a>
    </li>
    <li>
      <a href="#agreement" role="tab" data-toggle="tab"><%= t(:'hyrax.pages.tabs.agreement_page') %></a>
    </li>
    <li>
      <a href="#terms" role="tab" data-toggle="tab"><%= t(:'hyrax.pages.tabs.terms_page') %></a>
    </li>
  </ul>
  <div class="tab-content">
    <div id="about" class="tab-pane active">
      <div class="panel panel-default labels">
        <%= simple_form_for ContentBlock.for(:about), url: hyrax.page_path(ContentBlock.for(:about)) do |f| %>
          <div class="panel-body">
            <div class="field form-group">
                <%= f.label :about %><br />
                <%= f.text_area :about, value: f.object.value, class: 'form-control tinymce', rows: 20, cols: 120 %>
            </div>
          </div>
          <div class="panel-footer">
            <%= link_to t(:'hyrax.pages.cancel'), hyrax.admin_admin_sets_path, class: 'btn btn-default pull-right' %>
            <%= f.button :submit, class: 'btn btn-primary pull-right' %>
          </div>
        <% end %>
      </div>
    </div>
    <div id="help" class="tab-pane">
      <div class="panel panel-default labels">
        <%= simple_form_for ContentBlock.for(:help), url: hyrax.page_path(ContentBlock.for(:help)) do |f| %>
          <div class="panel-body">
            <div class="field form-group">
                <%= f.label :help %><br />
                <%= f.text_area :help, value: f.object.value, class: 'form-control tinymce', rows: 20, cols: 120 %>
            </div>
          </div>
          <div class="panel-footer">
            <%= link_to t(:'hyrax.pages.cancel'), hyrax.admin_admin_sets_path, class: 'btn btn-default pull-right' %>
            <%= f.button :submit, class: 'btn btn-primary pull-right' %>
          </div>
        <% end %>
      </div>
    </div>
    <div id="agreement" class="tab-pane">
      <div class="panel panel-default labels">
        <%= simple_form_for ContentBlock.for(:agreement), url: hyrax.page_path(ContentBlock.for(:agreement)) do |f| %>
          <div class="panel-body">
            <div class="field form-group">
                <%= f.label :agreement %><br />
                <%= f.text_area :agreement, value: f.object.value, class: 'form-control tinymce', rows: 20, cols: 120 %>
            </div>
          </div>
          <div class="panel-footer">
            <%= link_to t(:'hyrax.pages.cancel'), hyrax.admin_admin_sets_path, class: 'btn btn-default pull-right' %>
            <%= f.button :submit, class: 'btn btn-primary pull-right' %>
          </div>
        <% end %>
      </div>
    </div>
    <div id="terms" class="tab-pane">
      <div class="panel panel-default labels">
        <%= simple_form_for ContentBlock.for(:terms), url: hyrax.page_path(ContentBlock.for(:terms)) do |f| %>
          <div class="panel-body">
            <div class="field form-group">
                <%= f.label :terms %><br />
                <%= f.text_area :terms, value: f.object.value, class: 'form-control tinymce', rows: 20, cols: 120 %>
            </div>
          </div>
          <div class="panel-footer">
            <%= link_to t(:'hyrax.pages.cancel'), hyrax.admin_admin_sets_path, class: 'btn btn-default pull-right' %>
            <%= f.button :submit, class: 'btn btn-primary pull-right' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
