<% if CurationConcerns.config.display_media_download_link %>
    <div>
      <h2 class="sr-only"><%= t('curation_concerns.show.downloadable_content.heading') %></h2>
      <%= image_tag thumbnail_url(file_set),
                    class: "representative-media",
                    alt: "",
                    role: "presentation" %>
      <%= link_to main_app.download_path(file_set),
                  target: :_blank,
                  data: { turbolinks: false },
                  class: "btn btn-default" do %>
          <%= t('curation_concerns.show.downloadable_content.image_link') %>
      <% end %>
    </div>
<% else %>
    <div>
      <%= image_tag thumbnail_url(file_set),
                    class: "representative-media",
                    alt: "",
                    role: "presentation" %>
    </div>
<% end %>
