<%= form_for @user,
             url: hyrax.dashboard_profile_path(@user.to_param),
             html: { multipart: true, class: 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :avatar, t(".change_picture").html_safe, class: "col-xs-4 control-label" %>
    <div class="col-xs-8">
      <%= image_tag @user.avatar.url(:thumb) if @user.avatar? %>
      <%= f.file_field :avatar %>
      <%= f.hidden_field :avatar_cache %>
      <span class="help-block"><%= t('.help_change_picture_type') %></span>

      <div class="checkbox">
        <%= f.label :remove_avatar do %>
          <%= f.check_box :remove_avatar %>
          <%= t(".delete_picture") %>
          <a href="#" id="delete_picture_help" data-toggle="popover" data-content="<%= t('.delete_picture_data_content') %>" data-original-title="<%= t('.delete_picture_data_original_title') %>"><i class="glyphicon glyphicon-question-sign"></i></a>
        <% end %>
      </div>
    </div>
  </div><!-- .form-group -->

  <% if Hyrax.config.arkivo_api? %>
    <%= render partial: 'zotero', locals: { f: f, user: @user } %>
  <% end %>

  <div class="form-group">
    <%= f.label :orcid, class: 'col-xs-4 control-label' do %>
      <%= orcid_label %>
    <% end %>
    <div class="col-xs-8">
       <%= f.text_field :orcid, class: "form-control" %>
    </div>
  </div><!-- .form-group -->

  <div class="form-group">
    <%= f.label :twitter_handle, t(".twitter_handle").html_safe, class: 'col-xs-4 control-label' %>
    <div class="col-xs-8">
       <%= f.text_field :twitter_handle, class: "form-control" %>
    </div>
  </div><!-- .form-group -->

  <div class="form-group">
    <%= f.label :facebook_handle, t(".facebook_handle").html_safe, class: 'col-xs-4 control-label' %>
    <div class="col-xs-8">
       <%= f.text_field :facebook_handle, class: "form-control" %>
    </div>
  </div><!-- .form-group -->

  <div class="form-group">
    <%= f.label :googleplus_handle, t(".google_handle").html_safe, class: 'col-xs-4 control-label' %>
    <div class="col-xs-8">
       <%= f.text_field :googleplus_handle, class: "form-control" %>
    </div>
  </div><!-- .form-group -->

  <%= render 'trophy_edit', trophies: @trophies %>

  <%= f.button t(".save_profile").html_safe, type: 'submit', class: "btn btn-primary" %>
<% end %>
