<div>
  <div class="featured-item-title">
    <span class="sr-only"><%= t('hyrax.homepage.featured_works.document.title_label') %></span>
    <h3>
      <%= link_to [main_app, featured] do %>
        <%= render_thumbnail_tag(featured, {width: 90, alt: "#{featured.title.first.to_s} #{ t('hyrax.homepage.admin_sets.thumbnail')}" }, {suppress_link: true}) + featured.title.first %>
      <% end %>
    </h3>
  </div>
  <div class="featured-field featured-item-depositor">
    <span class="featured-label"><%= t('hyrax.homepage.featured_works.document.depositor_label') %>:</span> <%= link_to_profile featured.depositor(t('hyrax.homepage.featured_works.document.depositor_missing')) %>
  </div>
  <div class="featured-field featured-item-keywords">
    <span class="featured-label"><%= t('hyrax.homepage.featured_works.document.keyword_label') %>:</span> <%= link_to_facet_list(featured.keyword, 'keyword', t('hyrax.homepage.featured_works.document.keyword_missing')) %>
  </div>
</div>
