<div class="col-sm-6">
  <ul id="homeTabs" class="nav nav-tabs" role="list">
    <li class="active"><a href="#featured_container" data-toggle="tab" id="featureTab"><%= t('hyrax.homepage.featured_works.tab_label') %></a></li>
    <li><a href="#recently_uploaded" data-toggle="tab" id="recentTab"><%= t('hyrax.homepage.recently_uploaded.tab_label') %></a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade in active" id="featured_container" role="tabpanel" aria-labelledby="featureTab">
      <%= render 'featured_works' %>
    </div>
    <div class="tab-pane fade" id="recently_uploaded" role="tabpanel" aria-labelledby="recentTab">
      <%= render 'recently_uploaded', recent_documents: @recent_documents %>
    </div>
  </div>
</div><!-- /.col-xs-6 -->

<div class="col-sm-6">

  <ul class="nav nav-tabs" role="list">
    <li class="active"><a aria-expanded="true" href="#tab-col2-first" data-toggle="tab"><%= t('hyrax.homepage.admin_sets.title') %></a></li>
    <li class=""><a aria-expanded="false" href="#tab-col2-second" data-toggle="tab"><%= t('hyrax.homepage.featured_researcher.tab_label') %></a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="tab-col2-first">
      <h2 class="sr-only"><%= t('hyrax.homepage.admin_sets.title') %></h2>
      <%= render 'explore_collections', collections: @presenter.collections %>
    </div>
    <div class="tab-pane" id="tab-col2-second">
      <h2 class="sr-only"><%= t('hyrax.homepage.featured_researcher.title') %></h2>
      <%= render 'featured_researcher' %>
    </div>
  </div>
</div>
