<li class="recent-item">
    <div class="row">
      <div class="col-sm-12">
        <span class="sr-only"><%= t('hyrax.homepage.recently_uploaded.document.title_label') %></span>
        <h3>
          <%= link_to [main_app, recent_document] do %>
            <%= render_thumbnail_tag(recent_document, {width: 90, alt: "#{recent_document} #{ t('hyrax.homepage.admin_sets.thumbnail')}" }, {suppress_link: true}) %><%= recent_document %>
          <% end %>
        </h3>
        <p class="recent-field">
          <span class="recent-label"><%= t('hyrax.homepage.recently_uploaded.document.depositor_label') %>:</span> <%= link_to_profile recent_document.depositor(t('hyrax.homepage.recently_uploaded.document.depositor_missing')) %>
        </p>
        <p class="recent-field">
          <span class="recent-label"><%= t('hyrax.homepage.recently_uploaded.document.keyword_label') %>:</span> <%= link_to_facet_list(recent_document.keyword, 'keyword', t('hyrax.homepage.recently_uploaded.document.keyword_missing')).html_safe %>
        </p>
      </div>
    </div>
</li>
