<% presenter = f.object.presenter %>
<li class="dd-item dd3-item featured-item" data-id="<%= presenter.id %>">
  <div class="dd-handle dd3-handle"><%= t 'hyrax.homepage.featured_works.drag' %></div>
  <div class="dd3-content panel panel-default">
    <%= f.hidden_field :id %>
    <%= f.hidden_field :order, data: { property: "order" } %>
    <div class="main row">
      <div class="col-sm-12">
        <% if can? :destroy, FeaturedWork %>
          <h3 class="pull-right">
            <%= link_to hyrax.featured_work_path(presenter, format: :json),
              title: "Remove work from feature section",
              data: {behavior: 'unfeature'} do %>
              <i class='glyphicon glyphicon-remove'></i>
            <% end %>
            <p class="sr-only"><%= t 'helpers.action.remove' %></p>
          </h3>
        <% end %>
        <%= render 'hyrax/homepage/featured_fields', featured: presenter %>
      </div>
    </div>
  </div>
</li>
