<% provide :page_title, application_name %>

<% if @presenter.display_share_button? %>
  <div class="home_share_work row">
    <div class="col-sm-12 text-center">
      <%= link_to [main_app, :new, Hyrax.primary_work_type.model_name.singular_route_key],
            class: "btn btn-primary btn-lg" do %>
        <i class="glyphicon glyphicon-upload"></i> <%= t('hyrax.share_button') %>
      <% end %>
      <p><%= link_to t(:'hyrax.controls.terms'), hyrax.terms_path %></p>
    </div>
  </div>
<% end %>

<div class="row home-content">
  <%= render 'home_content' %>
</div>
<%= tiny_mce_stuff if can? :update, ContentBlock%>
