<tr>
  <td>
    <div class='media'>
      <%= link_to [main_app, member_document], class: 'media-left', 'aria-hidden' => true do %>
        <%= render_thumbnail_tag member_document, { class: 'hidden-xs file_listing_thumbnail' }, { suppress_link: true } %>
      <% end %>

      <div class='media-body'>
        <div class='media-heading'>
          <%= link_to [main_app, member_document], class: 'document-title' do %>
            <span class="sr-only">
              <%= t("hyrax.dashboard.my.sr.show_label") %>
            </span>
            <%= member_document.title_or_label %>
          <% end %>
        </div>
      </div>
    </div>
  </td>
  <td>
    <%= member_document.create_date %>
  </td>
  <td class="creator">
    <%= member_document.creator.join(', ') %>
  </td>
</tr>
