<% provide :page_title, construct_page_title(@presenter.title) %>

<div itemscope itemtype="http://schema.org/CollectionPage" class="row">
  <div class="col-sm-10 pull-right">
    <header>
      <h1><%= @presenter %>
          <%= link_to hyrax.admin_sets_path do %>
            <span class="label label-info">Administrative Collection</span>
          <% end %>
      </h1>
    </header>
    <%= render 'collection_description', presenter: @presenter %>
    <%= render 'show_descriptions' %>
  </div>
  <div class="col-sm-2">
    <% if has_thumbnail? @presenter.solr_document %>
      <div class="document-thumbnail">
        <%= render_thumbnail_tag @presenter.solr_document, {}, suppress_link: true %>
      </div>
    <% else %>
      <span class="fa fa-sitemap collection-icon-search"></span>
    <% end %>
  </div>
</div>

<h2>Works in this Collection</h2>

<%= render 'sort_and_per_page', collection: @presenter %>

<%= render_document_index @member_docs %>

<%= render 'paginate' %>
