en:
  hyrax:
    icons:
      <%= file_name %>:     'fa fa-file-text-o'
    select_type:
      <%= file_name %>:
        # TODO: translate `human_name` into Spanish
        name:               "<%= human_name.titleize %>"
        # TODO: translate `human_name` into Spanish
        description:        "<%= human_name %> trabajos"
  simple_form:
    labels:
      <%= file_name %>:
        based_near:       "Ubicación"
        description:      "Resumen o Sumario"
        keyword:          "Palabra Clave"
        date_created:     "Fecha de creación"
        related_url:      "URL relacionada"
        files:            "Cargar una nueva versión de este archivo desde tu computadora"
        collection_ids:   "Agregar como miembro de la colección"
        admin_set_id:     "Agregar como miembro del conjunto administrativo"
    hints:
      <%= file_name %>:
        based_near: "Nombre de un lugar relacionado con el trabajo, tal como el sitio de publicación, o ciudad, estado, o país, que esté relacionado con los contenidos del trabajo. Llamados a través del servicio de <a href='http://www.geonames.org'>GeoNames</a>."
        contributor: "Una persona o grupo que se quiera reconocer por tener un rol en la creación del trabajo, pero no el rol principal."
        creator: "La persona o grupo responsable del trabajo. Generalmente es el autor del contenido. Nombres personales deben ser introducidos con el apellidos al principio, ej. &quot;Smith, John.&quot;."
        date_created: "La fecha en la cual el trabajo fue generada."
        description: "Notas de texto libre acerca del trabajo. Algunos ejemplos incluyen resúmenes de una publicación o información de citación de un artículo."
        identifier: "Un identificador único del trabajo. Un ejemplo podría ser el DOI para un artículo de revista, o un ISBN o número OCLC para un libro."
        keyword: "Palabras o frases seleccionadas para describir de qué trata el trabajo. Éstas son usadas para buscar contenido."
        language: "El idioma del contenido del trabajo."
        publisher: "La persona o grupo que hizo disponible el trabajo. Generalmente ésta es una institución."
        related_url: "Un vínculo a una página web u otro contenido específico (audio, video, un documento PDF) relacionado a el trabajo. Un ejemplo es la URL de un proyecto de investigación de la cual proviene el trabajo"
        resource_type: "Categorías predefinidas que describen el tipo de contenido que se ha cargado, tal como &quot;artículo&quot; or &quot;conjunto de datos.&quot;  Más de un tipo puede ser seleccionado."
        rights: "Licencias e información de distribución sobre el trabajo. Seleccionar uno de la lista."
        subject: "Cabeceras o términos de índices que describen de qué trata el trabajo; éstos no tienen que pertenecer a un vocabulario existente.."
        title: "Un nombre para ayudar a la identificación de un trabajo."
