<table class="table table-striped" id="incoming-transfers">
  <thead>
    <tr>
      <th><%= t(".title") %></th>
      <th><%= t(".date") %></th>
      <th><%= t(".from") %></th>
      <th><%= t(".status") %></th>
      <th><%= t(".comments") %></th>
    </tr>
  </thead>
  <tbody>
  <% incoming_proxy_deposits.each do |req| %>
    <% unless req.sending_user.blank? %>
    <tr>
      <td> <%= show_transfer_request_title(req) %> </td>
      <td data-sort="<%= req.created_at.getutc.iso8601(5) %>">
        <relative-time datetime="<%= req.created_at.getutc.iso8601 %>" title="<%= req.created_at.to_formatted_s(:standard) %>">
          <%= req.created_at.to_formatted_s(:long_ordinal) %>
        </relative-time>
      </td>
      <td><%= link_to req.sending_user.name, hyrax.user_path(req.sending_user) %></td>
      <td>
        <% if req.pending? %>
            <div class="btn-group">
              <button class="btn btn-sm btn-primary" href="#"><%= t(".accept") %></button>
              <button class="btn btn-sm dropdown-toggle accept" data-toggle="dropdown" href="#"><span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to t(".allow_depositor_to_retain_edit_access"), hyrax.accept_transfer_path(req), method: :put, class: 'accept-retain', title: t(".accept_the_file_and_allow_the_original_depositor_to_retain_access_to_edit_the_file_and_metadata") %>
                </li>
                <li>
                  <%= link_to t(".remove_depositor_access"), hyrax.accept_transfer_path(req, reset: true), method: :put, class: 'accept-reset', title: t(".accept_the_file_remove_access_from_the_original_depositor") %>
                </li>
                <li>
                  <%= link_to t(".authorize_depositor_as_proxy"), hyrax.accept_transfer_path(req, sticky: true), method: :put, class: 'accept-stick', title: t(".accept_the_file_and_allow_the_original_depositor_to_retain_access_and_authorize") %>
                </li>
              </ul>
            </div>

          <%# = button_to "Accept and allow depositor to retain edit access", hyrax.accept_transfer_path(req), method: :put, class: 'btn btn-primary' %>
          <%# = button_to "Accept and reset access", hyrax.accept_transfer_path(req, reset: true), method: :put, class: 'btn btn-primary' %>
          <%# = button_to "Accept & Authorize Proxy", hyrax.accept_transfer_path(req, sticky: true), method: :put, class: 'btn btn-primary' %>
          <%= button_to t(".reject"), hyrax.reject_transfer_path(req), method: :put, class: 'btn btn-sm btn-danger', data: {confirm: t(".are_you_sure_you_want_to_reject_this_request")} %>
        <% else %>
          <%= req.status.capitalize %>
        <% end %>
      </td>

      <td><%= req.sender_comment %></td>
    </tr>
    <% else %>
      <% Rails.logger.error "A proxy request has no sender: #{req.inspect}" %>
    <% end %>
  <% end %>
  </tbody>
</table>
