<h1><%= t("hyrax.dashboard.transfer_of_ownership") %></h1>

<h2><%= t("hyrax.dashboard.transfers_sent") %></h2>
<%= @presenter.render_sent_transfers %>

<h2><%= t("hyrax.dashboard.transfers_received") %></h2>
<%= @presenter.render_received_transfers %>
