<% provide :page_header do %>
  <h1><span class="fa fa-arrows-h" aria-hidden="true"></span><%= t(:'.title', work_title: @proxy_deposit_request.to_s) %></h1>
<% end %>

<span class="sr-only"><%= t(:'.sr_only_description', work_title: @proxy_deposit_request.to_s) %></span>

<%= simple_form_for @proxy_deposit_request,
             url: hyrax.work_transfers_path(params[:id]) do |f| %>
  <%= f.input :transfer_to,
        placeholder: t(:'.placeholder') %>
  <%= f.input :sender_comment %>

  <div class="form-actions">
    <%= f.submit class: 'btn btn-primary', data: { confirm: t('.confirm') } %>
  </div>
<% end %>
