<% if assets_with_expired_embargoes.blank? %>

  <table class="embargoes table">
    <thead>
      <tr>
        <%= render partial: 'table_headers' %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="5" class="text-center">
          <p><%= t('.missing') %></p>
        </td>
      </tr>
    </tbody>
  </table>

<% else %>

  <%= form_tag embargoes_path, method: :patch do %>
    <%= submit_tag t('.deactivate_selected'), class: 'btn btn-primary' %>
    <table class="embargoes table">
      <thead>
        <tr>
          <th><input type="checkbox" id="checkAllBox" class="batch_document_selector"/> <%= t('.select_all') %></th>
          <%= render partial: 'table_headers' %>
        </tr>
      </thead>
      <tbody>
      <% assets_with_expired_embargoes.each_with_index do |curation_concern, i| %>
        <tr>
          <td><%= render 'hyrax/batch_select/add_button', document: curation_concern %></td>
          <td class="human-readable-type"><%= curation_concern.human_readable_type %></td>
          <td class="title"><%= link_to curation_concern, edit_embargo_path(curation_concern) %></td>
          <td class="current-visibility"><%= visibility_badge(curation_concern.visibility) %></td>
          <td class="embargo-release-date"><%= curation_concern.embargo_release_date %></td>
          <td class="visibility-after-embargo"><%= visibility_badge(curation_concern.visibility_after_embargo) %></td>
          <td class="actions"><%= link_to t('.deactivate'), embargo_path(curation_concern), method: :delete, class: 'btn btn-primary' %></td>
        </tr>
        <tr data-behavior="extra" data-id="<%= curation_concern.id %>" class="extra-embargo-info">
          <td></td>
          <td colspan=5>
            <%= check_box_tag "embargoes[#{i}][copy_visibility]", curation_concern.id, true %>
            <%= t('.change_all', cc: curation_concern) %>
            <%= visibility_badge(curation_concern.visibility_after_embargo) %>?
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>

<% end %>
