<% cc_type = curation_concern.human_readable_type %>

<% provide :page_header do %>
  <h1><%= t('.manage_embargoes_html', cc: curation_concern, cc_type: cc_type) %></h1>
<% end %>

<div class="panel panel-default tabs">
  <div class="panel-heading">
    <h2 class="panel-title"><%= t('.header.current') %></h2>
  </div>
  <div class="panel-body">
    <%= simple_form_for [main_app, curation_concern] do |f| %>
      <fieldset class="set-access-controls">
        <section class="help-block">
          <p>
            <% if embargo_enforced?(curation_concern) %>
              <%= t('.embargo_true_html',  cc: cc_type) %>
            <% else %>
              <%= t('.embargo_false_html', cc: cc_type) %>
            <% end %>
          </p>
        </section>

        <div class="form-group">
          <input type="hidden" name="<%= f.object_name %>[visibility]" value="<%= Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_EMBARGO %>" />
          <%= render 'hyrax/base/form_permission_embargo', curation_concern: curation_concern, f: f  %>
        </div>
      </fieldset>

      <div class="row">
        <div class="col-md-12 form-actions">
          <% if embargo_enforced?(curation_concern) %>
            <%= f.submit t('.embargo_update'), class: 'btn btn-primary' %>
            <%= link_to t('.embargo_deactivate'), embargo_path(curation_concern), method: :delete, class: 'btn btn-danger' %>
          <% else %>
            <%= f.submit t('.embargo_apply'), class: 'btn btn-primary' %>
          <% end %>
          <%= link_to t('.embargo_cancel'), embargoes_path, class: 'btn btn-default' %>
          <%= link_to t('.embargo_return', cc: cc_type), edit_polymorphic_path([main_app, curation_concern]), class: 'btn btn-default' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="panel panel-default tabs">
  <div class="panel-heading">
    <h2 class="panel-title"><%= t('.header.past') %></h2>
  </div>
  <div class="panel-body">
    <% if embargo_history(curation_concern).empty? %>
      <%= t('.history_empty', cc: cc_type) %>
    <% else %>
      <%= render partial: "embargo_history", object: curation_concern.embargo_history %>
    <% end %>
  </div>
</div>
