<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title"><%= t('.title') %></h2>
        <div><%= t('.subtitle') %></div>
      </div>
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th><%= t('.admin_set') %></th>
              <th><%= t('.works') %></th>
              <th><%= t('.files') %></th>
            </tr>
          </thead>
          <tbody>
            <% @admin_set_rows.each do |row| %>
              <tr>
                <td><%= row.admin_set %></td>
                <td><%= row.work_count %></td>
                <td><%= row.file_count %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
