<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= t('.title') %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= t('.subtitle') %></h6>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= t('.admin_set') %></th>
          <th><%= t('.works') %></th>
          <th><%= t('.files') %></th>
        </tr>
      </thead>
      <tbody>
        <% @admin_set_rows.each do |row| %>
          <tr>
            <td><%= row.admin_set %></td>
            <td><%= row.work_count %></td>
            <td><%= row.file_count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
