<!-- Start Pinned -->
<div class="row">
  <div class="col-md-12">
    <div id="accordion">
      <div class="panel panel-default">

        <div class="panel-heading">
          <h2 class="panel-title"><%= t('.title') %></h2>
        </div>

        <div class="panel-body">
         <div class="panel-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th><%= t('.collection_title') %></th>
                <th><%= t('.last_updated') %></th>
                <th><%= t('.works') %></th>
                <th><%= t('.files') %></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
          <div id="pinned-collections">
             <% @pinned_collections.each do |pinned| %>
                <tr>
                  <% collection = Collection.find(pinned.collection_id) %>
                  <td><%= collection %></td>
                  <td><%= collection.modified_date.strftime("%Y-%m-%d") %></td>
                  <td><%= collection.member_works.count %></td>
                  <td><%= collection.total_file_sets %></td>
                  <td>
                   <% if collection.pinned?(current_user.id) %>
                    <%= link_to user_pinned_collection_path(collection.id), method: :delete, id: "unpin-#{collection.id}" do %>
                     <i class="fa fa-star fa-2x" aria-hidden="true"></i> 
                    <% end %>
                  <% else %>
                    <%= link_to user_pinned_collections_path(collection_id: collection.id), method: :post, id: "pin-#{collection.id}" do %>
                      <i class="fa fa-star-o fa-2x" aria-hidden="true"></i>
                    <% end %>
                  <% end %> 
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Pinned -->