<div class="panel-heading">
  <h3 class="panel-title"><%= t('.title') %></h3>
</div>
<div class="panel-body text-center">
  <div id="dashboard-growth" aria-hidden="true" style="height: 200px">
  <% repository_growth = @presenter.repository_growth(@start_date.to_datetime, @end_date.to_datetime).to_json %>
  <script>
//<![CDATA[
Hyrax.statistics.repositoryGrowth = <%== repository_growth %>
//]]>
</script></div>
  <table aria-label="<%= t('.title') %>" class="table table-striped sr-only text-left">
    <thead>
      <tr>
        <th><%= t('.date') %></th>
        <th><%= t('.works') %></th>
        <th><%= t('.collections') %></th>
      </tr>
    </thead>
    <tbody>
      <% JSON.parse(repository_growth).each do |row| %>
        <tr>
          <td><%= row["y"] %></td>
          <td><%= row["a"] %></td>
          <td><%= row["b"] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
