<div class="panel-heading">
  <h3 class="panel-title"><%= t('.title') %></h3>
    <div><%= t('.subtitle') %></div>
</div>
<div class="panel-body text-center">

  <div class="row text-center">
    <div class="nav nav-pills btn-group" role="group">
      <a button class="btn btn-primary" type="button" href="#visibility" class="nav-link active" data-toggle="pill">
        Visibility
      </a>
      <a button class="btn btn-default" type="button" href="#work-types" class="nav-link" data-toggle="pill">
          Work Types
      </a>
      <a button class="btn btn-default" type="button" href="#resource-types" class="nav-link" data-toggle="pill">
          Resource Types
      </a>
    </div>
  </div>
              
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="visibility">              
      <%= render 'visibility_graph' %>
    </div>

    <div role="tabpanel" class="tab-pane" id="work-types">
      <%= render "work_type_graph" %>
    </div>

    <div role="tabpanel" class="tab-pane" id="resource-types">
      <%= render "resource_type_graph" %>
    </div>

  </div>
</div>



