<div class="panel-heading">
  <h3 class="panel-title"><%= t('.title') %></h3>
</div>
<div class="panel-body text-center">
  <% start_date = params[:start_date]&.to_datetime || (Time.zone.today - 1.month).to_datetime %>
  <% end_date = params[:end_date]&.to_datetime || Time.zone.today.to_datetime %>
  <% repository_growth = @presenter.repository_growth(start_date, end_date).to_json %>
  <div id="dashboard-growth" aria-hidden="true" style="height: 200px"><script>
//<![CDATA[
Hyrax.statistics.repositoryGrowth = <%== repository_growth %>
//]]>
</script></div>
  <table aria-label="<%= t('.title') %>, <%= t('.subtitle') %>" class="table table-striped sr-only text-left">
    <thead>
      <tr>
        <th><%= t('.date') %></th>
        <th><%= t('.objects') %></th>
        <th><%= t('.collections') %></th>
      </tr>
    </thead>
    <tbody>
      <% JSON.parse(repository_growth).each do |row| %>
        <tr>
          <td><%= row["y"] %></td>
          <td><%= row["a"] %></td>
          <td><%= row["b"] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
