<% menu = Hyrax::MenuPresenter.new(self) %>
<div class="sidebar-toggle"><span class="fa fa-chevron-circle-right"></span></div>
<ul class="nav nav-pills nav-stacked">
  <li>
    <div class="profile">
      <div class="profile-image">
        <%= image_tag current_user.avatar.url(:thumb), width: 100 if current_user.avatar.present? %>
      </div>
      <div class="profile-data">
        <div class="profile-data-name"><%= current_user.name %></div>
      </div>
    </div>
  </li>
  <li class="h5"><%= t('hyrax.admin.sidebar.activity') %></li>

  <li>
    <%= menu.collapsable_section t('hyrax.admin.sidebar.user_activity'),
                                 icon_class: "fa fa-line-chart",
                                 id: 'collapseUserActivity',
                                 open: menu.user_activity_section? do %>
      <%= menu.nav_link(hyrax.dashboard_profile_path(current_user),
                        also_active_for: hyrax.edit_dashboard_profile_path(current_user)) do %>
        <span class="fa fa-id-card"></span> <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.profile') %></span>
      <% end %>

      <%= menu.nav_link(hyrax.notifications_path) do %>
        <span class="fa fa-bell"></span> <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.notifications') %></span>
      <% end %>

      <%= menu.nav_link(hyrax.transfers_path) do %>
        <span class="fa fa-arrows-h"></span> <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.transfers') %></span>
      <% end %>
    <% end %>
  </li>

  <% if can? :read, :admin_dashboard %>
    <%= menu.nav_link(hyrax.admin_stats_path) do %>
      <span class="fa fa-bar-chart"></span> <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.statistics') %></span>
    <% end %>
  <% end %>

  <li class="h5"><%= t('hyrax.admin.sidebar.repository_objects') %></li>
  <% if can? :create, AdminSet %>
    <%= menu.nav_link(hyrax.admin_admin_sets_path) do %>
      <span class="fa fa-sitemap"></span> <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.admin_sets') %></span>
    <% end %>
  <% end %>

  <%= menu.nav_link(hyrax.my_collections_path,
                    also_active_for: hyrax.dashboard_collections_path) do %>
    <span class="fa fa-folder-open"></span> <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.collections') %></span>
  <% end %>

  <%= menu.nav_link(hyrax.my_works_path,
                    also_active_for: hyrax.dashboard_works_path) do %>
    <span class="fa fa-file"></span> <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.works') %></span>
  <% end %>

  <% if can? :review, :submissions %>
    <li class="h5"><%= t('hyrax.admin.sidebar.tasks') %></li>
    <%= menu.nav_link(hyrax.admin_workflows_path) do %>
      <span class="fa fa-flag"></span> <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.workflow_review') %></span>
    <% end %>
  <% end %>

  <% if can? :manage, User %>
    <%= menu.nav_link(hyrax.admin_users_path) do %>
      <span class="fa fa-user"></span> <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.users') %></span>
    <% end %>
  <% end %>

  <% if menu.show_configuration? %>
    <% if can?(:manage, Hyrax::Feature) %>
      <li class="h5"><%= t('hyrax.admin.sidebar.configuration') %></li>
      <%= menu.nav_link(hyrax.admin_features_path) do %>
        <span class="fa fa-cog"></span> <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.settings') %></span>
      <% end %>
    <% end %>

    <% if can?(:update, :appearance) %>
      <%= menu.nav_link(hyrax.admin_appearance_path) do %>
        <span class="fa fa-paint-brush"></span> <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.appearance') %></span>
      <% end %>
    <% end %>

    <% if can?(:manage, Sipity::WorkflowResponsibility) %>
      <%= menu.nav_link(hyrax.admin_workflow_roles_path) do %>
        <span class="fa fa-users"></span> <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.workflow_roles') %></span>
      <% end %>
    <% end # end of configuration block %>
  <% end %>
</ul>
