<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading"><div class="h3 panel-title text-center"><%= t('.registered_users') %></div></div>
      <div class="panel-body text-center">
        Current
        <div class="h3"><%= @presenter.user_count %></div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading"><div class="h3 panel-title text-center"><%= t('.total_visitors') %></div></div>
      <div class="panel-body text-center">Past 30 days
        <div class="h3">n/a</div>
      </div>
    </div>
  </div>

    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading"><div class="h3 panel-title text-center"><%= t('.returning_visitors') %></div></div>
        <div class="panel-body text-center">Past 30 days
          <div class="h3">n/a</div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading"><div class="h3 panel-title text-center"><%= t('.new_visitors') %></div></div>
        <div class="panel-body text-center">Past 30 days
          <div class="h3">n/a</div>
        </div>
      </div>
    </div>
</div>

<%= render 'admin_sets' %>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="h3 panel-title"><%= t('.user_activity.title') %></div>
        <div><%= t('.user_activity.subtitle') %></div>
      </div>
      <div class="panel-body text-center">
        <div id="user-activity" style="height: 200px"><%= javascript_tag "Hyrax.statistics.userActivity = #{@presenter.user_activity.to_json}" %></div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="h3 panel-title"><%= t('.repository_growth.title') %></div>
        <div class="admin-repo-charts">
          <ul id="growth-graph" class="list-unstyled list-inline chart-timeframe">
            <li><%= t('.repository_growth.subtitle') %> <a id="days-30" href="#"><%= t('.repository_growth.subtitle_30_days') %></a></li>
            <li><a class="stats-selected" id="days-90" href="#"><%= t('.repository_growth.subtitle_90_days') %></a></li>
            <li><a id="days-365" href="#"><%= t('.repository_growth.subtitle_1_year') %></a></li>
            <%= link_to t('.repository_growth.subtitle_1_year') , "#", id: "days-365", remote: true %>
          </ul>
        </div>
      </div>
      <div class="panel-body text-center">
        <div id="dashboard-growth" style="height: 200px"><%= javascript_tag "Hyrax.statistics.repositoryGrowth = #{@presenter.repository_growth.to_json}" %></div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="h3 panel-title"><%= t('.repository_objects.title') %></div>
        <div class="admin-repo-charts">
          <ul id="objects-graph" class="list-unstyled list-inline chart-timeframe">
            <li><%= link_to t('.repository_objects.subtitle_visible'), @article, { remote: true, id: "total-visibility" }%></li>
            <li><a class="stats-selected" id="total-works" href="#"><%= t('.repository_objects.subtitle_work') %></a></li>
            <li><a id="total-resources" href="#"><%= t('.repository_objects.subtitle_resource') %></a></li>
          </ul>
        </div>
      </div>
      <div class="panel-body text-center">
        <div id="dashboard-repository-objects" style="height: 200px"><%= javascript_tag "Hyrax.statistics.repositoryObjects = #{@presenter.repository_objects.to_json}" %></div>
      </div>
    </div>
  </div>
</div>
