<% content_for :page_header do %>
  <h1><%= t("hyrax.dashboard.title") %></h1>
<% end %>

<div class="panel panel-default user-activity">
  <div class="panel-heading">
    <h3 class="panel-title "><%= t("hyrax.dashboard.user_activity") %></h3>
  </div>
  <div class="panel-body">
    <%= render_recent_activity %>
  </div>
</div>

<div class="panel panel-default" id="notifications">
  <div class="panel-heading">
    <h3 class="panel-title "><%= t("hyrax.dashboard.user_notifications") %></h3>
  </div>
  <div class="panel-body">
    <%= render_recent_notifications %>
    <%= link_to_additional_notifications %>
  </div>
</div>

<div class="panel panel-default" id="proxy_management">
  <div class="panel-heading">
    <h3 class="panel-title "><%= t("hyrax.dashboard.manage_proxies") %></h3>
  </div>
  <div class="panel-body">
    <%= render 'hyrax/dashboard/_index_partials/proxy_rights', user: current_user %>
  </div>
</div>

<div class="panel panel-default transfers">
  <div class="panel-heading">
    <h3 class="panel-title "><%= t("hyrax.dashboard.transfer_of_ownership") %></h3>
  </div>
  <div class="panel-body">
    <%= render 'hyrax/dashboard/_index_partials/transfers' %>
  </div>
</div>
