<% provide :page_header do %>
  <h1><%= t("hyrax.dashboard.title") %></h1>
<% end %>

<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title text-center"><%= t('.registered_users') %></h3>
      </div>
      <div class="panel-body text-center">
        <%= t('.current_registered_users') %>
        <div class="h3"><%= @presenter.user_count %></div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title text-center"><%= t('.total_visitors') %></h3>
      </div>
      <div class="panel-body text-center"><%= t('.past_30_days') %>
        <div class="h3">n/a</div>
      </div>
    </div>
  </div>

    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-center"><%= t('.returning_visitors') %></h3>
        </div>
        <div class="panel-body text-center"><%= t('.past_30_days') %>
          <div class="h3">n/a</div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-center"><%= t('.new_visitors') %></h3>
        </div>
        <div class="panel-body text-center"><%= t('.past_30_days') %>
          <div class="h3">n/a</div>
        </div>
      </div>
    </div>
</div>

<%= render 'admin_sets' %>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <%= render 'user_activity' %>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <%= render 'repository_growth' %>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <%= render 'repository_objects' %>
    </div>
  </div>
</div>
