<% provide :page_header do %>
  <h1><%= t("hyrax.dashboard.title") %></h1>
<% end %>

<%# April TODO:
- the most recewntly updated and pinned clickable transition is glitchy - investigate
- Figure out how to make star pinned icon clickable and filled with color
%>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <%= render 'user_activity' %>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-md-6">
    <div class="panel panel-default">
      <%= render 'repository_growth' %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <%= render 'repository_objects' %>
    </div>
  </div>
</div>

<%= render 'tabs' %>
