<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading"><div class="h3 panel-title text-center"><%= t('.registered_users') %></div></div>
      <div class="panel-body text-center">
        Current
        <div class="h3"><%= @presenter.user_count %></div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading"><div class="h3 panel-title text-center"><%= t('.total_visitors') %></div></div>
      <div class="panel-body text-center">Past 30 days
        <div class="h3">n/a</div>
      </div>
    </div>
  </div>

    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading"><div class="h3 panel-title text-center"><%= t('.returning_visitors') %></div></div>
        <div class="panel-body text-center">Past 30 days
          <div class="h3">n/a</div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading"><div class="h3 panel-title text-center"><%= t('.new_visitors') %></div></div>
        <div class="panel-body text-center">Past 30 days
          <div class="h3">n/a</div>
        </div>
      </div>
    </div>
</div>

<% if Flipflop.analytics_redesign? %>
  <%= render 'analytics_collections' %>
  <%= render 'analytics_works' %>
<% else %>
  <%= render 'admin_sets' %>
<% end %>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="h3 panel-title"><%= t('.user_activity.title') %></div>
        <div><%= t('.user_activity.subtitle') %></div>
      </div>
      <div class="panel-body text-center">
        <%= column_chart @presenter.user_activity, id: "user-activity", stacked: true  %>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="h3 panel-title"><%= t('.repository_growth.title') %></div>
        <%= render 'analytics_growth' %>
      </div>
      <div class="panel-body text-center">
        <%= line_chart @presenter.repository_growth, id: "dashboard-growth" %>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="h3 panel-title"><%= t('.repository_objects.title') %></div>
        <%= render 'analytics_object_counts' %>
      </div>
      <div class="panel-body text-center">
        <%= bar_chart @presenter.repository_objects, id: "dashboard-repository-objects" %>
      </div>
    </div>
  </div>
</div>
