<%= form_tag search_catalog_path, class: 'form-horizontal', method: :get do  %>

  <%= render_hash_as_hidden_fields(search_state.params_for_search(advanced_search_context)) %>

  <div class="form-group">
    <label class="control-label" for='op'>Find items that match</label>
    <%= select_tag(:op, options_for_select({ all: 'AND', any: 'OR'}.sort, 'all'), class: "") %> of the fields below:
  </div>

  <div id="advanced_search">
    <%= render 'advanced/advanced_search_fields' %>
  </div>

  <% unless (search_context_str = render_search_to_s( advanced_search_context)).blank? %>
    <div>
      <p>Within search:</p>
      <%= search_context_str %>
    </div>
  <% end %>

  <div class="form-group">
    <%= label_tag :sort, "Sort results by: ", class: 'control-label col-sm-4' %>
    <div class="col-sm-8">
      <%= select_tag :sort, options_for_select(sort_fields, h(params[:sort])), class: 'form-control' %>
    </div>
  </div>

  <div>
    <%= hidden_field_tag(:search_field, blacklight_config.advanced_search[:url_key]) %>
    <br />
    <%= submit_tag 'Search', class: 'btn btn-primary', id: 'advanced_search' %>
	  <%= link_to "Start over", {controller: "advanced", action: "index"}, class:"btn btn-default" %>
  </div>
<% end %>
