<ul class="nav nav-tabs" id="my_nav" role="list">
  <li<%= ' class="active"'.html_safe if current_page?(hyrax.dashboard_works_path(locale: nil)) %>>
    <% if params[:add_works_to_collection].present? && params[:add_works_to_collection_label].present? %>
      <%= link_to t("hyrax.dashboard.#{current_ability.admin? ? 'all' : 'managed'}.works"), hyrax.dashboard_works_path(add_works_to_collection: params[:add_works_to_collection], add_works_to_collection_label: params[:add_works_to_collection_label]) %>
    <% else %>
      <%= link_to t("hyrax.dashboard.#{current_ability.admin? ? 'all' : 'managed'}.works"), hyrax.dashboard_works_path %>
    <% end %>
    
  </li>
  <li<%= ' class="active"'.html_safe if current_page?(hyrax.my_works_path(locale: nil)) %>>
    <%= link_to t('hyrax.dashboard.my.your_works'), hyrax.my_works_path %>
  </li>
</ul>
