<div class="modal-div extra_tag">
<% label = name.to_s.titleize %>
<!-- Button to trigger modal -->
<a href="#extraFieldsModal_<%= name %>" role="button" class="btn btn-warning fright vmiddle" data-toggle="modal"><%= t('.additional') %> <%= label %> <i class="glyphicon glyphicon-plus large-icon"></i></a>
<!-- Modal -->
<div class="modal fade" id="extraFieldsModal_<%= name %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h2 id="extraFieldsModal_<%= name %>_Label"><%= t('.label', label: label) %></h2>
      </div>
      <div class="modal-body">
        <%= sanitize values.join("<br />") %>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal"><%= t('helpers.action.close') %></button>
      </div>
    </div>
  </div>
</div>
</div>
