<%= simple_form_for [main_app, curation_concern], html: { multipart: true, class: 'nav-safety' } do |f| %>
  <fieldset class="required">
    <span class="control-label">
      <%= label_tag 'file_set[title][]', t('.title'),  class: "string optional" %>
    </span>
    <%= text_field_tag 'file_set[title][]', curation_concern.title.first, class: 'form-control', required: true %>
  </fieldset>

  <div class="row">
    <div class="col-md-12 form-actions">
      <%= f.submit(
        (curation_concern.persisted? ? t('.save') : t('.attach_to', parent: @parent.human_readable_type)),
        class: 'btn btn-primary'
      ) %>
      <%= link_to t('.cancel'), parent_path(@parent), class: 'btn btn-link' %>
    </div>
  </div>
<% end %>
