  <div id="permissions_display" class="tab-pane">
    <%= simple_form_for [main_app, form_object],
                        html: { multipart: true,
                                id: 'permission',
                                data: { param_key: file_set.model_name.param_key },
                                class: 'nav-safety'
                              } do |f| %>
      <%= hidden_field_tag('redirect_tab', 'permissions') %>
      <%= render "permission_form", f: f %>
      <div id="permissions_submit">
        <%= button_tag type: 'submit', class: 'btn btn-primary', onclick: "confirmation_needed = false;", id: "upload_submit", name: "update_permission" do %>
          <%= t('.save') %>
        <% end %>
      </div>
  <% end %>
</div><!-- /#permissions_display -->
