<div class="form-actions">
  <% if Hyrax.config.analytics? %>
    <%= link_to "Analytics", @presenter.stats_path, id: 'stats', class: 'btn btn-default' %>
  <% end %>

  <% if @presenter.editor? %>
      <%= link_to "Edit This #{@presenter.human_readable_type}", edit_polymorphic_path([main_app, @presenter]),
                  class: 'btn btn-default' %>
      <%= link_to "Delete This #{@presenter.human_readable_type}", [main_app, @presenter],
                  class: 'btn btn-danger', data: { confirm: "Delete this #{@presenter.human_readable_type}?" },
                  method: :delete %>
      <%= link_to t('hyrax.single_use_links.button'),
                  hyrax.generate_download_single_use_link_path(@presenter),
                  class: 'btn btn-default generate-single-use-link' %>
  <% end %>

  <%= render 'social_media' %>
</div>
