<h3><%= t('hyrax.single_use_links.title') %></h3>
<table class="table table-striped table-condensed <%= dom_class(presenter) %> single-use-links">
  <tbody data-url="<%= hyrax.generated_single_use_links_path(presenter) %>">
    <% if presenter.single_use_links.empty? %>
      <tr><td><%= t('hyrax.single_use_links.table.no_links') %></td></tr>
    <% else %>
      <%= render 'single_use_link_rows', single_use_links: presenter.single_use_links %>
    <% end %>
  </tbody>
</table>
<div class="form_actions">
  <%= link_to t('hyrax.single_use_links.button'),
              hyrax.generate_download_single_use_link_path(presenter),
              class: 'btn btn-default generate-single-use-link' %>
</div>
