<%= render "shared/nav_safety_modal" %>
<% provide :page_title, title_presenter(curation_concern).page_title %>
<% provide :page_header do %>
  <h1><span class="fa fa-edit" aria-hidden="true"></span><%= t('.header', file_set: curation_concern) %></h1>
<% end %>

<div class="row">
  <div class="col-xs-12 col-sm-4">
    <%= render media_display_partial(@presenter.solr_document), file_set: @presenter.solr_document %>
  </div>
  <div class="col-xs-12 col-sm-8">
    <div class="panel panel-default tabs">
      <ul class="nav nav-tabs" role="tablist">
        <li id="edit_descriptions_link" class="active">
          <a href="#descriptions_display" data-toggle="tab" class="nav-safety-confirm"><i class="fa fa-tags" aria-hidden="true"></i></span> <%= t('.descriptions') %></a>
        </li>
        <li id="edit_versioning_link">
          <a href="#versioning_display" data-toggle="tab" class="nav-safety-confirm"><i class="fa fa-sitemap" aria-hidden="true"></i> <%= t('.versions') %></a>
        </li>
        <li id="edit_permissions_link">
          <a href="#permissions_display" data-toggle="tab" class="nav-safety-confirm"><i class="fa fa-key" aria-hidden="true"></i> <%= t('.permissions') %></a>
        </li>
      </ul>
      <div class="panel-body">
        <div class="tab-content">
          <div id="descriptions_display" class="tab-pane active">
            <h2><%= t('.descriptions') %></h2>
            <%= render "form" %>
          </div>
          <%= render "permission", file_set: curation_concern, form_object: @form %>
          <%= render "versioning", file_set: curation_concern %>
        </div>
      </div>
    </div><!-- /.col-sm-8 -->
  </div><!-- /.row -->
</div>
