<% provide :page_title, @presenter.page_title %>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <%= media_display @presenter %>
      <%= render 'show_actions', presenter: @presenter %>
      <%= render 'single_use_links', presenter: @presenter if @presenter.editor? %>
    </div>
    <div itemscope itemtype="<%= @presenter.itemtype %>" class="col-xs-12 col-sm-8">
      <header>
        <%= render 'file_set_title', presenter: @presenter %>
      </header>

      <%# TODO: render 'show_descriptions' See https://github.com/samvera/hyrax/issues/1481 %>
      <%= render 'show_details' %>
      <%= render 'hyrax/users/activity_log', events: @presenter.events %>
    </div><!-- /columns second -->
  </div> <!-- /.row -->
</div><!-- /.container-fluid -->
