<tr class="<%= dom_class(generic_file) %> attributes">
  <td>
    <%= render_thumbnail_tag generic_file %>
  </td>
  <td class="attribute filename"><%= link_to(generic_file_link_name(generic_file), curation_concern_generic_file_path(generic_file)) %></td>
  <td class="attribute date_uploaded"><%= generic_file.date_uploaded %></td>
  <td class="attribute permission"><%= permission_badge_for(generic_file) %></td>
  <td>
    <%= render 'curation_concern/curation_concerns/generic_files/actions', generic_file: generic_file %>
  </td>
</tr>

