<div >
  <h1 class="lower"><%= @asset %></h1>
    <h2 class="non lower">Actions</h2>
    <p>
      <%= link_to "Download (can only be used once)", @download_link %>
    </p>
  <h2> Descriptions:</h2>

  <div class="well active" id="descriptions_display">
    <table class="table table-striped">
      <tbody>
      <% present_terms(@presenter) do |r, term| %>
          <tr id='row_<%= term %>' class="expandable">
            <th width="20%"><%= r.label(term) %></th>
            <td><%= r.value(term) %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div><!-- /well -->
</div>
