<%= form_for([@batch, @generic_file], :url => batch_generic_files_path, :html => {:multipart => true, :class => 'form-horizontal'}) do |f| %>

<%= hidden_field_tag('generic_file[terms_of_service]', '1') %>  
<%= hidden_field_tag(:extra_description_count, "1") %>
<div class="uploader-contents">
  <div class="row">
    <div class="span3">
        <h2>Description(s)</h2>
    </div>
    <div class="span9">
      <div class="control-group" id="resources">
        <%= f.label :resource_type, "Resource Types", :class=>"control-label", :for=>"resource_type" %>
        <div class="controls">
            <%= f.select "resource_type", ScholarSphere::Application::config.resource_types, {}, {:multiple=>true, :size=>7} %>
          <p class="help-block">You may select multiple types to apply to all files<p>
        </div>
      </div>
      <!-- <select id="generic_file_public_group_access" name="permission[group][public]"> -->
      <div class="control-group" id="public_permissions">
        <%= f.label :public_group_access, "Public Access", :class=>"control-label" %>
        <div class="controls">
          <%= select_tag "permission_group", options_for_select(ScholarSphere::Application::config.public_permission_levels), {:name=>"permission[group][public]"} %>

        </div>
      </div><!-- close public_permissions -->

      <div class="control-group" id="read_groups">
        <%= f.label :read_groups_string, "Groups With Read Access", :class=>"control-label" %>
        <div class="controls">
          <%= f.text_field :read_groups_string %>
          <p class="help-block">Use a comma separated list</p>
        </div>
      </div>

      <div class="control-group" id="read_groups">
        <%= f.label :read_users_string, "Users With Read Access", :class=>"control-label" %>
        <div class="controls">
          <%= f.text_field :read_users_string %>
          <p class="help-block">Use a comma separated list</p>
        </div>
      </div>

      <div class="control-group" id="additional_title_clone">
        <%= f.label :title, "Title", :class=>"control-label" %> 
        <div class="controls">
          <%= f.text_field :title, :name=>"generic_file[title][]", :value=>"" %>  
          <%= f.submit :value => "+", :name=> "additional_title", :id => "additional_title_submit", :class => "adder"  %>
          &nbsp;
          <span class="formHelpContainer">
            <span class="formHelper" id="generic_file_title_help">
              <%= ScholarSphere::Application.config.metadata_help["generic_file_title"] %>
            </span>
         </span>
        </div>
      </div>
      <div id="additional_title_elements"></div>

      <div class="control-group" id="additional_tag_clone">
        <%= f.label :tag, "Keyword", :class=>"control-label" %> 
        <div class="controls">
          <%= f.text_field :tag, :name=>"generic_file[tag][]", :value=>""  %> 
          <%= f.submit :value => "+", :name=> "additional_tag", :id => "additional_tag_submit", :class => "adder"  %>
          &nbsp;
          <span class="formHelpContainer">
            <span class="formHelper" id="generic_file_tag_help">
              <%= ScholarSphere::Application.config.metadata_help["generic_file_tag"] %>
            </span>
         </span>
        </div>
      </div>
      <div id="additional_tag_elements"></div>

      <%= f.label :subject, :class=>"control-label" %> 
      <div class="controls" id="additional_subject_clone">
        <%= f.text_field :subject, :class=>"controls", :name=>"generic_file[subject][]", :value=>"" %>  
        <%= f.submit :value => "+", :name=> "additional_subject", :id => "additional_subject_submit", :class => "adder"  %>
          &nbsp;
          <span class="formHelpContainer">
            <span class="formHelper" id="generic_file_subject_help">
              <%= ScholarSphere::Application.config.metadata_help["generic_file_subject"] %>
            </span>
         </span>
      </div>
      <div id="additional_subject_elements"></div>

      <%= f.label :creator, :class=>"control-label" %> 
      <div class="controls" id="additional_creator_clone">
        <%= f.text_field :creator, :class=>"controls", :name=>"generic_file[creator][]", :value=>"" %>
        <%= f.submit :value => "+", :name=> "additional_creator", :id => "additional_creator_submit", :class => "adder"  %>
          &nbsp;
          <span class="formHelpContainer">
            <span class="formHelper" id="generic_file_creator_help">
              <%= ScholarSphere::Application.config.metadata_help["generic_file_creator"] %>
            </span>
         </span>
      </div>
      <div id="additional_creator_elements"></div>

    </div> <!-- close .span9 -->
  </div><!-- close .row description section -->

  <div class="row">
    <div class="span12" id="add_descriptions">
      <a href="#" id="add_descriptions">Add More Description Types</a>
    </div>
  </div>
  <div class="hidden" id="more_descriptions">
      <%= f.label :related_url, :class=>"control-label" %> 
      <div class="controls" id="additional_related_url_clone">
        <%= f.text_field :related_url, :class=>"controls", :name=>"generic_file[related_url][]", :value=>""  %> 
        <%= f.submit :value => "+", :name=> "additional_related_url", :id => "additional_related_url_submit", :class => "adder"  %>
          &nbsp;
          <span class="formHelpContainer">
            <span class="formHelper" id="generic_file_related_url_help">
              <%= ScholarSphere::Application.config.metadata_help["generic_file_related_url"] %>
            </span>
         </span>
      </div>
      <div id="additional_related_url_elements"></div>

      <%= f.label :based_near, 'Location', :class=>"control-label" %> 
      <div class="controls" id="additional_based_near_clone">
        <%= f.text_field :based_near, :class=>"controls", :name=>"generic_file[based_near][]", :value=>""  %> 
        <%= f.submit :value => "+", :name=> "additional_based_near", :id => "additional_based_near_submit", :class => "adder"  %>
      </div>
      <div id="additional_based_near_elements"></div>

      <%= f.label :contributor, :class=>"control-label" %> 
      <div class="controls" id="additional_contributor_clone">
        <%= f.text_field :contributor, :class=>"controls", :name=>"generic_file[contributor][]", :value=>""  %> 
        <%= f.submit :value => "+", :name=> "additional_contributor", :id => "additional_contributor_submit", :class => "adder"  %>
          &nbsp;
          <span class="formHelpContainer">
            <span class="formHelper" id="generic_file_contributor_help">
              <%= ScholarSphere::Application.config.metadata_help["generic_file_contributor"] %>
            </span>
         </span>
      </div>
      <div id="additional_contributor_elements"></div>

      <%= f.label :date_created, :class=>"control-label" %> 
      <div class="controls" id="additional_date_created_clone">
        <%= f.text_field :date_created, :class=>"controls", :name=>"generic_file[date_created][]", :value=>""  %> 
        <%= f.submit :value => "+", :name=> "additional_date_created", :id => "additional_date_created_submit", :class => "adder"  %>
          &nbsp;
          <span class="formHelpContainer">
            <span class="formHelper" id="generic_file_date_created_help">
              <%= ScholarSphere::Application.config.metadata_help["generic_file_date_created"] %>
            </span>
         </span>
      </div>
      <div id="additional_date_created_elements"></div>

      <%= f.label :description, :class=>"control-label" %> 
      <div class="controls" id="additional_description_clone">
        <%= f.text_area :description, :class=>"controls", :name=>"generic_file[description][]", :value=>""  %> 
        <%= f.submit :value => "+", :name=> "additional_description", :id => "additional_description_submit", :class => "adder"  %>
          &nbsp;
          <span class="formHelpContainer">
            <span class="formHelper" id="generic_file_description_help">
              <%= ScholarSphere::Application.config.metadata_help["generic_file_description"] %>
            </span>
         </span>
      </div>
      <div id="additional_description_elements"></div>

      <%= f.label :identifier, :class=>"control-label" %> 
      <div class="controls" id="additional_identifier_clone">
        <%= f.text_field :identifier, :class=>"controls", :name=>"generic_file[identifier][]", :value=>""  %> 
        <%= f.submit :value => "+", :name=> "additional_identifier", :id => "additional_identifier_submit", :class => "adder"  %>
          &nbsp;
          <span class="formHelpContainer">
            <span class="formHelper" id="generic_file_identifier_help">
              <%= ScholarSphere::Application.config.metadata_help["generic_file_identifier"] %>
            </span>
         </span>
      </div>
      <div id="additional_identifier_elements"></div>

      <%= f.label :language, :class=>"control-label" %> 
      <div class="controls" id="additional_language_clone">
        <%= f.text_field :language, :class=>"controls", :name=>"generic_file[language][]", :value=>""  %> 
        <%= f.submit :value => "+", :name=> "additional_language", :id => "additional_language_submit", :class => "adder"  %>
          &nbsp;
          <span class="formHelpContainer">
            <span class="formHelper" id="generic_file_language_help">
              <%= ScholarSphere::Application.config.metadata_help["generic_file_language"] %>
            </span>
         </span>
      </div>
      <div id="additional_language_elements"></div>

      <%= f.label :publisher, :class=>"control-label" %> 
      <div class="controls" id="additional_publisher_clone">
        <%= f.text_field :publisher, :class=>"controls", :name=>"generic_file[publisher][]", :value=>""  %> 
        <%= f.submit :value => "+", :name=> "additional_publisher", :id => "additional_publisher_submit", :class => "adder"  %>
          &nbsp;
          <span class="formHelpContainer">
            <span class="formHelper" id="generic_file_publisher_help">
              <%= ScholarSphere::Application.config.metadata_help["generic_file_publisher"] %>
            </span>
         </span>
      </div>
      <div id="additional_publisher_elements"></div>

      <%= f.label :rights, :class=>"control-label" %> 
      <div class="controls" id="additional_rights_clone">
        <%= f.text_field :rights, :class=>"controls", :name=>"generic_file[rights][]", :value=>""  %> 
        <%= f.submit :value => "+", :name=> "additional_rights", :id => "additional_rights_submit", :class => "adder"  %>
          &nbsp;
          <span class="formHelpContainer">
            <span class="formHelper" id="generic_file_rights_help">
              <%= ScholarSphere::Application.config.metadata_help["generic_file_rights"] %>
            </span>
         </span>
      </div>
      <div id="additional_rights_elements"></div>

  </div><!-- close .row description section -->

<div class="form-actions">
  <%= f.submit :value => "Upload", :name => "upload_submit", :id => "upload_submit", :class => "btn-primary btn-large" %>
</div>
</div><!-- close .uploader-contents -->
<% end %>
