<%= javascript_tag do %>
  <%= render partial: "edit", formats: [:js] %>
<% end %>

<h1>Apply Metadata</h1>
<p>
  The information you provide for Title will be applied to the corresponding file only; however all other
  information you provide will be applied <em>to the entire batch of files</em> you have just
  deposited into <%= t('sufia.product_name') %>. You may edit individual files from
  <%= link_to "<i class='glyphicon glyphicon-dashboard'></i> #{t('sufia.bread_crumb.file_list')}".html_safe, sufia.dashboard_files_path %>
  once this step is finished. <span class="required"><abbr title="required">*</abbr></span> indicates required fields.
</p>
<%= simple_form_for [sufia, @batch, @form], html: { multipart: true }, builder: Sufia::FormBuilder do |f| %>

  <%= render 'metadata', f: f %>

  <%= render 'generic_files/permission_form', f: f, batch: @batch %>

  <div id="permissions_submit">
    <%= button_tag type: 'submit', class: 'btn btn-primary btn-lg',
        onclick: "confirmation_needed = false;", id: "upload_submit", name: "update_permission" do %>
      <i class="glyphicon glyphicon-floppy-disk"></i> Save
    <% end %>
  </div>

<% end %>
