      <div <% if index == 0%> id="additional_<%= key.to_s %>_clone" <% end %> class="input-group">
        <% if f.object.class.multiple?(key) %>
          <%= select_tag "rights", options_for_select(Sufia.config.cc_licenses, v), name: "#{ActiveModel::Naming.singular(f.object)}[#{key.to_s}][]", id: "#{ActiveModel::Naming.singular(f.object)}_#{key.to_s}", include_blank: true, class: 'form-control' %>
        <% else %>
          <%= f.select :rights, Sufia.config.cc_licenses, { include_blank: true }, class: 'form-control' %>
        <% end %>
        <%= render "records/edit_fields/suffix", key: key, index: index %>
      </div>
      <div id="additional_<%= key %>_elements"></div>
