- javascript_includes << "/plugin_assets/fluid-infusion/infusion/components/undo/js/Undo.js" 
- javascript_includes << "jquery.notice.js" 

%form#document_metadata{ :action=>url_for(:action=>"update", :controller=>"assets", :content_type=>"hydrangea_article"), :method=>"post","data-resourceType"=>"hydrangea_article", "accept-charset"=>"utf-8"}

  #multipleEdit
    #loading{:style=>"display:none;"}
      %img{:src=>"/images/ajax-loader.gif", :width=>"32", :height=>"32", :alt=>"Saving"} 
      Saving...

    %h2 Access Controls for Groups
    %dl.defList.fl-theme-mist    
      = prefab_editable_metadata_field(@document_fedora, "rightsMetadata", :discover_access_group, :label => "Discover Access:", :type=>:select, :choices=>{"Public" => "public","Researchers" => "researcher", "Archivists" => "archivist", "Archivists" => "archivist"})      
      = prefab_editable_metadata_field(@document_fedora, "rightsMetadata", :read_access_group, :label => "Read Access:", :type=>:select, :choices=>{"Public" => "public","Researchers" => "researcher", "Archivists" => "archivist", "Archivists" => "archivist"}) 
      = prefab_editable_metadata_field(@document_fedora, "rightsMetadata", :edit_access_group, :label => "Edit Access:", :type=>:select, :choices=>{"Public" => "public","Researchers" => "researcher", "Archivists" => "archivist", "Archivists" => "archivist"}) 
    
    %h2 Access Controls for Individuals
    %dl.defList.fl-theme-mist
      = prefab_editable_metadata_field(@document_fedora, "rightsMetadata", :discover_access, :label => "Discover Access:", :multiple=>true )
      = prefab_editable_metadata_field(@document_fedora, "rightsMetadata", :read_access, :label => "Read Access:", :multiple=>true)
      = prefab_editable_metadata_field(@document_fedora, "rightsMetadata", :edit_access, :label => "Edit Access:", :multiple=>true)
