%form#document_metadata{ :action=>url_for(:action=>"update", :controller=>"assets", :content_type=>"hydrangea_article"), :method=>"post","data-resourceType"=>"hydrangea_article", "accept-charset"=>"utf-8"}
  %dl
    =# hidden_form_tag "content_type", :value=>"hydrangea_article"
    - title = editable_metadata_field(@document_fedora, "descMetadata", :title, :label => "Title:")
    %dt
      %label{:for=>"title"}
        = title[:label]
    %dd#title
      = title[:field]
    
    - language = editable_metadata_field(@document_fedora, "descMetadata", :language, :label => "Language:")
    %dt
      %label{:for=>"language"}
        = language[:label]
    %dd#language
      = language[:field]
    
    - contributor_role = editable_metadata_field(@document_fedora, "descMetadata", :contributor_role, :label => "Role:", :multiple=>true) 
    %dt
      %label{:for=>"contributor_role"}
        = contributor_role[:label]
    %dd#contributor_role
      = contributor_role[:field]
      
    - first_name = editable_metadata_field(@document_fedora, "descMetadata", :first_name, :label => "First Name:", :multiple=>true) 
    %dt
      %label{:for=>"first_name"}
        = first_name[:label]
    %dd#first_name
      = first_name[:field]
      
    - last_name = editable_metadata_field(@document_fedora, "descMetadata", :last_name, :label => "Last Name:", :multiple=>true)
    %dt
      %label{:for=>"last_name"}
        = last_name[:label]
    %dd#last_name
      = last_name[:field]
      
    - institution = editable_metadata_field(@document_fedora, "descMetadata", :institution, :label => "Institution:", :multiple=>true)
    %dt
      %label{:for=>"institution"}
        = institution[:label]
    %dd#institution
      = institution[:field]
      
    - conference_name = editable_metadata_field(@document_fedora, "descMetadata", :conference_name, :label => "Conference:", :multiple=>true)
    %dt
      %label{:for=>"conference_name"}
        = conference_name[:label]
    %dd#conference_name
      = conference_name[:field]
      
    - organization_name = editable_metadata_field(@document_fedora, "descMetadata", :organization_name, :label => "Organization:", :multiple=>true)   
    %dt
      %label{:for=>"organization_name"}
        = organization_name[:label]
    %dd#organization_name
      = organization_name[:field]
      
    - abstract = editable_metadata_field(@document_fedora, "descMetadata", :abstract, :label => "Abstract:", :type=>:text_area)
    %dt
      %label{:for=>"abstract"}
        = abstract[:label]
    %dd#abstract{"data-datastream-name"=>"descMetadata"}
      = abstract[:field]

    - journal_title = editable_metadata_field(@document_fedora, "descMetadata", :journal_title, :label => "Journal Title:")
    %dt
      %label{:for=>"journal_title"}
        = journal_title[:label]
    %dd#journal_title
      = journal_title[:field] 
      
    - publisher = editable_metadata_field(@document_fedora, "descMetadata", :publisher, :label => "Publisher:")
    %dt
      %label{:for=>"publisher"}
        = publisher[:label]
    %dd#publisher
      = publisher[:field]
      
    - issn = editable_metadata_field(@document_fedora, "descMetadata", :issn, :label => "ISSN:")
    %dt
      %label{:for=>"issn"}
        = issn[:label]
    %dd#issn
      = issn[:field]
      
    - publication_date = editable_metadata_field(@document_fedora, "descMetadata", :publication_date, :label => "Publication Date:")
    %dt
      %label{:for=>"publication_date"}
        = publication_date[:label]
    %dd#publication_date
      = publication_date[:field]
      
    %dt.multi_inline
      %label{:for=>"citation"}
        Citation:
    %dd#citation.multi_inline
      %ol
        %li
          - citation_volume = editable_metadata_field(@document_fedora, "descMetadata", :citation_volume, :label => "Volume")
          %label{:for=>"citation_volume"}
            = citation_volume[:label]
          %span#citation_volume.field
            = citation_volume[:field]
        %li
          - citation_issue = editable_metadata_field(@document_fedora, "descMetadata", :citation_issue, :label => "Issue")
          %label{:for=>"citation_issue"}
            = citation_issue[:label]
          %span#citation_issue.field
            = citation_issue[:field]
        %li
          - start_page = editable_metadata_field(@document_fedora, "descMetadata", :start_page, :label => "Start Page")
          %label{:for=>"start_page"}
            = start_page[:label]
          %span#start_page.field
            = start_page[:field]
        %li
          - end_page = editable_metadata_field(@document_fedora, "descMetadata", :end_page, :label => "End Page")
          %label{:for=>"end_page"}
            = end_page[:label]
          %span#end_page.field
            = end_page[:field]
            
    - original_url = editable_metadata_field(@document_fedora, "descMetadata", :original_url, :label => "Original URL:")
    %dt
      %label{:for=>"original_url"}
        = original_url[:label]
    %dd#original_url
      = original_url[:field]
      
    - topic_tag = editable_metadata_field(@document_fedora, "descMetadata", :topic_tag, :label => "Topic Tags:")
    %dt
      %label{:for=>"topic_tag"}
        = topic_tag[:label]
    %dd#topic_tag
      = topic_tag[:field]
      
    - collection = editable_metadata_field(@document_fedora, "properties", :collection, :label => "Collection:")
    %dt
      %label{:for=>"collection"}
        = collection[:label]
    %dd#collection
      = collection[:field]