<div class="clearfix proxy-rights">
  <div class="row">
    <div class="col-xs-12">
      <p><%= t('hyrax.dashboard.proxy_help') %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 proxy-search">
      <h2><%= t("hyrax.dashboard.authorize_proxies") %></h2>
      <div class="form-group">
        <label for="user"><%= t("hyrax.dashboard.proxy_user") %></label>
        <%= hidden_field_tag :user, nil, data: { grantor: current_user.to_param } %>
        <%= hidden_field_tag :delete_button_label, nil, data: { label: I18n.t('hyrax.dashboard.proxy_delete') } %>
      </div>
    </div>

    <div class="col-xs-6">
      <h2><%= t("hyrax.dashboard.current_proxies") %></h2>
      <table class="table table-condensed table-striped" id="authorizedProxies">
        <tbody>
        <% user.can_receive_deposits_from.each do |depositor| %>
            <tr><td class="depositor-name"><%= depositor.name %></td>
              <td><%= link_to(I18n.t('hyrax.dashboard.proxy_delete'), hyrax.user_depositor_path(user, depositor),
                              method: :delete,
                              class: "remove-proxy-button btn btn-danger") %>
              </td></tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
