<div class="row">
  <div class="col-xs-12 col-sm-9">
    <h3><%= t("hyrax.dashboard.transfers_sent") %></h3>
  </div>
  <div class="col-xs-12 col-sm-3 transfer_link">
    <%= link_to hyrax.my_works_path do %>
        <%= t("hyrax.dashboard.transfer_works_link") %>
    <% end %>
  </div>
</div>
<%= presenter.render_sent_transfers %>

<h3><%= t("hyrax.dashboard.transfers_received") %></h3>
<%= presenter.render_received_transfers %>
