%form#document_metadata{ :action=>url_for(:action=>"update", :controller=>"assets", :content_type=>"hydrangea_article"), :method=>"post","data-resourceType"=>"hydrangea_article", "accept-charset"=>"utf-8"}
  %fieldset#title_fields
    %legend Title
    %input#content_type{:type=>"hidden", :name=>"content_type", :value=>"hydrangea_article"}
    %dl
      %dt
        = fedora_field_label("descMetadata", [:title_info, :main_title], "Title:")
      %dd.title
        = fedora_text_field(@document_fedora,"descMetadata", [:title_info, :main_title], :multiple=>false)
    
      %dt
        = fedora_field_label("descMetadata", [:title_info, :language], "Language:")
      %dd.language
        = fedora_text_field(@document_fedora,"descMetadata", [:title_info, :language], :multiple=>false)
  %fieldset#contributor_fields
    %legend Contributors
    // Button for adding person/conference/organization
    - if params[:action] == "edit"
      - format = document_partial_name(@document)
      %div#add-contributor-box
        %input#re-run-add-contributor-action{:type => "button", :value => "Add a person"}
        %button#select-contributor-type{:type => "button"} Select type of contributor to add
        %ul#add-contributor-menu
          %li#add_person Add a person
          %li#add_organization Add an organization
          %li#add_conference Add a conference
    
    %ol
      = render :partial=>"contributors/edit_person", :collection=>@document_fedora.datastreams_in_memory["descMetadata"].retrieve(:person)
      = render :partial=>"contributors/edit_organization", :collection=>@document_fedora.datastreams_in_memory["descMetadata"].retrieve(:organization)
      = render :partial=>"contributors/edit_conference", :collection=>@document_fedora.datastreams_in_memory["descMetadata"].retrieve(:conference)

  %fieldset#abstract_fields
    %legend Abstract
    %dl
      %dt
        = fedora_field_label("descMetadata", [:abstract], "Abstract:")
      %dd#abstract{"data-datastream-name"=>"descMetadata"}
        = fedora_text_area(@document_fedora,"descMetadata", [:abstract], :multiple=>false)
  
  %fieldset#citation_fields
    %legend Journal Citation
    = render :partial=>"hydrangea_articles/edit_journal", :collection=>@document_fedora.datastreams_in_memory["descMetadata"].retrieve(:journal)
  
    / %dl
    /   - original_url = editable_metadata_field(@document_fedora, "descMetadata", :original_url, :label => "Original URL:")
    /   %dt
    /     %label{:for=>"original_url"}
    /       = original_url[:label]
    /   %dd#original_url
    /     = original_url[:field]

  %fieldset#topic_fields
    %legend Topics
    %dl
      %dt
        = fedora_field_label("descMetadata", [:subject, :topic], "Topic Tags:")
        = fedora_text_field_insert_link "descMetadata", [:subject, :topic]
      %dd#topic_tag.topic_tag
        = fedora_text_field(@document_fedora,"descMetadata", [:subject, :topic], :multiple=>true)
