- journal = edit_journal
- journal_counter = edit_journal_counter
- base_id = "journal_#{journal_counter}"

%dl
  %dt
    = fedora_field_label("descMetadata", [{:journal => journal_counter}, :title_info, :main_title], "Journal Title:")
  %dd.journal
    = fedora_text_field(@document_fedora,"descMetadata", [{:journal => journal_counter}, :title_info, :main_title], :multiple=>false)
  %dt
    = fedora_field_label("descMetadata", [{:journal => journal_counter},:origin_info, :publisher], "Publisher:")
  %dd.publisher
    = fedora_text_field(@document_fedora,"descMetadata", [{:journal => journal_counter},:origin_info, :publisher], :multiple=>false)
  %dt
    = fedora_field_label("descMetadata", [{:journal => journal_counter}, :issn], "ISSN:")
  %dd.issn
    = fedora_text_field(@document_fedora,"descMetadata", [{:journal => journal_counter}, :issn], :multiple=>false)
  %dt
    = fedora_field_label("descMetadata", [{:journal => journal_counter},:issue,:publication_date], "Publication Date:")
  %dd.publication_date
    = fedora_text_field(@document_fedora,"descMetadata", [{:journal => journal_counter},:issue,:publication_date], :multiple=>false)
    
  %dt Citation
  %dd.multi_inline.citation
    %ul
      %li.citation_volume
        = fedora_field_label("descMetadata", [{:journal => journal_counter},:issue,:volume], "Volume:")
        = fedora_text_field(@document_fedora,"descMetadata", [{:journal => journal_counter},:issue,:volume], :multiple=>false)
      %li.citation_issue
        = fedora_field_label("descMetadata", [{:journal => journal_counter},:issue,:level], "(Issue):")
        = fedora_text_field(@document_fedora,"descMetadata", [{:journal => journal_counter},:issue,:level], :multiple=>false)
      %li.start_page
        = fedora_field_label("descMetadata", [{:journal => journal_counter},:issue,:start_page], "Start Page")
        = fedora_text_field(@document_fedora,"descMetadata", [{:journal => journal_counter},:issue,:start_page], :multiple=>false)
      %li.end_page
        = fedora_field_label("descMetadata", [{:journal => journal_counter},:issue,:end_page], "End Page")
        = fedora_text_field(@document_fedora,"descMetadata", [{:journal => journal_counter},:issue,:end_page], :multiple=>false)