<%= render "shared/nav_safety_modal" %>
<div class="panel panel-default tabs">
  <ul class="nav nav-tabs" role="tablist">
    <li class="active">
      <a href="#announcement_text" role="tab" data-toggle="tab" class="nav-safety-confirm"><%= t(:'hyrax.content_blocks.tabs.announcement_text') %></a>
    </li>
    <li>
      <a href="#marketing" role="tab" data-toggle="tab" class="nav-safety-confirm"><%= t(:'hyrax.content_blocks.tabs.marketing_text') %></a>
    </li>
    <li>
      <a href="#researcher" role="tab" data-toggle="tab" class="nav-safety-confirm"><%= t(:'hyrax.content_blocks.tabs.featured_researcher') %></a>
    </li>
  </ul>
  <div class="tab-content">
    <div id="announcement_text" class="tab-pane active">
      <div class="panel panel-default labels">
        <%= simple_form_for ContentBlock.for(:announcement), url: hyrax.content_block_path(ContentBlock.for(:announcement)), html: {class: 'nav-safety'} do |f| %>
          <div class="panel-body">
            <div class="field form-group">
                <%= f.label :announcement %><br />
                <%= f.text_area :announcement, value: f.object.value, class: 'form-control tinymce', rows: 20, cols: 120 %>
            </div>
          </div>
          <div class="panel-footer">
            <%= link_to t(:'hyrax.content_blocks.cancel'), hyrax.admin_admin_sets_path, class: 'btn btn-default pull-right' %>
            <%= f.button :submit, class: 'btn btn-primary pull-right' %>
          </div>
        <% end %>
      </div>
    </div>
    <div id="marketing" class="tab-pane">
      <div class="panel panel-default labels">
        <%= simple_form_for ContentBlock.for(:marketing), url: hyrax.content_block_path(ContentBlock.for(:marketing)), html: {class: 'nav-safety'} do |f| %>
          <div class="panel-body">
            <div class="field form-group">
                <%= f.label :marketing %><br />
                <%= f.text_area :marketing, value: f.object.value, class: 'form-control tinymce', rows: 20, cols: 120 %>
            </div>
          </div>
          <div class="panel-footer">
            <%= link_to t(:'hyrax.content_blocks.cancel'), hyrax.admin_admin_sets_path, class: 'btn btn-default pull-right' %>
            <%= f.button :submit, class: 'btn btn-primary pull-right' %>
          </div>
        <% end %>
      </div>
    </div>
    <div id="researcher" class="tab-pane">
      <div class="panel panel-default labels">
        <%= simple_form_for ContentBlock.for(:researcher), url: hyrax.content_block_path(ContentBlock.for(:researcher)), html: {class: 'nav-safety'} do |f| %>
          <div class="panel-body">
            <div class="field form-group">
                <%= f.label :researcher %><br />
                <%= f.text_area :researcher, value: f.object.value, class: 'form-control tinymce', rows: 20, cols: 120 %>
            </div>
          </div>
          <div class="panel-footer">
            <%= link_to t(:'hyrax.content_blocks.cancel'), hyrax.admin_admin_sets_path, class: 'btn btn-default pull-right' %>
            <%= f.button :submit, class: 'btn btn-primary pull-right' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= tinymce :content_block %>
