<% stylesheet 'bootstrap.min.css' %>

<h1>Contact Form</h1>
<%= form_for(@contact_form, :url => contact_form_index_path, :html => {:class => 'form-horizontal well'}) do |f| %>
  <%= f.text_field :contact_method, :class => 'hide' %>

  <div class="control-group">
    <%= f.label :name, 'Name', :class=>"control-label" %>  
    <div class="controls"><%= f.text_field :name, :class=>"input-xlarge", :value=>"", :required => true %>  </div>
  </div>

  <div class="control-group">
    <%= f.label :email, 'Email', :class=>"control-label" %>  
    <div class="controls"> 
    <%= f.text_field :email, :class=>"input-xlarge", :value=>"", :required => true %>  
    </div>
  </div>

  <div class="control-group">
    <%= f.label :message, 'Message', :class=>"control-label" %>  
    <div class="controls"> 
    <%= f.text_area :message, :class=>"input-xlarge", :value=>"", :required => true %>  
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit :value => "Send", :class => "btn-primary btn-large"  %>  
  </div>
<% end %>
