<% stylesheet 'bootstrap.min.css' %>
<% content_for :local_css do %>
form {
  margin: 0;
}
<% end %>

<span class="notice" style="float: right">Page is in draft form</span>
<h1>Contact</h1>
<table class="well">
  <tbody>
    <tr>
      <td>
        Trying to get content in the repository (upload an item, create metadata, etc.)
      </td>
      <td>
        Scholarly Communications Services <br />
        Phone number: <br />
        Email: scholarsphere@psu.edu 
      </td>
    </tr>
    <tr>
      <td>
        Wanting to work with content already in there (browse, search, edit metadata, etc.) 
      </td>
      <td>
        Scholarly Communications Services <br />
        Phone number: <br />
        Email: scholarsphere@psu.edup 
      </td>
    </tr>
    <tr>
      <td>
      Needing technical assistance (help with error messages, broken links, etc.) 
      </td>
      <td>
        Helpdesk <br />
        Phone number: <br />
        Email: scholarsphere@psu.edu
      </td>
    </tr>
  </tbody>
</table>


<h2>Contact Form</h2>
<%= form_for(@contact_form, :url => contact_form_index_path, :html => {:class => 'form-horizontal well'}) do |f| %>
  <%= f.text_field :contact_method, :class => 'hide' %>

  <div class="control-group">
    <%= f.label :name, 'Name', :class=>"control-label" %>  
    <div class="controls"><%= f.text_field :name, :class=>"input-xlarge", :value=>"", :required => true %>  </div>
  </div>

  <div class="control-group">
    <%= f.label :email, 'Email', :class=>"control-label" %>  
    <div class="controls"> 
    <%= f.text_field :email, :class=>"input-xlarge", :value=>"", :required => true %>  
    </div>
  </div>

  <div class="control-group">
    <%= f.label :message, 'Message', :class=>"control-label" %>  
    <div class="controls"> 
    <%= f.text_area :message, :class=>"input-xlarge", :value=>"", :required => true %>  
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit :value => "Send", :class => "btn-primary btn-large"  %>  
  </div>
<% end %>
