<h1>Contact</h1>
<div class="alert">
  Please use the contact form to submit inquiries about ScholarSphere in general, to report a problem you are experiencing with the system, 
  to request assistance using ScholarSphere; or to provide feedback. See the <%= link_to "Help page", "/help/" %> for 
  additional information on user support and the ScholarSphere <%= link_to "Frequently Asked Questions (FAQ)", "/help/" %>. 
</div>

<% if current_user %>
  <% nm = current_user.name %>
  <% em = current_user.email_address %>
<% else %>
  <% nm = '' %>
  <% em = '' %>
<% end %>

<h2>Contact Form</h2>
<%= form_for(@contact_form, :url => contact_form_index_path, :html => {:class => 'form-horizontal well'}) do |f| %>
  <%= f.text_field :contact_method, :class => 'hide' %>
  <div class="control-group">
    <%= f.label :category, 'Issue Type', :class => "control-label" %>
    <div class="controls">
      <% issue_types = ContactForm::ISSUE_TYPES.dup %>
      <% issue_types.unshift(['Select an Issue Type', nil]) %>
      <%= f.select 'category', options_for_select(issue_types), {}, {:class=> 'input-large', :required => true } %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :name, 'Your Name', :class=>"control-label" %>
    <div class="controls"><%= f.text_field :name, :class=>"input-xlarge", :value => nm, :required => true %>  </div>
  </div>

  <div class="control-group">
    <%= f.label :email, 'Your Email', :class=>"control-label" %>
    <div class="controls">
    <%= f.text_field :email, :class=>"input-xlarge", :value => em, :required => true %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :subject, 'Subject', :class=>"control-label" %>
    <div class="controls">
    <%= f.text_field :subject, :class=>"input-xlarge", :required => true %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :message, 'Message', :class=>"control-label" %>
    <div class="controls">
    <%= f.text_area :message, :class=>"input-xlarge", :value=>"", :required => true %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit :value => "Send", :class => "btn-primary btn-large"  %>
  </div>
<% end %>
