<% provide :page_title, curation_concern_page_title(curation_concern) %>
<% provide :page_header do %>
  <h1>File Details</h1>
<% end %>
<%= render 'media_display', generic_file: curation_concern, dom_class_name: 'representative_image' %>
<%= render "attributes", curation_concern: curation_concern %>

  <div class="form-actions">
    <%= link_to "Download this File", main_app.download_path(curation_concern), class: 'btn btn-primary' %>
    <% if can? :edit, curation_concern %>
      <%= link_to "Edit this File", edit_polymorphic_path([main_app, :curation_concerns, curation_concern]), class: 'btn btn-primary'  %>
    <% end %>

    <%= link_to "Back to #{parent.human_readable_type}", parent_path(parent), class: 'btn btn-primary' %>
  </div>
