<table class="table table-striped <%= dom_class(@presenter) %> attributes">
  <caption class="table-heading"><h2>Attributes</h2></caption>
  <thead>
    <tr><th>Attribute Name</th><th>Values</th></tr>
  </thead>
  <tbody>
  <%= @presenter.attribute_to_html(:description, 'Abstract') %>
  <%= @presenter.attribute_to_html(:creator, 'Creator', { catalog_search_link: true }) %>
  <%= @presenter.attribute_to_html(:contributor, 'Contributors', { catalog_search_link: true }) %>
  <%= @presenter.attribute_to_html(:subject, "Subject", { catalog_search_link: true }) %>
  <%= @presenter.attribute_to_html(:publisher, "Publisher") %>
  <%#= @presenter.attribute_to_html(:bibliographic_citation, "Bibliographic Citation") %>
  <%#= @presenter.attribute_to_html(:source, "Source") %>
  <%= @presenter.attribute_to_html(:language, "Language") %>
  <tr>
    <th>Access Rights</th>
    <td>
      <%= @presenter.permission_badge %>
    </td>
  </tr>
  <%= @presenter.attribute_to_html(:embargo_release_date, "Embargo Release Date") %>
  <%= @presenter.attribute_to_html(:lease_expiration_date, "Lease Expiration Date") %>
  <%= @presenter.attribute_to_html(:rights, "Content License") %>
  </tbody>
</table>
