<%= render "form_files_and_links", f: f %>
<%= render "form_media", f: f %>

<div class="row with-headroom">
  <div class="col-md-12">
    <%= render "form_permission", f: f %>
  </div>
</div>

<%= render "form_rights", f: f %>
<%= render "form_in_works", f: f %>
<%= render "form_member_of_collections", f: f %>
