<%= simple_form_for [main_app, :curation_concerns, curation_concern] do |f| %>
  
  <% if f.error_notification -%>
    <div class="alert alert-danger fade in">
      <strong>Wait don't go!</strong> There was a problem with your submission. Please review the errors below:
      <a class="close" data-dismiss="alert" href="#">&times;</a>
    </div>
  <% end -%>

  <%= render 'form_descriptive_fields', curation_concern: curation_concern, f: f %>

  <%= render 'form_supplementary_fields', curation_concern: curation_concern, f: f %>

  <div class="row">
    <div class="col-md-12 form-actions">
      <%= f.submit class: 'btn btn-primary require-contributor-agreement' %>
      <%- if curation_concern.new_record? -%>
        <%= link_to 'Cancel', main_app.root_path, class: 'btn btn-link' %>
      <%- else -%>
        <%= link_to 'Cancel', polymorphic_path([main_app, :curation_concerns, curation_concern]), class: 'btn btn-link' %>
      <%- end -%>
    </div>
  </div>

<% end %>
