<% if curation_concern.embargo_release_date %>
  <%= render 'form_permission_under_embargo', curation_concern: curation_concern, f: f %>
<% elsif curation_concern.lease_expiration_date %>
  <%= render 'form_permission_under_lease', curation_concern: curation_concern, f: f %>
<% else %>
  <fieldset id="set-access-controls">
    <legend>
      Access Rights
      <small>Who should be able to view or download this content?</small>
    </legend>

    <section class="help-block">
      <p>
        <strong>Please note</strong>, making something visible to the world (i.e.
        marking this as <span class="label label-success">Open Access</span>) may be
        viewed as publishing which could impact your ability to:
      </p>
      <ul>
        <li>Patent your work</li>
        <li>Publish your work in a journal</li>
      </ul>
      <p>
        Check out <a href="http://www.sherpa.ac.uk/romeo/">SHERPA/RoMEO</a> for more
        information about publisher copyright policies.
      </p>
    </section>

    <div class="form-group">
      <label class="radio">
        <input type="radio" id="visibility_open" name="<%= f.object_name %>[visibility]" value="<%= Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PUBLIC %>" <% if curation_concern.open_access? %> checked="true"<% end %>/>
        <span class="label label-success">Open Access</span> Visible to the world.
      </label>
      <label class="radio">
        <input type="radio" id="visibility_registered" name="<%= f.object_name %>[visibility]" value="<%= Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_AUTHENTICATED %>" <% if curation_concern.authenticated_only_access? %> checked="true"<% end %> />
        <span class="label label-info"><%=t('curation_concerns.institution.name') %></span> Visible to all <%=t('curation_concerns.institution.name') %> users.
      </label>
      <label class="radio">
        <input type="radio" id="visibility_embargo" name="<%= f.object_name %>[visibility]" value="<%= Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_EMBARGO %>" <% if curation_concern.open_access_with_embargo_release_date? %> checked="true"<% end %>/>
        <%= render "form_permission_embargo", curation_concern: curation_concern, f: f  %>
      </label>
      <label class="radio">
        <input type="radio" id="visibility_lease" name="<%= f.object_name %>[visibility]" value="lease" <% if curation_concern.open_access_with_embargo_release_date? %> checked="true"<% end %>/>
        <%= render "form_permission_lease", curation_concern: curation_concern, f: f  %>
      </label>
      <label class="radio">
        <input type="radio" id="visibility_restricted" name="<%= f.object_name %>[visibility]" value="<%= Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PRIVATE%>" <% if curation_concern.private_access? %> checked="true"<% end %>/>
        <span class="label label-danger">Private</span> Only visible to you and your delegates.
      </label>
    </div>

  </fieldset>
<% end %>
