<% if Flipflop.assign_admin_set? %>
  <%= f.input :admin_set_id, as: :select,
      include_blank: false,
      collection: Sufia::AdminSetOptionsPresenter.new(Sufia::AdminSetService.new(controller)).select_options,
      input_html: { class: 'form-control' } %>
<% end %>

<%= render 'form_in_works', f: f %>

<h2><%= t("sufia.works.form.in_collections") %></h2>
<div id="collection-widget">
  <%= f.input :collection_ids, as: :select,
              collection: available_collections(nil),
              input_html: { class: 'form-control', multiple: true } %>
</div>

<% if f.object.persisted? %>
  <h3><%= t("sufia.works.form.in_this_work") %></h3>
   <%= render 'form_child_work_relationships', f: f %>
<% end %>
