    <aside class="form-progress panel panel-default" id="form-progress">
      <div class="panel-heading">
        <h2>Save Work</h2>
      </div>
      <div class="list-group">
        <div class="list-group-item">
          <h3>Requirements</h3>
          <ul class="requirements">
            <li class="incomplete" id="required-metadata">Enter required metadata</li>
            <li class="incomplete" id="required-files">Add files</li>
          </ul>
        </div>

        <div class="list-group-item">
          <%= render 'form_visibility_component', f: f %>
        </div>
        <% unless current_user.can_make_deposits_for.empty? %>
          <div class="list-group-item">
              <div class="controls">
                <%= label_tag :on_behalf_of, 'On Behalf of' %>
                <%= select_tag :on_behalf_of, options_for_select(current_user.can_make_deposits_for), prompt: "Yourself" %>
              </div>
          </div>
        <% end %>
        <div class="panel-footer text-center">
          <% if Sufia::Engine.config.active_deposit_agreement_acceptance %>
            <label>
              <%= check_box_tag 'agreement' %>
              I have read and do agree to the<br>
              Deposit Agreement
            </label>
          <% else %>
            By saving this work I agree to the<br>
            Deposit Agreement
          <% end %>
          <br>
          <%= link_to t(:'helpers.action.cancel'),
                      sufia.dashboard_index_path,
                      class: 'btn btn-default' %>
          <%= f.submit 'Save', class: 'btn btn-primary', onclick: "confirmation_needed = false;", id: "with_files_submit", name: "save_with_files" %>
        </div>
      </div>
    </aside>
