<% # This is used by works and by FileSet and the layout (col-6 vs col-12) is different for both %>
<% if f.object.embargo_release_date %>
  <%= render 'form_permission_under_embargo', f: f %>
<% elsif f.object.lease_expiration_date %>
  <%= render 'form_permission_under_lease', f: f %>
<% else %>
  <fieldset id="set-access-controls">
    <legend>
      Visibility
      <small>Who should be able to view or download this content?</small>
      <span id="visibility_tooltip" class="h5">
        <%= help_link 'visibility', 'Visibility', 'Usage information for visibility' %>
      </span>
    </legend>

    <%= render "form_permission_note" %>

    <div class="form-group">
      <label class="radio">
        <%= f.radio_button :visibility, Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PUBLIC %>
        <%= t('curation_concerns.visibility.open.label_html') %>
      </label>
      <label class="radio">
        <%= f.radio_button :visibility, Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_AUTHENTICATED %>
        <%= t('curation_concerns.visibility.authenticated.label_html', institution: t('curation_concerns.institution.name')) %>
      </label>
      <label class="radio">
        <%= f.radio_button :visibility, Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_EMBARGO %>
        <%= render "form_permission_embargo", f: f %>
      </label>
      <label class="radio">
        <%= f.radio_button :visibility, Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_LEASE %>
        <%= render "form_permission_lease", f: f %>
      </label>
      <label class="radio">
        <%= f.radio_button :visibility, Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PRIVATE %>
        <%= t('curation_concerns.visibility.private.label_html') %>
      </label>
    </div>
  </fieldset>
<% end %>
