<div class="form-actions">
  <% if Sufia.config.analytics %>
    <%= link_to "Analytics", @presenter.stats_path, id: 'stats', class: 'btn btn-default' %>
  <% end %>
  <% if Sufia.config.citations %>
    <%= link_to "Citations", sufia.citations_work_path(@presenter), id: 'citations', class: 'btn btn-default' %>
  <% end %>
  <% if @presenter.processing? %>
    <% # Question: Should we disable the buttons instead? %>
    <p>This work is being processed</p>
  <% else %>
    <% if @presenter.editor? %>
        <%= link_to "Edit This #{@presenter.human_readable_type}", edit_polymorphic_path([main_app, @presenter]), class: 'btn btn-default' %>
        <%= link_to "Delete This #{@presenter.human_readable_type}", [main_app, @presenter], class: 'btn btn-danger pull-right', data: { confirm: "Delete this #{@presenter.human_readable_type}?" }, method: :delete %>
    <% end %>
    <%= link_to 'Export to EndNote', polymorphic_path([main_app, @presenter], format: 'endnote'), class: 'btn btn-default' %>
    <%= link_to 'Export to Zotero', sufia.static_path('zotero'), id: 'zoteroLink', name: 'zotero', class: 'btn btn-default' %>
    <%= link_to 'Export to Mendeley', sufia.static_path('mendeley'), id: 'mendeleyLink', name: 'mendeley', class: 'btn btn-default' %>
    <% if @presenter.display_feature_link? %>
        <%= link_to "Feature", sufia.featured_work_path(@presenter, format: :json),
            data: {behavior: 'feature'}, id: 'featureLink', name: 'featureLink', class: 'btn btn-default' %>
    <% end %>
    <% if @presenter.display_unfeature_link? %>
        <%= link_to "Unfeature", sufia.featured_work_path(@presenter, format: :json),
            data: {behavior: 'unfeature'}, id: 'unfeatureLink', name: 'unfeatureLink', class: 'btn btn-default' %>
    <% end %>
  <!-- COinS hook for Zotero -->
    <span class="Z3988" title="<%= export_as_openurl_ctx_kev(@presenter) %>"></span>
  <% end %>
</div>
