<% provide :page_title, @presenter.page_title %>
<% provide :page_header do %>
  <h1><%= @presenter %> <span class="human_readable_type">(<%= @presenter.human_readable_type %>)</span></h1>
<% end %>

<% collector = can?(:collect, @presenter.id) %>
<% editor    = can?(:edit,    @presenter.id) %>

<%= render 'representative_media', work: @presenter %>
<%= render 'attributes', curation_concern: @presenter %>
<%= render 'related_files', presenter: @presenter %>
<% if editor %>
    <%= render partial: 'curation_concerns/file_sets/multiple_upload', presenter: @presenter %>
<% end %>

<% if collector || editor %>
  <div class="form-actions">
    <% if editor %>
      <%= link_to "Edit This #{@presenter.human_readable_type}", edit_polymorphic_path([main_app, :curation_concerns, @presenter]), class: 'btn btn-primary' %>
      <%= link_to "Delete This #{@presenter.human_readable_type}", [main_app, :curation_concerns, @presenter], class: 'btn btn-primary', data: { confirm: "Delete this #{@presenter.human_readable_type}?" }, method: :delete %>
      <%= link_to "Attach a File", main_app.new_curation_concerns_file_set_path(@presenter), class: 'btn btn-primary' %>
    <% end %>
  </div>
<% end %>
