<% provide :page_title, @presenter.page_title %>
<% provide :page_header do %>
  <h1><%= @presenter %> <span class="human_readable_type">(<%= @presenter.human_readable_type %>)</span></h1>
<% end %>

<% collector = can?(:collect, @presenter.id) %>
<% editor    = can?(:edit,    @presenter.id) %>

<%= render 'representative_media', work: @presenter %>
<%= render "attributes", presenter: @presenter %>
<%= render 'related_files', presenter: @presenter %>
<% if editor %>
  <%= render 'multiple_upload', presenter: @presenter %>
<% end %>

<%= render "show_actions", collector: collector, editor: editor%>
