<% solr_doc          ||= document.inner_object.solr_doc                                                    %>
<% title_link_target ||= polymorphic_path([:curation_concern, document])                                   %>
<% title_link_text   ||= render_index_field_value(document: solr_doc, field: 'desc_metadata__title_tesim') %>
<% edit_path         ||= edit_polymorphic_path([:curation_concern, document])                              %>

<div class="row identifier-and-action">
  <div class="col-md-2 list-number">
    <%= document_counter_with_offset(counter) if defined?(counter) %>
    <%= render :partial => 'catalog/_index_partials/type_display', locals: {document: document} %>
  </div>

  <div class="col-md-6 search-result-link">
    <%# Minimize Fedora hits by using solr_doc rather than document %>
    <%= link_to title_link_text, title_link_target, :id => "src_copy_link_#{solr_doc.noid}" %>
  </div>

  <div class="col-md-4 search-result-actions">
    <% if current_user -%>
      <% if can?( :edit, document ) && edit_path.present? %>
        <% edit_link_text = "Edit #{document.human_readable_type}" %>
        <%= link_to(
          raw('<i class="glyphicon glyphicon-pencil icon-large"></i> '+edit_link_text),
            edit_path,
            class: 'itemicon itemedit btn',
            title: edit_link_text
        )%>
        <% if @collection -%>
          <%= button_for_remove_from_collection(document) %>
        <% else %>
          <%= link_to raw('<i class="glyphicon glyphicon-trash"></i> Delete ' + document.human_readable_type), title_link_target,
                      class: 'itemicon itemtrash', title: 'Delete Collection', method: :delete, data: {
                          confirm: "Deleting a collection from #{t('sufia.product_name')} is permanent. Click OK to delete this collection from #{t('sufia.product_name')}, or Cancel to cancel this operation" } %>
        <% end %>
      <% end %>
      <% if can? :collect, document %>
        <%= render 'curate/collections/add_to_collection_gui', collectible: document %>
      <% end %>
    <% end %>
  </div>
</div>

