<li>
  <h2>
    <%= link_to document.title_or_label, sufia.generic_file_path(document.noid) %>
    <small>[<%= link_to 'Download', sufia.download_path(document.noid), :target => '_new' %>]</small>
  </h2>
  <table class="table">
    <tr>
      <td rowspan="6" class="span20"> <%= render :partial => 'dashboard/_index_partials/thumbnail_display', :locals => {:document=>document, :height=>200, :width=>150} %>
      </td>
      <th><h4>Title:</h4></th>
      <td><%= document.title %></td>
    </tr>
    <tr>
      <th><h4>Depositor:<h4></div>
      <td><%= link_to_profile document.depositor("no depositor value") %></td>
    </tr>
    <tr>
      <th><h4>Creator:</h4></th>
      <td><%= document.creator %></td>
    </tr>
    <tr>
      <th><h4>Description:</h4></th>
      <td><%= iconify_auto_link(document.description) %></th>
    </tr>
    <tr>
      <th><h4>Keywords:</h4></th>
      <td><%= document.tags.join(', ') %></td>
    </tr>
    <tr>
      <th><h4>Date Uploaded:</h4></th>
      <td><%= document.date_uploaded %></td>
    </tr>
  </table>
</li>
