<% if document.has_key?(:noid_s) %>
<%# logger.info document[:generic_file__creator_t].inspect %>
<li>
  <h2>
    <%= link_to render_document_show_field_value(:document=>document, :field=>document.title_or_label), generic_file_path(document[:noid_s].first) %>
  </h2>
  <table class="table">
    <tr>
      <td rowspan="6" class="span20"> <%= render :partial => 'dashboard/_index_partials/thumbnail_display', :locals => {:document=>document, :height=>200, :width=>150} %> </td>
      <th>Title:</th>
      <td><%= render_document_show_field_value(:document=>document, :field=>"generic_file__title_display") %></td>
    </tr>
    <tr>
      <th>Owner:</div>
      <td><%=  display_user_name(document) %></td>
    </tr>
    <tr>
      <th>Creator:</th>
      <td><%= render_document_show_field_value(:document=>document, :field=>"generic_file__creator_display") %></td>
    </tr>
    <tr>
      <th>Description:</th>
      <td><%= auto_link(render_document_show_field_value(:document=>document, :field=>"generic_file__description_display")) %></th>
    </tr>
    <tr>
      <th>Tags:</th>
      <td><%= render_document_show_field_value(:document=>document, :field=>"generic_file__tag_display") %></td>
    </tr>
    <tr>
      <th>Date Uploaded:</th>
      <td><%= render_document_show_field_value(:document=>document, :field=>"generic_file__date_uploaded_display") %></td>
    </tr>
  </table>
</li>
<% end %>
