<div class="tab-pane active" id="contributions">
  <% if @trophies.count > 0 %>
    <table>
      <% @trophies.each do |t| %>
        <tr id="trophyrow_<%= t.id %>">
          <td>
            <%= link_to curation_concerns_generic_work_path(t) do %>
              <%= render_thumbnail_tag t, { width: 90 } %>
            <% end %>
          </td>
          <td>
            <%= link_to display_title(t), curation_concerns_generic_work_path(t) %>
            <% if current_user == @user %>
              <%= display_trophy_link current_user, t.id, class: 'glyphicon glyphicon-star', data: {removerow: true} do %>
                <i class='trophy-on glyphicon glyphicon-remove'></i>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <%= @user.name %> has no highlighted works.
  <% end %>
</div>
