      <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#contributions"><i class="glyphicon glyphicon-star"></i> <%= I18n.t('sufia.user_profile.tab_highlighted') %></a></li>
        <li><a href="#profile"><i class="glyphicon glyphicon-info-sign"></i> <%= I18n.t('sufia.user_profile.tab_profile') %></a></li>
        <li><a href="#activity_log" ><i class="glyphicon glyphicon-calendar"></i> <%= I18n.t('sufia.user_profile.tab_activity') %></a></li>
      </ul>
       
      <div class="tab-content">
        <%= render 'contributions' %>
        <%= render 'profile' %>
        <%= render 'activity' %>
      </div> <!-- /tab-content -->
