<% content_for :local_js do %>
// initialize popover helpers
$("a[rel=popover]").popover({ html: true });
<% end %>

<h1>Edit Profile</h1>
<div class="span45 well">
  <%= form_for @user, :url => sufia.profile_path(@user.to_param), :html => {:multipart => true, :class => 'form-horizontal' } do |f| %>
    <div class="control-group">
      <%= f.label :avatar, '<i class="icon-camera-retro"></i> Change picture'.html_safe, :class => "control-label" %>
      <div class="controls">
        <%= image_tag @user.avatar.url(:thumb) if @user.avatar? %>
        <%= f.file_field :avatar %>
        <%= f.hidden_field :avatar_cache %>
        <span class="label label-important">JPG, GIF, or PNG (less than 2MB)</span>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :delete_avatar, '<i class="icon-remove"></i> Delete picture'.html_safe, :class => 'control-label' %>
      <div class="controls">
        <label class="checkbox">
          <%= f.check_box :remove_avatar %> Yes
          <a href="#" id="delete_picture_help" rel="popover" data-content="If you would like to remove your picture entirely, check the box and save your profile." data-original-title="Delete Picture"><i class="icon-question-sign icon-large"></i></a>
        </label>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :update_directory, '<i class="icon-refresh"></i> Refresh directory info'.html_safe, :class => 'control-label' %>
      <div class="controls">
        <label class="checkbox">
          <%= check_box_tag 'update_directory' %> Yes
          <a href="#" id="refresh_directory_help" rel="popover" data-content="The information displayed in your profile comes from <%=t('sufia.institution_name') %>'s central directory (LDAP) and is cached by <%=t('sufia.product_name') %>.  If you have updated that information and don't see those changes in your <%=t('sufia.product_name') %> profile, check the box and save your profile." data-original-title="Refresh Directory Info"><i class="icon-question-sign icon-large"></i></a>
        </label>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :twitter_handle, '<i class="icon-twitter"></i> Twitter Handle'.html_safe, :class => 'control-label' %>
      <div class="controls">
         <%= f.text_field :twitter_handle, :class =>"input-medium" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :facebook_handle, '<i class="icon-facebook"></i> Facebook Handle'.html_safe, :class => 'control-label' %>
      <div class="controls">
         <%= f.text_field :facebook_handle, :class =>"input-medium" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :googleplus_handle, '<i class="icon-google-plus"></i> Google+ Handle'.html_safe, :class => 'control-label' %>
      <div class="controls">
         <%= f.text_field :googleplus_handle, :class =>"input-medium" %>
      </div>
    </div>

    <%= render :partial => 'trophy_edit', :locals => {:trophies => @trophies} %>

    <div class="form-actions">
      <%= f.button '<i class="icon-save"></i> Save Profile'.html_safe, :type => 'submit', :class => "btn-primary btn-large" %>
    </div>
  <% end %>
</div><!-- /span /well-->

<div class="span53 offset1 well">
  <h3><i class="icon-user"></i> Directory Info (LDAP) <%= link_to 'Edit Instructions', 'http://www.psu.edu/directory/#update', :class => 'btn btn-mini btn-primary' %></h3>
  <%= render :partial => 'user_info', :locals => {:user => @user} %>

  <hr />

  <h3><i class="icon-group"></i> User Managed Groups Info (UMG) <%= link_to 'Manage UMG', 'http://umg.its.psu.edu/', :class => 'btn btn-mini btn-primary' %> </h3>
  <% current_user.groups.each do |g| %>
    <i class="icon-caret-right"></i> <%= g %><br />
  <% end %>
</div>
