<h1>Scholarsphere Users</h1>
<%= render :partial => 'search_form' %>
<div id="Data">
    <table class="table table-striped"> 
        <thead> 
            <tr> 
                <th>Avitar</th> 
                <th class="sorts"><i id="name" class="<%=params[:sort]== "name_rev" ? 'icon-arrow-down' : 'icon-arrow-up'%>">User Name</th> 
                <th>User Id</th> 
                <th>Department</th> 
            </tr> 
        </thead> 
        <tbody> 
            <% @users.each do |user| %> 
                <tr class="<%= cycle("","zebra") %>"> 
                   <td><a href="<%= profile_path(user.login) %>" class="btn btn-small " ><%= image_tag user.avatar.url(:thumb), :width => 30 %></a></td> 
                   <td ><a href="<%= profile_path(user.login) %>"  ><%= user.name %><a></td> 
                   <td><a href="<%= profile_path(user.login) %>"  ><%= user.login %><a></td>
                   <td><%= user.department %> </td> 
                </tr> 
 
            <% end %> 
        </tbody> 
    </table> 
    <%= will_paginate @users, :class => 'pager', :previous_label => '&laquo; Previous', :next_label => 'Next &raquo;'%> 
</div> 
