<div id="search" class="row">
<%= render partial: 'search_form' %>
<h1><%= t('sufia.product_name') %> Users</h1>
</div>
<div id="Data">
    <table class="table table-striped"> 
        <thead> 
            <tr> 
                <th>Avatar</th> 
                <th class="sorts"><i id="name" class="<%=params[:sort].blank? ? 'caret up' : params[:sort]== "name desc" ? 'caret' : params[:sort]== "name" ? 'caret up' : ''%>"></i>User Name</th>
                <th class="sorts"><i id="login" class="<%=params[:sort]== "login desc" ? 'caret' : params[:sort]== "login" ? 'caret up' : ''%>"></i>User Id</th>
                <th class="sorts"><i id="department" class="<%=params[:sort]== "department desc" ? 'caret' : params[:sort]== "department" ? 'caret up' : ''%>"></i>Department</th>
                <th>Files Deposited</th> 
            </tr> 
        </thead> 
        <tbody> 
            <% @users.each do |user| %> 
                <tr class="<%= cycle("","zebra") %>"> 
                   <td><a href="<%= sufia.profile_path(user) %>" class="btn btn-sm " ><%= image_tag user.avatar.url(:thumb), width: 30 %></a></td> 
                   <td ><a href="<%= sufia.profile_path(user) %>"  ><%= user.name %><a></td> 
                   <td><a href="<%= sufia.profile_path(user) %>"  ><%= user.user_key %><a></td>
                   <td><%= user.department %> </td> 
                   <td><%= number_of_deposits(user) %> </td>
                </tr> 
             <% end %> 
        </tbody> 
    </table> 
    <div class="pager">
      <%= paginate @users,  theme: 'blacklight', route_set: sufia%>
    </div>
</div> 
