  <li class="h5"><%= t('hyrax.admin.sidebar.activity') %></li>

  <li>
    <%= menu.collapsable_section t('hyrax.admin.sidebar.user_activity'),
                                 icon_class: "fa fa-line-chart",
                                 id: 'collapseUserActivity',
                                 open: menu.user_activity_section? do %>
      <%= menu.nav_link(hyrax.dashboard_profile_path(current_user),
                        also_active_for: hyrax.edit_dashboard_profile_path(current_user)) do %>
        <span class="fa fa-id-card" aria-hidden="true"></span> <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.profile') %></span>
      <% end %>

      <%= menu.nav_link(hyrax.notifications_path) do %>
        <span class="fa fa-bell" aria-hidden="true"></span> <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.notifications') %></span>
      <% end %>

      <%= menu.nav_link(hyrax.transfers_path) do %>
        <span class="fa fa-arrows-h" aria-hidden="true"></span> <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.transfers') %></span>
      <% end %>

      <% if Flipflop.proxy_deposit? %>
        <%= menu.nav_link(hyrax.depositors_path) do %>
          <span class="fa fa-users" aria-hidden="true"></span> <span class="sidebar-action-text"><%= t('hyrax.dashboard.manage_proxies') %></span>
        <% end %>
      <% end %>
    <% end %>
  </li>

  <% if can? :read, :admin_dashboard %>
    <%= menu.nav_link(hyrax.admin_stats_path) do %>
      <span class="fa fa-bar-chart" aria-hidden="true"></span> <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.statistics') %></span>
    <% end %>
  <% end %>

  <% if current_ability.can_create_any_work? && Hyrax.config.analytics? && Hyrax.config.analytics_provider != 'ga4' %>
    <li>
      <%= menu.collapsable_section t('hyrax.admin.sidebar.analytics'),
                                        icon_class: "fa fa-pie-chart",
                                        id: 'collapseAnalytics',
                                        open: menu.analytics_reporting_section? do %>
        <% if can? :read, :admin_dashboard %>
          <%= menu.nav_link(hyrax.admin_analytics_collection_reports_path,
                            onclick: "dontChangeAccordion(event);") do %>
            <span class="fa fa-folder-open" aria-hidden="true"></span> <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.collections_report') %></span>
          <% end %>
        <% end %>

        <%= menu.nav_link(hyrax.admin_analytics_work_reports_path,
                          onclick: "dontChangeAccordion(event);") do %>
          <span class="fa fa-file" aria-hidden="true"></span> <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.works_report') %></span>
        <% end %>

      <% end %>
    </li>
  <% end %>

  <%= render 'hyrax/dashboard/sidebar/menu_partials', menu: menu, section: :activity %>
