  <li class="h5 nav-item"><%= t('hyrax.admin.sidebar.repository_objects') %></li>

  <%= menu.nav_link(hyrax.my_collections_path,
                    class: "nav-link",
                    onclick: "dontChangeAccordion(event);",
                    also_active_for: hyrax.dashboard_collections_path) do %>
    <span class="fa fa-folder-open" aria-hidden="true"></span> <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.collections') %></span>
  <% end %>

  <%= menu.nav_link(hyrax.my_works_path,
                    class: "nav-link",
                    onclick: "dontChangeAccordion(event);",
                    also_active_for: hyrax.dashboard_works_path) do %>
    <span class="fa fa-file" aria-hidden="true"></span> <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.works') %></span>
  <% end %>

  <% if ENV.fetch('HYRAX_FLEXIBLE', false) %>
    <% if current_ability.admin? %>
      <%= menu.nav_link(hyrax.metadata_profiles_path,
                        class: "nav-link",
                        onclick: "dontChangeAccordion(event);",
                        title: t('hyrax.admin.sidebar.metadata_profiles')) do %>
        <span class="fa fa-table" aria-hidden="true"></span> <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.metadata_profiles') %></span>
      <% end %>
    <% end %>
  <% end %>

  <%= render 'hyrax/dashboard/sidebar/menu_partials', menu: menu, section: :repository_content %>
