  <li class="h5"><%= t('hyrax.admin.sidebar.repository_objects') %></li>

  <%= menu.nav_link(hyrax.my_collections_path,
                    also_active_for: hyrax.dashboard_collections_path) do %>
    <span class="fa fa-folder-open"></span> <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.collections') %></span>
  <% end %>

  <%= menu.nav_link(hyrax.my_works_path,
                    also_active_for: hyrax.dashboard_works_path,
                    data: { turbolinks: false }) do %>
    <span class="fa fa-file"></span> <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.works') %></span>
  <% end %>
