<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" aria-controls="language-dropdown-menu">
        <span class="sr-only"><%= t('hyrax.toolbar.language_switch') %></span>
        <span title="<%= t('hyrax.toolbar.language_switch') %>"><%= available_translations[I18n.locale.to_s] %></span>
        <b class="caret"></b>
    </a>
    <ul id="language-dropdown-menu" class="dropdown-menu" role="menu">
        <li role="presentation" class="dropdown-header"><%= t('hyrax.toolbar.language_switch') %></li>
        <li role="presentation" class="divider"></li>
        <% available_translations.each do |language, label| %>
            <li role="presentation" lang="<%= language %>">
                <%= link_to label, "?locale=#{language}", class: 'dropdown-item', role: 'menuitem', tabindex: '-1', data: { locale: language } %>
            </li>
        <% end %>
    </ul>
</li>
