<h2 class="non lower"><%= raw(t('.batch_edit_descriptions')) %></h2>

<div class="scrollx scrolly fileHeight"> <!-- original values -->
  <h3> <b><%= t('.apply_changes_to', x_number_of: @form.names.size ) %></b></h3>
   <%= sanitize @form.names.join(", ") %>
</div> <!-- /original values -->

<div>
  <h3><%= t('.descriptions_title') %></h3>
  <div class="panel panel-default tabs">
    <ul class="nav nav-tabs">
      <li id="edit_descriptions_link" class="active"><a href="#descriptions_display" data-toggle="tab"><span class="glyphicon glyphicon-tags"></span> <%= t('.descriptions') %></a></li>
      <li id="edit_permissions_link"><a href="#permissions_display" data-toggle="tab"><span class="glyphicon glyphicon-lock"></span> <%= t('.permissions') %></a></li>
    </ul>
    <div class="panel-body">
      <div class="tab-content">
        <div class="tab-pane active" id="descriptions_display">
          <% @form.terms.each do |term| %>
            <div class="row">
              <%= simple_form_for @form,
                                  url: hyrax.batch_edits_path,
                                  method: :put,
                                  remote: true,
                                  builder: Hyrax::FormBuilder,
                                  html: { id: "form_#{term.to_s}",
                                          class: "ajax-form" },
                                  data: { model: @form.model_name.param_key } do |f| %>
                <div class="col-xs-12 col-sm-4">
                  <a class="accordion-toggle grey glyphicon-chevron-right-helper collapsed" data-toggle="collapse" href="#collapse_<%= term %>" id="expand_link_<%=term.to_s%>">
                    <%= f.input_label term %> <span class="chevron"></span>
                  </a>
                </div>
                <div id="collapse_<%= term %>" class="collapse scrolly col-xs-12 col-sm-7">
                  <%= hidden_field_tag('update_type', 'update') %>
                  <%= hidden_field_tag('key', term.to_s) %>
                  <%# TODO we don't need to show required %>
                  <%= render_edit_field_partial(term, f: f) %>
                  <% @form.batch_document_ids.each do |batch_id| %>
                    <%= hidden_field_tag "batch_document_ids[]", batch_id %>
                  <% end %>
                  <div>
                    <%= f.submit "Save changes", class: 'btn btn-primary field-save', id: "#{term.to_s}_save" %>
                    <a class="btn btn-default" data-toggle="collapse" data-parent="#row_<%= term.to_s %>" href="#collapse_<%= term.to_s %>"><%= t('helpers.action.cancel') %> </a>
                    <div class="status fleft"></div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div><!-- #descriptions_display -->

        <div id="permissions_display" class="tab-pane">
          <div class="row">
            <%= simple_form_for @form,
                                url: hyrax.batch_edits_path,
                                method: :put,
                                remote: true,
                                builder: Hyrax::FormBuilder,
                                html: { id: "form_permissions_visibility", class: "ajax-form"},
                                data: { 'param-key' => @form.model_name.param_key } do |f| %>
              <div class="col-xs-12 col-sm-4">
                <a class="accordion-toggle grey glyphicon-chevron-right-helper collapsed" data-toggle="collapse" href="#collapse_permissions_visibility" id="expand_link_permissions_visibility">
                  <%= f.input_label t(".visibility") %> <span class="chevron"></span>
                </a>
              </div>
              <div id="collapse_permissions_visibility" class="collapse scrolly col-xs-12 col-sm-7">
                <%= hidden_field_tag('update_type', 'update') %>
                <%= hidden_field_tag('key', 'permissions') %>
                <%= render "hyrax/base/form_permission", f: f %>

                <% @form.batch_document_ids.each do |batch_id| %>
                  <%= hidden_field_tag "batch_document_ids[]", batch_id %>
                <% end %>
                <div>
                  <%= f.submit "Save changes", class: 'btn btn-primary field-save', id: "permissions_visibility_save" %>
                  <a class="btn btn-default" data-toggle="collapse" data-parent="#row_permissions_visibility" href="#collapse_permissions_visibility"><%= t('helpers.action.cancel') %></a>
                  <div class="status fleft"></div>
                </div>
              </div>
            <% end %>
          </div>

          <div class="row">
            <%= simple_form_for @form,
                                url: hyrax.batch_edits_path,
                                method: :put,
                                remote: true,
                                builder: Hyrax::FormBuilder,
                                html: { id: "form_permissions", class: "ajax-form"},
                                data: { 'param-key' => @form.model_name.param_key } do |f| %>
              <div class="col-xs-12 col-sm-4">
                <a class="accordion-toggle grey glyphicon-chevron-right-helper collapsed" data-toggle="collapse" href="#collapse_permissions_sharing" id="expand_link_permissions_sharing">
                  <%= f.input_label t(".sharing") %> <span class="chevron"></span>
                </a>
              </div>
              <div id="collapse_permissions_sharing" class="collapse scrolly col-xs-12 col-sm-7">
                <%= hidden_field_tag('update_type', 'update') %>
                <%= hidden_field_tag('key', 'permissions') %>
                <%= render "hyrax/base/form_share", f: f %>

                <% @form.batch_document_ids.each do |batch_id| %>
                  <%= hidden_field_tag "batch_document_ids[]", batch_id %>
                <% end %>
                <div>
                  <%= f.submit "Save changes", class: 'btn btn-primary field-save', id: "permissions_sharing_save" %>
                  <a class="btn btn-default" data-toggle="collapse" data-parent="#row_permissions_sharing" href="#collapse_permissions_sharing"><%= t('helpers.action.cancel') %></a>
                  <div class="status fleft"></div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div> <!-- .tab-content -->
    </div>
  </div>

<!-- Ajax call to clear the batch before page uload. -->
<%= button_to t(".clear_batch"), hyrax.clear_batch_edits_path, form_class: 'hidden', remote: true, id: 'clear_batch' %>

</div><!-- descriptions_display -->
