<% if assets_with_expired_embargoes.empty? %>
  <table  class="embargoes table">
    <tbody>
    <tr>
      <th>Type of Work</th><th>Title</th><th>Current Visibility</th><th>Embargo Release Date</th><th>Visibility will Change to</th>
    </tr>
    <tr>
      <td colspan="5" style='text-align:center'><p>There are no expired embargoes in effect at this time.</p> </td>
    </tr>
    </tbody>
  </table>

<% else %>

  <%= form_tag embargoes_path, method: :patch do %>
    <%= submit_tag 'Deactivate Embargoes for Selected', class: 'btn btn-primary' %>
    <table class="embargoes table">
      <thead>
        <tr>
          <th></th><th>Type of Work</th><th>Title</th><th>Current Visibility</th><th>Embargo Release Date</th><th>Visibility will Change to</th><th></th>
        </tr>
      </thead>
      <tbody>
      <% assets_with_expired_embargoes.each_with_index do |curation_concern, i| %>
        <tr>
          <td><%= button_for_add_to_batch curation_concern%></td>
          <td class="human-readable-type"><%= curation_concern.human_readable_type %></td>
          <td class="title"><%= link_to curation_concern, edit_embargo_path(curation_concern)  %></td>
          <td class="current-visibility"><%= visibility_badge(curation_concern.visibility) %></td>
          <td class="embargo-release-date"><%= curation_concern.embargo_release_date %></td>
          <td class="visibility-after-embargo"><%= visibility_badge(curation_concern.visibility_after_embargo) %></td>
          <td class="actions"><%= link_to 'Deactivate Embargo', embargo_path(curation_concern), method: :delete, class: 'btn btn-primary' %></td>
        </tr>
        <tr data-behavior="extra" data-id="<%= curation_concern.id %>" class="extra-embargo-info">
          <td></td>
          <td colspan=5>
            <%= check_box_tag "embargoes[#{i}][copy_visibility]", curation_concern.id, true %> Change all files within <%= curation_concern %> to <%= visibility_badge(curation_concern.visibility_after_embargo) %>?</td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>

<% end %>
