<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <%= form_tag(hyrax.import_metadata_profiles_path, :multipart => true, :class => "modal-content") do %>
      <div class="modal-header">
        <h2 class="modal-title"><%= t(:'helpers.action.hyrax_metadata_profile.import') %></h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="<%= t('hyrax.dashboard.heading_actions.close') %>"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <% unless @metadata_profiles.empty? %>
          <p><%= t(:'helpers.action.hyrax_metadata_profile.hint') %></p>
        <% end %>
        <%= file_field_tag :file, class: 'form-control-file' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t('hyrax.dashboard.heading_actions.close') %></button>
        <%= submit_tag t(:'helpers.action.hyrax_metadata_profile.submit'), name: nil, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
