<% provide :page_title, t(:'hyrax.dashboard.metadata_profiles') %>

<% provide :page_header do %>
  <h1><span class="fa fa-table" aria-hidden="true"></span> <%= t(:'hyrax.admin.sidebar.metadata_profiles') %></h1>
  <div class="pull-right">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
      <span class="fa fa-upload" aria-hidden="true"></span>
      <%= t(:'helpers.action.hyrax_metadata_profile.import_metadata_profile') %>
    </button>
  </div>
<% end %>

<div class="panel panel-default">
  <div class="panel-body">
    <% if @metadata_profiles.present? %>
      <div class="table-responsive">
        <table class="table table-striped datatable">
          <thead>
            <tr>
              <th scope="col">Schema Version</th>
              <th scope="col">Profile Version</th>
              <th scope="col">Profile Type</th>
              <th scope="col">Created At</th>
            </tr>
          </thead>
          <tbody>
            <% @metadata_profiles.order("updated_at DESC").each do |hyrax_metadata_profile| %>
              <tr>

                <!-- TODO: fix show pgs -->
                <td><%= hyrax_metadata_profile.schema_version %></td>
                <td><%= link_to hyrax_metadata_profile.metadata_profile_version.to_f, hyrax.metadata_profile_path(hyrax_metadata_profile) %></td>
                <td><%= hyrax_metadata_profile.metadata_profile_type %></td>
                <td><%= hyrax_metadata_profile.created_at.strftime("%b %d, %Y") %></td>
                <% if hyrax_metadata_profile == AllinsonFlex::Profile.current_version %>
                  <% if hyrax_metadata_profile.locked_at && hyrax_metadata_profile.locked_at < Time.now %>
                    <th colspan=3 ><%= link_to raw("<span title='click to force unlock' class='glyphicon glyphicon-lock'></span>"), hyrax.unlock_metadata_profile_path(hyrax_metadata_profile), method: :post, data: { confirm: 'Are you sure that no other user is editing the metadata_profile right now?' } %>
                      <%= hyrax_metadata_profile.lock_statement %>
                    </th>

                  <% else %>
                    <th><%= link_to raw('<span class="glyphicon glyphicon-pencil"></span>'), hyrax.edit_metadata_profile_path(hyrax_metadata_profile), data: { turbolinks: false } %></th>
                    <th><%= link_to raw('<span class="glyphicon glyphicon-download-alt"></span>'), hyrax.metadata_profile_export_path(hyrax_metadata_profile), tagert: "_blank" %></th>
                    <th><%= link_to raw('<span class="glyphicon glyphicon-remove"></span>'), hyrax.metadata_profile_path(hyrax_metadata_profile), method: :delete, data: { confirm: 'Are you sure?' } %></th>
                  <% end %>
                <% else %>
                  <td></td>
                  <td></td>
                  <td></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>

        <%= page_entries_info @metadata_profiles %><br />
        <%= paginate(@metadata_profiles, param_name: :metadata_profile_entries_page) %>

      </div>
      <% else %>
        <p>No Metadata Schema Profiles have been created.</p>
      <% end %>
  </div>
</div>


<!-- Modal -->
<%= render 'import_modal' %>
