<%#
Copyright © 2012 The Pennsylvania State University

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
%>

<h1>User Notifications</h1>
<a href="<%= sufia.mailbox_delete_all_path %>" class="btn " title="click delete all User Notifications"><i class="icon-trash">&nbsp;</i>Delete All</a>
<div id="Data">
    <table class="table table-striped"> 
        <thead> 
            <tr> 
                <th>Subject</th> 
                <th>Message</th> 
            </tr> 
        </thead> 
        <tbody> 
            <% @messages.each do |msg| %> 
                <tr class="<%= cycle("","zebra") %>"> 
                   <td ><%= msg.last_message.subject.html_safe  %></td> 
                   <td ><%= msg.last_message.body.html_safe  %></td> 
                   <td>    <%= link_to raw('<i class="icon-trash icon-large"></i>'), sufia.mailbox_delete_path(msg.id), :class=> 'itemicon itemtrash', :title => 'Delete File', :method => :delete %>&nbsp;&nbsp;&nbsp;</td>
                   
                </tr> 
            <% end %> 
        </tbody> 
    </table> 
</div> 
