<h1>User Notifications</h1>
<a href="<%= mailbox_delete_all_path %>" class="btn " title="click delete all User Notifications"><i class="icon-trash">&nbsp;</i>Delete All</a>
<div id="Data">
    <table class="table table-striped"> 
        <thead> 
            <tr> 
                <th>Subject</th> 
                <th>Message</th> 
            </tr> 
        </thead> 
        <tbody> 
            <% @messages.each do |msg| %> 
                <tr class="<%= cycle("","zebra") %>"> 
                   <td ><%= msg.last_message.subject.html_safe  %></td> 
                   <td ><%= msg.last_message.body.html_safe  %></td> 
                   <td>    <%= link_to raw('<i class="icon-trash icon-large"></i>'), mailbox_delete_path(msg.id), :class=> 'itemicon itemtrash', :title => 'Delete File', :method => :delete %>&nbsp;&nbsp;&nbsp;</td>
                   
                </tr> 
            <% end %> 
        </tbody> 
    </table> 
</div> 
