<% stylesheet_links << "../plugin_assets/hydra-head/javascripts/date-picker/css/datepicker" %>
<% stylesheet_links << "../plugin_assets/hydra-head/javascripts/fancybox/jquery.fancybox-1.3.1.css" %>
<% stylesheet_links << ["../plugin_assets/hydra-head/javascripts/select_to_ui_slider/css/ui.slider.extras.css"] %>
<% stylesheet_links << ["slider", {:plugin=>"hydra-head"}] %>


<%# For slider controls %>

<div class="document_viewer" id="cover_container">
  <div class="multipleEdit">
    <div id="loading" style="display:none;">
      <img src="/plugin_assets/hydra-head/images/ajax-loader.gif" width="32" height="32" alt="Saving..."/>
    </div>
    <% if flash[:notice] %>
      <div class="notice">
        <%= flash[:notice] %>
      </div>
    <% end %>


  <div id="accordion">
		<h2 class="section-title"><a href="#">Description</a></h2>
		<%= render :partial => "generic_content_objects/edit_description", :locals => { :content_type => "generic_content"} %>
		
    <h2 class="section-title"><a href="#">Upload Content</a></h2>
    <div class="uploads">
      <h2><a id='toggle-uploader-generic' href="">Upload file</a></h2>
      <div id='uploader'>
        <%= render :partial=>"fluid_infusion/uploader" %>
        <%# removed for HYDRA-150  %>
				<%# render :partial=>"fluid_infusion/uploader_generic_content_objects.js" %>	
      </div>
	  </div>



    <h2 class="section-title"><a href="#">Set permissions</a></h2>
    <div id="permissions">
      <%= render :partial => "permissions/index", :locals => {:document => document, :asset_id=>params[:id]} %>
    </div>

  </div>
  
    <%#
    // This hidden form really belongs elsewhere, but putting it inside of an 
    // accordion section un-hides it, so I stuck it here for now. -MZ
    %>
    <form id="new_contributor" action="<%=url_for(:action=>"create", :controller=>"contributors", :asset_id=>params[:id]) %>" method="post" style="display:none;">
      <input class="content_type" type="hidden" name="content_type" value="mods_asset" />
      <label for="contributor_type">Contributor Type</label>
      <select id="contributor_type" name="contributor_type">
        <option value="person">Person</option>
        <option value="organization">Organization</option>
        <option value="conference">Conference</option>
      </select>
      <input type="submit" value="Add Contributor" />
    </form>
  </div>
</div>
<% sidebar_items << capture do %>
  <%#= render :partial=>"catalog/_show_partials/facets", :locals=>{:document=>document, :facets_display_heading => "This document refers to:"} %>
  <%#= render :partial=>'facets' %>
  <%= delete_asset_link(params[:id], "article") %>
<% end %>
