<div id="max_and_thumb">
	<dl>
		<dt>Content</dt>
		<dd><%= disseminator_link params[:id], "content" %></dd>
		<dt>Original</dt>
		<dd><%= disseminator_link params[:id], "original" %></dd>
		<dt>Max</dt>
		<dd><%= disseminator_link params[:id], "max" %></dd>
		<dt>Screen</dt>
		<dd><%= disseminator_link params[:id], "screen" %></dd>
		<dt>Thumbnail</dt>
		<dd><%= disseminator_link params[:id], "thumbnail" %></dd>
	</dl>
</div>
