<div class="btn-group">
  <button class="btn btn-default btn-small dropdown-toggle" data-toggle="dropdown" href="#">Select an action <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <% if can? :edit, document %>
      <li>
        <%= link_to [:edit, document], class: 'itemicon itemedit' do %><i class="glyphicon glyphicon-pencil"></i> Edit <%= document.human_readable_type %>
        <% end %>
      </li>
      <li>
        <%= link_to document, class: 'itemicon itemtrash', title: 'Delete Collection', method: :delete, data: {
                        confirm: "Deleting a collection from #{application_name} is permanent. Click OK to delete this collection from #{application_name}, or Cancel to cancel this operation" } do %>
                        <i class="glyphicon glyphicon-trash"></i> Delete <%= document.human_readable_type %>
        <% end %>
      </li>
    <% end %>
    <% if can?(:collect, document) && document.collection? %>
      <li>
        <%= link_to_select_collection document %>
      </li>
    <% end %>
  </ul>
  <%= render 'collections/add_to_collection_modal', collectible: document if can? :collect, document %>
</div>
