<div class="btn-group">
  <button class="btn btn-default btn-small dropdown-toggle" data-toggle="dropdown" href="#">Select an action <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <% if can? :edit, document %>
      <li>
        <%= link_to [collections, :edit, document], class: 'itemicon itemedit' do %><i class="glyphicon glyphicon-pencil"></i> Edit <%= document.human_readable_type %>
        <% end %>
      </li>
      <li>
        <% if @collection # We're on the view page for @collection. -%>
          <%= button_for_remove_from_collection(document) %>
        <% else %>
          <%= link_to [collections, document], class: 'itemicon itemtrash', title: 'Delete Collection', method: :delete, data: {
                          confirm: "Deleting a collection from #{t('sufia.product_name')} is permanent. Click OK to delete this collection from #{t('sufia.product_name')}, or Cancel to cancel this operation" } do %>
                          <i class="glyphicon glyphicon-trash"></i> Delete <%= document.human_readable_type %>
          <% end %>
        <% end %>
      </li>
    <% end %>
    <% if can? :collect, document %>
      <li>
        <%= link_to_select_collection document %>
      </li>
    <% end %>
  </ul>
  <%= render 'curate/collections/add_to_collection_modal', collectible: document if can? :collect, document %>
</div>
