          <div id="participants" class="tab-pane">
            <div class="panel panel-default labels">
              <div class="panel-body">
                <h2><%= t('.add_participants') %></h2>
                <% access_options = options_for_select([['Manager', 'manage'], ['Depositor', 'deposit'], ['Viewer', 'view']]) %>
                <%= simple_form_for @change_set.permission_template,
                                    url: [hyrax, :admin, @change_set, :permission_template],
                                    html: { id: 'group-participants-form' } do |f| %>
                  <div class="clearfix spacer">
                  <%= f.fields_for 'access_grants_attributes',
                                   f.object.access_grants.build(agent_type: 'group'),
                                   index: 0 do |builder| %>
                    <div class="form-inline">
                      <label class="col-md-2 col-xs-4 control-label"><%= t('.add_group') %></label>

                      <div class="col-md-10 col-xs-8 form-group">
                        <%= builder.hidden_field :agent_type %>
                        <%= builder.text_field :agent_id,
                                         placeholder: "Search for a group...",
                                         class: 'form-control' %>
                        as
                        <%= builder.select :access,
                                     access_options,
                                     { prompt: "Select a role..." },
                                     class: 'form-control' %>

                                   <%= f.submit t('helpers.submit.hyrax_permission_template_access.create'), class: 'btn btn-info' %>
                      </div>
                    </div>
                  <% end %>
                  </div>
                <% end %>

                <%= simple_form_for @change_set.permission_template,
                                    url: [hyrax, :admin, @change_set, :permission_template],
                                    html: { id: 'user-participants-form' } do |f| %>
                  <%= f.fields_for 'access_grants_attributes',
                                   f.object.access_grants.build(agent_type: 'user'),
                                   index: 0 do |builder| %>
                    <div class="form-inline add-users">
                      <label class="col-md-2 col-xs-4 control-label"><%= t('.add_user') %></label>

                      <div class="col-md-10 col-xs-8 form-group">
                        <%= builder.hidden_field :agent_type %>
                        <%= builder.text_field :agent_id,
                                         placeholder: "Search for a user..." %>
                        as
                        <%= builder.select :access,
                                     access_options,
                                     { prompt: "Select a role..." },
                                     class: 'form-control' %>

                        <%= f.submit t('helpers.submit.hyrax_permission_template_access.create'), class: 'btn btn-info' %>
                        <p class="help-block"><%= t('hyrax.admin.admin_sets.form.note')%></p>
                      </div>
                    </div>
                  <% end %>
                <% end %>

                <fieldset>
                  <legend><%= t(".current_participants") %></legend>
                  <%= render 'form_participant_table', access: 'managers', filter: :manage? %>
                  <%= render 'form_participant_table', access: 'depositors', filter: :deposit? %>
                  <%= render 'form_participant_table', access: 'viewers', filter: :view? %>
                </fieldset>
              </div>
            </div>
          </div>
