<div id="participants" class="tab-pane">
  <div class="card labels edit-sharing-tab">
    <div class="card-body">
      <section class="section-add-sharing clearfix">
        <h2 class="h3"><%= t('.add_participants') %></h2>
        <% access_options = options_for_select([['Manager', 'manage'], ['Depositor', 'deposit'], ['Viewer', 'view']]) %>
        <div class="sharing-row-form">
          <%= simple_form_for collection_permission_template_form_for(form: @form),
           url: [hyrax, :admin, @form, :permission_template],
           html: { id: 'group-participants-form', class: 'form-inline' } do |f| %>

            <%= f.fields_for 'access_grants_attributes',
             f.object.access_grants.build(agent_type: 'group'),
             index: 0 do |builder| %>
              <div class="form-group">
                <label><%= t('.add_group') %></label>
                <%= builder.hidden_field :agent_type %>
                <%= builder.text_field :agent_id,
                 placeholder: "Search for a group...",
                 class: 'form-control' %>
              </div>
              <div class="form-group">
                <label><%= I18n.t("hyrax.admin.admin_sets.form_participants.as", :default => "as") %></label>
                <%= builder.select :access,
                    <%= I18n.t("hyrax.admin.admin_sets.form_participants.access_options", :default => "access_options,") %>
                    { prompt: "Select a role..." },
                 class: 'form-control' %>
              </div>
            <% end %>
            <%= f.submit t('helpers.submit.hyrax_permission_template_access.create'), class: 'btn btn-secondary ml-2' %>

          <% end %>
        </div>

        <div class="sharing-row-form">
          <%= simple_form_for collection_permission_template_form_for(form: @form),
           url: [hyrax, :admin, @form, :permission_template],
           html: { id: 'user-participants-form', class: 'form-inline add-users' } do |f| %>

            <%= f.fields_for 'access_grants_attributes',
             f.object.access_grants.build(agent_type: 'user'),
             index: 0 do |builder| %>
              <div class="form-group">
                <label><%= t('.add_user') %></label>
                <%= builder.hidden_field :agent_type %>
                <%= builder.text_field :agent_id,
                 placeholder: "Search for a user..." %>
              </div>
              <div class="form-group">
                <label><%= I18n.t("hyrax.admin.admin_sets.form_participants.as", :default => "as") %></label>
                <%= builder.select :access,
                    <%= I18n.t("hyrax.admin.admin_sets.form_participants.access_options", :default => "access_options,") %>
                    { prompt: "Select a role..." },
                 class: 'form-control' %>
              </div>
            <% end %>
            <%= f.submit t('helpers.submit.hyrax_permission_template_access.create'), class: 'btn btn-secondary ml-2' %>
          <% end %>
        </div>

        <p class="form-text"><%= t('hyrax.admin.admin_sets.form.note') %></p>
      </section>

      <h2 class="h3"><%= t(".current_participants") %></h2>
      <fieldset class="admin-set-participants section-collection-sharing">

        <%= render 'form_participant_table', access: 'managers', filter: :manage? %>
        <%= render 'form_participant_table', access: 'depositors', filter: :deposit? %>
        <%= render 'form_participant_table', access: 'viewers', filter: :view? %>
      </fieldset>

    </div><!-- /.card-body -->
  </div>
</div>
