          <div id="visibility" class="tab-pane">
            <div class="panel panel-default labels">
              <%= simple_form_for collection_permission_template_form_for(form: @form),
                                  url: [hyrax, :admin, @form, :permission_template],
                                  html: { class: 'nav-safety' } do |f| %>
                <div class="panel-body">
                  <p><%= t('.page_description') %></p>
                  <h3><%= t('.release.title') %></h3>
                  <p><%= t('.release.description') %></p>
                  <div id="release-no-delay" class="radio">
                    <label>
                      <%= f.radio_button :release_period, Hyrax::PermissionTemplate::RELEASE_TEXT_VALUE_NO_DELAY %>
                      <%= t('.release.no_delay') %>
                    </label>
                  </div>
                  <div id="release-varies" class="radio">
                    <label>
                      <%= f.radio_button :release_period, '', checked: f.object.release_period.blank? || !f.object.release_varies.blank? %>
                      <%= t('.release.varies.description') %>
                    </label>
                    <ul>
                      <li class="radio form-inline">
                        <label>
                          <%= f.radio_button :release_varies, '' %>
                          <%= t('.release.varies.any') %>
                        </label>
                      </li>
                      <li class="radio form-inline">
                        <label>
                          <%= f.radio_button :release_varies, Hyrax::PermissionTemplate::RELEASE_TEXT_VALUE_BEFORE_DATE %>
                          <%= t('.release.varies.between') %>
                        </label>
                        <%= f.date_field :release_date, wrapper: :inline, class: 'datepicker form-control', placeholder: 'mm/dd/yyyy' %>
                      </li>
                      <li class="radio form-inline">
                        <label>
                          <%= f.radio_button :release_varies, Hyrax::PermissionTemplate::RELEASE_TEXT_VALUE_EMBARGO %>
                          <%= t('.release.varies.period') %>
                          <%= f.collection_select :release_embargo, f.object.embargo_options, :first, :last, prompt: t('.release.varies.embargo.select') %>
                        </label>
                      </li>
                    </ul>
                  </div>
                  <div id="release-fixed" class="radio form-inline">
                    <label>
                      <%= f.radio_button :release_period, Hyrax::PermissionTemplate::RELEASE_TEXT_VALUE_FIXED %>
                      <%= t('.release.fixed') %>
                    </label>
                    <%= f.date_field :release_date, wrapper: :inline, class: 'datepicker form-control', placeholder: 'mm/dd/yyyy' %>
                  </div>
                  <h3><%= t('.visibility.title') %></h3>
                  <p><%= t('.visibility.description') %></p>
                  <%# List each option in a <div class='radio'> tag %>
                  <%= f.collection_radio_buttons :visibility, f.object.visibility_options, :first, :last, item_wrapper_tag: :div, item_wrapper_class: 'radio' do |b| %>
                    <%# NOTE: Bug in simple_form causes nested labels: https://github.com/plataformatec/simple_form/issues/1190 This block is a workaround. %>
                    <% b.radio_button + b.text %>
                  <% end %>
                </div>
                <div class="panel-footer">
                  <%= link_to t('.cancel'), hyrax.admin_admin_sets_path, class: 'btn btn-default pull-right' %>
                  <%= f.button :submit, class: 'btn btn-primary pull-right' %>
                </div>
              <% end %>
            </div>
          </div>
