<table class="table table-striped">
  <caption class="sr-only"><%= I18n.t("hyrax.admin.admin_sets.show_document_list.list_of_items_in_this_administrative_set", :default => "List of items in this administrative set") %></caption>
  <thead>
  <tr>
    <th>&nbsp;</th>
    <th><%= I18n.t("hyrax.admin.admin_sets.show_document_list.title", :default => "Title") %></th>
    <th><%= I18n.t("hyrax.admin.admin_sets.show_document_list.date_uploaded", :default => "Date Uploaded") %></th>
    <th><%= I18n.t("hyrax.admin.admin_sets.show_document_list.visibility", :default => "Visibility") %></th>
    <th><%= I18n.t("hyrax.admin.admin_sets.show_document_list.status", :default => "Status") %></th>
    <th><%= I18n.t("hyrax.admin.admin_sets.show_document_list.actions", :default => "Actions") %></th>
  </tr>
  </thead>
  <tbody>
    <%= render partial: 'show_document_list_row', collection: documents %>
  </tbody>
</table>
