
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-8">
            <h2 class="panel-title display-page"><%= presenter.to_s %></h2>
          </div>
          <% if can? :edit, presenter.solr_document %>
          <div class="col-sm-4">
            <div class="pull-right">
              <%= link_to edit_admin_admin_set_path(presenter), class: 'btn btn-primary' do %>
                <span class="fa fa-edit" aria-hidden="true"></span> <%= t(:'helpers.action.edit') %>
              <% end %>
              <% if presenter.disable_delete? %>
                <span title="<%= presenter.disabled_message %>">
                  <%= link_to admin_admin_set_path(presenter), class: 'btn btn-danger disabled' do %>
                    <span class="fa fa-remove" aria-hidden="true"></span> <%= t(:'helpers.action.delete') %>
                  <% end %>
                </span>
              <% else %>
                <%= link_to admin_admin_set_path(presenter), class: 'btn btn-danger', data: { confirm: t('.confirm_delete'), method: :delete } do %>
                  <span class="fa fa-remove" aria-hidden="true"></span> <%= t(:'helpers.action.delete') %>
                <% end %>
              <% end %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
