<% provide :page_header do %>
  <h1><span class="fa fa-sitemap" aria-hidden="true"></span> Administrative Sets</h1>
  <% if can? :create, AdminSet %>
    <div class="float-right">
      <%= link_to hyrax.new_admin_admin_set_path, class: 'btn btn-primary' do %>
        <span class="fa fa-edit" aria-hidden="true"></span> <%= t(:'helpers.action.admin_set.new') %>
      <% end %>
    </div>
  <% end %>
<% end %>

<div class="card">
  <div class="card-body">
    <% if @admin_sets.present? %>
      <div class="table-responsive">
        <table class="table table-striped datatable">
          <thead>
            <tr>
              <th><%= I18n.t("hyrax.admin.admin_sets.index.title", :default => "Title") %></th>
              <th><%= I18n.t("hyrax.admin.admin_sets.index.date_created", :default => "Date created") %></th>
              <th><%= I18n.t("hyrax.admin.admin_sets.index.creator", :default => "Creator") %></th>
              <th><%= I18n.t("hyrax.admin.admin_sets.index.works", :default => "Works") %></th>
            </tr>
          </thead>
          <tbody>
            <% @admin_sets.each do |admin_set| %>
              <tr>
                <td><%= link_to admin_set.title.first, [hyrax, :admin, admin_set] %></td>
                <td><%= admin_set.create_date %></td>
                <td><%= safe_join(admin_set.creator) %></td>
                <td><%= controller.presenter_class.new(admin_set, current_ability).total_items %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <% else %>
        <p><%= I18n.t("hyrax.admin.admin_sets.index.no_administrative_sets_have_been_created", :default => "No administrative sets have been created.") %></p>
      <% end %>
  </div>
</div>
