<% content_for :layout_name, 'two_column, ' %>
<% content_for :main do %>

  <div class="row">
    <div class="<%= content_for?(:left_column_class) ? yield(:left_column_class) : "span6" %>">
      <%= content_for?(:left_column) ? yield(:left_column) : yield %>
    </div>

    <div class="<%= content_for?(:right_column_class) ? yield(:right_column_class) : "span6" %>">
      <%= yield(:right_column) if content_for?(:right_column) %>
    </div>
  </div>

  <% if content_for?(:second_row) %>

    <div class="row">
      <div class="span12">
        <%= yield(:second_row) %>
      </div>
    </div>

  <% end %>

<% end %>

<%= render template: "layouts/#{theme}" %>
