<% content_for :layout_name, 'catalog, ' %>
<% content_for :main do %>

  <div class="row">
  <% if content_for?(:sidebar) %>

    <div class="span3 sidebar">
      <%= yield(:sidebar) %>
    </div>

    <% if content_for?(:call_to_action) %>
      <div class="span6 <%= yield(:content_class) %>">
    <% else %>
      <div class="span9 <%= yield(:content_class) %>">
    <% end %>
      <%= yield %>
    </div>

    <% if content_for?(:call_to_action) %>

    <div class="span3 call-to-action">
      <%= yield(:call_to_action) %>
    </div>

    <% end %>

  <% else %>

    <div class="span12">
      <%= yield %>
    </div>

  <% end %>
  </div>

<% end %>

<%= render template: "layouts/#{theme}" %>
