- unless defined?(asset_id)
  - asset_id = params[:asset_id]
%form#document_metadata{ :action=>url_for(:asset_id=>@document_fedora.pid,:action=>"update", :controller=>"permissions"), :method=>"post","data-resourceType"=>"hydrangea_article", "accept-charset"=>"utf-8"}

  %fieldset.slider
    %legend Group Permissions
    - choices = [{"No Access"=>"none"},{"Discover" => "discover"}, {"Read & Download" => "read"}, {"Edit & Upload" => "edit"}]
    / - group_permissions = {"no_access"=>[]}
    / - choices.each do |choice|
    /   - choice_name = choice.values.first
    /   - group_permissions[choice_name] = 
    / - choices = [{"No Access" => "no_access"}] + choices
  
    - roles = RoleMapper.role_names
    // This next line should be conditional upon a person having Publish permissions on the object's collection
    - roles << "public"
    - roles.each do |role|      
      - role_permissions = @document_fedora.datastreams_in_memory["rightsMetadata"].permissions({"group"=>role})
      / ie. asset[access_group][researcher]
      - field_name = "#{role}_group_access"
      %label{:for=>field_name}
        = role.capitalize
      %select{:id=>field_name, :name=>"permission[group][#{role}]"}
        - choices.each do |choice|
          - choice_label = choice.keys.first
          - choice_name = choice.values.first
          = choice_name
          = role_permissions
          %option{:value=>choice_name, :selected=>(role_permissions == choice_name) } 
            = choice_label

    / = render :partial=>"hydrangea_articles/permissions_select", :collection=>@document_fedora.datastreams_in_memory["rightsMetadata"].find_by_terms(:access_group), :locals=>{:choices => [{"No Access" => "no_access"},{"Discover" => "discover"}, {"Read" => "read"}, {"Edit" => "edit"}] }

  //
  //  Need to put control for adding new people here...
  //

  %fieldset#individual_permissions.slider
    %legend Individual Permissions
    - choices = [{"Discover" => "discover"}, {"Read & Download" => "read"}, {"Edit & Upload" => "edit"}]    
    - individual_permissions = {}
    - choices.each do |choice|
      - choice_name = choice.values.first
      - individual_permissions[choice_name] = get_values_from_datastream(@document_fedora,"rightsMetadata", ["#{choice_name}_access".to_sym, :person])

    = render :partial=>"permissions/edit_person_permissions", :collection=>@document_fedora.datastreams_in_memory["rightsMetadata"].find_by_terms(:access, :person)
  
= render :partial=>"permissions/new", :locals=>{:asset_id=>asset_id}