<% unless defined?(asset_id) %>
  <% asset_id = params[:asset_id] %>
<% end %>
<form id="document_metadata" action="<%= url_for(:asset_id=>@document_fedora.pid,:action=>"update", :controller=>"permissions") %>" method="post" data-resourceType="hydrangea_article" accept-charset="utf-8">
  <fieldset class="slider">
    <% choices = [{"No Access"=>"none"},{"Discover" => "discover"}, {"Read & Download" => "read"}, {"Edit & Upload" => "edit"}] %>
    <% roles = RoleMapper.role_names %>
    <%# This next line should be conditional upon a person having Publish permissions on the object's collection %>
    <% roles << "public" %>
    <% roles.each do |role| %>
      <% role_permissions = @document_fedora.datastreams_in_memory["rightsMetadata"].permissions({"group"=>role}) %>
      <% field_name = "#{role}_group_access" %>
      <label for="<%=h field_name %>">
        <%= role.capitalize %>
      </label>
      <select id="<%=h field_name %>" name="permission[group][<%=h role %>]">
        <% choices.each do |choice| %>
          <% choice_label = choice.keys.first %>
          <% choice_name = choice.values.first %>
          <% if role_permissions == choice_name %>
            <option value="<%=h choice_name %>" selected="selected">
               <%= choice_label %>
            </option>
          <% else %>
            <option value="<%=h choice_name %>">
               <%= choice_label %>
            </option>
          <% end %>
        <% end %>
      </select>
    <% end %> 
  </fieldset>
</form>