<table class="table table-striped <%= dom_class(presenter) %> single-use-links">
  <caption class="table-heading"><h2><%= t('curation_concerns.single_use_links.title') %></h2></caption>
  <thead>
    <tr>
      <th><%= t('curation_concerns.single_use_links.table.link') %></th>
      <th><%= t('curation_concerns.single_use_links.table.key') %></th>
      <th><%= t('curation_concerns.single_use_links.table.expires') %></th>
      <th><%= t('curation_concerns.single_use_links.table.actions') %></th>
    </tr>
  </thead>
  <tbody data-url="<%= curation_concerns.generated_single_use_links_path(presenter) %>">
    <% if presenter.single_use_links.empty? %>
      <tr><td><%= t('curation_concerns.single_use_links.table.no_links') %></td></tr>
    <% else %>
      <%= render 'single_use_link_rows', single_use_links: presenter.single_use_links %>
    <% end %>
  </tbody>
</table>

<div class="form_actions">
  <%= link_to t('curation_concerns.single_use_links.download.generate'),
              curation_concerns.generate_download_single_use_link_path(presenter),
              class: 'btn btn-default generate-single-use-link' %>
  <%= link_to t('curation_concerns.single_use_links.show.generate'),
              curation_concerns.generate_show_single_use_link_path(presenter),
              class: 'btn btn-default generate-single-use-link' %>
</div>
