<% single_use_links.each_with_index do |link, index| %>
  <% type = link.path =~ /downloads/ ? 'Download' : 'Show' %>
  <% url_helper = link.path =~ /downloads/ ? 'download_single_use_link_url' : 'show_single_use_link_url' %>
  <tr>
    <td><%= type %></td>
    <td><%= link.downloadKey %></td>
    <td><%= link.expires %></td>
    <td>
      <button class="btn btn-xs btn-default copy-single-use-link"
              data-clipboard-text="<%= curation_concerns.send(url_helper, link.downloadKey) %>"
              data-toggle="tooltip" data-placement="bottom" title="Copied!">
        Copy to Clipboard
      </button>
      <%= link_to "Delete", curation_concerns.delete_single_use_link_path(params[:id], link),
          class: 'btn btn-xs btn-danger delete-single-use-link' %>
    </td>
  </tr>
<% end %>
