<% provide :page_title, curation_concern_page_title(curation_concern) %>
<% provide :page_header do %>
  <h1 class="lower">Edit <%= curation_concern %></h1>
<% end %>

<div class="row">
  <div class="col-xs-12 col-sm-4">
    <%= media_display curation_concern.to_presenter %>
  </div>
  <div class="col-xs-12 col-sm-8">
    <ul class="nav nav-tabs" role="tablist">
      <li id="edit_descriptions_link" class="active">
        <a href="#descriptions_display" data-toggle="tab"><i class="fa fa-tags"></i> Descriptions</a>
      </li>
      <li id="edit_versioning_link">
        <a href="#versioning_display" data-toggle="tab"><i class="fa fa-sitemap"></i> Versions</a>
      </li>
      <li id="edit_permissions_link">
        <a href="#permissions_display" data-toggle="tab"><i class="fa fa-key"></i> Permissions</a>
      </li>
    </ul>
    <div class="tab-content">
      <div id="descriptions_display" class="tab-pane active">
        <h2>Descriptions </h2>
        <%= render "form" %>
      </div>
      <%= render "permission", file_set: curation_concern %>
      <%= render "versioning", file_set: curation_concern %>
    </div>
  </div><!-- /.col-sm-8 -->
</div><!-- /.row -->
