<% person = edit_person %>
<% person_counter = edit_person_counter %>
<% person_name = "#{get_values_from_datastream(@document_fedora,'descMetadata', [{:person=>person_counter}, :first_name])} #{get_values_from_datastream(@document_fedora,'descMetadata', [{:person=>person_counter}, :last_name])}" %>
<% base_id = "person_#{person_counter}" %>
<% if @document_fedora.class.respond_to?(:person_relator_terms) %>
  <% choices = @document_fedora.class.person_relator_terms %>
<% else %>
  <% choices = Hydra::ModsArticle.person_relator_terms %>
<% end %>
<li>
  <dl class="person contributor" id="<%= base_id %>">
    <dt>
      <%= fedora_field_label("descMetadata", [{:person=>person_counter}, :role, :text], "Person's Role:") %>
      <%= fedora_select(@document_fedora,"descMetadata", [{:person=>person_counter}, :role, :text], :choices=>choices.values.sort) %>
    </dt>
    <dd class="multi_inline person">
      <ul>
        <li class="name_first">
          <%= fedora_field_label("descMetadata", [{:person=>person_counter}, :first_name], "First Name") %>
          <%= fedora_text_field(@document_fedora,"descMetadata", [{:person=>person_counter}, :first_name], :multiple=>false) %>
        </li>
        <li class="name_last">
          <%= fedora_field_label("descMetadata", [{:person=>person_counter}, :last_name], "Last Name") %>
          <%= fedora_text_field(@document_fedora,"descMetadata", [{:person=>person_counter}, :last_name], :multiple=>false) %>
        </li>
        <li class="affiliation">
          <%= fedora_field_label("descMetadata", [{:person=>person_counter}, :institution], "Institution") %>
          <%= fedora_text_field(@document_fedora,"descMetadata", [{:person=>person_counter}, :institution], :multiple=>false) %>
        </li>
      </ul>
      <% if ( (params[:action] == "edit" || params[:action] == "create") && !person_name.strip.empty? ) %>
        <%= field_selectors_for("descMetadata", [{:person=>person_counter}]) %>
        <a class="destructive destroy_contributor" href="<%= asset_contributor_path(@document_fedora.pid, "person", person_counter) %>" title="Delete '<%= person_name %>'"> Delete</a>
      <% end %>
    </dd>
  </dl>
</li>
