<% conference = show_conference %>
<% conference_counter = show_conference_counter %>
<% conference_name = get_values_from_datastream(@document_fedora,'descMetadata', [{:conference=>conference_counter}, :namePart]).first %>
<% base_id = "conference_#{conference_counter}" %>
<% unless get_values_from_datastream(@document_fedora,"descMetadata", [{:conference=>conference_counter}, :namePart]).first.empty? %>
  <li>
    <dl class="conference contributor" id="<%= base_id %>">
      <dt>
        <%= fedora_field_label("descMetadata", [{:conference=>conference_counter}, :role, :text], "Conference's Role:") %>
        <%= get_values_from_datastream(@document_fedora,"descMetadata", [{:conference=>conference_counter}, :role, :text]) %>
      </dt>
      <dd class="organization">
        <ul>
          <li>
            <%= fedora_field_label("descMetadata", [{:conference=>conference_counter}, :namePart], "Conference:") %>
            <%= get_values_from_datastream(@document_fedora,"descMetadata", [{:conference=>conference_counter}, :namePart]) %>
          </li>
        </ul>
      </dd>
    </dl>
  </li>
<% end %>