<div >
  <h1 class="lower"><%= display_title(@generic_file) %></h1>
    <h2 class="non lower">Actions</h2>
    <p>
      <%= link_to "Download (can only be used once)", @download_link %>
    </p>
  <h2> Descriptions:</h2>

  <div class="well active" id="descriptions_display"> 
      <table class="table table-striped"><!-- class="verticalheadings"> -->
      <tbody>
      <% @terms.each do |term| %>
        <% vals =  Array( @generic_file.send(term)) %>
            <tr id='row_<%=term.to_s%>' class="expandable">
              <th width="20%">
                <%=get_label(term)%>
              </th>
              <td>
                <% vals.each do |val| %>
                  <%= val %><br />
                <% end %>
              </td>
            </tr>
       <% end %>
        </tbody></table> <!-- class="verticalheadings"> -->
    </div><!-- /well -->
</div>
