<div class="row">
  <div class="portal">
    <h3><%= t("sufia.dashboard.user_activity") %></h3>
    <%= render_recent_activity %>
  </div>
</div>

<div class="row">
  <div class="portal">
    <h3><%= t("sufia.dashboard.user_notifications") %></h3>
    <%= render_recent_notifications %>
    <%= link_to_additional_notifications %>
  </div>
</div>
