<!-- scholarsphere over ride -->
<!-- the sub on ':' is b.c. jQuery has trouble with '.' or ':'
on element ids -->
<% if document.has_key?(:noid_s) %>
<% noid = document[:noid_s].first %>
<tr id="document_<%= noid.gsub(":", "_") %>" class="<%= cycle("","zebra") %>">
  <td width="3%"><%# check_box_tag :generic_file, document[:id] %>
  <% gf = GenericFile.find(document.id) %>
  <% if gf.processing? %>
     <i class="icon-magic icon-large <%= 'ss-'+gf.batch.noid%>"/>
  <% end %>
  </td>
  <td width="42%">
    <a href="" title="Click for more details"><i id="expand_<%= noid.gsub(":", "_") %>" class="icon-plus icon-large fleft"></i></a>
    <%= render :partial => 'dashboard/_index_partials/thumbnail_display', :locals => {:document=>document} %>
    <%= link_to render_document_show_field_value(:document=>document, :field=>document.title_or_label), generic_file_path(noid), :id => "src_copy_link#{noid}" %> <br />
  </td>
  <td width="15%"><%= document.fetch(:generic_file__date_uploaded_dt,'').to_time.strftime("%m/%d/%Y") unless document.fetch(:generic_file__date_uploaded_dt,'').blank? %> </td>
  <td width="5%" align="center">
    <% if !document[:read_access_group_t].blank? and document[:read_access_group_t].include?('registered') %>
      <a href="<%= generic_file_path(noid) %>/edit/?tab=permissions" id="permission_<%= noid %>"><span class="label label-info" title="Penn State">Penn State</span></a> 
    <% elsif !document[:read_access_group_t].blank? and document[:read_access_group_t].include?('public') %>
      <a href="<%= generic_file_path(noid) %>/edit/?tab=permissions" id="permission_<%= noid %>"><span class="label label-success" title="Open Access">Open Access</span></a>
    <% else %>
      <a href="<%= generic_file_path(noid) %>/edit/?tab=permissions" id="permission_<%= noid %>"><span class="label label-important" title="Private">Private</span></a>
    <% end %>
  </td>
  <td width="23%" class="center">
    <span style="position: relative;">
     <%= link_to raw('<i class="icon-link icon-large"></i>'), '#', :class => 'copypaste itemicon itemcode', :title => 'Copy File URL', :id => "copy_link_#{noid}" %>
    </span>&nbsp;&nbsp;&nbsp;
    <%= link_to raw('<i class="icon-pencil icon-large"></i>'), edit_generic_file_path(noid), :class=> 'itemicon itemedit', :title => 'Edit File'  %>&nbsp;&nbsp;&nbsp;
    <%= link_to raw('<i class="icon-download-alt icon-large"></i>'), download_path(noid), :class=> 'itemicon itemdownload', :title => 'Download File', :target => '_new' %>&nbsp;&nbsp;&nbsp;
    <%= link_to raw('<i class="icon-trash icon-large"></i>'), generic_file_path(noid), :class=> 'itemicon itemtrash', :title => 'Delete File', :method => :delete, :data => { :confirm => 'Deleting a file from ScholarSphere is permanent. Click OK to delete this file from ScholarSphere, or Cancel to cancel this operation'} %>&nbsp;&nbsp;&nbsp;
  </td>
</tr>
<tr class="hide" id="detail_<%= noid.gsub(":", "_") %>"> <!--  document detail"> -->
  <td colspan="6">
    <table class="expanded-details">
      <tr>
        <td><strong>File Name: </strong> <%= link_to render_document_show_field_value(:document=>document, :field=>"label_t"), generic_file_path(noid) %> </td>
        <td><strong>File Format: </strong> <%= render_document_show_field_value(:document=>document, :field=>"file_format_t") %> </td>
      </tr>
      <tr>
        <td><strong>Creator: </strong> <%= render_document_show_field_value(:document=>document, :field=>"generic_file__creator_display") %> </td>
        <td><strong>Depositor: </strong> <%= link_to_profile render_document_show_field_value(:document=>document, :field=>"depositor_t") %> </td>
      </tr>
      <tr>
        <td colspan="2"><strong>Edit Access: </strong>
          <% if !document[:edit_access_group_t].nil? %>
            Groups: <%= render_document_show_field_value(:document=>document, :field=>"edit_access_group_t") %>
            <br />
          <% end %>
          Users: <%= render_document_show_field_value(:document=>document, :field=>"edit_access_person_t") %>
        </td>
      </tr>
    </table>
  </td>
</tr>
<% end %>
