<%#
Copyright © 2012 The Pennsylvania State University

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
%>

<% noid = document.noid %>
<tr id="document_<%= noid %>" class="<%= cycle("","zebra") %>">
  <% gf = GenericFile.load_instance_from_solr(document.id) %>
  <td width="6%"><%= batch_edit_select(document) %>&nbsp;</td>
  <td width="1%">
  <%# This block is for adding/removing the magic wand while batch updates are processing %>
  <% if gf.processing? %>
     <i class="icon-magic icon-large <%= 'ss-'+gf.batch.noid%>"/>
  <% elsif gf.depositor != @user.user_key %>
     <i class="icon-gift icon-large"/>
  <% end %>
  </td>
  <td width="37%">
    <a href="" title="Click for more details"><i id="expand_<%= noid %>" class="icon-plus icon-large fleft"></i></a>&nbsp;
    <%= render :partial => 'dashboard/_index_partials/thumbnail_display', :locals => {:document=>document} %>
    <span class=center><%= link_to document.title_or_label, sufia.generic_file_path(noid), :id => "src_copy_link#{noid}" %> <br /></span>
  </td>
  <td width="17%"><%= document.date_uploaded %> </td>
  <td width="5%" align="center">
    <% if document.registered? %>
      <a href="<%= sufia.generic_file_path(noid) %>/edit/?tab=permissions" id="permission_<%= noid %>"><span class="label label-info" title="<%=t('sufia.institution_name') %>"><%=t('sufia.institution_name') %></span></a>
    <% elsif document.public? %>
      <a href="<%= sufia.generic_file_path(noid) %>/edit/?tab=permissions" id="permission_<%= noid %>"><span class="label label-success" title="Open Access">Open Access</span></a>
    <% else %>
      <a href="<%= sufia.generic_file_path(noid) %>/edit/?tab=permissions" id="permission_<%= noid %>"><span class="label label-important" title="Private">Private</span></a>
    <% end %>
  </td>
  <td width="23%">
    <div class="btn-group">
      <button class="btn btn-small" href="#"><i class="icon-wrench"></i> Select an action</button>
      <button class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-caret-down"></span></button>
      <ul class="dropdown-menu">
       <li>
         <%= link_to raw('<i class="icon-link over"></i> Single-Use Link to File'), '#', :class => "copypaste itemicon itemcode", :title => "Single-Use Link to File", :id => "copy_link_#{noid}" %>
       </li>
       <li>
         <%= link_to raw('<i class="icon-pencil"></i> Edit File'), sufia.edit_generic_file_path(noid), :class=> 'itemicon itemedit', :title => 'Edit File'  %>
       </li>
       <li>
         <%= link_to raw('<i class="icon-download-alt"></i> Download File'), sufia.download_path(noid), :class=> 'itemicon itemdownload', :title => 'Download File', :target => '_new' %>
       </li>
       <li>
         <%= link_to raw('<i class="icon-trash"></i> Delete File'), sufia.generic_file_path(noid), :class=> 'itemicon itemtrash', :title => 'Delete File', :method => :delete, :data => { :confirm => "Deleting a file from #{t('sufia.product_name')} is permanent. Click OK to delete this file from #{t('sufia.product_name')}, or Cancel to cancel this operation"} %>
       </li>
       <li>
         <%= display_trophy_link(@user, noid) %>
       </li>
      </ul>
    </div>
  </td>
</tr>
<tr class="hide" id="detail_<%= noid %>"> <!--  document detail"> -->
  <td colspan="6">
    <table class="expanded-details">
      <tr>
        <td><strong>File Name: </strong> <%= link_to document.label, sufia.generic_file_path(noid) %> </td>
        <td><strong>File Format: </strong> <%= document.file_format %> </td>
      </tr>
      <tr>
        <td><strong>Creator: </strong> <%= document.creator %> </td>
        <td><strong>Depositor: </strong> <%= link_to_profile document.depositor %> </td>
      </tr>
      <tr>
        <td colspan="2"><strong>Edit Access: </strong>
          <% if document.edit_groups.present? %>
            Groups: <%= document.edit_groups.join(', ') %>
            <br />
          <% end %>
          Users: <%= document.edit_people.join(', ') %>
        </td>
      </tr>
    </table>
  </td>
</tr>
