<%#
Copyright © 2012 The Pennsylvania State University

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
%>

<!-- scholarsphere over ride -->
<!-- the sub on ':' is b.c. jQuery has trouble with '.' or ':'
on element ids -->
<% noid = document.noid %>
<tr id="document_<%= noid.gsub(":", "_") %>" class="<%= cycle("","zebra") %>">
  <% gf = GenericFile.find(document.id) %>
  <td width="6%"><%= batch_edit_select(document) %>&nbsp;</td> 
  <td width="1%">
  <% if gf.processing? %>
     <i class="icon-magic icon-large <%= 'ss-'+gf.batch.noid%>"/>
  <% elsif gf.depositor  != @user.user_key %>
     <i class="icon-gift icon-large"/>
  <% end %>
  </td>
  <td width="37%">
    <a href="" title="Click for more details"><i id="expand_<%= noid.gsub(":", "_") %>" class="icon-plus icon-large fleft"></i></a>&nbsp;
    <%= render :partial => 'dashboard/_index_partials/thumbnail_display', :locals => {:document=>document} %>
    <span class=center><%= link_to document.title_or_label, sufia.generic_file_path(noid), :id => "src_copy_link#{noid}" %> <br /></span>
  </td>
  <td width="17%"><%= document.date_uploaded %> </td>
  <td width="5%" align="center">
    <% if document.registered? %>
      <a href="<%= sufia.generic_file_path(noid) %>/edit/?tab=permissions" id="permission_<%= noid %>"><span class="label label-info" title="<%=t('sufia.institution_name') %>"><%=t('sufia.institution_name') %></span></a> 
    <% elsif document.public? %>
      <a href="<%= sufia.generic_file_path(noid) %>/edit/?tab=permissions" id="permission_<%= noid %>"><span class="label label-success" title="Open Access">Open Access</span></a>
    <% else %>
      <a href="<%= sufia.generic_file_path(noid) %>/edit/?tab=permissions" id="permission_<%= noid %>"><span class="label label-important" title="Private">Private</span></a>
    <% end %>
  </td>
  <td width="23%" class="center">
    <span style="position: relative; display: inline-block">
     <%= link_to raw('<!--i class="icon-unlock under"></i--><i class="icon-link icon-large over"></i>'), '#', :class => 'copypaste itemicon itemcode', :title => 'Single Use Link to File', :id => "copy_link_#{noid}" %>
    </span>&nbsp;&nbsp;&nbsp;
    <%= link_to raw('<i class="icon-pencil icon-large"></i>'), sufia.edit_generic_file_path(noid), :class=> 'itemicon itemedit', :title => 'Edit File'  %>&nbsp;&nbsp;&nbsp;
    <%= link_to raw('<i class="icon-download-alt icon-large"></i>'), sufia.download_path(noid), :class=> 'itemicon itemdownload', :title => 'Download File', :target => '_new' %>&nbsp;&nbsp;&nbsp;
    <%= link_to raw('<i class="icon-trash icon-large"></i>'), sufia.generic_file_path(noid), :class=> 'itemicon itemtrash', :title => 'Delete File', :method => :delete, :data => { :confirm => "Deleting a file from #{t('sufia.product_name')} is permanent. Click OK to delete this file from #{t('sufia.product_name')}, or Cancel to cancel this operation"} %>&nbsp;&nbsp;&nbsp;

  <%= display_trophy_link(@user, noid) %>&nbsp;&nbsp;&nbsp;
  </td>
</tr>
<tr class="hide" id="detail_<%= noid.gsub(":", "_") %>"> <!--  document detail"> -->
  <td colspan="6">
    <table class="expanded-details">
      <tr>
        <td><strong>File Name: </strong> <%= link_to document.label, sufia.generic_file_path(noid) %> </td>
        <td><strong>File Format: </strong> <%= document.file_format %> </td>
      </tr>
      <tr>
        <td><strong>Creator: </strong> <%= document.creator %> </td>
        <td><strong>Depositor: </strong> <%= link_to_profile document.depositor %> </td>
      </tr>
      <tr>
        <td colspan="2"><strong>Edit Access: </strong>
          <% if document.edit_groups.present? %>
            Groups: <%= document.edit_groups.join(', ') %>
            <br />
          <% end %>
          Users: <%= document.edit_people.join(', ') %>
        </td>
      </tr>
    </table>
  </td>
</tr>
