<h3><%= t("sufia.dashboard.stats.heading") %></h3>

<table class="table table-condensed">
  <tr>
    <td><span class="label label-default"><%= number_of_files %></span></td>
    <td><%= t("sufia.dashboard.stats.files") %></td>
  </tr>
  <tr>
    <td><span class="label label-default"><%= number_of_collections %></span></td>
    <td><%= t("sufia.dashboard.stats.collections") %></td>
  </tr>
  <tr>
    <td><span class="label label-default"><%= @user.all_following.count %></span></td>
    <td><%= t("sufia.dashboard.stats.following") %></td>
  </tr>
  <tr>
    <td><span class="label label-default"><%= @user.followers.count %></span></td>
    <td><%= t("sufia.dashboard.stats.followers") %></td>
  </tr>
</table>
