<div class="panel panel-default">
  <div class="panel-body">
    <div class="col-xs-12 user-info">
      <h3><%= @user.name %></h3>
      <h4><%= @user.title %></h4>
      <h4><%= @user.department %></h4>
      <h5><%= link_to_telephone %></h5>
      <h5><%= @user.email %></h5>
    </div>

    <div class="col-xs-6 col-sm-12 col-md-6 user-info">
      <%= link_to t("sufia.view_profile"), sufia.profile_path(@user), class: "btn btn-default" %>
    </div>
    <div class="col-xs-6 col-sm-12 col-md-6 user-info">
      <%= link_to t("sufia.edit_profile"), sufia.edit_profile_path(@user), class: "btn btn-default" %>
    </div>
  </div>
</div>
