<%= simple_form_for [sufia, @form], html: { multipart: true } do |f| %>
  <div id="works_edit">
    <h2 class="non lower">Describe Your Work</h2>
    <p>The more descriptive information you provide the better we can serve your needs.</p>
    <p>Please consider releasing your work as an <span class="label label-success">Open Access</span> work.</p>
    <p><small class="pull-left"><span class="error">*</span> required</small></p>
    <p><small class="pull-right"><%= link_to 'Switch to Batch Upload', sufia.new_generic_file_path, class: 'a' %></small></p>
    <div class="well">
      <% f.object.terms.each do |term| %>
        <%= render_edit_field_partial(term, f: f) %>
      <% end %>
    </div>

    <%= render partial: 'curation_concern/base/permission_form', locals: { f: f } %>

    <div class="primary-actions">
      <%= f.submit 'Save and Add Files', class: 'btn btn-primary', onclick: "confirmation_needed = false;", id: "with_files_submit", name: "save_with_files" %>
      <%= f.submit 'Save without Files', class: 'btn btn-primary', onclick: "confirmation_needed = false;", id: "without_files_submit", name: "save_without_files" %>
      <%= link_to t(:'helpers.action.cancel'), main_app.root_path, class: 'btn btn-link' %>
    </div>

    <%= render partial: 'works/base/upload/alerts' %>
    <ul class="nav nav-tabs" role="tablist" title="Data Source Selectors" id="upload_tabs">
      <li class="active" id="computer_tab" title="<%= t('sufia.upload.my_computer.sr_tab_label')+' '+ t('sufia.upload.my_computer.tab_label') %>"><a role="tab" href="#local" data-toggle="tab"><i class="glyphicon glyphicon-folder-open" aria-hidden="true"></i> <%= t('sufia.upload.my_computer.tab_label')%></a></li>
    </ul>
    <%= render partial: 'works/base/multiple_upload' %>
  </div>
<% end %>
