<div class="form-inline">
  <span class="label label-warning">Embargo</span>
  <div class="form-group">
    <%= f.label  :visibility_during_embargo, 'Restricted to' %>
    <%= f.select :visibility_during_embargo, visibility_options(:restrict), {}, {class: "form-control"} %>
  </div>
    
  <%= f.input :embargo_release_date, wrapper: :inline, input_html: { value: f.object.embargo_release_date || Date.tomorrow, class: 'input-small datepicker form-control' }, label: 'until' %>
  <div class="form-group">
    <%= f.label  :visibility_after_embargo, 'then open it up to' %>
    <%= f.select :visibility_after_embargo, visibility_options(:loosen), {}, {class: 'form-control'} %>
  </div>
</div>
