<span class="form-inline">
  <span class="label label-warning">Embargo</span>
  <div class="form-group">
    Restricted to
    <%= f.label  :visibility_during_embargo, class: "sr-only" %>
    <%= f.select :visibility_during_embargo, visibility_options(:restrict), {}, {class: "form-control"} %>
  </div>
  <div class="form-group">
    until
    <%= f.label :embargo_release_date, class: "sr-only" %>
    <%= f.input :embargo_release_date, wrapper: :inline, input_html: { value: f.object.embargo_release_date || Date.tomorrow, class: 'input-small datepicker' } %>
  </div>
  <div class="form-group">
    then open it up to
    <%= f.label  :visibility_after_embargo, class: "sr-only" %>
    <%= f.select :visibility_after_embargo, visibility_options(:loosen), {}, {class: 'form-control'} %>
  </div>
</span>
