<div class="form-inline">
  <span class="label label-warning">Lease</span>
  <div class="form-group">
    <%= f.label  :visibility_during_lease, 'Is available for' %>
    <%= f.select :visibility_during_lease, visibility_options(:loosen), {}, {class:"form-control"} %>
  </div>

  <%= f.input :lease_expiration_date, wrapper: :inline, input_html: { value: f.object.lease_expiration_date || Date.tomorrow, class: 'input-small datepicker' }, label: 'until' %>
  <div class="form-group">
    <%= f.label  :visibility_after_lease, 'then restrict it to' %>
    <%= f.select :visibility_after_lease, visibility_options(:restrict), {}, {class: 'form-control'} %>
  </div>
</div>
