<% if curation_concern.linked_resources.present? %>
<table class="table table-striped <%= dom_class(curation_concern) %> related_resources with-headroom">
  <caption class="table-heading">
    <h2>External Links</h2>
  </caption>
  <thead>
    <tr>
      <th>Url</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% curation_concern.linked_resources.each do |link| %>
      <tr class="<%= dom_class(link) %> attributes">
        <td class="attribute url"><%= link_to link.url, link.url %></td>
        <td>
          <%- if with_actions -%>
            <%- if can?(:edit, link) -%>
              <%= link_to(
                'Edit',
                edit_polymorphic_path([:curation_concern, link]),
                { class: 'btn', title: "Edit #{link}" }
              ) %>
            <%- end -%>
            <%- if can?(:destroy, link) -%>
              <%= link_to(
                'Delete',
                polymorphic_path([:curation_concern, link]),
                class: 'btn', method: :delete, title: "Delete #{link.to_s.inspect}",
                data: {confirm: "Deleting #{link.to_s.inspect} from #{t('sufia.product_name')} is permanent. Click OK to delete this from #{t('sufia.product_name')}, or Cancel to cancel this operation"}
              )%>
            <%- end -%>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% elsif can? :edit, curation_concern %>
  <h2>External Links</h2>
  <p class="center"><em>This <%= curation_concern.human_readable_type %> has no external links associated with it. You can add one using the "Add an External Link" button below.</em></p>
<% end %>
