<%# This is a search result view %>
<li id="document_<%= document.to_param %>" class="search-result">

  <%= render partial: 'catalog/_index_partials/identifier_and_action', locals: {document: document, counter: document_counter} %>

  <div class="row">

    <div class="col-xs-2">
      <%= render_thumbnail_tag document %>
    </div>

    <div class="col-xs-10">
      <dl class="attribute-list">
        <% if document.has?('desc_metadata__contributor_tesim') %>
          <dt>Author(s):</dt>
          <dd><%= render_index_field_value(document: document, field: 'desc_metadata__contributor_tesim') %></dd>
        <% end %>

        <% if document.has?('desc_metadata__description_tesim') %>
          <dt>Description:</dt>
          <dd><%= truncate(render_index_field_value(document: document, field: 'desc_metadata__description_tesim'), length: 150, escape: false) %></dd>
        <% end %>

        <% if document.has?('desc_metadata__publisher_tesim') %>
          <dt>Publisher(s): </dt>
          <dd><%= render_index_field_value(document: document, field: 'desc_metadata__publisher_tesim') %></dd>
        <% end %>
      </dl>

      <a href="" title="Click for more details"><i id="expand_<%= document.to_param %>" class="glyphicon glyphicon-plus show-details"></i></a>

      <dl class="attribute-list extended-attributes hide">
        <% index_fields.each do |solr_fname, field| -%>
          <%# NOTE: Attribute display shouldn't come to this %>
          <% unless ['desc_metadata__contributor_tesim', 'desc_metadata__creator_tesim', 'desc_metadata__description_tesim', 'desc_metadata__publisher_tesim', 'desc_metadata__title_tesim',].include? solr_fname %>
            <% if should_render_index_field? document, field %>
              <dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_index_field_label field: solr_fname %></dt>
              <dd class="blacklight-<%= solr_fname.parameterize %>"><%= render_index_field_value document: document, field: solr_fname %></dd>
            <% end -%>
          <% end -%>
        <% end -%>
      </dl>
    </div>

  </div>
</li>
