<li class="expandable_new grey">
   <% id = facet_field.label.sub(" ","_") %>
   <!--button class="btn dropdown" data-toggle="collapse" data-target="#collapse_<%= id%>" data-parent="#facet_group"><i class="icon-chevron-right"></i> <%= facet_field.label%></button--> 

    <a class="accordion-toggle grey" data-toggle="collapse" data-parent="#facet_group" data-target="#collapse_<%= id%>">
      <%= facet_field.label %><i class="icon-chevron-right grey"></i>
    </a>

  <div id="collapse_<%= id%>" class="accordion-body collapse">
      <%= yield %>
  </div>
</li>