<!--<h1>Getting Started</h1>
<img src="/assets/splashscreen.png" width="450" height="259" alt="just a place holder" />
      <br/><br/> -->
      <h2 class="heading1">What is <%=t('sufia.product_name') %>?</h2>
      <p>
      <%=t('sufia.product_name') %> is a secure repository service enabling the <%=t('sufia.institution_name') %> community to share its research and scholarly work with a worldwide audience. 
      Faculty, staff, and students can use <%=t('sufia.product_name') %> to collect their work in one location and create a durable and citeable record of their papers, 
      presentations, publications, data sets, or other scholarly creations. Through this service, <%=t('sufia.institution_name') %> researchers can also comply with 
      grant-funding-agency requirements for sharing and managing research data. 
      <hr class="grey"/>
      <h2 class="heading1">Recently Uploaded <span class="heading1 label label-success">Open Access</span></h2>
      <%= render :partial=>'/catalog/recents', :locals => {:recent_documents=>@recent_documents, :msg=>"No public work has been contributed.", :display_thumbs=>true, :display_access=>false} %>

