<div class="row">
  <%#= render_document_partial document, 'thumbnail', document_counter: generic_file_counter %>
  <dl class="document-metadata dl-invert dl-horizontal">
    
    <% index_fields(document).each do |solr_fname, field| -%>
      <% if should_render_index_field? document, field %>
        <dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_index_field_label document, :field => solr_fname %></dt>
        <dd class="blacklight-<%= solr_fname.parameterize %>"><%= render_index_field_value document, :field => solr_fname %></dd>
      <% end -%>
    <% end -%>

  </dl>

  <div class="search-result-actions">
    <%= render_document_partial document, 'action_menu' %>
  </div>
</div>
