<%- keywords = link_to_facet_list(recent_document[:generic_file__tag_t], 'generic_file__tag_facet', 'no keywords specified') -%>
<%- filename = render_document_show_field_value(:document=>recent_document, :field=>"label_t") -%>
<%- title = render_document_show_field_value(:document=>recent_document, :field=>"generic_file__title_t") -%>
<%- title = filename if title.empty? -%>
<%- depositor = get_depositor_from_document(recent_document) -%>
    <tr>
      <% if display_thumbs %>
        <td class="span10"><%= link_to_profile depositor %> <%= render :partial => 'dashboard/_index_partials/thumbnail_display', :locals => {:document=>recent_document, :height=>60, :width=>45} %> </td>
      <% end %>
      <td>
        <h3>
          <% if title.length > 25 %>
            <%= link_to "#{title[0..24]}...", sufia.generic_file_path(recent_document.fetch(:noid_s, :id)), :title => title  %>
          <% else %>
            <%= link_to title, sufia.generic_file_path(recent_document.fetch(:noid_s, :id)), :title => title  %>
          <% end %>

          <% if display_access %>
              <% if !recent_document[:read_access_group_t].blank? and recent_document[:read_access_group_t].include?('registered') %>
                 <span class="label label-info" title="Penn State">Penn State</span>
              <% elsif recent_document[:read_access_group_t].nil? or (recent_document[:read_access_group_t] & ['public']).empty? %>
                <span class="label label-important">Private</span>
              <% else %>
                <span class="label label-success">Open Access</span>
              <% end %>
          <% end %>
        </h3>
        <p> 
          <% if filename.length > 25 %>
            <%= link_to "#{filename[0..24]}...", sufia.generic_file_path(recent_document.fetch(:noid_s, :id)), :title => filename %><br />
          <% else %>
            <%= link_to filename, sufia.generic_file_path(recent_document.fetch(:noid_s, :id)), :title => filename %><br />
          <% end %>
            <%= keywords.html_safe %>
        </p>
      </td>
    </tr>
