<% content_for :local_js do %>
    // setting a fixed height so that the dialog does not hop around when you get to the last small page
    //$.ui.dialog.prototype.options["height"]=window.innerHeight  *0.75
<% end %>

<% content_for :sidebar do %>
  <%= render :partial=>'facets' %>
<% end %>

<% unless has_search_parameters? %>
	<%# if there are no input/search related params, display the "home" partial -%>
	<%= render 'home' %>
<% else %>

	<% @page_title = application_name + " Search Results" %>

  <% extra_head_content << render_opensearch_response_metadata.html_safe %>

  <h3>Search Results</h3>
  <div class="alert alert-info"><i class="icon-search icon-large"></i> You searched for: <strong><%= render_constraints(params) %></strong></div>	
  <%= render :partial => 'did_you_mean' %>
  <%= render :partial => 'facet_selected' %>
	<%# render 'constraints', :localized_params=>params %>
  
  <div class="row"> 
    <%= render_pagination_info @response, :entry_name=>'item' %>
    <%= render 'sort_and_per_page' %>
    <div class="row offset80">
      <%= link_to "New Search", catalog_index_path, :id=>"startOverLink", :class=>"btn btn-info btn-medium" %>
    </div>
  </div>
  
  
  <%= render 'results_pagination' %>
  
	<%= render :partial => 'document_list' %>

  <%= render 'results_pagination' %>

<% end %>

