<% content_for :sidebar do %>
  <%= render partial: 'facets' %>
<% end %>

<% @page_title = application_name + " Search Results" %>

<h3>Search Results</h3>
<% if query_has_constraints? %>
  <div class="alert alert-info">
    <div class="pull-right">
        <%=link_to t('blacklight.search.start_over'), start_over_path, class: "catalog_startOverLink btn btn-sm btn-text", id: "startOverLink" %>
    </div>
    <i class="icon-search icon-large"></i> You searched for: <strong><%= render_constraints(params) %></strong></div>
  </div>
<% end %>
<%= render 'did_you_mean' %>
<%= render 'facet_selected' %>
<%= render 'sort_and_per_page' %>
<%= render 'results_pagination' %>
<%= render_document_index %>
<%= render 'results_pagination' %>
