<% if params[:q].blank? and params[:f].blank? and params[:search_field].blank? %>
	<%# if there are no input/search related params, display the "home" partial -%>
	<%= render 'home' %>
<% else %>

	<div id="results">

	<% @page_title = application_name + " Search Results" %>
	
	<%= render :partial => 'search_form' %>	
	
	<%= render :partial => 'did_you_mean' %>
	
	<%= render 'constraints', :localized_params=>params %>
	
  <div class="pagination">
    <%= will_paginate @response.docs, :page_links => true, :class => 'prev_next_links' %>
  </div>
  
	<%= render 'sort_and_per_page' %>
	
	<%= render :partial=>'document_list' %>
	
	<% sidebar_items << capture do %>
	  <%= render :partial=>'facets' %>
	<% end %>

  <div class="pagination">
    <%= will_paginate @response.docs, :page_links => true, :class => 'prev_next_links' %>
  </div>

	<%= render :partial=>'solr_request' %>
</div>

<% end %>