<% @page_title = "#{document_show_html_title} - #{application_name}" %>
<div id="showHead">
  <div id="showUtils">
  <div class="tools"><%= render :partial => 'show_tools' %></div>
    <span class="back_to_cat"><%= link_back_to_catalog :label=>'&laquo; Back to Results' %></span>
    <% if @previous_document || @next_document %>
      <div id="previousNextDocument">
	    <span class="previous"><%= link_to_previous_document(@previous_document) %></span>
    <% end %>
    <%- if session[:search][:counter].to_i > 0 -%>
      #<%= session[:search][:counter].to_i %> of <%= format_num(session[:search][:total]) %>
    <%- end -%>
    <% if @previous_document || @next_document %>
	    <span class="next"><%= link_to_next_document(@next_document)%></span>	
      </div>
    <% end %>
    <span class="edit-browse">
      <% if editor? %>
        <%= edit_and_browse_links %>
      <% end -%>
    </span>
  </div>
</div>
<div id="document">
  <div id="doc_<%= @document[:id] %>">
    <h1 class="document_heading"><%= h(document_heading) %><br/><%= h(vern_document_heading) %></h1>
    <div class="document">
      <%= render_document_partial @document, params["action"] %>
    </div>
  </div>
</div>


<%= render :partial=>'solr_request' %>
<% if @document.marc %>
  <%= @document.marc.to_zotero(document_partial_name(@document)) %>
<% end %>

<div class="lightboxContent" id="citation" style="display:none;">
  <%= render :partial => 'citation' %>
</div>
<div class="lightboxContent" id="email" style="display:none;">
  <%= render :partial => 'email_form' %>
</div>
<div class="lightboxContent" id="sms" style="display:none;">
  <%= render :partial => 'sms_form' %>
</div>
