<div class="panel panel-default">
  <div class="panel-heading">
  <h4><%= t('.subtitle')%></h4>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th><%= t('.today') %></th>
          <th><%= t('.this_week') %></th>
          <th><%= t('.this_month') %></th>
          <th><%= t('.this_year') %></th>
          <th><%= t('.all_time') %></th>
        </tr>
      </thead>
      <tbody>
        <% if @pageviews %>
          <tr>
            <td><b><%= t('.collection_home_page_views') %></b></td>
            <td><%= @pageviews.day %></td>
            <td><%= @pageviews.week %></td>
            <td><%= @pageviews.month %></td>
            <td><%= @pageviews.year %></td>
            <td><%= @pageviews.all %></td>
          </tr>
        <% end %>
        <% if @work_page_views %>
          <tr>
            <td><b><%= t('.work_views') %></b></td>
            <td><%= @work_page_views.day %></td>
            <td><%= @work_page_views.week %></td>
            <td><%= @work_page_views.month %></td>
            <td><%= @work_page_views.year %></td>
            <td><%= @work_page_views.all %></td>
          </tr>
        <% end %>
        <% if @downloads %>
          <tr>
            <td><b><%= t('.work_downloads') %></b></td>
            <td><%= @downloads.day %></td>
            <td><%= @downloads.week %></td>
            <td><%= @downloads.month %></td>
            <td><%= @downloads.year %></td>
            <td><%= @downloads.all %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<% if @top_collections %>
  <%= render 'top_collections' %>
<% end %>