<h4>Top Collections</h4>
<hr />
<table class="table table-striped">
  <thead>
    <tr>
      <th>Collection Title</th>
      <th>Works In This Collection Views</th>
      <th>File Set Downloads In This Collection</th>
      <th>Collection Page Views</th>
    </tr>
  </thead>
  <tbody>
    <% @top_collections.each do |collection| %>
      <% document = ::SolrDocument.find(collection[0]) rescue document = nil %>
      <% if document %>
        <tr>
          <td><%= link_to document, admin_analytics_collection_report_path(collection[0]) %></td>
          <td><%= collection[1] %></td>
          <td>
              <% match = @top_downloads.detect {|a,b| a == collection[0]} %>
            <%= match ? match[1] : 0 %>
          </td>
          <td>
              <% match = @top_collection_pages.detect {|a,b| a == collection[0]} %>
              <%= match ? match[1] : 0 %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<div class="pull-right">
  <%= paginate @top_collections %>
</div>