<% provide :page_title, "Collection Reports" %>

<% provide :page_header do %>
  <h1><span class="fa fa-bar-chart" aria-hidden="true"></span> <%= "Collection Reports" %></h1>
<% end %>

<div class="row">
  <div class="col-sm-12">
    <div class="collection-reports">

      <div class="panel panel-default">
        <div class="panel-heading">The repository contains <b><%= Collection.count %> collections</b>, which collectively have had <b><%= @pageviews.all %> views</b> and <b><%= @downloads.all %> downloads</b>.</div>
        <div class="panel-body">
          <h2>Activity
          <div class="btn-group pull-right">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Export <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><%= link_to "Pageviews", admin_analytics_collection_reports_path(format: :csv, format_data: 'pageviews', disposition: "attachment") %></li>
                <li><%= link_to "Top Collections", admin_analytics_collection_reports_path(format: :csv, format_data: 'top_collections', disposition: "attachment") %></li>
              </ul>
          </div></h2>
          <div class="panel panel-default">
            <div class="panel-heading">Customize Report</div>
            <div class="panel-body">
              <%= render "hyrax/admin/analytics/date_range_form", redirect_path: hyrax.admin_analytics_collection_reports_path %>
              <hr />
              <div class="row text-center">
                <div class="nav nav-pills btn-group" role="group">
                  <a button class="btn btn-primary" type="button" href="#summary" class="nav-link active" data-toggle="pill">
                    Summary
                  </a>
                  <a button class="btn btn-default" type="button" href="#monthly" class="nav-link" data-toggle="pill">
                      Monthly
                  </a>
                </div>
              </div>
              <div class="tab-content">
                <h3 class="text-center">Custom Collection Report</h3>
                <div class="tab-pane active" id="summary">
                  <%= render "hyrax/admin/analytics/summary" %>
                </div>
                <div class="tab-pane" id="monthly">
                  <h4 class="text-center">Month-by-month status for last 12 months through <%= Time.zone.today.strftime("%B %Y") %></h4>
                    <%= render 'hyrax/admin/analytics/monthly_activity' %>
                </div>
              </div>

              <% if @top_collections %>
                <%= render 'top_collections' %>
              <% end %>
            </div>
          </div>
          <p class="text-center">This report was generated on <b><%= Time.current %></b>.</p>
        </div>
      </div>
    </div>
  </div>
</div>