<% provide :page_title, "Collection Report" %>

<% provide :page_header do %>
  <h1><span class="fa fa-bar-chart" aria-hidden="true"></span> <%= "Collection Report" %></h1>
  <%= link_to 'Return to Collection Report', admin_analytics_collection_reports_path, class: "btn btn-primary pull-right" %>
<% end %>

<div class="row">
  <div class="col-sm-12">
    <div class="collection-reports">

      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="col-sm-10">
            <h3><%= @document %></h3>
          </div>
          <div class="col-sm-2">
            <%= link_to 'View Collection', collection_path(@document.id), class: "btn btn-default pull-right" %>
          </div>
        </div>

        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 col-md-5">
              <p>Created by <b><%= @document.depositor %></b> on <b><%= @document.create_date %></b></p>
              <p>Collection type: <b><%= @document.collection_type_gid %></b></p>
            </div>
            <div class="col-xs-12 col-md-5">
              <p>Last updated on <b><%= @document.date_modified %></b></p>
              <p>Visibility: <b><%= @document.read_groups.join(",") %></b></p>
            </div>
            <div class="col-xs-12 col-md-2">
              <button class="btn btn-primary pull-right" href="#"><%#= download button for report %>Export Report</button>
            </div>
          </div>
          <hr />

          <br>
          <%= render "hyrax/admin/analytics/date_range_form", redirect_path: hyrax.admin_analytics_collection_report_path(@document.id) %>
          <br>
          <h3 class="text-center"> Collection Report</h3>
          <%= render "hyrax/admin/analytics/summary" %>
          <%= render 'hyrax/admin/analytics/monthly_activity' %>
         
          <% if @files&.any? %>
           <%= render "collection_files" %>
          <% end %>

        </div>

      </div>

    </div>
  </div>
</div>