<table class="table table-zebra-striped table-bordered">
  <caption class="sr-only">Listing of items you have deposited in <%= t('sufia.product_name') %></caption>
<% unless params[:display_type] == 'list' %>
  <thead>
  <tr>
    <th class="sm"><%= render partial: 'batch_edits/check_all' %></th>
    <th>&nbsp;</th>
    <th class="center">Title</th>
    <th class="sorts-dash"><i id="desc_metadata__date_uploaded_dtsi" class="<%=params[:sort]== "desc_metadata__date_uploaded_dtsi desc" ? 'caret' : params[:sort]== "desc_metadata__date_uploaded_dtsi asc" ? 'caret up' : ''%>"></i>Date Uploaded</th>
    <th>Visibility</th>
    <th class="center">Action</th>
  </tr>
  </thead>
  <% end %>
  <tbody>
  <% docs.each_with_index do |document,counter| %>
    <% case document.hydra_model %>
    <% when "GenericFile" %>
      <%= render partial: 'my/_index_partials/list_files', locals: {document: document, counter: counter} %>
    <% when "Collection" %>
      <%= render partial: 'my/_index_partials/list_collections', locals: {document: document, counter: counter} %>
    <% else %>
      <tr><td colspan='6'><%= document.hydra_model %> : <%= document.id %></td></tr>
    <% end %>
  <% end %>
  </tbody>
</table>
