<table class="table table-striped">
  <caption class="sr-only"><%= t("sufia.dashboard.my.sr.listing") %> <%= application_name %></caption>
<% unless params[:display_type] == 'list' %>
  <thead>
  <tr>
    <th><label for="check_all" class="sr-only"><%= t("sufia.dashboard.my.sr.check_all_label") %></label><%= render_check_all %></th>
    <th><%= t("sufia.dashboard.my.heading.title") %></th>
    <th class="sorts-dash"><i id="<%= CatalogController.uploaded_field %>" class="<%=params[:sort]== "#{CatalogController.uploaded_field} desc" ? 'caret' : params[:sort]== "#{CatalogController.uploaded_field} asc" ? 'caret up' : ''%>"></i><%= t("sufia.dashboard.my.heading.date_uploaded") %></th>
    <th><%= t("sufia.dashboard.my.heading.visibility") %></th>
    <th><%= t("sufia.dashboard.my.heading.action") %></th>
  </tr>
  </thead>
  <% end %>
  <tbody>
  <% docs.each_with_index do |document, counter| %>
    <% if document.collection? %>
      <%= render 'my/_index_partials/list_collections', document: document, counter: counter %>
    <% else %>
      <%= render 'my/_index_partials/list_works', document: document, counter: counter, presenter: Sufia::WorkShowPresenter.new(document, current_ability) %>
    <% end %>
  <% end %>
  </tbody>
</table>
