
<!-- scholarsphere over ride -->
<!-- the sub on ':' is b.c. jQuery has trouble with '.' or ':'
on element ids -->
<% noid = document.noid %>
<tr id="document_<%= noid %>" class="<%= cycle("","zebra") %>">
  <td width="3%"></td> 
  <td width="41%">
    <div class="media">
      <%= link_to [collections, document], class: "pull-left" do %>
        <span class="glyphicon glyphicon-th collection-icon-small">
      <% end %>
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to document.title_or_label, collections.collection_path(noid), id: "src_copy_link#{noid}" %>
          <a href="#" class="small" title="Click for more details"><i id="expand_<%= noid %>" class="glyphicon glyphicon-chevron-right"></i></a>
        </h4>
      </div>
    </div>
  </td>
  <td width="17%"><%= document.date_uploaded %> </td>
  <td width="5%" class="text-center">
      <% if document.registered? %>
     <span class="label label-info" title="<%=t('sufia.institution_name') %>"><%=t('sufia.institution_name') %></span></a> 
    <% elsif document.public? %>
      <span class="label label-success" title="Open Access">Open Access</span></a>
    <% else %>
      <span class="label label-danger" title="Private">Private</span></a>
    <% end %>
  
  </td>
  <td class="text-center">
    <%= render partial:'collection_action_menu', locals:{noid:noid} %>
   </td>
</tr>
<tr id="detail_<%= noid.gsub(":", "_") %>"> <!--  collection detail"> -->
  <td colspan="6">
    <dl class="expanded-details row">
      <dt class="col-xs-3 col-lg-2">Description:</dt>
      <dd class="col-xs-9 col-lg-10"> <%= document.description%></dd>
      <dt class="col-xs-3 col-lg-2">Edit Access:</dt>
      <dd class="col-xs-9 col-lg-10">
      <% if document.edit_groups.present? %>
            Groups: <%= document.edit_groups.join(', ') %>
            <br/>
        <% end %>
        Users: <%= document.edit_people.join(', ') %>
      </dd>
    </dl>
  </td>
</tr>
