<% noid = document.noid %>
<tr id="document_<%= noid %>" class="<%= cycle("", "zebra") %>">
  <% gf = GenericFile.load_instance_from_solr(document.id) %>
  <td width="1%"><%= batch_edit_select(document) %>&nbsp;</td>
  <td width="2%">
    <%# This block is for adding/removing the magic wand while batch updates are processing %>
    <% if gf.processing? %>
        <i class="glyphicon glyphicon-magic <%= 'ss-'+gf.batch.noid %>"/>
    <% elsif gf.depositor != @user.user_key %>
        <i class="glyphicon glyphicon-gift"/>
    <% end %>
  </td>
  <td width="41%">
    <a href="#" title="Click for more details"><i id="expand_<%= noid %>" class="glyphicon glyphicon-plus"></i></a>&nbsp;
    <%= link_to sufia.generic_file_path(document) do %>
      <%= render_thumbnail_tag document, class:"hidden-xs file_listing_thumbnail" %>
    <% end %>
    <span>
      <%= link_to document.title_or_label, sufia.generic_file_path(noid), id: "src_copy_link#{noid}", class: "#{'document-title' if document.title_or_label == document.label}" %><br/>
    </span>
  </td>
  <td width="17%"><%= document.date_uploaded %> </td>
  <td width="5%">
    <a href="<%= sufia.generic_file_path(noid) %>/edit/?tab=permissions" id="permission_<%= noid %>" class="visibility-link">
      <% if document.registered? %>
          <span class="label label-info" title="<%= t('sufia.institution_name') %>"><%= t('sufia.institution_name') %></span>
      <% elsif document.public? %>
          <span class="label label-success" title="Open Access">Open Access</span>
      <% else %>
          <span class="label label-danger" title="Private">Private</span>
      <% end %>
    </a>
  </td>
  <td width="23%">
    <%= render partial: 'action_menu', locals: { noid: noid, gf: gf } %>
  </td>
</tr>
<tr id="detail_<%= noid %>"> <!--  document detail"> -->
  <td colspan="6">
    <dl class="expanded-details row">
      <dt class="col-xs-3 col-lg-2">File Name:</dt>
      <dd class="col-xs-9 col-lg-4"><%= link_to document.label, sufia.generic_file_path(noid) %></dd>
      <dt class="col-xs-3 col-lg-2">File Format:</dt>
      <dd class="col-xs-9 col-lg-4"><%= document.file_format %>JPG</dd>
      <dt class="col-xs-3 col-lg-2">Creator:</dt>
      <dd class="col-xs-9 col-lg-4"><%= document.creator %></dd>
      <dt class="col-xs-3 col-lg-2">Depositor:</dt>
      <dd class="col-xs-9 col-lg-4"><%= link_to_profile document.depositor %></dd>
      <dt class="col-xs-3 col-lg-2">Edit Access:</dt>
      <dd class="col-xs-9 col-lg-10">
        <% if document.edit_groups.present? %>
            Groups: <%= document.edit_groups.join(', ') %>
            <br/>
        <% end %>
        Users: <%= document.edit_people.join(', ') %>
      </dd>
    </dl>
  </td>
</tr>
