<% id = document.id %>
<tr id="document_<%= id %>" class="<%= cycle("", "zebra") %>">
  <% gf = document.to_model %>
  <td>
    <label for="batch_document_<%= id %>" class="sr-only"><%=t("sufia.dashboard.my.sr.batch_checkbox")%></label>
    <%= batch_edit_select(document) %>&nbsp;
    <%# This block is for adding/removing the magic wand while batch updates are processing %>
    <% if gf.processing? %>
        <i class="glyphicon glyphicon-time <%= 'ss-'+gf.batch.id %>"/>
    <% elsif gf.depositor != @user.user_key %>
        <i class="glyphicon glyphicon-share-alt"/>
    <% end %>
  </td>
  <td>
    <div class="media">
      <%= link_to sufia.generic_file_path(document), class: "media-left", "aria-hidden" => true do %>
        <%= render_thumbnail_tag document, { class: "hidden-xs file_listing_thumbnail" }, { suppress_link: true } %>
      <% end %>
      <div class="media-body">
        <div class="media-heading">
          <%= link_to sufia.generic_file_path(document), id: "src_copy_link#{id}", class: "#{'document-title' if document.title_or_label == document.label}" do %>
              <span class="sr-only"><%= t("sufia.dashboard.my.sr.show_label") %> </span>
              <%= document.title_or_label %>
          <% end %>
          <a href="#" class="small" title="Click for more details">
            <i id="expand_<%= id %>" class="glyphicon glyphicon-chevron-right"  aria-hidden="true"></i>
            <span class="sr-only"> <%= "#{t("sufia.dashboard.my.sr.detail_label")} #{document.title_or_label}" %></span>
          </a>
        </div>
        <%= render_collection_list(gf) %>
      </div>
    </div>
  </td>
  <td class="text-center"><%= document.date_uploaded %> </td>
  <td class="text-center">
    <%= render_visibility_link document %>
  </td>
  <td class="text-center">
    <%= render partial: 'action_menu', locals: { id: id, gf: gf } %>
  </td>
</tr>
<tr id="detail_<%= id %>"> <!--  document detail"> -->
  <td colspan="6">
    <dl class="expanded-details row">
      <dt class="col-xs-3 col-lg-2">File Name:</dt>
      <dd class="col-xs-9 col-lg-4"><%= link_to document.label, sufia.generic_file_path(id) %></dd>
      <dt class="col-xs-3 col-lg-2">File Format:</dt>
      <dd class="col-xs-9 col-lg-4"><%= document.file_format %>JPG</dd>
      <dt class="col-xs-3 col-lg-2">Creator:</dt>
      <dd class="col-xs-9 col-lg-4"><%= document.creator %></dd>
      <dt class="col-xs-3 col-lg-2">Depositor:</dt>
      <dd class="col-xs-9 col-lg-4"><%= link_to_profile document.depositor %></dd>
      <dt class="col-xs-3 col-lg-2">Edit Access:</dt>
      <dd class="col-xs-9 col-lg-10">
        <% if document.edit_groups.present? %>
            Groups: <%= document.edit_groups.join(', ') %>
            <br/>
        <% end %>
        Users: <%= document.edit_people.join(', ') %>
      </dd>
    </dl>
  </td>
</tr>
