<% id = admin_set_presenter.id %>
<% ul_id = 'admin-set-action-dropdown-ul-' + id %>

<div class="btn-group">
  <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" type="button" id="dropdownMenu_<%= id %>" aria-haspopup="true" aria-expanded="false" aria-controls="<%= ul_id %>">
    <span class="sr-only"><%= t("hyrax.dashboard.my.sr.press_to") %> </span>
    <%= t("hyrax.dashboard.my.action.select") %>
  </button>
  <ul role="menu" id="<%= ul_id %>" class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu_<%= id %>">
    <%= link_to hyrax.admin_admin_set_path(id),
                class: 'itemicon itemedit',
                role: 'menuitem',
                title: t("hyrax.dashboard.my.action.view_admin_set") do %>
      <li class="dropdown-item" tabindex="-1">
        <%= t("hyrax.dashboard.my.action.view_admin_set") %>
      </li>
    <% end %>
    <% if can? :edit, admin_set_presenter.solr_document %>
      <%= link_to hyrax.edit_admin_admin_set_path(id),
                  class: 'itemicon itemedit',
                  role: 'menuitem',
                  title: t("hyrax.dashboard.my.action.edit_admin_set") do %>
        <li class="dropdown-item" tabindex="-1">
          <%= t("hyrax.dashboard.my.action.edit_admin_set") %>
        </li>
      <% end %>
    <% else %>
      <%= link_to "#",
                  class: 'itemicon itemedit edit-collection-deny-button',
                  role: 'menuitem',
                  title: t("hyrax.dashboard.my.action.edit_collection") do %>
        <li class="dropdown-item" tabindex="-1">
          <%= t("hyrax.dashboard.my.action.edit_collection") %>
        </li>
      <% end %>
    <% end %>
    <%= link_to "#",
                class: 'itemicon itemtrash delete-collection-button',
                role: 'menuitem',
                title: t("hyrax.dashboard.my.action.delete_admin_set"),
                data: { totalitems: admin_set_presenter.total_items,
                        membership: admin_set_presenter.collection_type_is_require_membership?,
                        hasaccess: (can?(:edit, admin_set_presenter.solr_document)) } do %>
      <li class="dropdown-item" tabindex="-1">
        <%= t("hyrax.dashboard.my.action.delete_admin_set") %>
      </li>
    <% end %>
  </ul>
</div>
