<% id = collection_presenter.id %>
<% ul_id = 'collection-action-dropdown-ul-' + id %>

<div class="btn-group">
  <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" type="button" id="dropdownMenu_<%= id %>" aria-haspopup="true" aria-expanded="false" aria-controls="<%= ul_id %>">
    <span class="sr-only"><%= t("hyrax.dashboard.my.sr.press_to") %> </span>
    <%= t("hyrax.dashboard.my.action.select") %>
  </button>
  <ul role="menu" id="<%= ul_id %>" class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu_<%= id %>">
    <%= link_to hyrax.dashboard_collection_path(id),
                class: 'itemicon itemedit',
                role: 'menuitem',
                title: t("hyrax.dashboard.my.action.view_collection") do %>
      <li class="dropdown-item" tabindex="-1">
        <%= t("hyrax.dashboard.my.action.view_collection") %>
      </li>
    <% end %>
    <% if can? :edit, collection_presenter.solr_document %>
      <%= link_to hyrax.edit_dashboard_collection_path(id),
                  class: 'itemicon itemedit',
                  role: 'menuitem',
                  title: t("hyrax.dashboard.my.action.edit_collection")  do %>
        <li class="dropdown-item" tabindex="-1">
          <%= t("hyrax.dashboard.my.action.edit_collection") %>
        </li>
      <% end %>
    <% else %>
      <%= link_to "#",
                  class: 'itemicon itemedit edit-collection-deny-button',
                  role: 'menuitem',
                  title: t("hyrax.dashboard.my.action.edit_collection") do %>
        <li class="dropdown-item" tabindex="-1">
          <%= t("hyrax.dashboard.my.action.edit_collection") %>
        </li>
      <% end %>
    <% end %>
    <%= link_to "#",
                class: 'itemicon itemtrash delete-collection-button',
                role: 'menuitem',
                title: t("hyrax.dashboard.my.action.delete_collection"),
                data: { totalitems: collection_presenter.total_items ,
                        membership: collection_presenter.collection_type_is_require_membership? ,
                        hasaccess: (can?(:edit, collection_presenter.solr_document)) } do %>
      <li class="dropdown-item" tabindex="-1">
        <%= t("hyrax.dashboard.my.action.delete_collection") %>
      </li>
    <% end %>

    <% if collection_presenter.collection_type_is_nestable? %>
      <% # The user should have deposit access to the parent we are adding, and read access to the child (the collection we are linking here). %>
      <%= link_to "#",
                  class: 'itemicon add-to-collection',
                  role: 'menuitem',
                  title: t("hyrax.dashboard.my.action.add_to_collection"),
                  data: { nestable: collection_presenter.collection_type_is_nestable? ,
                          hasaccess: (can?(:read, collection_presenter.solr_document)) } do %>
        <li class="dropdown-item" tabindex="-1">
          <%= t("hyrax.dashboard.my.action.add_to_collection") %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
