<% if current_user.directory.present? %>
  <div class="well">
    <%= render partial: 'generic_files/upload/tos_checkbox' %>
    <%= form_for @generic_file, url: sufia.generic_files_path, html: { class: 'form-horizontal well'} do |f| %>
      <table class="table table-striped">
        <caption>Select files to deposit from your user directory on the server.</caption>
        <thead>
          <tr><th>File</th></tr>
        </thead>
        <tbody>
        <%current_user.files.each do |f| %>
          <tr>
            <td>
              <label><%= check_box_tag 'local_file[]', f[:name] %> <%= f[:directory] ? '<i class="glyphicon glyphicon-folder-close"></i>'.html_safe : '<i class="glyphicon glyphicon-file"></i>'.html_safe %> <%= f[:name] %></label>
            </td>
          </tr>
        <%end%>
        </tbody>
      </table>
      <%= hidden_field_tag(:batch_id, @batch_id) %>
      <button type="submit" class="activate-submit btn btn-primary start" id="main_upload_start">
        <i class="glyphicon glyphicon-upload"></i>
        <span>Deposit Selected Files</span>
      </button>
    <% end %>
  </div>
<% end %>