<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
      <td>
        <span class="preview"></span>
      </td>
      <td>
        <p class="name">{%=file.name%}</p>
        <strong class="error text-danger"></strong>
      </td>
    </tr>
{% } %}
</script>

<!-- function used by the following template -->
<script type="text/javascript">
  function setAllResourceTypes(resourceTypeId) {
    var firstResourceType = $("#resource_type_" + resourceTypeId.toString())[0];
    var selected_options = [];
    for (var i = 0; i < firstResourceType.length; i++) {
      if (firstResourceType.options[i].selected) {
        selected_options.push(firstResourceType.options[i].value);
      }
    }
    $(".resource_type_dropdown").each(function(index, element) {
      for(var i=0; i< this.length; i++) {
        this.options[i].selected =
            $.inArray(this.options[i].value, selected_options) > -1 ? true : false;
      }
    });
  }
</script>

<!-- Simpler display of files available for download. Originally from hyrax/base/_form_files -->
<!-- TODO: further consolidate with template-download above -->
<!-- The template to display the banner once upload is complete -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
        <span class="template-download fade">
          <div id="banner">
            <div class="row branding-banner-row">
              <div class="col-sm-3">
                <span class="name">
                  <span>{%=file.name%}</span>
                  <input type="hidden" name="banner_files[]" value="{%=file.id%}">
                </span>
                {% if (file.error) { %}
                  <span><span class="label label-danger"><%= t('.error') %></span> {%=file.error%}</span>
                {% } %}
              </div>

              <div class="col-sm-2">
                <button class="btn btn-link remove branding-banner-remove" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}" onclick=$("#banner").remove(); {% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                  <span class="glyphicon glyphicon-remove"></span>
                  <span class="controls-remove-text"><%= t('.remove') %></span>
                  <span class="sr-only">
                    <%= t('.previous') %>
                    <span class="controls-field-name-text"><%= t('.remove_new_banner') %></span>
                  </span>
                </button>
              </div> <!-- end col-sm-2 -->
            </div> <!-- row branding-banner-row -->
          </div> <!-- end container banner -->
        </span>
{% }  $("div#banner").remove(); %}
</script>

<!-- The template to display logo in the table once upload is complete -->
<script id="logo-template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
            <span class="template-download fade">
            <div class="row branding-logo-row">
              <div class="col-sm-3">
                <span class="preview">
                    {% if (file.thumbnailUrl) { %}
                        <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                    {% } %}
                </span>

                <span class="name">
                    {% if (file.url) { %}
                        <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                    {% } else { %}
                        <span>{%=file.name%}</span>
                    {% } %}
                    <input type="hidden" name="logo_files[]" value="{%=file.id%}">
                </span>

                {% if (file.error) { %}
                    <span><span class="label label-danger">Error</span> {%=file.error%}</span>
                {% } %}
              </div>

              <div class="col-sm-4 branding-logo-input">
                <label for="linkurl"><%= t('.link_url') %>
                  <input id="linkurl" class="branding-logo-input" type="text" name="linkurl[]"></input>
                </label>
                <label for="alttext"><%= t('.alt_text') %>
                  <input id="alttext" class="branding-logo-input" type="text" name="alttext[]"></input>
                </label>
              </div>

              <div class="col-sm-2 text-right">
                <span class="input-group-btn field-controls">
            <button class="btn btn-sm btn-danger delete branding-logo-remove" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                    <span class="glyphicon glyphicon-remove"></span>
                    <span class="controls-remove-text">Remove</span>
                    <span class="sr-only">
                      <%= t('.previous') %>
                      <span class="controls-field-name-text"><%= t('.remove_new_logo') %></span>
                    </span>
                  </button>
                </span>
              </div>

            </div>
            </span>
{% } %}
</script>
