<% if assets_with_expired_leases.empty? %>
  <table  class="leases table">
    <tbody>
    <tr>
      <th>Type of Work</th><th>Title</th><th>Current Visibility</th><th>Lease Release Date</th><th>Visibility will Change to</th>
    </tr>
    <tr>
      <td colspan="5"><p>There are no expired leases in effect at this time.</p> </td>
    </tr>
    </tbody>
  </table>

<% else %>

  <%= form_tag leases_path, method: :patch do %>
    <%= submit_tag 'Deactivate Leases for Selected', class: 'btn btn-primary' %>
    <table  class="leases table">
      <thead>
        <tr>
          <th></th><th>Type of Work</th><th>Title</th><th>Current Visibility</th><th>Lease Release Date</th><th>Visibility will Change to</th><th></th>
        </tr>
      </thead>
      <tbody>
      <% assets_with_expired_leases.each do |curation_concern| %>
        <tr>
          <td><%= button_for_add_to_batch curation_concern%></td>
          <td class="human-readable-type"><%= curation_concern.human_readable_type %></td>
          <td class="title"><%= link_to curation_concern, edit_lease_path(curation_concern)  %></td>
          <td class="current-visibility"><%= visibility_badge(curation_concern.visibility) %></td>
          <td class="lease-release-date"><%= curation_concern.lease_expiration_date %></td>
          <td class="visibility-after-lease"><%= visibility_badge(curation_concern.visibility_after_lease) %></td>
          <td class="actions"><%= link_to 'Deactivate Lease', embargo_path(curation_concern), method: :delete, class: 'btn btn-primary' %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
