<%# default partial to display solr document fields in catalog show view -%>


<div class="document_viewer" id="cover_container">
  <dl class="defList">
    <dt>ID: </dt>
    <dd><%= render_document_show_field_value(:document=>document, :field=>"id") %></dd>
    <dt>Download:</dt>
    <dd id="downloads">
    <ul>
        <% %>
      </ul>
    </dd>
    <dt>Copyright: </dt>
    <dd><%= render_document_show_field_value(:document=>document, :field=>"rights_t") %></dd>
  </dl>
</div>
<div class="<%= params[:action]%>_details">
  <%= render :partial => "#{params[:controller]}/_#{params[:action]}_partials/default_details", :locals => {:document => document}%>
</div>

<%= async_load_tag(hydra_asset_downloads_path(params[:id]), 'downloads') %>
