<footer class="navbar navbar-dark bg-dark site-footer">
  <div class="container-fluid">
    <div class="navbar-text text-left">
      <p><%= t('hyrax.footer.service_html') %> <%= t('hyrax.product_name') %> v<%= Hyrax::VERSION %></p>
      <p>Commit <%= link_to ENV.fetch('BUILD_GITSHA', "Unknown")[0..6],
                            "https://github.com/samvera/hyrax/commit/#{ENV.fetch('BUILD_GITSHA', 'main')}" %>
        <%= I18n.t('shared.footer.built_at', time: ENV.fetch('BUILD_TIMESTAMP', 'Unknown'), :default => "Built at %{time}"); %>
      </p>
    </div>
    <div class="navbar-right">
      <div class="navbar-text text-right">
        <p><%= t('hyrax.footer.copyright_html', current_year: Time.current.year) %></p>
        <p><%= t('hyrax.background_attribution_html') %></p>
      </div>
    </div>
  </div>
</footer>
