<% provide :page_title, 'Operations' %>
<% provide :page_header do %>
  <h1><%= @operation.operation_type %> status</h1>
<% end %>

<p><strong>Status:</strong> <span class="label <%= @operation.status == 'failure' ? 'label-danger' : 'label-success' %>"><%= @operation.status %></span></p>
<p><strong>Message:</strong> <span class="message"><%= @operation.message %></span></p>

<% if @operation.children.any? %>
  <div class="row">
    <div class="col-sm-4">
      <table class="table">
        <thead>
          <th>Operation Type</th>
          <th>Status</th>
          <th>Message</th>
        </thead>
        <tbody>
          <% @operation.children.each do |op| %>
            <tr>
              <td><%= link_to op.operation_type, hyrax.user_operation_path(params[:user_id], op) %></td>
              <td><span class="label <%= op.status == 'failure' ? 'label-danger' : 'label-success' %>"><%= op.status %></span></td>
              <td><%= op.message %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
