<h1><%= t("sufia.dashboard.transfer_of_ownership") %></h1>

<h2><%= t("sufia.dashboard.transfers_sent") %></h2>
<%= render_sent_transfers %>

<h2><%= t("sufia.dashboard.transfers_received") %></h2>
<%= render_received_transfers %>
