<h4 class="text-center"><%= @start_date.to_date.strftime("%B %d, %Y") %> through <%= @end_date.to_date.strftime("%B %d, %Y") %></h4>

<h4>Summary of user activity</h4>
<hr />

<table class="table table-striped">
  <thead>
  <tr>
    <th>&nbsp;</th>
    <th>Date Range</th>
    <th>Today</th>
    <th>This week</th>
    <th>This month</th>
    <th>This year</th>
    <th>All time</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td><b>Downloads</b></td>
      <td><%= Hyrax::Analytics.downloads_count("range", "#{@start_date},#{@end_date}") %></td>
      <td><%= Hyrax::Analytics.downloads_count("day") %></td>
      <td><%= Hyrax::Analytics.downloads_count("week") %></td>
      <td><%= Hyrax::Analytics.downloads_count("month") %></td>
      <td><%= Hyrax::Analytics.downloads_count("year") %></td>
      <td><%= Hyrax::Analytics.downloads_count("range", "#{Time.zone.today-10.years},#{Time.zone.today}") %></td>
    </tr>
    <tr>
      <td><b>Page Views</b></td>
      <td><%= Hyrax::Analytics.works_pageviews("range", "#{@start_date},#{@end_date}") %></td>
      <td><%= Hyrax::Analytics.works_pageviews("day") %></td>
      <td><%= Hyrax::Analytics.works_pageviews("week") %></td>
      <td><%= Hyrax::Analytics.works_pageviews("month") %></td>
      <td><%= Hyrax::Analytics.works_pageviews("year") %></td>
      <td><%= Hyrax::Analytics.works_pageviews("range", "#{Time.zone.today-10.years},#{Time.zone.today}") %></td>
    </tr>

  </tbody>
</table>

 <% if @works&.any? %>
<h4>Works</h4>
<hr />

<table class="table table-striped">
  <thead>
  <tr>
    <th>Work Title</th>
    <th>Views</th>
  </tr>
  </thead>
  <tbody>
    <% @works.each do |work| %>
    <tr>
      <td><%= work.try(:pageTitle) %></td>
      <td><%= work.try(:pageviews) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>

 <% if @downloads && @downloads.any? %>
<h4>Files</h4>
<hr />

<table class="table table-striped">
  <thead>
  <tr>
    <th>File Name</th>
    <th>Downloads</th>
  </tr>
  </thead>
  <tbody>
      <% @downloads.each do |download| %>
      <tr>
       <% if ENV['HYRAX_ANALYTICS_PROVIDER']== 'google' %>
        <td><% file = FileSet.find(download[:eventLabel]) %> <%= file %></td>
        <td><%= download.try(:totalEvents) %></td>
       <% elsif ENV['HYRAX_ANALYTICS_PROVIDER']== 'matomo' %>
         <td><% file = FileSet.find(download['label']) %> <%= file %></td>
         <td><%= download['nb_events'] %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
 <% end %>