<div class="panel panel-default">
  <div class="panel-heading">
    <h4><%= t('.subtitle') %></h4>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th><%= t('.today') %></th>
          <th><%= t('.this_week') %></th>
          <th><%= t('.this_month') %></th>
          <th><%= t('.this_year') %></th>
          <th><%= t('.all_time') %></th>
        </tr>
      </thead>
      <tbody>
        <% if @pageviews %>
          <tr>
            <td><b><%= t('.page_views') %></b></td>
            <td><%= @pageviews.day %></td>
            <td><%= @pageviews.week %></td>
            <td><%= @pageviews.month %></td>
            <td><%= @pageviews.year %></td>
            <td><%= @pageviews.all %></td>
          </tr>
        <% end %>
        <% if @downloads %>
          <tr>
            <td><b><%= t('.file_downloads') %></b></td>
            <td><%= @downloads.day %></td>
            <td><%= @downloads.week %></td>
            <td><%= @downloads.month %></td>
            <td><%= @downloads.year %></td>
            <td><%= @downloads.all %></td>
          </tr>
        <% end %>
        <% if @uniques %>
          <tr>
            <td><b><%= t('.unique_visitors') %></b></td>
            <td><%= @uniques.day %></td>
            <td><%= @uniques.week %></td>
            <td><%= @uniques.month %></td>
            <td><%= @uniques.year %></td>
            <td><%= @uniques.all %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

 <% if @top_works %>
    <div><%= render 'top_works' %></div>
<% end %>

<% if @top_file_set_downloads %>
  <div><%= render 'top_file_set_downloads' %></div>
<% end %>

