<div class="card">
  <div class="card-header">
   <h4><%= t('.top_works') %>
      <div class="btn-group float-right">
        <%= link_to "#{t('.export')}", admin_analytics_work_reports_path(start_date: @start_date, end_date: @end_date, format: :csv, disposition: "attachment"), class: "btn btn-secondary" %>
      </div>
  </h4>
  </div>

  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= t('.work_title')%></th>
          <th><%= I18n.t("hyrax.admin.analytics.work_reports.top_works.id", :default => "ID") %></th>
          <th><%= t('.work_views')%></th>
          <th><%= t('.file_downloads')%></th>
        </tr>
      </thead>
      <tbody>
        <% @top_works.each do |work| %>
            <tr>
              <td><%= link_to work[1], admin_analytics_work_report_path(work[0]) %></td>
              <td><%= work[0] %></td>
              <td><%= work[2] %></td>
              <td><%= work[3] %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="card-footer">
    <div class="float-right">
      <%= paginate @top_works, outer_window: 2, theme: 'blacklight' %>
    </div>
  </div>

</div>
