<h4>Top Works</h4>
<hr />
<table class="table table-striped">
  <thead>
    <tr>
      <th>Work Title</th>
      <th>ID</th>
      <th>Work Page Views</th>
      <th>File Downloads</th>
    </tr>
  </thead>
  <tbody>
    <% @top_works.each do |work| %>
        <tr>
          <td><%= link_to work[1], admin_analytics_work_report_path(work[0]) %></td>
          <td><%= work[0] %></td>
          <td><%= work[2] %></td>
          <td><%= work[3] %></td>
        </tr>       
    <% end %>
  </tbody>
</table>

<div class="pull-right">
  <%= paginate @top_works %>
</div>