<% provide :page_title, "Work Reports" %>

<% provide :page_header do %>
  <h1><span class="fa fa-bar-chart" aria-hidden="true"></span> <%= "Work Reports" %></h1>
<% end %>

<div class="row">
  <div class="col-sm-12">
    <div class="work-reports">

    <% if Hyrax.config.analytics == true %>
      <div class="panel panel-default">
        <div class="panel-heading">You have access to <b><%= @works_count %> works</b>, which collectively have had <b><%= @pageviews.all %> views</b> and <b><%= @downloads.all %> downloads</b>.</div>
        <div class="panel-body">
          <h2>Activity
          <div class="btn-group pull-right">
            <%= link_to "Export", admin_analytics_work_reports_path(format: :csv, disposition: "attachment"), class: "btn btn-default" %>
          </div></h2>
          </h2>

          <div class="panel panel-default">
            <div class="panel-heading">Customize Report <%= @test %></div>
            <div class="panel-body">
              <%= render "hyrax/admin/analytics/date_range_form", redirect_path: hyrax.admin_analytics_work_reports_path %>
              <hr />
              <div class="row text-center">
                <div class="nav nav-pills btn-group" role="group">
                  <a button id='summary-btn' class="btn btn-primary nav-link" type="button" href="#summary" data-toggle="pill">
                    Summary
                  </a>
                  <a button id='monthly-btn' class="btn btn-default nav-link" type="button" href="#monthly" data-toggle="pill">
                      Monthly
                  </a>
                </div>
              </div>
              <div class="tab-content">
                <h3 class="text-center">Custom Work Report</h3>
                <div class="tab-pane active" id="summary">
                  <%= render "summary" %>
                </div>
                <div class="tab-pane" id="monthly">
                  <h4 class="text-center">Month-by-month status for last 12 months through <%= Time.zone.today.strftime("%B %Y") %></h4>
                  <%= render "monthly_summary" %>
                </div>
              </div>

              <% if @top_works %>
                <div><%= render 'top_works' %></div>
              <% end %>

              <% if @top_file_set_downloads %>
                <div><%= render 'top_file_set_downloads' %></div>
              <% end %>

            </div>

          </div>
          <p class="text-center">This report was generated on <b><%= Time.zone.today.strftime("%B %d, %Y") %></b></p>

        </div>

      </div>
      <% else %>
        <div class="alert alert-warning" role="alert">
          Enable Analytics To View Reports
        </div>
     <% end %>
    </div>
  </div>
</div>
