<% provide :page_title, "Work Reports" %>

<% provide :page_header do %>
  <h1><span class="fa fa-bar-chart" aria-hidden="true"></span> <%= "Work Reports" %></h1>
<% end %>

<div class="row">
  <div class="col-sm-12">
    <div class="work-reports">

      <div class="panel panel-default">
        <%# TODO: Dynamic %>
        <div class="panel-heading">The repository contains <b>56 works</b>, which collectively have had <b>98,348 views</b> and <b>47,391 downloads</b>.</div>
        <div class="panel-body">
          <h2>Activity</h2>

          <div class="panel panel-default">
            <div class="panel-heading">Customize Report</div>
            <div class="panel-body">
             <%= render 'date_range_form' %>
              <hr />
              <div class="row text-center">
                <div class="nav nav-pills btn-group" role="group">
                  <a button class="btn btn-primary" type="button" href="#summary" class="nav-link active" data-toggle="pill">
                    Summary
                  </a>
                  <a button class="btn btn-default" type="button" href="#monthly" class="nav-link" data-toggle="pill">
                      Monthly
                  </a>
                </div>
              </div>
              <div class="tab-content">
                <h3 class="text-center">Custom Work Report</h3>
                <div class="tab-pane active" id="summary">
                  <%= render "summary" %>
                </div>
                <div class="tab-pane" id="monthly">
                  <h4 class="text-center">Month-by-month status for last 12 months through <%= Date.today.strftime("%B %Y") %></h4>
                  <%= render "hyrax/admin/analytics/monthly_pageviews" %>
                </div>
              </div>

            </div>

          </div>
          <%# TODO: Dynamic %>
          <p class="text-center">This report was generated on <b><%= Date.today.strftime("%B %d, %Y") %></b></p>

        </div>

      </div>

    </div>
  </div>
</div>