<% provide :page_title, "Work Report" %>

<% provide :page_header do %>
  <h1><span class="fa fa-bar-chart" aria-hidden="true"></span> <%= "Work Report" %></h1>
  <%# TODO: Dynamic %>
  <button class="btn btn-primary pull-right" href="#"><%#= return to work reports path %>Return to Work Reports</button>
<% end %>


<div class="row">
  <div class="col-sm-12">
    <div class="work-reports">

      <div class="panel panel-default">
        <%# TODO: Dynamic %>
        <div class="panel-heading">
          <div class="col-sm-10">
            <h3>Butterfly Research<%#= work title %></h3>
          </div>
          <div class="col-sm-2">
            <button class="btn btn-default pull-right" href="#"><%#= view work path %>View Work</button>
          </div>
        </div>

        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 col-md-5">
              <p>Depositied by <b>jsmith@institution.edu</b> <%#= user.email %> on <b>2015-05-14</b><%#= report creation date %></p>
              <p>Approved by: <b>repo-admin@institution.edu</b> on <b>2015-07-01</b><%#= approver.email %></p>
              <p>Published on <b>2015-07-01</b><%#= published date %></p>
              <p>Approved by: <b>2017-09-14</b><%#= last modified date %></p>
            </div>
            <div class="col-xs-12 col-md-5">
              <p>Work type: <b>Generic Work</b><%#= work type %></p>
              <p>Resource type: <b>Image</b><%#= resource type %></p>
              <p>Status: <b>Published</b><%#= status %></p>
              <p>Visibility: <b>Public</b><%#= visibility status aka Public/Private/etc. %></p>
            </div>
            <div class="col-xs-12 col-md-2">
              <button class="btn btn-primary pull-right" href="#"><%#= download button for report %>Export Report</button>
            </div>
              <%= render "work_counts" %>
          </div>

          <%= render "summary_work_activity" %>
          <%= render "monthly" %>
          <%= render "work_files" %>

        </div>

      </div>

    </div>
  </div>
</div>
