<!-- <form id="descriptive_metadata" action="<%= url_for(:action=>"update", :controller=>"assets", :content_type=>"mods_asset")%>" method="post" data-resourceType="mods_asset" accept-charset="utf-8"> -->
  <input type="hidden" name="_method" value="put"/>
  <input class="content_type" type="hidden" name="content_type" value="mods_asset" />
  
  <p id="title_field" class="fedora-text-field"><%= fedora_field_label("descMetadata", [:title_info, :main_title], "Title:") %>
    <%= fedora_text_field(@document_fedora,"descMetadata", [:title_info, :main_title], :multiple=>false, :required=>true) %></p>
  <p id="language_field" class="fedora-text-field"><%= fedora_field_label("descMetadata", [:title_info, :language], "Language:") %>
    <%= fedora_text_field(@document_fedora, "descMetadata", [:title_info, :language], :multiple=>false, :required=>false ) %></p>  
    
  <fieldset id="contributor_fields">
    <legend>Contributors</legend>
    <p class="legend-caption">An individual or organizational contributor to the work.</p>
    <%= render :partial => "contributors/index" %>
  </fieldset>

  <p id="abstract_field" class="fedora-text-area"><%= fedora_field_label("descMetadata", [:abstract], "Abstract:") %>
    <%= fedora_text_area(@document_fedora,"descMetadata", [:abstract], :multiple=>false, :required=>false) %></p>
    
  <fieldset id="topic_fields">
    <legend>Topics</legend>
    <p class="legend-caption">Add topics that describe the work.</p>
      <p class="fedora-text-field"><%= fedora_text_field(@document_fedora,"descMetadata", [:subject, :topic], :multiple=>true, :required=>false) %></p>
      <p class="fedora-text-field-add"><%= fedora_text_field_insert_link "descMetadata", [:subject, :topic] %></p>
  </fieldset>
  
  <%#= submit_tag 'Save Description', {:id => "submitDescription"} %>
<!-- </form> -->