<form id="document_metadata" action="<%= url_for(:action=>"update", :controller=>"assets", :content_type=>"mods_asset")%>" method="post" data-resourceType="mods_asset" accept-charset="utf-8">

  <div id="contributor_fields">
    <h3>Contributors</h3>
    <ol> 
      <%= render :partial=>"contributors/show_person", :collection=>@document_fedora.datastreams_in_memory["descMetadata"].find_by_terms(:person) %>
      <%= render :partial=>"contributors/show_organization", :collection=>@document_fedora.datastreams_in_memory["descMetadata"].find_by_terms(:organization) %>
      <%= render :partial=>"contributors/show_conference", :collection=>@document_fedora.datastreams_in_memory["descMetadata"].find_by_terms(:conference) %>
    </ol>    
  </div>

	<%= render :partial => "#{content_type}s/show_content" %>

  <dl id="metadata_view">	
  <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:title_info, :main_title]).first.empty? %>
    <dt>Title</dt>
    <dd class="title">
      <%= get_values_from_datastream(@document_fedora,"descMetadata", [:title_info, :main_title]) %>
    </dd>
  <% end %>

  <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:title_info, :language]).first.empty? %>
    <dt>Language</dt>
    <dd class="language">
      <%= get_values_from_datastream(@document_fedora,"descMetadata", [:title_info, :language]) %>
    </dd>
  <% end %>
  
  <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:abstract]).first.empty? %>
    <dt>Abstract</dt>
    <dd id="abstract">
      <%= get_values_from_datastream(@document_fedora,"descMetadata", [:abstract]) %>
    </dd>
  <% end %>

  <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:subject, :topic]).first.empty? %>
    <dt>Topic(s)</dt>
    <dd id="topic_tag" class="topic_tag">
      <%= get_values_from_datastream(@document_fedora,"descMetadata", [:subject, :topic]) %>
    </dd>
  <% end %>

</dl>

</form>