<div  class="activity-display">
  <table id="activity" class="table table-striped table-bordered">
    <thead>
      <tr>
        <th><%= t('.user_activity') %></th>
        <th class="activity-date"><%= t('.date') %></th>
      </tr>
    </thead>
    <tbody>
    <% valid_events = events.reject { |event| event[:action].blank? || event[:timestamp].blank? } %>
    <% if valid_events.empty? %>
      <tr>
        <td colspan="2"><%= I18n.t("hyrax.users.activity_log.no_user_activity", :default => "No user activity") %></td>
      </tr>
    <% else %>
      <% valid_events.each do |event| %>
        <tr>
          <td class="ensure-wrapped"><%= sanitize event[:action] %></td>
          <% time = Time.zone.at(event[:timestamp].to_i) %>
          <td data-sort="<%= time.getutc.iso8601(5) %>">
            <relative-time datetime="<%= time.getutc.iso8601 %>" title="<%= time.to_formatted_s(:standard) %>">
              <%= time.to_formatted_s(:long_ordinal) %>
            </relative-time>
          </td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>

