<div class="tab-pane active" id="contributions">
  <% if presenter.trophies.count > 0 %>
    <table>
      <% presenter.trophies.each do |t| %>
        <tr id="trophyrow_<%= t.id %>" class='highlighted-works'>
          <td>
            <%= link_to [main_app, t] do %>
              <%= image_tag t.thumbnail_path, width: 90 %>
            <% end %>
          </td>
          <td>
            <%= link_to t.to_s, [main_app, t] %>
            <% if presenter.current_user? %>
              <%= display_trophy_link current_user, t.id, class: 'glyphicon glyphicon-star', data: { removerow: true } do %>
                <span class='trophy-on glyphicon glyphicon-remove'></span>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <%= presenter.name %> has no highlighted works.
  <% end %>
</div>
