<div class="panel panel-default panel-user">
  <div class="panel-heading">
    <%= image_tag user.avatar.url(:thumb), width: 100 if user.avatar.present? %>
    <h3>
      <%= user.name %>
    </h3>
  </div>

  <div class="list-group">
    <%= render "hyrax/users/vitals", user: user %>

    <div class="list-group-item">
      <%= render 'hyrax/users/user_info', user: user %>
    </div>
  </div>

  <div class="panel-footer clearfix">
    <% if can? :edit, user %>
      <%= link_to hyrax.edit_dashboard_profile_path(user), class: "btn btn-default pull-right" do %>
        <span class="glyphicon glyphicon-edit"></span> <%= t("hyrax.edit_profile") %>
      <% end %>
    <% end %>
  </div>
</div>
