<dl id="user_info">

<% if user.orcid.present? %>
  <dt><%= orcid_label('profile') %></dt>
  <dd><%= link_to user.orcid, user.orcid, { target: '_blank' } %></dd>
<% end %>

<% if Hyrax.config.arkivo_api? && user.zotero_userid.present? %>
  <dt><%= zotero_label(html_class: 'profile') %></dt>
  <dd><%= link_to zotero_profile_url(user.zotero_userid), zotero_profile_url(user.zotero_userid), { target: '_blank' } %></dd>
<% end %>

<% if user.facebook_handle.present? %>
  <dt><span class="fa fa-facebook" aria-hidden="true"></span> Facebook Handle</dt>
  <dd><%= link_to user.facebook_handle, "http://facebook.com/#{user.facebook_handle}", {target:'_blank'} %></dd>
<% end %>

<% if user.twitter_handle.present? %>
  <dt><span class="fa fa-twitter" aria-hidden="true"></span> Twitter Handle</dt>
  <dd><%= link_to user.twitter_handle, "http://twitter.com/#{user.twitter_handle}", {target:'_blank'} %></dd>
<% end %>

<% if user.googleplus_handle.present? %>
  <dt><span class="fa fa-google-plus" aria-hidden="true"></span> Google+ Handle</dt>
  <dd><%= link_to user.googleplus_handle, "http://google.com/+#{user.googleplus_handle}", {target:'_blank'} %></dd>
<% end %>

<% if user.linkedin_handle.present? %>
  <dt><span class="fa fa-linkedin" aria-hidden="true"></span> LinkedIn</dt>
  <dd><%= link_to "#{@linkedInUrl}", "#{@linkedInUrl}", { target: '_blank' } %></dd>
<% end %>

  <dt><span class="fa fa-envelope" aria-hidden="true"></span> Email</dt>
  <dd><%= mail_to user.email %></dd>

  <% if user.chat_id %>
    <dt><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> Chat ID</dt>
    <dd><%= user.chat_id %></dd>
  <% end %>

  <% if user.website %>
    <dt><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Website(s)</dt>
    <dd><%= iconify_auto_link(user.website) %></dd>
  <% end %>

  <% if user.title %>
    <dt>Title</dt>
    <dd><%= user.title %></dd>
  <% end %>

  <% if user.admin_area %>
    <dt>Administrative Area</dt>
    <dd><%= user.admin_area %></dd>
  <% end %>

  <% if user.department %>
    <dt>Department</dt>
    <dd><%= user.department %></dd>
  <% end %>

  <% if user.office %>
    <dt>Office</dt>
    <dd><%= user.office %></dd>
  <% end %>

  <% if user.address %>
    <dt><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Address</dt>
    <dd><%= user.address %></dd>
  <% end %>

  <% if user.affiliation %>
    <dt>Affiliation</dt>
    <dd><%= user.affiliation %></dd>
  <% end %>

  <% if user.telephone %>
    <dt><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Telephone</dt>
    <dd><%= link_to_telephone(user) %></dd>
  <% end %>

</dl>
