<div id="search">
  <%= render 'search_form' %>
  <h1><%= application_name %> <%= t('.users') %></h1>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th><%= t('.avatar') %></th>
            <th class="sorts">
              <%= t('.user_name') %>
              <%= params[:sort] == "name desc" ? '(Z-A)' : '(A-Z)' %>
            </th>
            <th class="sorts">
              <%= t('.user_id') %>
              <%= params[:sort] == "login desc" ? '(Z-A)' : params[:sort] == "login" ? '(A-Z)' : '' %>
            </th>
            <th class="sorts">
              <%= t('.department') %>
              <%= params[:sort] == "department desc" ? '(Z-A)' : params[:sort] == "department" ? '(A-Z)' : '' %>
            </th>
            <th><%= t('.works_created') %></th>
        </tr>
    </thead>
    <tbody>
    <%= render partial: 'user_row', collection: @users, as: :user %>
    </tbody>
</table>
<div class="pager">
  <%= paginate @users, theme: 'blacklight', route_set: hyrax %>
</div>
