<h4 class="text-center"><%= @start_date.to_date.strftime("%B %d, %Y") %> through <%= @end_date.to_date.strftime("%B %d, %Y") %></h4>

<h4>Summary of user activity</h4>
<hr />

<table class="table table-striped">
  <thead>
  <tr>
    <th>&nbsp;</th>
    <th>Date Range</th>
    <th>Today</th>
    <th>This week</th>
    <th>This month</th>
    <th>This year</th>
    <th>All time</th>
  </tr>
  </thead>
  <tbody>
  <% if @downloads %>
    <tr>
      <td><b>Downloads</b></td>
      <td><%= @downloads.range(@start_date.to_date, @end_date.to_date) %></td>
      <td><%= @downloads.day %></td>
      <td><%= @downloads.week %></td>
      <td><%= @downloads.month %></td>
      <td><%= @downloads.year %></td>
      <td><%= @downloads.all %></td>
    </tr>
  <% end %>
  <% if @pageviews %>
    <tr>
      <td><b>Page Views</b></td>
      <td><%= @pageviews.range(@start_date.to_date, @end_date.to_date) %></td>
      <td><%= @pageviews.day %></td>
      <td><%= @pageviews.week %></td>
      <td><%= @pageviews.month %></td>
      <td><%= @pageviews.year %></td>
      <td><%= @pageviews.all %></td>
    </tr>
  <% end %>
  <% if @uniques %>
    <tr>
      <td><b>Unique Visitors</b></td>
      <td><%= @uniques.range(@start_date.to_date, @end_date.to_date) %></td>
      <td><%= @uniques.day %></td>
      <td><%= @uniques.week %></td>
      <td><%= @uniques.month %></td>
      <td><%= @uniques.year %></td>
      <td><%= @uniques.all %></td>
    </tr>
  <% end %>
  </tbody>
</table>