<% id = presenter.id %>

<section class="collection-title-row-wrapper"
  data-source="my"
  data-id="<%= id %>"
  data-colls-hash="<%= available_parent_collections_data(collection: presenter) %>"
  data-post-url="<%= hyrax.dashboard_create_nest_collection_within_path(id) %>"
  data-post-delete-url="<%= hyrax.dashboard_collection_path(id) %>">

    <div class="collection-title-row-content">
      <h2 class="collection-title">
        <% # List multiple titles %>
        <% presenter.title.each_with_index do |title, index| %>
          <span><%= title %></span>
        <% end %>
      </h2>
      <%= presenter.permission_badge %>
      <%= presenter.collection_type_badge %>
    </div>
    <div class="collection-title-row-content">
      <%= render 'show_actions', presenter: presenter %>
    </div>
</section>
