<div class="set-access-controls collections-forms relationships">

  <%# This Collection in Other Collections %>
  <section>
    <h3><%= t('.headlines.this_collection_in_other_collections') %></h3>
    <p><%= t('.this_collection_in_other_collections_description') %></p>

    <article class="form-inline select-wrapper">
      <%= button_tag '',
        class: 'btn btn-primary add-to-collection',
        onclick: "$('#add-to-collection-modal-#{@form.collection.id}').modal('show');",
        title: t('hyrax.collection.actions.nested_subcollection.desc'),
        type: 'button',
        data: { nestable: @form.nestable?,
                hasaccess: true } do %>
        <%= t('hyrax.collection.actions.nested_subcollection.button_label') %>
      <% end %>
    </article>

    <article class="collection-list-wrapper">
      <% if @form.list_parent_collections.any? %>
        <p><strong><%= t('.collection_is_subcollection_description') %></strong></p>
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th><%= t('.table.collection_title') %></th>
              <th><%= t('.table.action') %></th>
            </tr>
          </thead>
          <tbody>
            <% @form.list_parent_collections.each do |document| %>
              <tr>
                <td>
                  <%= link_to document, [hyrax, :dashboard, document], id: "src_copy_link_#{document.id}" %>
                </td>
                <td><button class="btn btn-sm btn-danger remove-from-collection-button"><%= t('.buttons.remove_from_collection') %></button></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        </p>
      <% end %>
    </article>
  </section>

  <%# Other Collections in This Collection %>
  <section>
    <h3><%= t('.headlines.other_collections_in_this_collection') %></h3>
    <p><%= t('.add_other_collections_as_sub_collections_description') %></p>

    <article class="form-inline select-wrapper">
      <%= button_tag '',
        class: 'btn btn-primary add-subcollection',
        onclick: "$('#add-subcollection-modal-#{@form.collection.id}').modal('show');",
        title: t('hyrax.collection.actions.nest_collections.desc'),
        type: 'button',
        data: { nestable: @form.nestable?,
                hasaccess: true } do %>
        <%= t('hyrax.collection.actions.nest_collections.button_label') %>
      <% end %>
    </article>

    <article class="form-inline select-wrapper">
      <%= link_to t('hyrax.collection.actions.add_new_nested_collection.label'),
        hyrax.dashboard_new_subcollection_under_path(parent_id: @form.collection.id),
        title: t('hyrax.collection.actions.add_new_nested_collection.desc'),
        class: 'btn btn-primary',
        data: { turbolinks: false } %>
    </article>

    <article class="collection-list-wrapper">
      <% if @form.list_child_collections.any? %>
        <p><strong><%= t('.sub_collections_of_collection_description') %></strong></p>
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th><%= t('.table.collection_title') %></th>
              <th><%= t('.table.action') %></th>
            </tr>
          </thead>
          <tbody>
            <% @form.list_child_collections.each do |document| %>
              <tr>
                <td>
                  <%= link_to document, [hyrax, :dashboard, document], id: "src_copy_link_#{document.id}" %>
                </td>
                <td><button class="btn btn-sm btn-danger remove-sub-collection-button"><%= t('.buttons.remove_this_sub_collection') %></button></td>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </article>

  </section>

  <%# Render modals %>
  <%= render 'modal_remove_from_collection' %>
  <%= render 'modal_remove_sub_collection' %>
  <%= render 'modal_add_to_collection', id: @form.collection.id, source: 'edit' %>
  <%= render 'modal_add_subcollection', id: @form.collection.id, source: 'edit' %>
</div>
