<div role="dialog" class="modal collection-list-modal fade disable-unless-selected" id="collection-list-container" tabindex="-1" aria-labelledby="col_add_title">
  <div class="modal-dialog text-left">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="col_add_title"><%= t("hyrax.collection.select_form.title") %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <% if user_collections.blank? %>
            <em> <%= t("hyrax.collection.select_form.no_collections") %></em><br /><br /><br /><br />
          <% else %>
            <div class="collection-list">
              <div class="form-group">
                <p><%= t("hyrax.collection.select_form.select_heading") %></p>
                <% if @add_works_to_collection.present? %>
                  <%= text_field_tag 'member_of_collection_label', @add_works_to_collection_label, disabled: true %>
                  <%= hidden_field_tag 'member_of_collection_ids', @add_works_to_collection %>
                <% else %>
                  <select name="member_of_collection_ids" id="member_of_collection_ids" class="form-control collection-select2">
                    <option value=""></option>
                    <% available_collections(work: @presenter&.solr_document).each do |coll| %>
                      <option value="<%= coll.id %>"><%= coll.title.first %></option>
                    <% end %>
                  </select>
                <% end %>
              </div>
            </div><!-- collection-list -->
          <% end %> <!-- else -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t("hyrax.collection.select_form.close") %></button>
          <% if user_collections.blank? %>
              <% # TODO: Uncomment the following line when errors with adding works to a new collection are resolved.  See Issue hyrax#3088 %>
              <% # = render 'hyrax/dashboard/collections/button_create_collection', label: t("hyrax.collection.select_form.create") %>
          <% else %>
            <%= render 'hyrax/dashboard/collections/button_for_update_collection', label: t("hyrax.collection.select_form.update"), collection_id: 'collection_replace_id' %>
            <% # TODO: Uncomment the following line when errors with adding works to a new collection are resolved.  See Issue hyrax#3088 %>
            <% # = render 'hyrax/dashboard/collections/button_create_collection', label: t("hyrax.collection.select_form.create_new") %>
          <% end %>
        </div>
      </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
