<table class="table table-striped collections-list-table collection-works-table">
  <caption class="sr-only"><%= t('.list_items_in_collection') %></caption>
  <thead>
  <tr>
    <th>&nbsp;</th>
    <th class="title-column"><%= t('.title') %></th>
    <th><%= t('.date_added') %></th>
    <th><%= t('.owner') %></th>
    <th><%= t('.visibility') %></th>
    <% if current_user %>
      <th><%= t('.action') %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
    <%= render partial: 'show_document_list_row', collection: documents, as: :document %>
  </tbody>
</table>
