<div class="btn-group">
  <button class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown"><%= t('.select') %> <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right">
    <% if can?( :edit, document ) && !workflow_restriction?(@presenter) %>
      <li class="dropdown-item">
        <%= link_to [main_app, :edit, document],
                    class: "itemicon itemedit",
                    title: t('hyrax.collection.document_list.edit'),
                    id: "edit_work_link_#{document.id}" do %>
          <i class="fa fa-pencil" aria-hidden="true"></i> <%= t('hyrax.collection.document_list.edit') %>
        <% end %>
      </li>
    <% end %>
    <li class="dropdown-item">
      <%= display_trophy_link(current_user, document.id) do |text| %>
        <i class="fa fa-star" aria-hidden="true"></i> <%= text %>
      <% end %>
    </li>
  </ul>
</div>
