<h2 class="sr-only"><%= t('hyrax.collection.actions.header') %></h2>

<div class="row button-row-top-two-column">
    <div class="col-sm-8">
        <% unless has_collection_search_parameters? %>
            <%= render 'show_add_items_actions', presenter: presenter %>
        <% end %>
    </div>
    <div class="col-sm-4 text-right">
        <% if can? :edit, presenter.solr_document %>
            <%= link_to hyrax.edit_dashboard_collection_path(presenter),
                        title: t('hyrax.collection.actions.edit.desc'),
                        class: 'btn btn-default' do %>
                <%= t('hyrax.collection.actions.edit.label') %>
            <% end %>
        <% end %>
        <% if can? :destroy, presenter.solr_document %>
            <%= link_to hyrax.dashboard_collection_path(presenter),
                        title: t('hyrax.collection.actions.delete.desc'),
                        class: 'btn btn-danger',
                        data: { confirm: t('hyrax.collection.actions.delete.confirmation'),
                                method: :delete } do %>
                <%= t('hyrax.collection.actions.delete.label') %>
            <% end %>
        <% end %>
    </div>
</div>

