<div class="btn-group">
  <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><%= t('.select') %> <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right" role="menu">
    <% if can?( :edit, document ) && !workflow_restriction?(@presenter) %>
      <%= link_to [main_app, :edit, document],
                  class: "itemicon itemedit",
                  role: 'menuitem',
                  title: t('hyrax.collection.document_list.edit'),
                  id: "edit_work_link_#{document.id}" do %>
        <li class="dropdown-item">
          <i class="fa fa-pencil" aria-hidden="true"></i> <%= t('hyrax.collection.document_list.edit') %>
        </li>
      <% end %>
    <% end %>
    <%= display_trophy_link(current_user, document.id, role: 'menuitem') do |text| %>
      <li class="dropdown-item">
        <i class="fa fa-star" aria-hidden="true"></i> <%= text %>
      </li>
    <% end %>
  </ul>
</div>
