<% provide :page_title, construct_page_title(@presenter.title) %>

<% provide :page_header do %>
  <h1><span class="fa fa-file"></span> <%= t('.header') %></h1>
<% end %>

<div itemscope itemtype="http://schema.org/CollectionPage" class="row collection">
  <header>
    <div class="col-md-12">
      <%= render 'collection_title', presenter: @presenter %>
    </div>
  </header>

  <div class="col-xs-3">
      <%= render 'hyrax/collections/media_display', presenter: @presenter %>
      <%= link_to t('.public_view_label'), collection_path(id: @presenter.id) %>
  </div>
  <div>
      <%= render 'hyrax/collections/collection_description', presenter: @presenter %>
  </div>
  <div class="col-md-12">
    <% unless has_collection_search_parameters? %>
      <%= render 'show_descriptions' %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12 h2">
    <% if has_collection_search_parameters? %>
        <%= t('.search_results') %>
    <% end %>
  </div>
  <div class="col-xs-6 col-md-5 col-lg-6 pull-right">
    <%# TODO: leaving this as it was causes rerouting to the public show page. needs work %>
    <%= render 'hyrax/collections/search_form', presenter: @presenter %>
  </div>
</div>

<% if @presenter.collection_type_is_nestable? %>
  <div class="row">
    <div class="col-md-12 h2">
      <%= t('.subcollection_count') %> (<%= @subcollection_count %>)
    <article class="form-inline select-wrapper">
      <%= render 'show_subcollection_actions', presenter: @presenter %>
    <article>
    </div>
  </div>
  <%= render 'subcollection_list', collection: @subcollection_docs %>
<% end %>

<div class="row">
  <div class="col-md-12 h2">
    <%= t('.item_count') %> (<%= @members_count %>)
    <%= render 'show_add_items_actions', presenter: @presenter %>
  </div>
</div>

<div class="col-md-12">
  <%= render 'sort_and_per_page', collection: @presenter %>
  <%= render_document_index @member_docs %>
  <%= render 'hyrax/collections/paginate' %>
</div>

<% if @presenter.collection_type_is_nestable? %>
  <%= render 'hyrax/my/collections/modal_add_to_collection', id: @presenter.id, source: 'show' %>
  <%= render 'hyrax/my/collections/modal_add_subcollection', id: @presenter.id, source: 'show' %>
<% end %>
