<% provide :page_title, construct_page_title(@presenter.title) %>

<% provide :page_header do %>
  <h1><span class="fa fa-file"></span> <%= t('.header') %></h1>
<% end %>

<div itemscope itemtype="http://schema.org/CollectionPage" class="row collection">
  <header>
    <div class="col-md-12">
      <%= render 'collection_title', presenter: @presenter %>
    </div>
  </header>

  <div class="col-xs-3">
      <%= render 'hyrax/collections/media_display', presenter: @presenter %>
      <%= link_to t('.public_view_label'), collection_path(id: @presenter.id) %>
  </div>
  <div>
      <%= render 'hyrax/collections/collection_description', presenter: @presenter %>
  </div>

  <div class="col-md-12">
    <% unless has_collection_search_parameters? %>
      <%= render 'show_descriptions' %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12 h2">
    <% if has_collection_search_parameters? %>
        <%= t('hyrax.collections.search_results') %>
    <% else %>
        <%= t('.item_count') %> (<%= @presenter.total_items %>)
    <% end %>
    <%= render 'show_add_items_actions', presenter: @presenter %>
  </div>
</div>

<div class="col-xs-6 col-md-5 col-lg-6 pull-right">
  <%= render 'hyrax/collections/search_form', presenter: @presenter %>
</div>

<div class="col-md-12">
  <%= render 'sort_and_per_page', collection: @presenter %>
  <%= render_document_index @member_docs %>
  <%= render 'hyrax/collections/paginate' %>
</div>
