<% provide :page_title, construct_page_title(@presenter.title) %>

<% provide :page_header do %>
  <h1><span class="fa fa-file"></span> <%= t('.header') %></h1>
<% end %>

<div class="collections-wrapper">
  <section class="panel panel-default collections-panel-wrapper admin-show-page">
    <div class="panel-heading">
      <%= render 'collection_title', presenter: @presenter %>
    </div>

    <div class="panel-body">
      <section>
        <div itemscope itemtype="http://schema.org/CollectionPage" class="row collection">
          <div class="col-sm-3 text-center">
              <%= render 'hyrax/collections/media_display', presenter: @presenter %>
              <%= link_to t('.public_view_label'), collection_path(id: @presenter.id) %>
          </div>
          <div class="col-sm-9 collection-description-wrapper">
            <!-- Parent Collection(s) -->
            <% if @presenter.collection_type_is_nestable? && @presenter.parent_collection_count > 0 %>
                <h3><%= t('.parent_collection_header') %> (<%= @presenter.parent_collection_count %>)</h3>
                <section class="parent-collections-wrapper">
                <%= render 'hyrax/dashboard/collections/show_parent_collections', presenter: @presenter %>
              </section>
            <% end %>

            <!-- Collection Description(s) -->
            <section>
              <%= render 'hyrax/collections/collection_description', presenter: @presenter %>
            </section>

            <% unless has_collection_search_parameters? %>
              <%= render 'show_descriptions' %>
            <% end %>
          </div>
        </div>
      </section>

      <!-- Search -->
      <section class="collections-search-wrapper">
        <div class="row">
          <div class="col-sm-8">
            <%# TODO: leaving this as it was causes rerouting to the public show page. needs work %>
            <%= render 'hyrax/collections/search_form', presenter: @presenter %>
          </div>
        </div>
        <% if has_collection_search_parameters? %>
            <%= t('.search_results') %>
        <% end %>
      </section>

      <!-- Subcollections -->
      <% if @presenter.collection_type_is_nestable? %>
        <section class="sub-collections-wrapper">
          <h3><%= t('.subcollection_count') %> (<%= @subcollection_count %>)</h3>
          <div class="row">
            <div class="col-sm-6">
              <%= render 'subcollection_list', collection: @subcollection_docs %>
            </div>
            <div class="col-sm-6">
              <%= render 'show_subcollection_actions', presenter: @presenter %>
            </div>
          </div>
        </section>
      <% end %>

      <!-- Works -->
      <section class="works-wrapper">
        <h3><%= t('.item_count') %> (<%= @members_count %>)</h3>
        <%= render 'show_add_items_actions', presenter: @presenter %>

        <%= render 'sort_and_per_page', collection: @presenter %>
        <%= render_document_index @member_docs %>
        <%= render 'hyrax/collections/paginate' %>
      </section>

    </div><!-- /panel-body -->
  </section><!-- /collections-panel-wrapper -->
</div><!-- /collections-wrapper -->

<% if @presenter.collection_type_is_nestable? %>
  <%= render 'hyrax/my/collections/modal_add_to_collection', id: @presenter.id, source: 'show' %>
  <%= render 'hyrax/my/collections/modal_add_subcollection', id: @presenter.id, source: 'show' %>
<% end %>

<%= render '/shared/select_work_type_modal', create_work_presenter: @presenter.create_work_presenter if @presenter.draw_select_work_modal? %>
