<%- form_tag(url_for(:controller=>"assets", :action=>"update", :id=>params[:id]), :class => "step") do -%>
  <%= hidden_field_tag("_method","put", :id=>"assets_method") %>
  <p id="abstract_field" class="fedora-text-area">
    <%= fedora_field_label("descMetadata", [:abstract], "Abstract") %>
    <span class="field-caption">Provide the abstract of the work, or if none exists, a short summary.</span>
    <%= fedora_text_area(@document_fedora,"descMetadata", [:abstract], :multiple=>false) %>
  </p>

  <fieldset id="peer_reviewed_fieldset">
    <legend>Peer Reviewed</legend>
    <%= fedora_checkbox(@document_fedora, "descMetadata", [:peer_reviewed], :default_values=>{:checked=>"peer reviewed",:unchecked=>""}) %>
    <%= fedora_field_label("descMetadata", [:peer_reviewed], "This work has undergone a peer review process") %>
  </fieldset>	

  <p id="notes_field" class="fedora-text-area">
    <%= fedora_field_label("descMetadata", [:note], "Notes") %>
    <span class="field-caption">Any additional notes or comments about the work.</span>
    <%= fedora_text_area(@document_fedora,"descMetadata", [:note], :multiple=>false) %>
  </p>

  <fieldset id="keyword_fields">
  	<legend>Keywords</legend>
  	<p class="legend-caption">Add keywords to describe the work.</p>
    <p class="fedora-text-field">
      <%= fedora_text_field(@document_fedora,"descMetadata", [:subject, :topic], :multiple=>true, :required=>false ) %>
    </p>
  	<p class="fedora-text-field-add">
  	  <%-
  	    # fedora_text_field_insert_link "descMetadata", [:subject, :topic] 
  	  -%>
  	</p>
  </fieldset>

  <p id="release_date_field" class="fedora-text-field">
    <%= fedora_field_label("descMetadata", [:embargo,:embargo_release_date], "Release Date") %>
    <span class="field-caption">Choose when to make your work's files available.</span>
    <%= fedora_text_field(@document_fedora, "rightsMetadata", [:embargo, :embargo_release_date], :multiple => false, :required=>false ) %>
  </p>
  <%= hidden_field_tag(:wf_step, params[:wf_step], :id => "additional_wf_step") %>
  <%= hidden_field_tag(:new_asset, true, :id => "additional_new_asset") if params[:new_asset] %>
  <%= hidden_field_tag(:content_type,"mods_asset", :id => "additional_content_type") %>
  <%= submit_tag(submit_name, :name=>"continue", :class=>"save-submit") %>
  <%= submit_tag("Save and Finish", :name=>"finish", :class=>"save-submit") unless params[:new_asset] %>
<%- end -%>