<div class="document_viewer" id="cover_container">
  <div class="multipleEdit">
    <div id="loading" style="display:none;">
      <img src="/plugin_assets/hydra-head/images/ajax-loader.gif" width="32" height="32" alt="Saving..." />
    </div>
    
  <div id="accordion"  style="height:600px;">

     <h2 class="section-title"><a href="#">Describe the Asset</a></h2>
     <%= render :partial => 'mods_assets/edit_description' %>

     	<h2 class="section-title"><a href="#">Upload Files</a></h2>
     <div id="uploads">  			
				<%= render :partial => "file_assets/index", :locals => { :file_assets => @file_assets} %>
     </div>

      <h2 class="section-title"><a href="#">Set permissions</a></h2>
      <div id="permissions_editor">
        <%= render :partial => "permissions/index", :locals => {:document => document, :asset_id=>params[:id]} %>
      </div> 

  </div>

    <%#
    // This hidden form really belongs elsewhere, but putting it inside of an 
    // accordion section un-hides it, so I stuck it here for now. -MZ
    %>
    <form id="new_contributor" action="<%=url_for(:action=>"create", :controller=>"contributors", :asset_id=>params[:id]) %>" method="post" style="display:none;">
      <input class="content_type" type="hidden" name="content_type" value="mods_asset" />
      <label for="contributor_type">Contributor Type</label>
      <select id="contributor_type" name="contributor_type">
        <option value="person">Person</option>
        <option value="organization">Organization</option>
        <option value="conference">Conference</option>
      </select>
      <input type="submit" value="Add Contributor" />
    </form>

      
  </div>
</div>

<% sidebar_items << capture do %>
  <%# = render :partial=>"catalog/_show_partials/facets", :locals=>{:document=>document, :facets_display_heading => "This document refers to:"} %>
  <%# = render :partial=>'facets' %>
  <%= delete_asset_link(params[:id], "dataset") %>
<% end %>

<%= async_load_tag(asset_file_assets_path(params[:id]), 'uploads') %>
