<% journal = edit_journal %>
<% journal_counter = edit_journal_counter %>
<% base_id = "journal_#{journal_counter}" %>

  <fieldset id="citation_fields">
  	<legend>Article Citation</legend>
  	
		<p id="journal_title_field" class="fedora-text-field">		
	    <%= fedora_field_label("descMetadata", [{:journal => journal_counter},:title_info,:main_title], "Journal Title<span class=\"required-note\">required</span>") %>
	    <%= fedora_text_field(@document_fedora,"descMetadata", [{:journal => journal_counter}, :title_info, :main_title], :multiple=>false, :required=>true ) %>		    
		</p>
		
		<fieldset id="citation_info">
		  
      <p id="citation_volume_field" class="fedora-text-field">
        <%= fedora_field_label("descMetadata", [{:journal => journal_counter},:issue,:volume], "Volume") %>
        <%= fedora_text_field(@document_fedora,"descMetadata", [{:journal => journal_counter},:issue,:volume], :multiple=>false, :required=>false ) %>
      </p>
      
      <p id="citation_issue_field" class="fedora-text-field">
        <%= fedora_field_label("descMetadata", [{:journal => journal_counter},:issue,:level], "Issue") %>
        <%= fedora_text_field(@document_fedora,"descMetadata", [{:journal => journal_counter},:issue,:level], :multiple=>false, :required=>false ) %>
      </p>
      
      <p id="citation_start_page_field" class="fedora-text-field">
        <%= fedora_field_label("descMetadata", [{:journal => journal_counter},:issue,:start_page], "Start Page") %>
        <%= fedora_text_field(@document_fedora,"descMetadata", [{:journal => journal_counter},:issue,:start_page], :multiple=>false, :required=>false ) %>
      </p>
      
      <p id="citation_end_page_field" class="fedora-text-field">
        <%= fedora_field_label("descMetadata", [{:journal => journal_counter},:issue,:end_page], "End Page") %>
        <%= fedora_text_field(@document_fedora,"descMetadata", [{:journal => journal_counter},:issue,:end_page], :multiple=>false, :required=>false ) %>
      </p>
    </fieldset>

		<p id="publisher_field" class="fedora-text-field">
	  	<%= fedora_field_label("descMetadata", [{:journal => journal_counter},:origin_info,:publisher], "Publisher") %>
      <%= fedora_text_field(@document_fedora,"descMetadata", [{:journal => journal_counter},:origin_info, :publisher], :multiple=>false, :required=>false ) %>
		</p>

	  <p id="isbn_field" class="fedora-text-field">
	  	<%= fedora_field_label("descMetadata", [{:journal => journal_counter},:issn], "ISSN") %>
	  	<%= fedora_text_field(@document_fedora,"descMetadata", [{:journal => journal_counter}, :issn], :multiple=>false, :required=>false ) %>
	  </p>

		<p id="publication_date_field" class="fedora-text-field">
		  <%= fedora_field_label("descMetadata", [{:journal => journal_counter},:issue,:publication_date], "Publication Date") %>
      <%= fedora_text_field(@document_fedora,"descMetadata", [{:journal => journal_counter},:issue,:publication_date], :multiple=>false, :required=>false ) %>
		</p>
	
		<p id="publication_url_field" class="fedora-text-field">
		  <%= fedora_field_label("descMetadata", [:location, :url], "Publication URL") %>
  		<span class="field-caption">Provide the full URL to any published version of the work.</span>		
      <%= fedora_text_field(@document_fedora,"descMetadata", [:location, :url], :multiple=>false, :required=>false ) %>
		</p>
		
</fieldset>
