<div id="title_div" style="float:left;width:300px;"><h2><%= counter + 1 %>. <%= link_to_document(document, :label => Blacklight.config[:show][:heading].to_sym, :counter => (counter + 1 + @response.params[:start].to_i)) %></h2></div>
<div id="type_div" style="float:right;"><%= (document.get(:medium_t) || document_type(document)).gsub("Hydrangea","") %></div>
<div id="content_div" style="float:left;">
	<dl id="index_list">
  <dt>Author(s):</dt>
    <dd>
      <%= author_list(document).join(" ") %>
    </dd>
  <dt>Published:</dt>
	<dd>
    <%= journal_info(document) %>
  </dd>
	<dt>Abstract:</dt>
	<dd>
		<%= short_abstract(document) %>
	</dd>
  <dt>Files:</dt>
	<dd>
    <%-
       file_count = get_file_asset_count(document) 
       file_desc =  get_file_asset_description(document)
       file_desc.concat('.') unless file_desc[-1] == '.'
    -%>
    <% if file_count > 0 %>
       <%=  file_desc %> 
       <%= file_count %> file<%= file_count > 1 ? "s" : "" %>. 
       [<%= link_to("see all", catalog_path(document[:id], :files=>true)) %>]
    <% else %>
      No files.
    <% end %>
  </dd>
  <dt>Admin:</dt>
    <dd>
      <%= admin_info(document) %>
    </dd>
	</dl>
</div>
