
<div class="document_viewer" id="cover_container">

	<h1>
		<% unless get_values_from_datastream(@document_fedora,"descMetadata", [:title_info, :main_title]).first.empty? %>
	      <%= get_values_from_datastream(@document_fedora,"descMetadata", [:title_info, :main_title]).first %>
		<% else %>
			<%= params[:id] %>
		 <% end %>
	</h1>

    <%= render :partial => 'mods_assets/show_description' %>


	<% unless @document_fedora.file_objects(:response_format=>:solr).hits.empty? %>
		<fieldset><legend>Files</legend>
	    <div class="uploads" id="<%= format_pid(params[:id]) %>">	
		  <table id="file_assets" class="multipleEdit">
		    <tr>
		      <th>File Name</th>
		      <th>Size</th>
		      <th>Uploaded</th>
		    </tr>
		
			<% @document_fedora.file_objects(:response_format=>:solr).each do |result| %>
			<tr class="file_asset" >
			  <td>
			    <%= link_to result[solr_name("title", :text)], file_asset_path(result["id"]) %>
			  </td>
			  <td>
			    <%= result[solr_name("extent", :text)] %>
			  </td>
			  <td>
			    <% dt = DateTime.parse(result[ solr_name("system_create", :date)] ) %>
			    <%= format_date dt %>
			  </td>
			</tr>
			<% end %>		
		  </table>	
			</div>
 		</fieldset>
	<% end %>

</div>
