<% journal = show_journal %>
<% journal_counter = show_journal_counter %>
<% base_id = "journal_#{journal_counter}" %>

  <% unless get_values_from_datastream(@document_fedora,"descMetadata", [{:journal => journal_counter}, :title_info, :main_title]).first.empty? %>

    <div class="journal">
      <%= get_values_from_datastream(@document_fedora,"descMetadata", [{:journal => journal_counter}, :title_info, :main_title]).first.strip %><% unless get_values_from_datastream(@document_fedora,"descMetadata", [{:journal => journal_counter},:issue,:publication_date]).first.empty? -%>, <%= get_values_from_datastream(@document_fedora,"descMetadata", [{:journal => journal_counter},:issue,:publication_date]) %>
	<% end %>
   </div>
  <% end %>

  <% unless get_values_from_datastream(@document_fedora,"descMetadata", [{:journal => journal_counter},:origin_info, :publisher]).first.empty? %>
    <div class="publisher">
      <%= get_values_from_datastream(@document_fedora,"descMetadata", [{:journal => journal_counter},:origin_info, :publisher]) %>
    </div>
  <% end %>

  <% unless get_values_from_datastream(@document_fedora,"descMetadata", [{:journal => journal_counter}, :issn]).first.empty? %>
    <div class="issn">
	  <%#= fedora_field_label("descMetadata", [{:journal => journal_counter}, :issn], "ISSN:") %>
      <%= get_values_from_datastream(@document_fedora,"descMetadata", [{:journal => journal_counter}, :issn]) %>
    </div>
  <% end %>

    <% unless get_values_from_datastream(@document_fedora,"descMetadata", [{:journal => journal_counter},:issue,:start_page]).first.empty? %>
	<div class="citation">
        <%#= fedora_field_label("descMetadata", [{:journal => journal_counter},:issue,:start_page], "Pages:") %>
        <%= get_values_from_datastream(@document_fedora,"descMetadata", [{:journal => journal_counter},:issue,:start_page]) %>
	    <% unless get_values_from_datastream(@document_fedora,"descMetadata", [{:journal => journal_counter},:issue,:end_page]).first.empty? %>
	        - <%= get_values_from_datastream(@document_fedora,"descMetadata", [{:journal => journal_counter},:issue,:end_page]) %>
	    <% end %>
	</div>
    <% end %>
    <% journal_issue_values =  get_values_from_datastream(@document_fedora,"descMetadata", [{:journal => journal_counter},:issue,:level]).inspect %>
    <% unless journal_issue_values.empty? || journal_issue_values.first.empty? %>
	<div class="issue">
        <%#= fedora_field_label("descMetadata", [{:journal => journal_counter},:issue,:level], "Issue:") %>
        <%= get_values_from_datastream(@document_fedora,"descMetadata", [{:journal => journal_counter},:issue,:level]) %>
	</div>
    <% end %>

