%dl
  %dt
    = fedora_field_label("descMetadata", [:data_type], "Type:")
  %dd.data_type
    = fedora_select(@document_fedora,"descMetadata", [:data_type], :choices=>Hydra::ModsDataset.data_type_choices.sort)
  %dt
    %label Timespan
  %dd.multi_inline.timespan
    %ul
      %li.timespan_start
        = fedora_field_label("descMetadata", [:timespan_start], "Start")
        = fedora_text_field(@document_fedora,"descMetadata", [:timespan_start], :multiple=>false)
      %li.timespan_end
        = fedora_field_label("descMetadata", [:timespan_end], "End")
        = fedora_text_field(@document_fedora,"descMetadata", [:timespan_end], :multiple=>false)     
  %dt
    = fedora_field_label("descMetadata", [:location], "Location:")
  %dd.location
    = fedora_text_field(@document_fedora,"descMetadata", [:location], :multiple=>false)
  %dt
    = fedora_field_label("descMetadata", [:methodology], "Methodology:")
  %dd.methodology
    = fedora_text_area(@document_fedora,"descMetadata", [:methodology], :multiple=>false)