<% if user_signed_in? %>
  <ul class="nav navbar-nav">
    <% if current_ability.can_create_any_work? %>
      <li class="dropdown">
        <%= link_to hyrax.my_works_path, role: 'button', data: { toggle: 'dropdown' }, aria: { haspopup: true, expanded: false } do %>
          <span class="fa fa-cube"></span> <%= t("hyrax.toolbar.works.menu") %> <span class="caret"></span>
        <% end %>
        <ul class="dropdown-menu">
          <li><%= link_to t("hyrax.toolbar.works.my"), hyrax.my_works_path %></li>
          <% if create_work_presenter.many? %>
            <% # launch the type selector modal %>
            <li>
              <%= link_to(
                    t("hyrax.toolbar.works.new"),
                    '#',
                    data: { behavior: "select-work", target: "#worktypes-to-create", 'create-type' => 'single' },
                    class: "item-option contextual-quick-classify",
                    role: 'menuitem'
                  ) %>
            </li>
            <li>
              <%= link_to(
                    t("hyrax.toolbar.works.batch"),
                    '#',
                    data: { behavior: "select-work", target: "#worktypes-to-create", 'create-type' => 'batch' },
                    class: "item-option contextual-quick-classify",
                    role: 'menuitem'
                  ) %>
            </li>
          <% else %>
            <% # simple link to the first work type %>
            <li>
            <%= link_to(
                  t("hyrax.toolbar.works.new"),
                  new_polymorphic_path([main_app, create_work_presenter.first_model]),
                  class: "item-option contextual-quick-classify",
                  role: 'menuitem'
                ) %>
            </li>
            <li><%= link_to t("hyrax.toolbar.works.batch"),
                            hyrax.new_batch_upload_path(payload_concern: create_work_presenter.first_model) %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>

    <% if can?(:create, Collection) %>
      <li class="dropdown">
        <%= link_to hyrax.my_collections_path, role: 'button', data: { toggle: 'dropdown' }, aria: { haspopup: true, expanded: false } do %>
          <span class="<%= Hyrax::ModelIcon.css_class_for(Collection) %>"></span> <%= t("hyrax.toolbar.collections.menu") %> <span class="caret"></span>
        <% end %>
        <ul class="dropdown-menu">
          <li><%= link_to t("hyrax.toolbar.collections.my"), hyrax.my_collections_path %></li>
          <li><%= link_to t("hyrax.toolbar.collections.new"), hyrax.new_collection_path %></li>
        </ul>
      </li>
    <% end %>
  </ul>
<% end %>
