  <div class="navbar alert alert-info">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">PSU Repo</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
          <ul class="nav pull-right">
            <li class="divider-vertical"></li>
<%# users are always logged in...  %>
<% if current_user %>
              <li class="dropdown">
  <!--
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Preferences<b class="caret"></b></a> 
              <ul class="dropdown-menu">
                <li><%# link_to current_user.to_s, edit_user_registration_path %></li>
                -->
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.to_s %> <b class="caret"></b></a> 
              <ul class="dropdown-menu">
                <!--<li><%#= link_to 'my account info', edit_user_registration_path %></li>-->
                <li><%= link_to 'my dashboard', dashboard_path  %></li>
                <li><%= link_to 'upload', new_generic_file_path  %></li>
                <li><%= link_to 'your bookmarks', bookmarks_path %></li>
                <li><%= link_to "saved searches", saved_searches_path %></li>
                <!--<li><%# link_to "Selected Items", folder_index_path %>(<span id="folder_number"><%= "#{session[:folder_document_ids] ? session[:folder_document_ids].length : 0}" %></span>)</li>-->
                <li><%= link_to "selected items", folder_index_path %></li>
                <li><%= link_to "search history", search_history_path %></li>
                <li><%= link_to "log out", 'https://webaccess.psu.edu/cgi-bin/logout' %></li>
              </ul>
<% else %>
                <li><%= link_to "Login", 'https://webaccess.psu.edu' %></li>
<% end %>
            </li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div>
    </div><!-- /navbar-inner -->
  </div><!-- /navbar -->
