<div id="masthead">
    <a id="logo" href="/"><img src="/site_images/logo_psuss.png" alt="PSU Scholar Sphere" /></a>
    <ul id="primary-menu">
      <li><a class="active" href="/">Home</a></li>
      <li><a href="/">About</a></li>
      <li><a href="/">Help</a></li>
      <li><a href="/">Contact</a></li>
<% if current_user %>
      <li class="signin">
        <a href="#" class="loggedin"><%= current_user.to_s %><img style="vertical-align:middle;" src="/site_images/icon_arrow_down.png" alt="more" /></a>
        <ul class="dropdown">
          <li><%= link_to 'my dashboard', dashboard_path  %></li>
          <li><%= link_to 'upload', new_generic_file_path  %></li>
          <li><%= link_to 'your bookmarks', bookmarks_path %></li>
          <li><%= link_to "saved searches", saved_searches_path %></li>
          <!--<li><%# link_to "Selected Items", folder_index_path %>(<span id="folder_number"><%= "#{session[:folder_document_ids] ? session[:folder_document_ids].length : 0}" %></span>)</li>-->
          <li><%= link_to "selected items", folder_index_path %></li>
          <li><%= link_to "search history", search_history_path %></li>
          <li><%= link_to "log out", logout_path %></li>
        </ul>
      </li>
<% else %>
      <li class="signin"><%= link_to "Login", ScholarSphere::Application::config.login_url %> 
<% end %>
    </ul>

    <% logger.info " controller = #{params[:controller]}" %>
    <% if params[:controller] == 'catalog' %>
    <% curpath = catalog_index_path %>
    <% else %>
    <% curpath = dashboard_path %>
    <% end %>
    
    <%= form_tag curpath, :method => :get, :id => "search-form-header" do %>
      <%= search_as_hidden_fields(:omit_keys => [:q, :search_field, :qt, :page]).html_safe %>    
      <%= text_field_tag :q, params[:q], :class => "q", :id => "search-field-header", :placeholder => "Type keywords in here"  %>
      <%= submit_tag 'Go', :id=>'search-submit-header' %>
    <% end %>
</div> <!-- /masthead -->
