- if current_user 

  - if current_user.can_be_superuser?
    - if current_user.is_being_superuser?(session)
      = link_to "Stop being superuser", superuser_path
    - else
      = link_to "Become superuser", superuser_path
    |
  = link_to "Log Out", logout_path 
  [
  = link_to current_user.login, user_path 
  ]
  - if current_user.last_search_url

    =# link_to('View your last search', catalog_index_path(current_user.last_search_url))

  =# link_to 'Your Bookmarks', bookmarks_path  

  =# link_to "Saved Searches", saved_searches_path
- else 
  = link_to 'Login', login_path

=# link_to "Search History", search_history_index_path 

- if current_user
  %div#create-asset-box
    %input#re-run-action{:type => "button", :value => "Add an article", :onclick => "javascript:location.href = '#{url_for(:action => "new", :controller => "assets", :content_type => "hydrangea_article")}'"}
    %button#select-asset{:type => "button"} Select type of content to create
    %ul#create-asset-menu
      %li{:onclick => "javascript:createAssetNavigateTo(this, '#{url_for(:action => "new", :controller => "assets", :content_type => "hydrangea_article")}');"} Add an article
      %li{:onclick => "javascript:createAssetNavigateTo(this, '#{url_for(:action => "new", :controller => "assets", :content_type => "hydrangea_dataset")}');"} Add a dataset
      %li{:onclick => "javascript:createAssetNavigateTo(this, '#{url_for(:action => "new", :controller => "assets", :content_type => "generic_image")}');"} Add an image
      %li{:onclick => "javascript:createAssetNavigateTo(this, '#{url_for(:action => "new", :controller => "assets", :content_type => "generic_content")}');"} Add generic content