<% organization = edit_organization %>
<% organization_counter = edit_organization_counter %>
<% organization_name = get_values_from_datastream(@document_fedora,'descMetadata', [{:organization=>organization_counter}, :namePart]).first %>
<% base_id = "organization_#{organization_counter}" %>
<% if @document_fedora.class.respond_to?(:organization_relator_terms) %>
  <% choices = @document_fedora.class.organization_relator_terms %>
<% else %>
  <% choices = Hydra::ModsArticle.organization_relator_terms %>
<% end %>

<dl class="organization contributor" id="<%= base_id %>">
  <dd class="multi_inline organization">
    <ul>
      <li>
        <%= fedora_field_label("descMetadata", [{:organization => organization_counter}, :role, :text], "Organization's Role:") %>
        <%= fedora_select(@document_fedora,"descMetadata", [{:organization => organization_counter}, :role, :text], :choices=>choices.values.sort) %>
      </li>
      <li>
        <%= fedora_field_label("descMetadata", [{:organization => organization_counter}, :namePart], "Organization") %>
        <%= fedora_text_field(@document_fedora,"descMetadata", [{:organization => organization_counter}, :namePart], :multiple=>false) %>
      </li>
    </ul>
    <% if (params[:action] == "edit" && !organization_name.empty?) %>
      <%= field_selectors_for("descMetadata", [{:person=>organization_counter}]) %>
      <a class="destructive destroy_contributor" href="<%= asset_contributor_path(@document_fedora.pid, "organization", organization_counter) %>" title="Delete '<%= organization_name %>"> Delete</a>
    <% end %>
  </dd>
</dl>

