<% person = edit_person %>
<% person_counter = edit_person_counter %>
<% person_name = "#{get_values_from_datastream(@document_fedora,'descMetadata', [{:person=>person_counter}, :first_name])} #{get_values_from_datastream(@document_fedora,'descMetadata', [{:person=>person_counter}, :last_name])}" %>
<% base_id = "person_#{person_counter}" %>
<% if @document_fedora.class.respond_to?(:person_relator_terms) %>
  <% choices = @document_fedora.class.person_relator_terms %>
<% else %>
  <% choices = Hydra::ModsArticle.person_relator_terms %>
<% end %>
  <fieldset class="person contributor" id="<%= base_id %>">
        <%- if @document_fedora.datastreams["descMetadata"].class.terminology.has_term?(:person, :computing_id) %>
        <p id="<%= base_id%>_computing_id_field" class="fedora-text-field">
          <%= fedora_field_label("descMetadata", [{:person=>person_counter}, :computing_id], "Computing ID") %>
          <%= fedora_text_field(@document_fedora,"descMetadata", [{:person=>person_counter}, :computing_id], :multiple=>false, :required=>false ) %>
        </p>
        <%- end %>
        <p id="<%= base_id%>_name_first_field" class="fedora-text-field">
          <%= fedora_field_label("descMetadata", [{:person=>person_counter}, :first_name], "First Name<span class=\"required-note\">required</span>") %>
          <%= fedora_text_field(@document_fedora,"descMetadata", [{:person=>person_counter}, :first_name], :multiple=>false, :required=>true ) %>
        </p>
        <p id="<%= base_id%>_name_last_field" class="fedora-text-field">
          <%= fedora_field_label("descMetadata", [{:person=>person_counter}, :last_name], "Last Name<span class=\"required-note\">required</span>") %>
          <%= fedora_text_field(@document_fedora,"descMetadata", [{:person=>person_counter}, :last_name], :multiple=>false, :required=>true ) %>
        </p>
        <p id="<%= base_id%>_department_field" class="fedora-text-field">
          <%= fedora_field_label("descMetadata", [{:person=>person_counter}, :description], "Department") %>
          <%= fedora_text_field(@document_fedora,"descMetadata", [{:person=>person_counter}, :description], :multiple=>false, :required=>false ) %>
        </p>
        <p id="<%= base_id%>_affiliation_field" class="fedora-text-field">
          <%= fedora_field_label("descMetadata", [{:person=>person_counter}, :institution], "Institution") %>
          <%= fedora_text_field(@document_fedora,"descMetadata", [{:person=>person_counter}, :institution], :multiple=>false, :required=>false ) %>
        </p>

      <% if ( (person_counter > 0) && (params[:action] == "edit" || params[:action] == "create")) %>
        <p class="delete-person"><%#= field_selectors_for("descMetadata", [{:person=>person_counter}]) %>
          <%= link_to("Delete", url_for({:controller=>"contributors", :action=>"destroy", :id=>@document_fedora.pid, :contributor_type=>"person", :index=>person_counter, :content_type=>af_model}), :title=>"Delete #{person_name}", :class=>"destructive destroy_contributor") %>
          <!--<a class="destructive destroy_contributor" href="<%= asset_contributor_path(@document_fedora.pid, "person", person_counter) %>" title="Delete '<%= person_name %>'"> Delete</a>-->
        </p>
      <% end %>
  </fieldset>
