<% unless file_assets.hits.empty? %>
    <table class='multipleEdit' id='file_assets'>
      <tr>
        <th colspan="2">File</th>
      </tr>
      <%= render :partial=>'file_assets/result', :collection=> file_assets %>
			</table>
<% end %>

<% if !@document.nil? && editor? && params[:number_of_files].to_i > 0 %>
  <%- container_content_type_param = defined?(container_content_type) ? "?container_content_type=#{container_content_type}" : "" %>
  <fieldset id='uploader'>
    <legend>File Upload</legend>
    <!-- This form will be progressively enhanced by the Fluid Uploader component. -->
    <%- form_tag(upload_url,:method=>"post",:enctype=>"multipart/form-data", :class=>"uploader-form") do -%>
      <input type="hidden" name="container_id" value="<%=h container_id %>"/>
      <%= hidden_field_tag("container_content_type", container_content_type, :id => "file_upload_content_type") if defined?(container_content_type) %>
      <%- params[:number_of_files].to_i.times do -%>
        <%= render :partial=>"file_assets/new"%>
      <%- end -%>
      <%= hidden_field_tag(:wf_step, params[:wf_step], :id => "files_wf_step") %>
      <%= hidden_field_tag(:new_asset, true, :id => "files_new_asset") if params[:new_asset] %>
      <%= hidden_field_tag("id",params[:id], :id => "file_upload_id") if params[:id] %>
      <p>
        <%= submit_tag("Upload File", :name=>"upload_file")%>
        <%= submit_tag("Upload and Finish", :name=>"finish") unless params[:new_asset] or session[:scripts] %>
      </p>
    <%- end -%>
  </fieldset>
<% end %>
