<% height ||= "200" %>
<% width ||= "328" %>

<script type="text/javascript" src="swfobject.js"></script>
<script type="text/javascript">
	swfobject.registerObject("player","9.0.98","expressInstall.swf");
</script>

<object id="player" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" name="player" width="<%= width %>" height="<%= height %>" class="<%= type %>">
	<param name="movie" value="player-viral.swf" />
	<param name="allowfullscreen" value="true" />
	<param name="allowscriptaccess" value="always" />
	<object type="application/x-shockwave-flash" data="<%= image_path("../flash/mediaplayer-viral/player-viral.swf", :plugin=>:fedora_assets) %>" width="328" height="200">
		<param name="movie" value="player-viral.swf" />
		<param name="allowfullscreen" value="true" />
		<param name="allowscriptaccess" value="always" />
		<!-- <param name="flashvars" value="type=sound&file=<%= image_path("../YogurtMeow.mp3") %>" /> -->
		<param name="flashvars" value="type=<%= type %>&file=<%= @file_asset.datastreams["DS1"].content_url %>" />
		<p><a href="http://get.adobe.com/flashplayer">Get Flash</a> to see this player.</p>
	</object>
</object>


