<!-- Adapted from jquery-flot examples https://github.com/flot/flot/blob/master/examples/visitors/index.html -->
<%= javascript_tag do %>
  var sufia_item_stats = <%= @stats.to_flot.to_json.html_safe %>;
<% end %>

<%= content_tag :h1, @file_set, class: "lower" %>

<div class="row">
  <div class="col-sm-12">
    <%= content_tag :h2, "File Analytics" %>
    <div class="alert alert-info">
      <i class="glyphicon glyphicon-signal large-icon"></i>
      <%= content_tag :strong, @stats.total_pageviews %> views and <%= content_tag :strong, @stats.total_downloads %> downloads since <%= @stats.created.strftime("%B %-d, %Y") %>
    </div>
    <div class="stats-container">
        <div id="usage-stats" class="stats-placeholder"></div>
    </div>
    <div class="stats-container" style="height:150px;">
        <div id="overview" class="stats-placeholder"></div>
    </div>
  </div>
</div>
