    <div class="prev_next_links btn-group pull-left">
      <%= link_to_previous_page @pagination, raw(t('views.pagination.previous')), route_set: sufia, params: params, param_name: Blacklight::Solr::FacetPaginator.request_keys[:page], class: 'btn btn-link', data: {ajax_modal: "preserve"} do %>
       <span class="disabled btn btn-disabled"><%= raw(t('views.pagination.previous')) %></span>
     <% end %>
      <%= link_to_next_page @pagination, raw(t('views.pagination.next')), route_set: sufia, params: params, param_name: Blacklight::Solr::FacetPaginator.request_keys[:page], class: 'btn btn-link',  data: {ajax_modal: "preserve"} do %>
       
       <span class="disabled btn  btn-disabled"><%= raw(t('views.pagination.next')) %></span>
      <% end %>
     
    </div>
 
  <div class="sort_options btn-group pull-right">
    <% if @pagination.sort == 'index' -%>
      <span class="active az btn btn-default"><%= t('blacklight.search.facets.sort.index') %></span><%= link_to_unless(@pagination.sort == 'count', t('blacklight.search.facets.sort.count'), 
        Sufia::Engine.routes.url_for(@pagination.params_for_resort_url('count', params).symbolize_keys.merge(only_path: true)), 
        class: "sort_change numeric btn btn-default",  
        data: {ajax_modal: "preserve"}) %>
    <% elsif @pagination.sort == 'count' -%>
      <%=  link_to(t('blacklight.search.facets.sort.index'), Sufia::Engine.routes.url_for(@pagination.params_for_resort_url('index', params).symbolize_keys.merge(only_path: true)), 
        class: "sort_change az btn btn-default",  data: {ajax_modal: "preserve"}) %><span class="active numeric btn btn-default"><%= t('blacklight.search.facets.sort.count') %></span>
    <% end -%>    
  </div>
