<% provide :page_title, "#{@selected_tab.capitalize} listing" %>

<% content_for :head do %>
  <%= rss_feed_link_tag route_set: sufia %>
  <%= atom_feed_link_tag route_set: sufia %>
<% end %>

<%= javascript_tag do %>
  <%= render partial: 'scripts', formats: [:js] %>
<% end %>

<h1 class="sr-only">My Works, Collections, Highlights, and <%= t('sufia.dashboard.my.shares') %></h1>
<ul class="nav nav-tabs" id="my_nav" role="navigation">
  <span class="sr-only">You are currently listing your <%= @selected_tab.pluralize %> .  You have <%= @response.docs.count %> <%= @selected_tab.pluralize(@response.docs.count)%> </span>
  <li class="<%= "active" if @selected_tab == 'works' %>">
    <%= link_to t('sufia.dashboard.my.works'), sufia.dashboard_works_path %>
  </li>
  <li class="<%= "active" if @selected_tab == 'collections' %>">
    <%= link_to t('sufia.dashboard.my.collections'), sufia.dashboard_collections_path %>
  </li>
  <li class="<%= "active" if @selected_tab == 'highlighted' %>">
    <%= link_to t('sufia.dashboard.my.highlights'), sufia.dashboard_highlights_path %>
  </li>
  <li class="<%= "active" if @selected_tab == 'shared' %>">
    <%= link_to t('sufia.dashboard.my.shares'), sufia.dashboard_shares_path %>
  </li>
</ul>

<%= render 'search_header' %>

<h2 class="sr-only"><%= @selected_tab.capitalize %> listing</h2>
<%= render partial: 'document_list' %>

<% content_for :sidebar do %>
  <%= render 'facets', current_tab: @selected_tab %>
<% end %>

<%= render 'results_pagination' %>
