<% content_for :head do %>
    <%= auto_discovery_link_tag(:rss, sufia.url_for(params.merge(format: 'rss')), title: "RSS for results") %>
    <%= auto_discovery_link_tag(:atom, sufia.url_for(params.merge(format: 'atom')), title: "Atom for results") %>
<% end %>

<%= javascript_tag do %>
  <%= render partial: 'scripts', formats: [:js] %>
<% end %>

<% @page_title = application_name + " Dashboard" %>

<ul class="nav nav-tabs" id="my_nav">
  <li class="<%= "active" if @selected_tab == :files %>">
    <%= link_to t('sufia.dashboard.my.files'), sufia.dashboard_files_path %>
  </li>
  <li class="<%= "active" if @selected_tab == :collections %>">
    <%= link_to t('sufia.dashboard.my.collections'), sufia.dashboard_collections_path %>
  </li>
  <li class="<%= "active" if @selected_tab == :highlighted %>">
    <%= link_to t('sufia.dashboard.my.highlights'), sufia.dashboard_highlights_path %>
  </li>
  <li class="<%= "active" if @selected_tab == :shared %>">
    <%= link_to t('sufia.dashboard.my.shares'), sufia.dashboard_shares_path %>
  </li>
</ul>

<%= render 'search_header' %>

<%= render partial: 'document_list' %>

<% content_for :sidebar do %>
  <%= link_to t("sufia.dashboard.upload"), sufia.new_generic_file_path, class: "btn btn-primary" %>
  <%= link_to t("sufia.dashboard.create_collection"), collections.new_collection_path, id: "hydra-collection-add", class: "btn btn-primary" %>
  <%= render partial: 'facets' %>
<% end %>

<%= render 'results_pagination' %>
