<h3>I18n.t("hyrax.admin.stats.new_users.newest_users_<%=_@presenterdate_filter_string_%>", :default => "Newest Users (<%= @presenter.date_filter_string %>)")</h3>
<h4>
<%- if !@presenter.start_date.blank? %>
  <%= I18n.t("hyrax.admin.stats.new_users.total", :default => "Total: ") %><%= @presenter.recent_users.count %>
<%- else %>
    <%= @presenter.recent_users.count %> most recent users:
<%- end %>
</h4>
<ul>
  <% @presenter.recent_users.each do |usr| %>
    <li>
      <%= link_to usr.name, hyrax.user_path(usr), title: "View user's profile" %>
      <%- if usr.department %>
        <%= I18n.t("hyrax.admin.stats.new_users.of", :default => "of ") %><%= usr.department %>
      <%- end %>
      <%= I18n.t("hyrax.admin.stats.new_users.registered", :default => "registered") %>
      <span class="date">
        <%= usr.created_at.to_time.strftime("%m/%d/%Y") %>
      </span>
    </li>
  <% end %>
</ul>
