<h2>Top File Formats and Users</h2>
<h3>Statistics in this section shows the top <%= @presenter.limit %> items for each category</h3>
<% if @presenter.limit == 5 %>
  <p><%= link_to "View top 20", hyrax.admin_stats_path(limit: '20') %> </p>
<% else %>
  <p><%= link_to "View top 5", hyrax.admin_stats_path %> </p>
<% end %>

<h3>Top File Formats (top <%= @presenter.top_formats.count %>)</h3>
<ul>
  <% @presenter.top_formats.each do |fmt| %>
    <li><%= fmt.label %> <span class="count">(<%= fmt.value %>)</span></li>
  <% end %>
</ul>

<br />
<h3>Most Active Users (top <%= @presenter.active_users.count %>)</h3>
<ul>
  <% @presenter.active_users.each do |user| %>
    <li>
      <%= link_to_profile(user.label) %> <span class="count">(<%= user.value %>)</span>
    </li>
  <% end %>
</ul>
