<h3><%= t('hyrax.admin.stats.works.headers.main') %> (<%= @presenter.date_filter_string %>)</h3>
<h4><%= t('hyrax.admin.stats.works.headers.total') %> <%= @presenter.works_count[:total] %> </h4>
<h4><%= t('hyrax.admin.stats.works.headers.visibility') %></h4>
<ul>
  <li><%= t('hyrax.visibility.open.text') %> <span class="count">(<%= @presenter.works_count[:public] %>)</span></li>
  <li><%= t('hyrax.visibility.authenticated.text', institution: institution_name) %> <span class="count">(<%= @presenter.works_count[:registered] %>)</span></li>
  <li><%= t('hyrax.visibility.restricted.text') %> <span class="count">(<%= @presenter.works_count[:private] %>)</span></li>
</ul>
