<h3>Newest Users</h3>
<%= form_for "users_stats", url: sufia.admin_stats_path, method: "GET" do |f| %>
  <%= f.label "Display users registered: Start" %>
  <input type="date" name="users_stats[start_date]" value="<%= @presenter.users_stats[:start_date] %>"></input>
  <%= f.label "end [defaults to now]" %>
  <input type="date" name="users_stats[end_date]" value="<%= @presenter.users_stats[:end_date] %>"></input>
  <%= f.submit "Load Stats" %>
<%- end %>

<%- if @presenter.users_stats[:start_date] %>
  <div>Total: <%= @presenter.recent_users.count %></div>
<%- else %>
  Five most recent users:
<%- end %>

<ul>
  <% @presenter.recent_users.each do |usr| %>
    <li>
      <a href="<%= sufia.profile_path(usr.user_key) %>" title="View user's profile"><%= usr.name %></a>
      <%- if usr.department %>
        of <%= usr.department %>
      <%- end %>
      registered
      <span class="date">
        <%= usr.created_at.to_time.strftime("%m/%d/%Y") %>
      </span>
    </li>
  <% end %>
</ul>

