<%= csrf_meta_tag %>
<meta charset="utf-8" />

<!-- added for use on small devices like phones -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="resourcesync" href="<%= hyrax.capability_list_url %>"/>

<!-- Twitter card metadata -->
<%= yield :twitter_meta %>
<!-- Google Scholar metadata -->
<%= yield :gscholar_meta %>

<title><%= content_for?(:page_title) ? yield(:page_title) : default_page_title %></title>

<!-- application css -->
<%= stylesheet_link_tag 'application' %>

<!-- application js -->
<%= javascript_include_tag 'application' %>
<%= tinymce_assets if can? :update, ContentBlock %>


<!-- Google Analytics -->
<%= render partial: '/ga', formats: [:html] %>

<!-- for extras, e.g., a favicon -->
<%= render partial: '/head_tag_extras', formats: [:html] %>
