<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--[if lt IE 7 ]> <html xmlns="http://www.w3.org/1999/xhtml" class="ie6"> <![endif]--> 
<!--[if IE 7 ]>    <html xmlns="http://www.w3.org/1999/xhtml" class="ie7"> <![endif]--> 
<!--[if IE 8 ]>    <html xmlns="http://www.w3.org/1999/xhtml" class="ie8"> <![endif]--> 
<!--[if IE 9 ]>    <html xmlns="http://www.w3.org/1999/xhtml" class="ie9"> <![endif]--> 
<!--[if gt IE 9]>  <html xmlns="http://www.w3.org/1999/xhtml"> <![endif]-->
<!--[if !IE]><!--> <html xmlns="http://www.w3.org/1999/xhtml"> <!--<![endif]-->

  <head>
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title><%= h(@page_title || application_name) %></title>
    <link href="<%= url_for :controller=>'catalog',:action => 'opensearch', :format => 'xml', :only_path => false %>" title="<%= application_name%>" type="application/opensearchdescription+xml" rel="search"/>
    
    <%= render_head_content %>

		<!--[if IE]>
    	<%= stylesheet_link_tag('hydra/ie-styles', {:plugin=>"hydra-head", :media=>'all'}) %>
    	<%= stylesheet_link_tag('progressBox-ie6.css', {:plugin=>"hydra-head", :media=>'all'}) %>
		<![endif]-->
	</head>
  
    <body>

	  <div id="doc4" class="yui-t2">
		
		<div id="hd">
			<%= render :partial => '/user_util_links.html' %>
			<%= (params[:controller] == "catalog" and !params[:id]) ? "<span id='results_text'>Search Results</span>" : "" %>
		</div>
	    
	    <div id="bd">
			<div id="yui-main">
           		<%= render :partial=>'/flash_msg' %>
        		<div class="sidebar"><%= sidebar_items.join('') %></div>	
           		<%= yield %>
        	</div>
	    </div>
	    
		<div id="footer">
			<div id="container3">
				<div class="contact_info"></div> 
			    <div class="aux_links"> </div>
				<div id="footer_notices">
					<div id="bottom_text">
						<div id="hydra_logo"><%= image_tag('powered_by_hydra.png', :plugin=>"hydra-head", :width => 80, :height => 50, :alt => "Hydra logo") %></div>
					</div>
				</div>
			</div>
		</div>
		
	  </div>
  </body>

</html>
