<!DOCTYPE html>

<!--[if lt IE 7 ]> <html class="ie6"> <![endif]--> 
<!--[if IE 7 ]>    <html class="ie7"> <![endif]--> 
<!--[if IE 8 ]>    <html class="ie8"> <![endif]--> 
<!--[if IE 9 ]>    <html class="ie9"> <![endif]--> 
<!--[if gt IE 9]>  <html> <![endif]-->
<!--[if !IE]><!--> <html> <!--<![endif]-->

<head>
  <meta charset="utf-8" />

  <title><%= h(@page_title || application_name) %></title>
  <link href="<%= url_for :controller=>'catalog',:action => 'opensearch', :format => 'xml', :only_path => false %>" title="<%= application_name%>" type="application/opensearchdescription+xml" rel="search"/>

  <%= render_head_content %>

	<!--[if IE]>
  	<%= stylesheet_link_tag('hydra/ie-styles', {:plugin=>"hydra-head", :media=>'all'}) %>
  	<%= stylesheet_link_tag('progressBox-ie6.css', {:plugin=>"hydra-head", :media=>'all'}) %>
	<![endif]-->
</head>

<body class="<%= render_body_class %>">

  <div id="doc4" class="yui-t2">

  	<div id="hd">
  		<%= render :partial => '/user_util_links.html' %>
  		<%= (params[:controller] == "catalog" and !params[:id]) ? "<span id='results_text'>Search Results</span>" : "" %>
  	</div>
  
    <div id="bd">
  		<div id="yui-main">
        <%= render :partial=>'/flash_msg' %>
        <%= yield %>
      </div>
      <div class="yui-b sidebar"><%= sidebar_items.join('') %></div>	
    </div>
  
  
  	<div id="footer">
  	  <div id="hydra_logo"><%= image_tag('powered_by_hydra.png', :plugin=>"hydra-head", :width => 80, :height => 50, :alt => "Hydra logo") %></div>
  	</div>

  </div>
</body>

</html>
