<!DOCTYPE html>
<html lang="<%= t("sufia.document_language") %>">
  <head>
    <meta charset="utf-8" />

    <title><%= h(application_name) %>: System Error</title>
    <!-- application css -->
    <%= stylesheet_link_tag 'application' %>

    <!-- application js -->
    <%= javascript_include_tag 'application' %>

    <%= render '/ga' %>
  </head>

<body>
  <%= render '/masthead' %>
  <div id="content-wrapper" class="container-fluid">
    <div class="row">
        <div class="col-sm-8 col-md-8 col-lg-8">
          <%= yield %>
        </div>
    </div><!-- /.row -->
  </div><!-- /#content-wrapper -->
  <%= render 'shared/footer' %>
</body>
</html>
