<%#
Copyright © 2012 The Pennsylvania State University

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
%>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <title><%= h(application_name) %>: System Error</title>
    <!-- application css -->
    <%= stylesheet_link_tag 'application' %>
    <%= yield(:css_head) %>

    <!-- application js -->
    <%= javascript_include_tag 'application' %>

    <!-- controller specific uploader -->
    <%= yield(:js_head) %>

    <script type="text/javascript">
      $(function() {
        <%= yield(:local_js) %>
      });
    </script>

    <%= render :partial => '/ga', :formats => [:html] %>
  </head>

<body>
<div  id="wrapper">
  <div class="container">
    <div id="page-positioner">
      <%= render :partial => '/masthead', :formats => [:html] %>
      <div id="content-wrapper">
        <div id="content" class="row">
          <!-- 110 rows -->
            <div class="span110">
              <%= yield %>
            </div>
        </div><!-- /#content -->
      </div><!-- /#content-wrapper -->
    </div><!-- /#page-positioner -->
  </div><!-- /.container -->
</div><!-- /#wrapper -->
<%= render partial: '/footer' %>
      
</body>

</html>
