<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
  <head>
    <meta charset="utf-8" />

    <title><%= h(application_name) %>: System Error</title>
    <!-- application css -->
    <%= stylesheet_link_tag 'application' %>

    <!-- application js -->
    <%= javascript_include_tag 'application' %>
  </head>

<body>
<div id="wrapper">
  <div class="container-fluid">
    <div id="page-positioner">
      <div id="content-wrapper">
        <div id="content" class="row">
            <div class="col-sm-8 col-md-8 col-lg-8">
              <%= yield %>
            </div>
        </div><!-- /#content -->
      </div><!-- /#content-wrapper -->
      <%= render partial: 'shared/footer' %>
    </div><!-- /#page-positioner -->
  </div><!-- /.container -->
</div><!-- /#wrapper -->
</body>

</html>
