<% content_for(:navbar) do %>
  <div class="image-masthead">
    <div class="background-container" style="background-image: url('<%= banner_image %>')"></div>
    <span class="background-container-gradient"></span>

    <div class="container site-title-container">
      <div class="site-title h1" style="text-align: center;">
        <%= render "hyrax/homepage/marketing" if controller_name == 'homepage' %>
      </div>
    </div>

    <%= render '/controls' %>
  </div>
<% end %>

<% content_for(:precontainer_content) do %>
  <%= render 'hyrax/homepage/announcement' if controller_name == 'homepage' %>
<% end %>

<%= render template: 'layouts/hyrax' %>
