<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <title><%= h(@page_title || application_name) %></title>
    <link href="<%= opensearch_catalog_url(:format => 'xml') %>" title="<%= application_name%>" type="application/opensearchdescription+xml" rel="search"/>
    
    <%= render_head_content %>
    <%= stylesheet_link_tag 'psu', :media => 'all' %> 
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
    <%= stylesheet_link_tag 'jquery/ui-lightness/jquery-ui-1.8.1.custom.css', :media => 'all' %> 
    <%= stylesheet_link_tag 'blacklight/blacklight', :media => 'all' %> 
    <%= javascript_include_tag 'jquery-1.4.2.min.js', 'jquery-ui-1.8.1.custom.min.js', 'blacklight/blacklight' %> 

	</head>
  
    <body class="<%= render_body_class %>">

	  <div id="doc4" class="yui-t2">
		
		<div id="hd" class="row">
			<%= render :partial => '/user_util_links.html' %>
			<%= (params[:controller] == "catalog" and !params[:id]) ? "<span id='results_text'>Search Results</span>".html_safe : "" %>
		</div>
	    
	  <div id="bd" class="row">
      <div class="yui-b sidebar span4"><%= sidebar_items.join('').html_safe %></div>	
			<div id="yui-main" class="span12">
        <%= render :partial=>'/flash_msg' %>
        <%= yield %>
      </div>
	  </div>
	    
	    
		<div id="footer">
			<div id="container3">
				<div class="contact_info"></div> 
			    <div class="aux_links"> </div>
				<div id="footer_notices">
					<div id="bottom_text">
						<div id="hydra_logo"><%= image_tag('hydra/powered_by_hydra.png', :width => 80, :height => 50, :alt => "Hydra logo") %></div>
					</div>
				</div>
			</div>
		</div>
		
	  </div>
  </body>

</html>
