<!DOCTYPE html>
<html lang="<%= t("sufia.document_language") %>" prefix="og:http://ogp.me/ns#">
  <head>
    <%= render partial: 'layouts/head_tag_content' %>
  </head>

<body>
<a href="#skip_to_content" class="sr-only">Skip to Content</a>
<%= render partial: '/masthead' %>
<%= render partial: '/controls' %>
<%= render partial: '/flash_msg' %>
<div id="content-wrapper" class="container-fluid">
  <%= render_breadcrumbs builder: Sufia::BootstrapBreadcrumbsBuilder %>

  <% if content_for?(:page_header) %>
    <div class="row">
      <div class="col-xs-12 main-header">
        <%= yield(:page_header) %>
      </div>
    </div>
  <% end %>
  <a name="skip_to_content"></a>
  <div class="row">
    <div class="col-xs-12">
      <%= yield %>
    </div>
  </div><!-- /.row -->
</div><!-- /#content-wrapper -->
<%= render 'shared/footer' %>
<%= render 'shared/ajax_modal' %>
</body>
</html>
