<!DOCTYPE html>
<html>
  <head>
    <%= render :partial => "layouts/head_tag_content"%>
  </head>

<body> 
<div  id="wrapper"> 
  <div class="container">
    <div id="page-positioner">
      <%= render :partial => '/masthead', :formats => [:html] %>
      <%= render :partial => '/flash_msg' %>
      <div id="content-wrapper"> 
        <div id="content" class="row">
          <div class="span17">
            <%= yield :sidebar %>
          </div><!-- /.span17 -->
          <div class="span93">
            <%= yield %>
          </div><!-- /.span93 -->
        </div><!-- /#content -->
      </div><!-- /#content-wrapper -->
    </div><!-- /#page-positioner -->
  </div><!-- /.container -->
</div><!-- /#wrapper -->
<%= render partial: '/footer' %>
<div id="ajax-modal" class="modal hide" tabindex="-1"></div>
</body>
</html>
