<!DOCTYPE html>
<html lang="<%= t("sufia.document_language") %>">
<head><%= render partial: 'layouts/head_tag_content' %></head>
<body>
<div id="wrapper">
  <div class="container-fluid">
    <div id="page-positioner">

      <%= render partial: '/masthead' %>
      <%= render partial: '/controls' %>
      <%= render partial: '/flash_msg' %>

      <div id="content-wrapper" class="dashboard">
        <div class="container-fluid">
          <div id="content-header" class="row"><%= yield :heading %></div>
        </div>
        <div class="container-fluid">
          <div id="content" class="row">
            <div id="sidebar" class="col-xs-12 col-sm-3"><%= yield :sidebar %></div>
            <div class="col-xs-12 col-sm-9"><%= yield %></div>
          </div>
        </div>
      </div>

      <%= render partial: '/footer' %>

    </div><!-- /#page-positioner -->
  </div><!-- /.container -->
</div><!-- /#wrapper -->
<%= render 'shared/ajax_modal' %>
</body>
</html>
