<h1><%= ApplicationController.helpers.application_name %> Deposit Agreement</h1>

<p>
To properly administer this repository and preserve the contents of
<%= ApplicationController.helpers.application_name %> for future use, <%= ApplicationController.helpers.institution_name_full %> (<%= ApplicationController.helpers.institution_name %>) requires certain permissions from you, the author(s), or copyright owner. By accepting this license, you do not give up the copyright to your work. You do not give up the right to submit the work to publishers or other repositories.  You grant to <%= ApplicationController.helpers.institution_name %> the non-exclusive right to store your work.  You agree that <%= ApplicationController.helpers.institution_name %> may translate the submission to any medium or format and keep more than one copy for the purposes of security, back up and long-term preservation of the scholarly record.  <%= ApplicationController.helpers.institution_name %> will not make any alteration, other than as allowed by this license, to your submission.
</p>

<p>
When you submit your file(s) you will have the option of selecting its degree of Visibility on the Web, which will control who can access your materials.  Certain license terms apply to each visibility level:
</p>

<h3>Visibility Level: <span class="label label-success">PUBLIC</span></h3>
<p>
By choosing the Public option you are allowing anyone in the world to view your submission.   You may choose to apply one of several Creative Commons licenses to your submission, which are explained on the submission form and in the FAQ.  These licenses allow you to set your own terms of use for anyone accessing the submission.  You authorize <%= ApplicationController.helpers.institution_name %> to distribute your content under the terms of that Creative Commons license and to allow users of <%= ApplicationController.helpers.application_name %> to do the same if your license choice permits that.

If you do not choose a license, you grant to <%= ApplicationController.helpers.institution_name %> the non-exclusive right to distribute your submission (including the metadata and abstract) worldwide, in any format or medium for non-commercial, research, educational, or related academic purposes only.  You also authorize <%= ApplicationController.helpers.institution_name %> to allow users of the repository to distribute your submission (including the metadata and abstract) worldwide, in any format or medium for non-commercial, research, educational, or related academic purposes only. <%= ApplicationController.helpers.institution_name %> will clearly identify your name(s) as the author(s) or owner(s) of the submission, and will not make any alteration, other than as allowed by this license, to your submission.
</p>

<h3>Visibility Level: <span class="label label-info"><%= ApplicationController.helpers.institution_name.upcase %></span></h3>

<p>
If you select the <%= ApplicationController.helpers.institution_name %> access option, you have decided to restrict access only to users of <%= ApplicationController.helpers.institution_name %>'s network. Your deposit will not be accessible to colleagues or students at other universities or to members of the public. If you want your work to be accessible to the broader scholarly community, you should consider the regular Public option instead.  If you choose, you may also further limit access to specific individuals or groups of individuals at <%= ApplicationController.helpers.institution_name %>.
</p>

<p>
By clicking through this license, you grant to <%= ApplicationController.helpers.institution_name %> the non-exclusive right to reproduce and/or distribute your submission (including the metadata and abstract) to students, faculty, staff, and walk-in users of the <%= ApplicationController.helpers.institution_name %> libraries, in any format or medium for non-commercial, research, educational, or related academic purposes only.  If you have limited access to specific individuals or groups, <%= ApplicationController.helpers.institution_name %> will distribute your submission ONLY to those users.  You also authorize <%= ApplicationController.helpers.institution_name %> to allow <%= ApplicationController.helpers.institution_name %> community users of the repository to distribute your submission (including the metadata and abstract) in any format or medium for <%= ApplicationController.helpers.institution_name %> internal non-commercial, research, educational, or related academic purposes only. <%= ApplicationController.helpers.institution_name %> will clearly identify your name(s) as the author(s) or owner(s) of the submission, and will not make any alteration, other than as allowed by this license, to your submission.
</p>

<h3>Visibility Level: <span class="label label-danger">PRIVATE</span></h3>

<p>
If you have selected the PRIVATE access option in the <%= ApplicationController.helpers.application_name %> deposit process, you have decided to allow <%= ApplicationController.helpers.institution_name %> a more limited set of rights than those afforded under the Public license option. Your deposit will not be accessible to anyone other than yourself. If you want your work to be accessible to the broader scholarly community, you should consider the regular Public or <%= ApplicationController.helpers.institution_name %> settings instead.
</p>

<h2>The following terms apply to ALL submissions:</h2>
<p>
You agree that <%= ApplicationController.helpers.institution_name %> bears no responsibility for the contents of your submission.  You represent that the submission is your original work, and/or that you have the right to grant the rights contained in this license. You also represent that your submission does not, to the best of your knowledge, infringe upon anyone's copyright. You also represent and warrant that the submission contains no libelous or other unlawful matter and makes no improper invasion of the privacy of any other person.
</p>
<p>
If the submission contains material for which you do not hold copyright and that exceeds fair use, you represent that you have obtained the unrestricted permission of the copyright owner to grant <%= ApplicationController.helpers.institution_name %> the rights required by this license, and that such third-party owned material is clearly identified and acknowledged within the text or content of the submission.
</p>
<p>
IF THE SUBMISSION IS BASED UPON WORK THAT HAS BEEN SPONSORED OR SUPPORTED BY AN AGENCY OR ORGANIZATION OTHER THAN <%= ApplicationController.helpers.institution_name.upcase %> SUCH AS, BUT NOT LIMITED TO, THE NATIONAL INSTITUTES OF HEALTH, THE NATIONAL SCIENCE FOUNDATION, OR A PRIVATE FUNDER, YOU REPRESENT THAT YOU HAVE FULFILLED ANY RIGHT OF REVIEW, CONFIDENTIALITY, OR OTHER OBLIGATIONS REQUIRED BY THAT CONTRACT OR AGREEMENT.
</p>
