<fieldset class="set-access-controls">
  <legend>
    <%= t('.legend_html') %>
  </legend>

  <section class="help-block">
    <p>
      <%= t('.help_html', embargo_edit_link: link_to( t('.embargo_management_page'), edit_embargo_path(f.object)) ) %>
    </p>
  </section>

    <input type="hidden" name="<%= f.object_name %>[visibility]" value="<%= Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_EMBARGO %>" />
    <%= render "form_permission_embargo", f: f %>

</fieldset>
