<p><%= t('.directions') %></p>
<h2><%= t('.add_sharing') %></h2>

<% depositor = f.object.depositor %>

<div class="alert alert-info hidden" id="save_perm_note"><%= t('.permissions_save_note_html') %></div>

<div class="alert alert-warning hidden" role="alert" id="permissions_error">
  <span id="permissions_error_text"></span>
</div>

<p class="sr-only"><%= t('.use_add_button', account_label:  t('hyrax.account_label')) %>
</p>

<fieldset class="form-group row permission-add-group">
  <legend class="col-sm-3 permissions-add-group-label">
    <%= t('hyrax.admin.admin_sets.form_participants.add_group') %>
  </legend>
  <div class="col-sm-9 form-inline">
    <label for="new_group_name_skel" class="sr-only"><%= t(".group") %></label>
    <%= select_tag 'new_group_name_skel', options_for_select(["Select a group"] + available_user_groups(ability: current_ability)), class: 'form-control' %>
    <label for="new_group_permission_skel" class="sr-only"><%= t(".access_type_to_grant") %></label>
    <%= select_tag 'new_group_permission_skel', options_for_select(configured_permission_options), class: 'form-control' %>

    <button class="btn btn-default" id="add_new_group_skel">
      <span><%= t(".add_this_group_html") %></span>
    </button>
    <br /><span id="directory_group_result"></span>
  </div>
</fieldset>

<fieldset class="form-group row permission-add-user">
  <legend class="col-sm-3 permissions-add-user-label">
    <%= t('hyrax.admin.admin_sets.form_participants.add_user') %>
  </legend>
  <div class="col-sm-9 form-inline">
    <label for="new_user_name_skel" class="sr-only"><%= t('.account_label_without_suffix', account_label: t('hyrax.account_label'), suffix: t('hyrax.directory.suffix')) %> </label>
    <%= text_field_tag 'new_user_name_skel', nil %>
    <label for="new_user_permission_skel" class="sr-only"><%= t('.access_type_to_grant') %></label>
    <%= select_tag 'new_user_permission_skel', options_for_select(configured_permission_options), class: 'form-control' %>
    <button class="btn btn-default" id="add_new_user_skel">
      <span>Add<span class="sr-only"> this <%= t('hyrax.account_label') %></span></span>
    </button>
    <br /> <span id="directory_user_result"></span>
  </div>
</fieldset>

<%= render 'currently_shared', f: f %>

<script type="text/x-tmpl" id="tmpl-work-grant">
  <tr>
    <td><label class="control-label">{%= o.name %}</label></td>
    <td><div class="col-sm-10">{%= o.accessLabel %}<button class="btn close">&times;</button></div></td>
  </tr>
</script>
