<% # This is used by works and by FileSet and the layout (col-6 vs col-12) is different for both %>
<% if embargo_enforced?(f.object) %>
  <%= render 'form_permission_under_embargo', f: f %>
<% elsif lease_enforced?(f.object) %>
  <%= render 'form_permission_under_lease', f: f %>
<% else %>
  <fieldset class="set-access-controls">
    <legend>
      <%= raw(t('.visibility')) %>
    </legend>

    <div class="form-group">
      <label class="radio">
        <%= f.radio_button :visibility, Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PUBLIC %>
        <%= visibility_badge(Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PUBLIC) %>
      </label>
      <label class="radio">
        <%= f.radio_button :visibility, Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_AUTHENTICATED %>
        <%= visibility_badge(Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_AUTHENTICATED) %>
      </label>
      <label class="radio">
        <%= f.radio_button :visibility, Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_EMBARGO %>
        <%= render "form_permission_embargo", f: f %>
      </label>
      <label class="radio">
        <%= f.radio_button :visibility, Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_LEASE %>
        <%= render "form_permission_lease", f: f %>
      </label>
      <label class="radio">
        <%= f.radio_button :visibility, Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PRIVATE %>
        <%= visibility_badge(Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PRIVATE) %>
      </label>
    </div>
  </fieldset>
<% end %>
