<h2><%= t('.header') %></h2>
<%  members = presenter.member_presenters.delete_if { |m| Flipflop.hide_private_files? && m.is_a?(Hyrax::FileSetPresenter) && !current_ability.can?(:read, m.id) } %>
<% if members.present? %>
  <table class="table table-striped related-files">
    <thead>
      <tr>
        <th><%= t('.thumbnail') %></th>
        <th><%= t('.title') %></th>
        <th><%= t('.date_uploaded') %></th>
        <th><%= t('.visibility') %></th>
        <th><%= t('.actions') %></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'member', collection: members %>
    </tbody>
  </table>
<% elsif can? :edit, presenter.id %>
    <div class="alert alert-warning" role="alert"><%= t('.empty', type: presenter.human_readable_type) %></div>
<% end %>
