<% presenter.title.each_with_index do |title, index| %>
  <div class="row">
    <div class="col-sm-8">
      <% if index == 0 %>
        <h4><%= title %>
        <%= presenter.permission_badge %> <%= presenter.workflow.badge %>
      </h4>
      <% else %>
          <h1><%= title %></h1>
      <% end %>
    </div>
    <div class="col-sm-4 text-right">
      <%= render "show_actions", presenter: @presenter %>
    </div>
  </div>
<% end %>
