<h1>
    <%= @presenter %> <%= @presenter.try(:workflow).try(:badge) %>
</h1>
<% if @parent_presenter %>
    <ul class="breadcrumb">
        <li><%= link_to @parent_presenter, polymorphic_path([main_app, @parent_presenter]) %></li>
        <li class="active"><%= @presenter.human_readable_type %></li>
    </ul>
<% else %>
    <span class="human_readable_type">(<%= @presenter.human_readable_type %>)</span>
<% end %>
